astrobin-marketplace-listing-form ::ng-deep {
  .main-row {
    > [class*="col"] {
      overflow-y: auto;
      max-height: calc(100vh - 270px);

      &.col-form {
        padding: 0;
      }

      &.col-preview {
        padding: 0 4rem;
      }
    }
  }
}
