<div class="page has-breadcrumb">
  <h1>{{ title }}</h1>
  <small>
    {{ "Publish your listing on AstroBin's Marketplace. A listing can have one or more equipment items in it." | translate }}
  </small>

  <div class="row">
    <div class="col-lg-5">
      <form [formGroup]="form">
        <formly-form
          [fields]="fields"
          [form]="form"
          [model]="model"
        ></formly-form>
      </form>
    </div>

    <div class="col-lg-7">
      <div class="card">
        <div class="card-header">
          {{ "Preview" | translate }}
        </div>
        <div class="card-body">
          <pre>
            {{ form.status | json }}
            {{ form.value | json }}
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
