<div class="page has-breadcrumb container mt-0 mb-4">
  <div class="row">
    <div class="col">
      <div class="tabs-container d-flex justify-content-between align-items-center mb-3">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
          <li [ngbNavItem]="'profile'">
            <button ngbNavLink>{{ "Profile" | translate }}</button>
            <ng-template ngbNavContent>
            <div class="p-3">
              <p class="text-muted">{{ "You can edit your profile information here." | translate }}</p>
              <p>
                <a class="btn btn-outline-primary" [href]="'/profile/edit/basic/'">
                  {{ "Edit profile" | translate }}
                </a>
              </p>
            </div>
          </ng-template>
        </li>
        
        <li [ngbNavItem]="'avatar'">
          <button ngbNavLink>{{ "Avatar" | translate }}</button>
          <ng-template ngbNavContent>
            <div class="p-3">
              <div *ngIf="currentUser$ | async as currentUser">
                <astrobin-avatar-manager
                  [user]="currentUser"
                  (avatarUpdated)="onAvatarUpdated($event)">
                </astrobin-avatar-manager>
              </div>
            </div>
          </ng-template>
        </li>
        
        <li [ngbNavItem]="'password'">
          <button ngbNavLink>{{ "Password" | translate }}</button>
          <ng-template ngbNavContent>
            <div class="p-3">
              <p class="text-muted">{{ "You can change your password here." | translate }}</p>
              <p>
                <a class="btn btn-outline-primary" [href]="'/profile/edit/password/'">
                  {{ "Change password" | translate }}
                </a>
              </p>
            </div>
          </ng-template>
        </li>
        
        <li [ngbNavItem]="'notifications'">
          <button ngbNavLink>{{ "Notifications" | translate }}</button>
          <ng-template ngbNavContent>
            <div class="p-3">
              <p class="text-muted">{{ "You can change your notification preferences here." | translate }}</p>
              <p>
                <a class="btn btn-outline-primary" [routerLink]="['/notifications', 'settings']">
                  {{ "Notification settings" | translate }}
                </a>
              </p>
            </div>
          </ng-template>
        </li>
      </ul>
      </div>
      
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</div>