.alert {
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, .333);

  > fa-icon {
    display: inline-block;
    font-weight: bold;
    margin-right: .5rem;
    color: var(--lightGrey);

    + p {
      display: inline-block;
    }
  }

  > p {
    font-style: italic;

    &:not(:last-child) {
      margin-bottom: .5rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a,
  .alert-link {
    color: inherit;
    text-decoration: none;

    &:not(.btn) {
      border-bottom: 1px dotted rgba(255, 255, 255, .5);

      &:hover {
        border-bottom: 1px dotted var(--accentColor);
      }
    }
  }

  strong {
    color: inherit;
  }

  &.alert-info {
    background-color: var(--infoColor);

    &,
    fa-icon,
    h5,
    > p, & {
      color: var(--textOnInfoColor);
    }
  }

  &.alert-warning {
    background-color: var(--warningColor);

    &,
    fa-icon,
    h5,
    > p, & {
      color: var(--textOnWarningColor);
    }
  }
}
