@keyframes spin {
  0% {
    animation-timing-function: cubic-bezier(0.5856, 0.0703, 0.4143, 0.9297);
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes move-striped-loading-indicator {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(46px);
  }
}

@keyframes pulsate {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes tinyBounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transform: translate3d(0, -3px, 0);
  }
  70% {
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transform: translate3d(0, -2px, 0);
  }
  90% {
    transform: translate3d(0, -0.5px, 0);
  }
}

@keyframes pulse {
  25% {
    transform: scale(0.9975);
  }
  75% {
    transform: scale(1.0025);
  }
}

@keyframes spin-and-pulse {
  0% {
    animation-timing-function: cubic-bezier(0.5856, 0.0703, 0.4143, 0.9297);
    transform: rotate(0) scale(0.95);
    opacity: 0.35;
  }
  50% {
    transform: rotate(180deg) scale(1.05);
    opacity: 0.85;
  }
  100% {
    transform: rotate(360deg) scale(0.95);
    opacity: 0.35;
  }
}

// Animation for fading out elements
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// Animations for swipe gestures
@keyframes return-to-normal {
  0% {
    // Allow keyframes to start from whatever the current state is
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes swipe-to-close {
  0% {
    // Allow keyframes to start from whatever the current state is
  }
  100% {
    transform: translateY(100vh) scale(0.7);
    opacity: 0;
  }
}

@keyframes offcanvas-swipe-to-close {
  0% {
    // Allow keyframes to start from whatever the current state is
  }
  100% {
    transform: translateY(100vh);
  }
}
