@import "mixins";

.card {
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);

  &.disabled {
    opacity: .33;
    pointer-events: none;
  }

  &.disabled-with-backdrop {
    > .backdrop {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 999;
      pointer-events: none;
      background: rgba(0, 0, 0, .75);
    }
  }

  .card-info {
    margin-bottom: 0;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: .9rem;
    font-style: italic;
  }

  .card-header {
    @include darkest-background-texture;
    color: var(--white);

    .btn-link {
      padding: 0;
      font-size: 1rem;
    }

    .actions {
      float: right;
    }
  }

  .card-footer {
    @include darkest-background-texture;
    display: flex;
    justify-content: end;
    flex-direction: column;

    @media screen and (min-width: $sm-min) {
      flex-direction: row;
    }

    .btn:not(:last-child) {
      @media screen and (max-width: $xs-max) {
        margin-bottom: .5rem;
      }
      @media screen and (min-width: $sm-min) {
        margin-right: .5rem;
      }
    }
  }
}
