@import "variables";
@import "mixins";

.card {
  .card-header {
    @include darkest-background-texture;
    color: var(--white);

    .btn-link {
      padding: 0;
      font-size: 1rem;
    }
  }
}
