@import "animations";
@import "mixins";

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: auto !important;
}

body {
  @include main-background-texture;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;

  &.image-viewer-open {
    background: var(--black);

    astrobin-root {
      overflow: hidden;
      visibility: hidden;
      transform: translateZ(0);
      pointer-events: none;
    }
  }

  &.image-viewer-closing {
    astrobin-root {
      // Show the content with a fade-in animation
      visibility: visible !important;
      opacity: 0;
      animation: fade-in-content 1s ease forwards;
    }
  }
}

@keyframes fade-in-content {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app-loading {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--lightestGrey);

  &::after {
    display: block;
    content: " \2729";
    font-size: 2.5rem;
    transform-origin: 50% 55%;
    animation: spin-and-pulse 2s infinite;
    text-shadow: 0 0 8px rgba(255, 255, 255, .75);
  }
}

astrobin-root .app-loading,
.app-loading.active {
  opacity: 1;
  z-index: 1;
}

a {
  text-decoration: none;

  &[target="_blank"] {
    &:not([href*="astrobin.com"]):not([href*="localhost"]):not(.no-external-link-icon) {
      &:after {
        content: " \279a";
        font-size: .8em;
      }
    }
  }
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(128, 128, 128, .75), rgba(0, 0, 0, 0));
  margin: 1rem;
  width: calc(100% - 2rem);
}

.dark-box {
  padding: 1rem;
  background-color: var(--darkGrey);
  color: var(--lighterGrey);
}

.fade-wrapper {
  position: relative;
  width: 100%;
  display: block;

  .fade-container {
    position: relative;
    width: 100%;
    display: block;
  }
}

/* Translation styles */
.translated-content {
  background-color: rgba(255, 255, 0, .025);
  padding: 10px;
  border-left: 3px solid rgba(255, 255, 0, .5);
  margin-bottom: 15px;
  display: block;
  position: relative;
}
