@import "animations";

html {
  position: relative;
  min-height: 100%;
}

body {
  background: url("/assets/images/main-background.png") repeat;
  font-size: 16px;
}

.app-loading {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  z-index: -1;
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: calc(50% - 1rem);
  top: calc(50% - 1rem);

  &::after {
    content: " ";
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 1px;
    border-radius: 50%;
    border: .33rem solid var(--white);
    border-color: var(--white) var(--white) var(--white) transparent;
    animation: spin 1s linear infinite;
  }
}

astrobin-root:empty + .app-loading,
.app-loading.active {
  opacity: 1;
  z-index: 1;
}

a {
  &[target="_blank"]:after {
    content: " \279a";
    font-size: 0.8em;
  }
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(128, 128, 128, 0.75), rgba(0, 0, 0, 0));
  margin: 1rem;
  width: calc(100% - 2rem);
}

.dark-box {
  padding: 1rem;
  background-color: var(--darkGrey);
  color: var(--lighterGrey);
}
