@import "breakpoints";

.dropdown,
.dropup {
  @media (max-width: $xs-max) {
    &:not(.btn-no-block) {
      display: block;
      width: 100%;
      padding-top: .75rem;
      padding-bottom: .75rem;

      &:not(:last-child) {
        margin-bottom: .5rem;
      }
    }
  }

  .dropdown-toggle {
    cursor: pointer;

    &.no-toggle {
      &::after {
        display: none;
      }
    }
  }
}

.dropdown-menu {
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.9);
  border: 0;

  @media (max-width: $xs-max) {
    margin-top: .25rem;
    width: 100%;

    &.fullscreen-on-mobile {
      position: fixed !important;
      z-index: 1099;
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      border: 0 !important;
      height: 100%;
      width: 70% !important;
      overflow-y: scroll;
      overflow-x: hidden;
      transform: none !important;
      inset: 0 !important;
    }
  }

  @media (min-width: $lg-min) {
    font-size: 0.9rem;
  }

  .dropdown-item {
    fa-icon {
      font-size: 11px;
      margin-right: 0.25rem;
      width: 1rem;
      display: inline-block;
      text-align: center;
    }

    @media (max-width: $xs-max) {
      padding: 1rem;
    }
  }
}

.dropdown-divider {
  width: 100%;
  border-top-color: var(--grey);
}

.dropdown-header {
  font-size: .9rem;
  color: var(--lighterGrey);
}
