@import "variables";

.dropdown-menu {
  font-size: 0.85rem;

  .dropdown-item {
    fa-icon {
      font-size: 11px;
      margin-right: 0.25rem;
      width: 1rem;
      display: inline-block;
      text-align: center;
    }
  }
}

.dropdown-divider {
    border-top-color: var(--grey);
}

.dropdown-header {
  font-size: .85rem;
  color: var(--lighterGrey);
}
