label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
}

formly-field {
  display: block;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

formly-field-checkbox {
  +.form-text {
    padding-left: 1.5rem;
  }
}

.form-control {
  &,
  &:focus {
    background-color: var(--darkestGrey);
    border-color: var(--darkGrey);
    color: var(--lighterGrey);
    padding: 1.25rem 1rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      /* IE10+ specific style */
      padding: 10px 20px;
    }

    &::placeholder {
      color: var(--lightGrey) !important;
    }
  }

  &.is-invalid {
    border-left: 0.5rem solid var(--dangerColor);
    padding-left: calc(0.75rem - 0.5rem + 1px);
  }

  &:disabled,
  &.disabled,
  &[readonly],
  &.readonly {
    background-color: var(--grey);
  }
}

.form-group {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.error,
  &.has-error label {
    color: var(--dangerColor);
  }
}

.form-text {
  margin-top: .25rem;
  font-size: .85rem;
  color: var(--mutedAccentColor) !important;

  strong {
    color: var(--white) !important;
    font-weight: normal;
  }
}

.form-actions {
  margin-top: 3rem;
  padding-top: 0.75rem;
  text-align: right;

  .btn:not(:last-child) {
    margin-right: 1rem;
  }
}

.invalid-feedback {
  color: var(--dangerColor);
}

.warning-feedback,
.info-feedback {
  padding: .25rem 1rem;
  margin: .25rem 1px 0 1px;
  font-size: .9rem;
}

.custom-control {
  &.custom-radio {
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }
}
