label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
  margin-bottom: .5rem;
}

formly-field {
  display: block;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

formly-field-checkbox {
  + .form-text {
    padding-left: 1.5rem;
  }
}

.form-control {
  &,
  &:focus {
    background-color: var(--darkestGrey);
    border-color: var(--darkGrey);
    color: var(--lighterGrey);

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      /* IE10+ specific style */
      padding: 10px 20px;
    }

    &::placeholder {
      color: var(--lightGrey) !important;
    }
  }

  &.is-invalid.ng-touched {
    border-left: 0.5rem solid var(--dangerColor);
    padding-left: calc(0.75rem - 0.5rem + 1px);
  }

  &:disabled,
  &.disabled,
  &[readonly],
  &.readonly {
    background-color: var(--grey);
  }
}

.form-group {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.error,
  &.has-error label {
    color: var(--dangerColor);
  }
}

.form-text {
  display: block;
  margin-top: .25rem;
  font-size: .85rem;
  font-weight: normal;
  line-height: 1rem;
  color: var(--mutedAccentColor) !important;

  strong {
    color: var(--white) !important;
    font-weight: normal;
  }
}

.form-actions {
  margin-top: 3rem;
  padding-top: 0.75rem;
  text-align: right;

  .btn:not(:last-child) {
    margin-right: 1rem;
  }
}

.invalid-feedback {
  color: var(--dangerColor);
  line-height: 1rem;
}

.warning-feedback,
.info-feedback {
  padding: .25rem 1rem;
  margin: .25rem 1px 0 1px;
  font-size: .9rem;
  line-height: 1rem;
}

.warning-feedback {
  animation: pulse .45s ease-in-out infinite;
}

.form-check {
  &:not(:last-child) {
    margin-bottom: .5rem;
  }
}

.high-contrast .custom-checkbox .custom-control-input:checked ~ .custom-control-label:after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23000000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e")
}
