@import "breakpoints";

astrobin-masonry-layout {
  .masonry-item {
    position: relative;

    .image-container {
      position: relative;

      &,
      img,
      [role=img] {
        border-radius: .75rem;
        transition: filter .25s ease-in-out;
      }

      [role=img] {
        width: 100%;
        object-fit: cover;
      }
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        .image-container {
          &,
          img,
          [role=img] {
            filter: brightness(1.25);
          }
        }

        astrobin-image-hover .hover {
          opacity: 1 !important;
        }

        astrobin-image-hover .static-overlay {
          opacity: 0;
        }

        astrobin-image-icons {
          opacity: 0;
        }
      }
    }
  }
}
