@mixin dark-background-texture {
  background: url("/assets/images/dark-background.png") repeat;
  color: var(--lighterGrey);
}

@mixin darker-background-texture {
  background: url("/assets/images/darker-background.png") repeat;
  color: var(--lighterGrey);
}

@mixin darkest-background-texture {
  background: url("/assets/images/darkest-background.png") repeat;
  color: var(--lighterGrey);
}

@mixin subtle-accent-link {
  color: var(--lighterAccentColor);
  padding-bottom: 2px;
  border-bottom: var(--lighterAccentColor);

  &:hover {
    color: var(--accentColor);
    border-bottom-color: var(--accentColor);
    text-decoration: none;
  }
}
