@import "mixins";
@import "breakpoints";

.modal {
  &.fullscreen {
    .modal-dialog {
      max-width: 100%;
      width: 100%;
      height: 100%;
      margin: 0;
    }

    .modal-body {
      height: calc(100vh - 140px);
    }

    .modal-content {
      height: 100%;
    }
  }

  .modal-content {
    border-radius: 0.4rem;
    box-shadow: 0 0 100px rgba(0, 0, 0, .5);
    @include dark-background-texture;
  }

  .modal-header {
    @include darkest-background-texture;
    gap: 1rem;

    .close {
      border: 0;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
      padding: .5rem;
      box-shadow: 0 1px 5px rgba(0, 0, 0, .5);

      &:hover {
        filter: brightness(1.25);
      }
    }
  }

  .modal-footer {
    @include darker-background-texture;
  }
}

.modal-xl {
  @media screen and (min-width: $lg-min) {
    max-width: 66.67%;
  }
}

.modal-xxl {
  height: calc(100vh - var(--bs-modal-margin) * 2);
  overflow: auto;

  .modal-content {
    height: 100%;

    .modal-body {
      height: calc(100vh - 180px);
      overflow: auto;
    }
  }

  @media screen and (min-width: $lg-min) {
    max-width: calc(100% - 3rem);
  }
}

.modal-backdrop.show {
  backdrop-filter: blur(3px);
  opacity: .75;
}
