@import "mixins";

.modal {
  &.fullscreen {
    .modal-dialog {
      max-width: 100%;
      width: 100%;
      height: 100%;
      margin: 0;
    }

    .modal-body {
      height: calc(100vh - 140px);
    }

    .modal-content {
      height: 100%;
    }
  }

  .modal-content {
    border-radius: 0.4rem;
    box-shadow: 0 0 100px rgba(0, 0, 0, .5);
    @include dark-background-texture;
  }

  .modal-header {
    @include darkest-background-texture;
  }

  .modal-footer {
    @include darker-background-texture;
  }
}

.modal-xl {
  max-width: calc(100% - 3rem);
}

.modal-backdrop.show {
  backdrop-filter: blur(3px);
  opacity: .75;
}
