@import "mixins";

.nav {
  &[orientation=vertical] {
    @include darkest-background-texture;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.75);
    padding: .5rem;
    border-radius: .25rem;
    text-align: left;

    .nav-item-separator {
      margin-top: .75rem;
      margin-bottom: .75rem;
      height: 0;
      border-bottom: 1px solid rgba(255, 255, 255, .1);
    }
  }

  &.nav-pills {
    .nav-item.subnav {
      padding-left: 1.5rem;

      .nav-link {
        color: var(--lighterGrey);
        font-size: .9rem;

        &.active {
          color: var(--accentColor);
          background: none;
        }
      }
    }

    .nav-link,
    &.show > .nav-link {
      border-radius: 0;
      margin: 0 0 0 calc(var(--bs-nav-link-padding-y) * -1);
      padding: var(--bs-nav-link-padding-y) calc(var(--bs-nav-link-padding-x) + 0.5rem);

      @media screen and (min-width: 768px) {
        margin: 0 calc(var(--bs-nav-link-padding-y) * -1);
      }

      &.nav-pills-header {
        background: none;
        pointer-events: none;
        font-weight: bold;

        &:hover {
          background: none;
        }
      }

      [icon] {
        display: inline-block;
        width: 1rem;
        text-align: center;
      }
    }

    // Nested pills.
    .nav-pills {
      font-size: .85rem;
      min-height: initial;

      .nav-item {
        padding-left: 1.5rem;
      }

      .nav-link {
        padding: .5rem 1rem;
        color: var(--lighterGrey);
        border-radius: .5rem;
        border-left: 1px transparent;

        &.active {
          background: none;
          border-radius: 0;
          border-left: 2px solid var(--accentColor);
          color: var(--lightestGrey);
        }
      }
    }
  }

  .nav {
    &[orientation=vertical] {
      background: transparent;
      box-shadow: none;
    }
  }
}
