@import "mixins";

.image-viewer-offcanvas {
  z-index: 1048;
}

.image-viewer-offcanvas-backdrop {
  z-index: 1047;
}

.offcanvas-backdrop.show {
  opacity: 0.85;
}

.offcanvas:not(.offcanvas-bottom) {
  top: 0.375rem !important;
  height: calc(100% - .375rem);
}

.offcanvas-bottom {
  height: auto !important;
  box-shadow: 0 -.5rem 1rem rgba(0,0,0,.5);
}

.offcanvas-header {
  @include darkest-background-texture;

  .offcanvas-title {
    font-size: 1.25rem;
    line-height: 1rem;
  }
}

.offcanvas-body {
  @include darker-background-texture;
}

.offcanvas-menu {
  .offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &:not(.offcanvas-bottom) {
    .offcanvas-body {
      justify-content: center;
    }
  }

  .menu-item {
    padding: 1rem;
    width: calc(100% + -1rem);
    display: block;
    text-align: center;
    background: var(--grey);
    color: var(--lightestGrey);
    margin: .25rem .5rem;
    border-radius: var(--bs-border-radius);
    box-shadow: 0 1px .2rem rgba(0, 0, 0, .05);

    &:hover {
      color: var(--white);
    }
  }

  .menu-divider {
    height: .5rem;
    border: 0;
    background: none;
  }
}
