@import "mixins";

.image-viewer-offcanvas,
.equipment-item-display-name-retailers-offcanvas {
  z-index: 1048;
}

.image-viewer-offcanvas-backdrop,
.equipment-item-display-name-retailers-offcanvas-backdrop {
  z-index: 1047;
}

.offcanvas-backdrop.show {
  opacity: 0.85;
}

// Classes for offcanvas animations
.offcanvas {
  // For CSS-based swipe animations
  &.swipe-to-close-animating {
    pointer-events: none;
  }
  
  &.swipe-to-close-return-to-normal {
    animation: return-to-normal 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
  
  &.swipe-to-close-offcanvas-animate {
    animation: offcanvas-swipe-to-close 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
}

// Class for when offcanvas is being closed via swipe down
.offcanvas-closing {
  animation: fadeOut 0.3s ease-out;
}

.offcanvas:not(.offcanvas-bottom) {
  top: 0.375rem !important;
  height: calc(100% - .375rem);
}

.offcanvas-bottom {
  height: auto !important;
  box-shadow: 0 -.5rem 1rem rgba(0,0,0,.5);
}

.offcanvas-header {
  @include darkest-background-texture;

  .offcanvas-title {
    font-size: 1.25rem;
    line-height: 1rem;
  }
}

.offcanvas-body {
  @include darker-background-texture;
}

.offcanvas-menu {
  .offcanvas-body {
    display: flex;
    flex-direction: column;
  }

  .menu-item {
    padding: 1rem;
    width: calc(100% + -1rem);
    display: block;
    text-align: center;
    background: var(--grey);
    color: var(--lightestGrey);
    margin: .25rem .5rem;
    border-radius: var(--bs-border-radius);
    box-shadow: 0 1px .2rem rgba(0, 0, 0, .05);
    cursor: pointer;

    &:hover {
      color: var(--white);
    }
  }

  .menu-divider {
    height: .75rem;
    border: 0;
    background: none;
  }
}

.avatar-editor-offcanvas {
  @media (min-width: $md-min) {
    width: 50vw !important;
    max-width: 600px !important;
  }

  @media (max-width: $sm-max) {
    width: 100% !important;
    height: 100% !important;
  }
  
  .offcanvas-body {
    padding: 1rem;
    height: calc(100% - 55px); /* Subtract the header height */
    overflow-y: auto;
  }
}
