@import "mixins";


.image-viewer-offcanvas,
.equipment-item-display-name-retailers-offcanvas {
  z-index: 1048;
}

.image-viewer-offcanvas-backdrop,
.equipment-item-display-name-retailers-offcanvas-backdrop {
  z-index: 1047;
}

.offcanvas-backdrop.show {
  opacity: .85;
}

// Classes for offcanvas animations
.offcanvas {
  // For CSS-based swipe animations
  &.swipe-to-close-animating {
    pointer-events: none;
  }

  &.swipe-to-close-return-to-normal {
    animation: return-to-normal .3s cubic-bezier(.215, .61, .355, 1) forwards;
  }

  &.swipe-to-close-offcanvas-animate {
    animation: offcanvas-swipe-to-close .3s cubic-bezier(.215, .61, .355, 1) forwards;
  }
}

// Class for when offcanvas is being closed via swipe down
.offcanvas-closing {
  animation: fadeOut .3s ease-out;
}

.offcanvas:not(.offcanvas-bottom):not(.image-viewer-offcanvas) {
  top: .375rem !important;
  height: calc(100% - .375rem);
}

.offcanvas-start,
.offcanvas-end {
  max-width: 90vw;

  @supports (max-width: 90dvw) {
    max-width: 90dvw;
  }
}

.offcanvas-bottom {
  height: auto !important;
  box-shadow: 0 -.5rem 1rem rgba(0,0,0,.5);
}

.offcanvas-header {
  @include darkest-background-texture;

  .offcanvas-title {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}

.offcanvas-body {
  @include darker-background-texture;
}

.offcanvas-menu {
  .offcanvas-body {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    padding: .75rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    text-align: left;
    color: var(--lightestGrey);
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .025);
    background: transparent;

    fa-icon {
      width: 1.5rem;
      text-align: center;
      display: inline-block;

      &:not([icon="chevron-right"]) {
        margin-right: .75rem;
        flex-shrink: 0;
      }

      &[icon="chevron-right"] {
        color: var(--lightGrey);
      }
    }

    .menu-text {
      flex: 1;
    }

    &:hover {
      color: var(--white);
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .menu-divider {
    height: .75rem;
    border: 0;
    background: none;
    flex-grow: 1;
  }
}
