@import "mixins";
@import "breakpoints";

@media screen and (max-width: $sm-max) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .row [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
}

.page {
  @include dark-background-texture;
  position: relative;
  border-radius: 0.25rem;
  padding: 2rem;
  margin: 1rem 0;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  transition: opacity .5s ease-in;
  color: var(--white);

  @media screen and (max-width: $md-max) {
    margin-top: .5rem;
    padding: .5rem;
  }

  @media screen and (min-width: $lg-min) {
    &.has-breadcrumb {
      margin-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  > .alert:first-child {
    border-radius: 0;

    @media screen and (min-width: $md-min) {
      margin: -2rem -2rem 3rem -2rem;
    }
  }

  h1 {
    text-shadow: 1px 1px 0 var(--black);
    border-bottom: 1px solid var(--lightGrey);
    padding-bottom: .5rem;
    margin-bottom: 3rem;

    @media screen and (max-width: $md-max) {
      text-align: center;
      margin-bottom: 1rem;
    }

    + small {
      @media screen and (max-width: $md-max) {
        text-align: center;
        margin-top: -.5rem;
        margin-bottom: 1rem;
      }

      fa-icon {
        margin-right: .5rem;
      }
    }

    .btn {
      text-shadow: none;
    }

    .beta {
      opacity: .2;
      font-size: 2rem;
      font-style: italic;
      vertical-align: super;
    }

    .return-to-classic {
      margin-top: .5rem;
      font-style: italic;
    }

    > astrobin-refresh-button {
      font-size: 1.25rem;
    }
  }

  > .buttons-area {
    margin-top: 4rem;
    padding-top: 1rem;
    border-top: 1px solid var(--lightGrey);

    @media (min-width: $sm-min) {
      display: flex;
      justify-content: flex-end;
    }

    > .btn {
      margin-left: .5rem;
    }
  }

  &.hero {
    padding: 4rem;

    h1 {
      font-size: 4rem;
      text-align: center;

      + p {
        font-size: 2rem;
        text-align: center;
        margin-top: -2rem;
        margin-bottom: 3rem;

        strong {
          color: var(--white);
        }
      }
    }

    @media (max-width: $sm-max) {
      padding: 2rem;

      .hero-image {
        height: 6rem;
      }

      h1 {
        font-size: 3rem;

        + p {
          font-size: initial;
        }
      }
    }
  }

  .hero-image {
    background-size: contain;
    height: 8rem;
    margin-bottom: 2rem;

    + h1,
    + h1 + small {
      text-align: center;
    }
  }
}
