@import "mixins";

.popover {
  box-shadow: 0 0 2rem rgba(0, 0, 0, .9);

  .popover-header {
    @include darkest-background-texture;
    color: var(--white);
    font-weight: bold;
    border-bottom-color: var(--grey);
  }

  .popover-body {
    background: var(--bs-popover-bg);
    padding: 1.5rem 1rem;
    font-size: .85rem;
    line-height: 1.15rem;
    color: var(--lighterGrey);

    h4 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: .75rem;
      color: var(--white);
    }

    strong {
      color: var(--white);
    }
  }
}

.bs-popover-top > .arrow::after, .bs-popover-auto[x-placement^=top] > .arrow::after {
  border-top-color: var(--black);
}

.bs-popover-bottom > .arrow::after, .bs-popover-auto[x-placement^=bottom] > .arrow::after {
  border-bottom-color: var(--black);
}

.image-description-popover {
  min-width: 300px;
  max-width: 90vw;
  max-height: 80vh;
  overflow-y: auto;
  
  .popover-body {
    @include darker-background-texture;
    color: var(--white);
    padding: 1rem;
    
    .metadata-header {
      @include darkest-background-texture;
      margin: 0 0 0.25rem;
      padding: .5rem .75rem;
      color: var(--lightestGrey);
      border-radius: var(--bs-border-radius);
    }
    
    .metadata-section {
      padding: 0.5rem 0;
    }
    
    .description {
      word-break: break-word;
      overflow: hidden;
      
      img {
        max-width: 100%;
        height: auto;
      }
    }
    
    .btn-translate-description {
      margin-top: 0.5rem;
    }
  }
}
