@import "breakpoints";

.ng-select {
  max-width: 100%;

  &.enable-fullscreen:not(.fullscreen) {
    max-width: calc(100% - 1rem);
  }

  .ng-select-container {
    color: var(--lighterGrey);
  }

  .ng-value-container {
    .ng-placeholder {
      color: var(--lightGrey) !important;
    }
  }

  .ng-arrow-wrapper {
    width: 25px !important;
    padding-right: 5px !important;

    .ng-arrow {
      border-color: var(--lightGrey) transparent transparent !important;
      border-style: solid !important;
      border-width: 5px 5px 2.5px !important;
    }
  }

  .ng-clear-wrapper {
    color: var(--lightGrey) !important;

    &:hover .ng-clear {
      color: var(--lightestGrey) !important;
    }
  }

  .ng-input > input {
    color: var(--lighterGrey) !important;
  }

  &.ng-select-multiple {
    .ng-select-container .ng-value-container .ng-value {
      background: var(--grey) !important;
      border: 1px dotted var(--lightGrey) !important;
      padding: .0625rem .6rem !important;
      margin-right: .5rem !important;

      .ng-value-icon {
        padding: 0 .5rem;

        &.right {
          border-left: 1px dotted var(--lightGrey);
          margin-left: .75rem;
          margin-right: -.5rem;
        }

        &:hover {
          background-color: var(--lightGrey);
        }
      }
    }
  }

  &.ng-select-disabled {
    .ng-select-container {
      background: var(--darkerGrey);
    }
  }

  &.ng-select-striped {
    .ng-option:nth-child(odd) {
      background-color: var(--darkerGrey);
    }
  }

  .ng-dropdown-panel {
    background: var(--darkestGrey) !important;
    border-top: 1px solid var(--darkGrey) !important;
    box-shadow: .25rem .5rem 1rem rgba(0, 0, 0, .5) !important;

    .ng-dropdown-panel-items {
      max-height: 220px !important;
    }

    .ng-optgroup {
      color: var(--white) !important;
      font-weight: bold !important;
      padding: .75rem !important;
    }

    .ng-option {
      padding: .5rem 1rem !important;
      color: var(--lightestGrey) !important;
      white-space: normal !important;
      line-height: 1.15rem !important;

      @media screen and (max-width: $sm-max) {
        padding: .25rem .5rem !important;
        font-size: .9rem !important;
        line-height: 1rem !important;
      }

      &.ng-option-child {
        padding-left: 1.5rem !important;
      }

      &.ng-option-marked {
        color: var(--lightestGrey) !important;
        background: var(--darkGrey) !important;
      }

      &.ng-option-disabled {
        color: var(--lightGrey) !important;
      }
    }
  }

  .ng-dropdown-footer {
    padding: 0;

    .add-tag {
      margin: 1rem;
    }
  }

  &.fullscreen {
    .ng-dropdown-panel {
      height: calc(100vh - 210px);

      .ng-dropdown-panel-items {
        max-height: calc(100% - 86px) !important;

        @media screen and (min-width: $lg-min) {
          max-height: calc(100% - 130px) !important;
        }
      }
    }

    &.too-many-options {
      .ng-dropdown-panel {
        .ng-dropdown-panel-items {
          max-height: calc(100% - 120px) !important;

          @media screen and (min-width: $lg-min) {
            max-height: calc(100% - 170px) !important;
          }
        }
      }
    }
  }

  &.equipment-select {
    .ng-dropdown-panel {
      box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.9) !important;

      .ng-dropdown-panel-items {
        .ng-option {
          padding: .75rem 1rem !important;

          ::ng-deep astrobin-equipment-item-display-name {
            display: inline-block;

            h5 {
              margin: 0;
              font-size: 1rem;
            }
          }

          .item-variants-info,
          .item-variants-list {
            margin: 0;
            line-height: 1.25rem;
            font-style: italic;
            display: inline-block;
          }

          .item-variants-info {
            margin-right: .5rem;
            color: var(--lightGrey);
          }

          .item-variants-list {
            font-size: .9rem;
            color: var(--lighterGrey);

            > span {
              ::ng-deep {
                .brand {
                  color: var(--white);
                }
              }

              &:not(:last-child) {
                margin-right: .5rem;


                &::after {
                  content: '\b7'; /* middot */
                  margin-left: .25rem;
                }
              }
            }
          }

          &:not(:last-child) {
            border-bottom: 1px dashed var(--gray);
          }

          .property {
            background: none !important;

            .property-name,
            .property-value {
              font-size: .85rem;
              opacity: .8;
              border: 0 !important;
            }

            .property-name {
              padding-left: 1rem;
              width: 1%;
              white-space: nowrap;
            }

            .property-value {
              text-align: left !important;
            }
          }
        }
      }
    }
  }
}
