@import "variables";

.ng-select {
  .ng-select-container {
    color: var(--lighterGrey);
  }

  .ng-value-container {
    .ng-placeholder {
      color: var(--lightGrey) !important;
    }
  }

  .ng-arrow-wrapper {
    width: 25px !important;
    padding-right: 5px !important;

    .ng-arrow {
      border-color: var(--lightGrey) transparent transparent !important;
      border-style: solid !important;
      border-width: 5px 5px 2.5px !important;
    }
  }

  .ng-clear-wrapper {
    color: var(--lightGrey) !important;

    &:hover .ng-clear {
      color: var(--lightestGrey) !important;
    }
  }

  .ng-input > input {
    color: var(--lighterGrey) !important;
  }

  &.ng-select-multiple {
    .ng-select-container .ng-value-container .ng-value {
      background: var(--grey) !important;
      border: 1px dotted var(--lightGrey) !important;
      padding: .0625rem .6rem !important;
      margin-right: .5rem !important;

      .ng-value-icon {
        padding: 0 .5rem;

        &.right {
          border-left: 1px dotted var(--lightGrey);
          margin-left: .75rem;
          margin-right: -.5rem;
        }

        &:hover {
          background-color: var(--lightGrey);
        }
      }
    }
  }

  &.ng-select-disabled {
    .ng-select-container {
      background: var(--darkerGrey);
    }
  }
}

.ng-dropdown-panel {
  background: var(--darkestGrey) !important;
  border-top: 1px solid var(--darkGrey) !important;
  box-shadow: .25rem .5rem 1rem rgba(0, 0, 0, .5) !important;

  .ng-dropdown-panel-items {
    max-height: 220px !important;
  }

  .ng-optgroup {
    color: var(--white) !important;
    font-weight: bold !important;
    padding: .75rem !important;
  }

  .ng-option {
    padding: .5rem 1rem !important;
    color: var(--lightestGrey) !important;
    white-space: normal !important;
    line-height: 1.15rem !important;

    &.ng-option-child {
      padding-left: 1.5rem !important;
    }

    &.ng-option-marked {
      color: var(--lightestGrey) !important;
      background: var(--darkGrey) !important;
    }
  }
}
