@import "breakpoints";
@import "mixins";

.table {
  thead,
  tfoot{
    th {
      @include darkest-background-texture;
      color: var(--white);
      box-shadow: none !important;

      .help-tooltip {
        color: var(--lighterGrey);
        border-bottom-color: var(--lighterGrey);
        margin-left: .5rem;
      }
    }
  }

  thead,
  tbody {
    tr:first-child {
      th,
      td {
        border-top: 0;
      }
    }
  }

  thead,
  tbody {
    tr.spacer-row {
      td {
        padding: .325rem .5rem !important;
        border: 0;
        background-color: transparent;
        box-shadow: none;
      }
    }

    tr.small-spacer-row {
      td {
        padding: .25rem .5rem !important;
        border: 0;
        background-color: transparent;
        box-shadow: none;
      }
    }
  }

  td.fit,
  th.fit {
    white-space: nowrap;
    width: 1%;
  }

  td:last-child,
  th:last-child {
    text-align: right;
  }
}

@mixin table-mobile-support {
  tbody {
    display: block;
  }

  thead {
    display: none;
  }

  /* Each row as a block element on small screens */
  tbody tr {
    display: block;
    margin-bottom: 2rem;
  }

  tbody:last-child tr:last-child {
    margin-bottom: 0;
  }

  tbody tr td {
    display: flex;
    @include flex-gap(row, .5rem);
    padding: .5rem 1rem;
    width: auto;
    border-bottom-width: 0;

    &:first-child {
      @include darkest-background-texture;
      box-shadow: none;
    }
  }

  tbody tr td:before {
    content: attr(data-label);
    color: var(--lighterGrey);
  }

  .restore .btn {
    margin-left: -.5rem; // Compensate for gap.
  }

  .thumbnail {
    display: none !important;
  }

  .table-striped > tbody > tr:nth-of-type(even) > * {
    background-color: var(--darkerGrey);
  }
}

@media (max-width: $sm-max) {
  .table-mobile-support,
  .table-mobile-support-sm {
    @include table-mobile-support;
  }
}

@media (max-width: $md-max) {
  .table-mobile-support-md {
    @include table-mobile-support;
  }
}
