@import "mixins";

.table {
  thead {
    th {
      @include darker-background-texture;
      color: var(--white);

      .help-tooltip {
        color: var(--lighterGrey);
        border-bottom-color: var(--lighterGrey);
        margin-left: .5rem;
      }
    }
  }

  td.fit,
  th.fit {
    white-space: nowrap;
    width: 1%;
  }

  td:last-child,
  th:last-child {
    text-align: right;
  }
}
