@import "breakpoints";

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--brightWhite);
}

h1, .h1 {
  font-size: 3rem;
}

h2, .h2 {
  font-size: 2.5rem;
}

h3, .h3 {
  font-size: 2rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

h1 {
  margin-bottom: 2rem;

  + small {
    font-size: 1rem;
    color: var(--lightGrey);
    display: block;
    margin-top: -2rem;
    margin-bottom: 2rem;
  }

  @media (max-width: $sm-max) {
    font-size: 2.25rem;
    hyphens: auto;
  }
}

strong {
  color: var(--white);
}

pre {
  padding: 1rem;
  background: var(--darkGrey);
}

.help-tooltip {
  font-style: italic;
  border-bottom: 1px dotted var(--lightestGrey);
  cursor: help;
}
