@import "~bootstrap/scss/functions";

// Override Bootstrap variables
$theme-colors: (
  "primary": #cc4b2e,
  "secondary": #3092cf,
  "success": #00ff00,
  "info": #3a515f,
  "warning": #ff9a28,
  "danger": #e84545,
  "light": #e9e9e9,
  "dark": #222
);

$dropdown-link-hover-bg: theme-color("primary");
$enable-gradients: true;

// Define own colors

// ... shades of grey
$lightest-grey: #ccc;
$lighter-grey: #999;
$light-grey: #555;
$grey: #333;
$dark-grey: #303030;
$darker-grey: #292929;
$darkest-grey: theme-color("dark");
$black: #101010;

// ... other colors
$gold: gold;

$info: theme-color("info");
$success: theme-color("success");
$successSecondary: lighten($success, 30%);
$warning: theme-color("warning");
$error: theme-color("danger");

// ... special colors
$accent-color: theme-color("primary");
$lighter-accent-color: lighten($accent-color, 20%);
$darker-accent-color: darken($accent-color, 20%);
$muted-accent-color: #866158;
$subtle-accent-color: #e0e0e0;
$secondary-accent-color: #3092cf;
$darkest-background-text-color: #b0b0b0;

// Breakpoints
$xs-max: 575.98px;
$sm-min: 576px;
$sm-max: 767.98px;
$md-min: 768px;
$md-max: 991.98px;
$lg-min: 992px;
$lg-max: 1199.98px;
$xl-min: 1200px;

// Other variables
$ng-select-highlight: $darker-grey;
$ng-select-primary-text: $lightest-grey;
$ng-select-disabled-text: $lightest-grey;
$ng-select-border: $darker-grey;
$ng-select-border-radius: 4px;
$ng-select-bg: $darkest-grey;
$ng-select-selected: darken($ng-select-highlight, 2%);
$ng-select-marked: darken($ng-select-highlight, 1%);
$ng-select-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
$ng-select-placeholder: darken($ng-select-primary-text, 10%);
$ng-select-height: 42px;
$ng-select-value-padding-left: .5rem;
$ng-select-value-font-size: 0.9em;

// Define CSS variables
:root {
  --accentColor: #{$accent-color};
  --lighterAccentColor: #{$lighter-accent-color};
  --darkerAccentColor: #{$darker-accent-color};

  --brightWhite: #fff;
  --white: #{theme-color("light")};
  --lightGrey: #{$light-grey};
  --lighgerGrey: #{$lighter-grey};
  --lighgestGrey: #{$lightest-grey};
  --grey: #{$grey};
  --darkGrey: #{$dark-grey};
  --darkerGrey: #{$darker-grey};
  --darkestGrey: #{$darkest-grey};
  --black: #{$black};

  --gold: #{$gold};

  --infoColor: #{theme-color("info")};
  --successColor: #{theme-color("success")};
  --successSecondaryColor: #{$successSecondary};
  --warningColor: #{theme-color("warning")};
  --dangerColor: #{theme-color("danger")};
}
