@import "~bootstrap/scss/functions";

$accent-color: #f0f0f0;
$muted-accent-color: #866158;
$subtle-accent-color: #e0e0e0;
$secondary-accent-color: #3092cf;

$bright-white: #fff;
$green: #fff;
$white: #f0f0f0;
$grey: #333;
$black: #000;

$light-grey: #999;
$lighter-grey: #aaa;
$lightest-grey: #e0e0e0;

$dark-grey: #282828;
$darker-grey: #222;
$darkest-grey: #111;

$darkest-background-text-color: #b0b0b0;

$warning-orange: #fff;
$error-red: #fff;
$info-blue: #fff;
$gold: #fff;

// Bootstrap overrides:
$theme-colors: (
  "primary": $accent-color
);

// Breakpoints
$xs-max: 575.98px;

$sm-min: 576px;
$sm-max: 767.98px;

$md-min: 768px;
$md-max: 991.98px;

$lg-min: 992px;
$lg-max: 1199.98px;

$xl-min: 1200px;

$ng-select-highlight: $darker-grey;
$ng-select-primary-text: $lightest-grey;
$ng-select-disabled-text: $lightest-grey;
$ng-select-border: $darker-grey;
$ng-select-border-radius: 4px;
$ng-select-bg: $darkest-grey;
$ng-select-selected: darken($ng-select-highlight, 2);
$ng-select-marked: darken($ng-select-highlight, 1);
$ng-select-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
$ng-select-placeholder: darken($ng-select-primary-text, 10);
$ng-select-height: 42px;
$ng-select-value-padding-left: .5rem;
$ng-select-value-font-size: 0.9em;
