@import "./node_modules/bootstrap/scss/functions";

$primary: #cc4b2e;
$secondary: #e0e0e0;
$success: #177417;
$info: #3a515f;
$warning: #ff9a28;
$danger: #e84545;
$light: #e9e9e9;
$dark: #222;

$dropdown-link-hover-bg: $primary;
$enable-gradients: true;
$table-striped-order: even;

// Define own colors

// ... shades of grey
$white: $light;
$lightest-grey: #ccc;
$lighter-grey: #999;
$light-grey: #555;
$grey: #333;
$dark-grey: #303030;
$darker-grey: #292929;
$darkest-grey: $dark;
$black: #101010;
$almost-black: #171717;

// ... other colors
$gold: #f3bb46;
$dark-gold: darken($gold, 10%);
$darker-gold: darken($gold, 25%);
$darkest-gold: darken($gold, 33%);
$silver: #c0c0c0;
$bronze: #cd7f32;

$text-on-info: $white;
$info-light: lighten($info, 5%);

$text-on-success: lighten($success, 15%);
$successSecondary: lighten($success, 30%);

$text-on-warning: $black;

$error: $danger;
$text-on-error: $black;

// ... special colors
$accent-color: $primary;
$lighter-accent-color: lighten($accent-color, 20%);
$darker-accent-color: darken($accent-color, 20%);
$muted-accent-color: #866158;
$text-on-accent-color: $light;

$secondary-accent-color: #3092cf;
$lighter-secondary-accent-color: lighten($secondary-accent-color, 20%);
$darker-secondary-accent-color: darken($secondary-accent-color, 20%);
$text-on-secondary-accent-color: $white;

// Other variables
$ng-select-highlight: $darker-grey;
$ng-select-primary-text: $lightest-grey;
$ng-select-disabled-text: $lightest-grey;
$ng-select-border: $darkest-grey;
$ng-select-border-radius: .375rem;
$ng-select-bg: $darkest-grey;
$ng-select-selected: darken($ng-select-highlight, 2%);
$ng-select-marked: darken($ng-select-highlight, 1%);
$ng-select-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 3px rgba(0, 126, 255, .1);
$ng-select-placeholder: darken($ng-select-primary-text, 10%);
$ng-select-height: 36px;
$ng-select-value-padding-left: .5rem;
$ng-select-value-font-size: .9em;

// Define CSS variables
:root {
  --accentColor: #{$accent-color};
  --lighterAccentColor: #{$lighter-accent-color};
  --darkerAccentColor: #{$darker-accent-color};
  --mutedAccentColor: #{$muted-accent-color};
  --textOnAccentColor: #{$text-on-accent-color};

  --secondaryAccentColor: #{$secondary-accent-color};
  --lighterSecondaryAccentColor: #{$lighter-secondary-accent-color};
  --darkerSecondaryAccentColor: #{$darker-secondary-accent-color};
  --textOnSecondaryAccentColor: #{$text-on-secondary-accent-color};

  --brightWhite: #fff;
  --white: #{$light};
  --lightGrey: #{$light-grey};
  --lighterGrey: #{$lighter-grey};
  --lightestGrey: #{$lightest-grey};
  --grey: #{$grey};
  --darkGrey: #{$dark-grey};
  --darkerGrey: #{$darker-grey};
  --darkestGrey: #{$darkest-grey};
  --black: #{$black};
  --almostBlack: #{$almost-black};

  --gold: #{$gold};
  --darkGold: #{$dark-gold};
  --darkerGold: #{$darker-gold};
  --darkestGold: #{$darkest-gold};
  --silver: #{$silver};
  --bronze: #{$bronze};

  --infoColor: #{$info};
  --textOnInfoColor: #{$text-on-info};
  --infoLight: #{$info-light};

  --successColor: #{$success};
  --textOnSuccessColor: #{$text-on-success};
  --successSecondaryColor: #{$successSecondary};

  --warningColor: #{$warning};
  --textOnWarningColor: #{$text-on-warning};

  --dangerColor: #{$danger};
  --textOnDangerColor: #{$text-on-error};
}
