@import "~bootstrap/scss/functions";

// Override Bootstrap variables
$theme-colors: (
  "primary": #f0f0f0,
  "secondary": #f0f0f0,
  "success": #f0f0f0,
  "info": #f0f0f0,
  "warning": #f0f0f0,
  "danger": #f0f0f0,
  "light": #111,
  "dark": #111
);

$dropdown-link-hover-bg: theme-color("dark");
$enable-gradients: false;

// Define own colors (TODO: replace with CSS variables)

// ... shades of grey
$bright-white: #fff;
$white: #f0f0f0;
$lightest-grey: #e0e0e0;
$lighter-grey: #aaa;
$light-grey: #999;
$grey: #333;
$dark-grey: #282828;
$darker-grey: #222;
$darkest-grey: #111;
$black: #000;

// ... other colors
$success: #fff;
$warning: #fff;
$error: #fff;
$info: #fff;
$gold: #fff;

// ... special colors
$accent-color: theme-color("primary");
$muted-accent-color: #866158;
$subtle-accent-color: #e0e0e0;
$secondary-accent-color: #3092cf;
$darkest-background-text-color: #b0b0b0;

// Breakpoints
$xs-max: 575.98px;
$sm-min: 576px;
$sm-max: 767.98px;
$md-min: 768px;
$md-max: 991.98px;
$lg-min: 992px;
$lg-max: 1199.98px;
$xl-min: 1200px;

// Other variables
$ng-select-highlight: $darker-grey;
$ng-select-primary-text: $lightest-grey;
$ng-select-disabled-text: $lightest-grey;
$ng-select-border: $darker-grey;
$ng-select-border-radius: 4px;
$ng-select-bg: $darkest-grey;
$ng-select-selected: darken($ng-select-highlight, 2);
$ng-select-marked: darken($ng-select-highlight, 1);
$ng-select-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
$ng-select-placeholder: darken($ng-select-primary-text, 10);
$ng-select-height: 42px;
$ng-select-value-padding-left: .5rem;
$ng-select-value-font-size: 0.9em;

// Define CSS variables
:root {
  --accentColor: #{theme-color("primary")};
  --infoColor: #{theme-color("info")};

  --white: #{$white};

  --lightGrey: #{$light-grey};
  --lighterGrey: #{$lighter-grey};
  --lightestGrey: #{$lightest-grey};

  --darkGrey: #{$dark-grey};
  --darkerGrey: #{$darker-grey};
  --darkestGrey: #{$darkest-grey};

  --warningColor: #{theme-color("warning")};
}
