@import "breakpoints";


@mixin defaultNavLink() {
  color: var(--lighterGrey) !important;
  font-weight: normal;
  font-style: normal;
  cursor: default !important;

  &::after {
    background-color: transparent !important;
  }
}

.ng-wizard-theme-default {
  box-shadow: none;
  border: 0;

  > ul.step-anchor {
    border-bottom-color: var(--grey);
    background: none !important;
  }

  .nav-item {
    .nav-link {
      @include defaultNavLink;

      small {
        font-weight: normal;
        opacity: .75;
      }
    }

    &.active .nav-link {
      font-weight: bold;
      color: var(--white) !important;

      &::after {
        background-color: var(--accentColor) !important;
      }
    }

    &.danger.done .nav-link {
      font-weight: bold;
      font-style: italic;
      color: var(--dangerColor) !important;

      &::after {
        background-color: transparent !important;
      }
    }

    &.danger:not(.done):not(.active) .nav-link {
      @include defaultNavLink;
    }

    &.done:not(.danger) .nav-link {
      @include defaultNavLink;
    }

    &.clickable {
      &,
      &.danger:not(.done):not(.active) {
        .nav-link:hover {
          color: var(--white) !important;
        }
      }
    }
  }

  .step-content {
    background-color: transparent;
    border: 0;
    padding: 2rem 0;
  }

  .ng-wizard-toolbar-bottom {
    background-color: transparent;
    padding: 0;

    .btn-group:last-child {
      margin-right: 0 !important;
    }
  }
}

.wizard-step {
  .form-actions.fixed {
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    background: var(--darkestGrey);
    border-top: 1px solid var(--lightGrey);

    .form-actions-container {
      .btn,
      .dropup {
        display: inline-block;
        width: auto;
        margin-bottom: 0;
      }

      @media (max-width: $sm-min) {
        width: 100%;
      }

      @media (min-width: $sm-min) {
        width: 485px;
      }

      @media (min-width: $md-min) {
        width: 655px;
      }

      @media (min-width: $lg-min) {
        width: 895px;
      }

      @media (min-width: $xl-min) {
        width: 1080px;
      }
    }
  }
}

@media (max-width: $xs-max) {
  .ng-wizard-btn-group {
    display: block;
    width: 100%;
  }
}
