@import "breakpoints";


@mixin defaultNavLink() {
  color: var(--lighterGrey) !important;
  font-weight: normal;
  font-style: normal;

  &::after {
    background-color: transparent !important;
  }
}

.ng-wizard-theme-default {
  box-shadow: none;
  border: 0;

  > ul.step-anchor {
    border-bottom-color: var(--grey);
    background: none !important;
  }

  .nav-item {
    .nav-link {
      @include defaultNavLink;

      small {
        font-weight: normal;
        opacity: .75;
      }
    }

    &.active .nav-link {
      font-weight: bold;
      color: var(--white) !important;

      &::after {
        background-color: var(--accentColor) !important;
      }
    }

    &.danger.done .nav-link {
      font-weight: bold;
      font-style: italic;
      color: var(--error) !important;

      &::after {
        background-color: transparent !important;
      }
    }

    &.danger:not(.done):not(.active) .nav-link {
      @include defaultNavLink;
    }

    &.done:not(.danger) .nav-link {
      @include defaultNavLink;
    }

    &.clickable {
      &,
      &.danger:not(.done):not(.active) {
        .nav-link:hover {
          color: var(--white) !important;
        }
      }
    }
  }

  .step-content {
    background-color: transparent;
    border: 0;
    padding: 2rem 0;
  }

  .ng-wizard-toolbar-bottom {
    background-color: transparent;
    padding: 0;

    .btn-group:last-child {
      margin-right: 0 !important;
    }
  }
}

@media (max-width: $xs-max) {
  .ng-wizard-btn-group {
    display: block;
    width: 100%;
  }
}
