@keyframes spin {
  0% {
    animation-timing-function: cubic-bezier(.5856, .0703, .4143, .9297);
    transform: rotate(0);
  }

  100% {
    transform: rotate(
        360deg
    );
  }
}

@keyframes move-striped-loading-indicator {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(46px);
  }
}

@keyframes pulsate {
  0% {
    opacity: .1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}
