@import "variables";

.btn {
  font-size: 0.85rem;

  @media (max-width: $xs-max) {
    display: block;
    width: 100%;
    padding-top: .75rem;
    padding-bottom: .75rem;

    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  fa-icon {
    margin-right: .5rem;
  }

  &.btn-xl {
    padding: .5rem 1.5rem;
    font-size: 1.1rem;
  }

  &.loading {
    background: url("/assets/images/white-loader.svg") $accent-color no-repeat center !important;
    background-size: 1rem !important;
    color: transparent !important;
    text-shadow: none !important;
    pointer-events: none !important;
    opacity: .65 !important;
  }

  &.btn-primary:not(:disabled):not(.disabled) {
    background: $accent-color linear-gradient(
        to bottom,
        lighten($accent-color, 7.5%),
        darken($accent-color, 7.5%)
    );
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: $white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

    &:hover {
      background: $accent-color linear-gradient(
          to bottom,
          lighten($accent-color, 10%),
          darken($accent-color, 5%)
      );
    }

    &:active {
      background: $accent-color linear-gradient(
          to top,
          lighten($accent-color, 10%),
          darken($accent-color, 5%)
      );
    }
  }

  &.btn-secondary:not(:disabled):not(.disabled) {
    background: $white linear-gradient(
        to bottom,
        $white,
        darken($white, 10%)
    );
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: $darker-grey;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

    &:hover {
      background: $white linear-gradient(
          to bottom,
          lighten($white, 5%),
          darken($white, 5%)
      );
    }

    &:active {
      background: $white linear-gradient(
          to top,
          lighten($white, 5%),
          darken($white, 5%)
      );
      color: $darker-grey;
    }
  }
}
