.denied {
  background: url("/assets/images/denied.svg") no-repeat center;
}

.doormat {
  background: url("/assets/images/doormat.svg") no-repeat center;
}

.power {
  background: url("/assets/images/power.svg") no-repeat center;
}

.telescope {
  background: url("/assets/images/telescope.svg") no-repeat center;
}
