@import "mixins";
@import "variables";

.page {
  @include dark-background-texture;
  position: relative;
  border-radius: 0.25rem;
  padding: 2rem;
  margin: 1rem 0;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  transition: opacity .5s ease-in;

  > .buttons-area {
    margin-top: 4rem;
    padding-top: 1rem;
    border-top: 1px solid lighten($grey, 5%);
    display: flex;
    justify-content: flex-end;

    > .btn {
      margin-left: .5rem;
    }
  }

  &.hero {
    padding: 4rem;

    .hero-image {
      background-size: contain;
      height: 8rem;
      margin-bottom: 2rem;
    }

    h1 {
      font-size: 6rem;
      text-align: center;

      + p {
        font-size: 1.5rem;
        text-align: center;
      }
    }

    @media (max-width: $sm-max) {
      padding: 2rem;

      .hero-image {
        height: 6rem;
      }

      h1 {
        font-size: 3rem;

        + p {
          font-size: initial;
        }
      }
    }
  }
}
