@import "variables";
@import "mixins";

.table {
  thead {
    th {
      @include darker-background-texture;
      color: $white;

      .help-tooltip {
        color: $lighter-grey;
        border-bottom-color: $lighter-grey;
        margin-left: .5rem;
      }
    }
  }

  td.fit,
  th.fit {
    white-space: nowrap;
    width: 1%;
  }
}
