$accent-color: #cc4b2e;
$secondary-accent-color: #3092cf;

$white: #fcfcfc;
$grey: #333;

$light-grey: lighten($grey, 40%);
$lighter-grey: lighten($grey, 60%);
$lightest-grey: lighten($grey, 80%);

$dark-grey: darken($grey, 40%);
$darker-grey: darken($grey, 60%);
$darkest-grey: darken($grey, 80%);

$darkest_background_text_color: #b0b0b0;

$error-red: #e84545;

// Bootstrap overrides:
$theme-colors: (
  "primary": $accent-color
);
