$accent-color: #cc4b2e;
$secondary-accent-color: #3092cf;

$bright-white: #ffffff;
$white: #fcfcfc;
$grey: #333;

$light-grey: lighten($grey, 40%);
$lighter-grey: lighten($grey, 60%);
$lightest-grey: lighten($grey, 80%);

$dark-grey: darken($grey, 40%);
$darker-grey: darken($grey, 60%);
$darkest-grey: darken($grey, 80%);

$darkest_background_text_color: #b0b0b0;

$error-red: #e84545;

// Bootstrap overrides:
$primary: $accent-color;
$theme-colors: (
  "primary": $accent-color
);

// Breakpoints
$xs-max: 575.98px;

$sm-min: 576px;
$sm-max: 767.98px;

$md-min: 768px;
$md-max: 991.98px;

$lg-min: 992px;
$lg-max: 1199.98px;

$xl-min: 1200px;
