$accent-color: #cc4b2e;

$white: #fcfcfc;
$lightest-grey: #efefef;
$lighter-grey: #d9d9d9;
$light-grey: #999999;
$grey: #666666;
$dark-grey: #343434;
$darker-grey: #242424;
$darkest_background_text_color: #b0b0b0;

$error-red: #e84545;

// Bootstrap overrides:
$theme-colors: (
  "primary": $accent-color
);
