
::ng-deep {
  .rich-content-help {
    margin-top: 0;
    color: #866158;
    font-style: italic;
    margin-bottom: 16px;
    background: var(--darkGrey);
    padding: 8px;
    border-top: 1px solid #555;
    font-size: 13px;
  }

  .cke_button_icon {
    width: 15px !important;
    height: 15px !important;
  }

  .cke_source {
    background: var(--darkerGrey) !important;
    color: var(--white) !important;
  }

  .cke_chrome {
    border: 0 !important;
  }

  .cke_chrome,
  .cke_top,
  .cke_toolgroup,
  .cke_contents,
  .cke_dialog_body,
  .cke_dialog_contents {
    background: var(--darkestGrey) !important;
    color: var(--white) !important;
    font-size: 14px;
  }

  .cke_top,
  .cke_toolgroup,
  .cke_combo_button,
  .cke_bottom {
    background: var(--black) !important;
  }

  .cke_source {
    padding: .5rem !important;
  }

  .cke_dialog {
    box-shadow: 0 0 100px black !important;

    .cke_dialog_ui_button_ok {
      background: var(--accentColor) !important;
    }

    .cke_dialog_ui_fileButton {
      background: var(--accentColor) !important;
      padding: 6px 10px;
      margin-top: 10px;

      span {
        color: var(--white) !important;
        text-shadow: none !important;
      }
    }

    .cke_dialog_body {
      border: 0 !important;
      box-shadow: 0 0 .5rem rgba(0, 0, 0, .4);

      .cke_dialog_tabs {
        width: calc(100% - 20px);
        border-bottom: 1px solid var(--darkGrey);

        .cke_dialog_tab {
          background: var(--darkGrey) !important;
          color: var(--white) !important;
          border: 0 !important;
        }

        .cke_dialog_tab_selected {
          background: var(--darkGrey) !important;
        }
      }

      .cke_dialog_contents {
        border-top: 0 !important;
      }

      .cke_dialog_contents_body {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }

      label {
        color: var(--white) !important;
        margin-bottom: .5rem !important;
        display: block !important;
      }

      .cke_dialog_title,
      .cke_dialog_footer {
        background: var(--black) !important;
        color: var(--white) !important;
        padding: 8px 6px !important;
        box-shadow: none !important;
      }

      .cke_dialog_title {
        padding: 14px 12px !important;
        font-size: 16px !important;
        text-shadow: none !important;
        border: 0 !important;
      }

      input[type="file"] {
        color: var(--lightestGrey) !important;
      }

      .ImagePreviewBox {
        width: 100% !important;
        margin-top: 10px;
        border: 0 !important;
        background: transparent !important;
        overflow: auto !important;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, .5);

        td {
          background: var(--darkerGrey) !important;
          color: var(--lightGrey) !important;
          padding: 10px !important;

          img {
            margin-bottom: 10px;
          }
        }
      }

      /* width */
      ::-webkit-scrollbar {
        width: 8px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: var(--darkerGrey);
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: var(--darkGrey);
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: var(--lightGrey);
      }
    }

    .cke_dialog_footer {
      outline: 0 !important;
    }
  }

  a.cke_dialog_ui_button {
    border: 0 !important;
    box-shadow: none !important;
  }

  a.cke_button_off:hover,
  a.cke_button_off:focus,
  a.cke_button_off:active,
  a.cke_button_disabled:hover,
  a.cke_button_disabled:focus,
  a.cke_button_disabled:active {
    background: var(--darkestGrey) !important;
  }

  .cke_button_on {
    background: var(--darkGrey) !important;
  }

  .cke_button_label {
    color: var(--accentColor) !important;
    text-shadow: none !important;
  }

  .cke_top {
    padding: 6px !important;
    border: 0 !important;
    box-shadow: none !important;
  }

  .cke_toolgroup {
    margin: 2px 0 !important;
    border: 0 !important;
    box-shadow: none !important;
  }

  .cke_toolbar:not(:last-child) {
    border-right: 1px solid var(--darkerAccentColor) !important;
    border-radius: 0 !important;
    padding-right: 4px !important;
    margin-right: 2px !important;
  }

  .cke_toolbar_break {
    @media screen and (min-width: 768px) {
      display: none !important;
    }
  }

  input.cke_dialog_ui_input_text,
  input.cke_dialog_ui_input_password,
  textarea.cke_dialog_ui_input_textarea,
  select.cke_dialog_ui_input_select {
    background: var(--darkGrey) !important;
    color: var(--white) !important;
    padding: 12px !important;
    border: 1px var(--lightGrey) !important;

    &:focus {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(204, 75, 46, .6)
    }
  }

  .cke_dialog_background_cover {
    background: var(--black) !important;
    opacity: .8 !important;
  }

  .cke_dialog_ui_hbox {
    float: right !important;
  }

  .cke_dialog_ui_html {
    color: var(--lightGrey) !important;
  }

  .cke_notifications_area {
    background: var(--white);
    color: var(--black);
    padding: 20px 30px;
    margin-top: 20px;
    box-shadow: 0 0 20px var(--black);
    border-radius: 5px;
    border-top: 30px solid var(--black);
    top: 40px !important;
    right: 20px !important;
    position: fixed !important;
    max-width: 375px;
    left: unset !important;

    .cke_notification_message {
      margin: 0 !important;
    }

    .cke_notification_close {
      position: absolute;
      top: -25px !important;
      right: 10px !important;
    }
  }

  .cke_autocomplete_panel {
    width: auto !important;
    max-width: 400px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    margin-left: 16px !important;

    @media screen and (max-width: 400px) {
      max-width: 300px !important;
    }

    li {
      padding: 5px 15px !important;

      .avatar,
      .image {
        border-radius: 20px;
        margin-right: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .4);
      }

      .realname {
        color: var(--darkerGrey);
        margin-right: 5px;
      }

      .username,
      .title {
        color: var(--darkestGrey);
      }

      &.cke_autocomplete_selected,
      &:hover {
        .realname,
        .username,
        .title {
          color: var(--accentColor) !important;
        }
      }
    }
  }

  .cke_dark_background {
    background: var(--darkestGrey) !important;
  }

  .cke_specialchar {
    padding: 6px;

    &:hover {
      background: var(--lightGrey);

      span {
        color: var(--darkestGrey);
      }
    }

    span {
      color: var(--lightGrey);
      font-size: 18px;
    }
  }

  .cke_wysiwyg_frame,
  .cke_wysiwyg_div {
    background-color: var(--darkestGrey) !important;
    color: var(--lighterGrey) !important;
    padding: 8px !important;

    a {
      color: var(--accentColor) !important;
    }

    img:not(.cke_reset) {
      max-width: 100%;
      height: auto !important;
      margin-top: 10px;
      margin-bottom: 10px;

      &.smiley {
        width: 18px;
        height: 18px;
        margin: 0 1px;
      }
    }

    blockquote {
      background-color: var(--darkestGrey);
      margin: 20px 0;
      padding: 10px 20px 10px 60px;
      border: 1px solid var(--darkGrey);
      position: relative;
      min-height: 34px;

      &::before {
        display: block;
        content: "\201C";
        font-size: 120px;
        position: absolute;
        left: 4px;
        top: 50px;
        color: var(--darkGrey);
        font-family: Georgia, serif;
      }
    }
  }

  [data-cke-editorplaceholder]::before {
    margin-top: 0 !important;
    color: var(--lightGrey) !important;
    opacity: .5 !important;
  }

  .cke_combo_button {
    margin: 0 !important;
    padding-top: 2px !important;
    border-color: transparent !important;
    box-shadow: none !important;

    span {
      color: var(--accentColor) !important;
      text-shadow: none !important;

      .cke_combo_arrow {
        border-top-color: var(--accentColor) !important;
      }
    }
  }

  .cke_combo__fontsize .cke_combo_text {
    overflow: visible !important;
  }
}
