:host {
  ::ng-deep {
    astrobin-toggle-button {
      float: right;
      clear: both;
    }

    .field-group-line-items {
      &.sold {
        > formly-field:not(.cannot-edit-because-sold) {
          opacity: .5;
          pointer-events: none;
        }
      }

      > formly-field {
        margin-bottom: 0;
      }

      > formly-field:not(:last-child) {
        border-bottom: 1px solid var(--darkGrey);
        padding-bottom: 2rem;
      }

      > formly-field:not(:first-child) {
        border-top: 1px solid var(--darkestGrey);
        padding-top: 2rem;
      }

      .cannot-edit-because-sold {
        color: var(--textOnDangerColor);
        background-color: var(--dangerColor);
        padding: .5rem !important;
        margin: -1rem -1rem 0;
      }
    }

    .field-group-images {
      formly-field {
        width: calc(100% / 3);
        margin-bottom: 0;
        padding: .25rem;

        .upload-container {
          height: 9rem;
        }

        .file {
          img {
            height: 9rem;
          }
        }
      }
    }
  }
}
