<div class="row">
  <div class="col-lg-5">
    <form [formGroup]="form">
      <formly-form
        [fields]="fields"
        [form]="form"
        [model]="model"
      ></formly-form>

      <button
        (click)="onSave($event)"
        [class.loading]="(loadingService.loading$ | async) || form.pending"
        class="btn btn-lg btn-primary w-100 mt-4"
      >
        <fa-icon icon="save"></fa-icon>
        {{ saveButtonLabel }}
      </button>
    </form>
  </div>

  <div class="col-lg-7">
    <astrobin-marketplace-listing
      [listing]="form.value"
      [previewMode]="true"
    ></astrobin-marketplace-listing>
  </div>
</div>
