@import "../../../../../styles/breakpoints";

:host {
  display: flex;
  align-items: center;
  gap: .5rem;
  height: calc(2rem + 2px);

  @media (max-width: $sm-max) {
    width: 100%;
  }
}

.search-filter {
  font-size: .9rem;
  border: 1px solid var(--lightGrey);
  color: var(--lighterGrey);
  padding: 0.125rem .5rem;
  border-radius: var(--bs-border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(2rem + 2px);
  width: 100%;

  &__title {
    margin-right: .5rem;
    pointer-events: none;
  }

  &__value {
    color: var(--white);
    pointer-events: none;
  }

  &__match-type {
    font-size: .8rem;
    color: var(--lighterGrey);
    margin-left: .5rem;
    padding-left: .5rem;
    border-left: 1px solid var(--lightGrey);
    cursor: pointer;

    [icon] {
      font-size: .75rem;
    }

    &:hover {
      color: var(--accentColor);
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: .5rem;
    padding-left: .5rem;
    border-left: 1px solid var(--lightGrey);

    [icon] {
      padding: .375rem;
      cursor: pointer;
      color: var(--lighterGrey);
      font-size: .8rem;

      &:hover {
        color: var(--accentColor);
      }
    }

    [icon="remove"]:hover {
      color: var(--dangerColor);
    }
  }
}

.search-filter-operator {
  font-size: .65rem;
  color: var(--white);
  text-transform: uppercase;
}
