<div class="search-filter">
  <span class="search-filter__main">
    <span class="search-filter__title">{{ label }}:</span>
    <span [innerHTML]="render()" class="search-filter__value"></span>
  </span>

  <span
    (click)="edit()"
    *ngIf="value?.matchType"
    [ngbTooltip]="'Match type' | translate"
    class="search-filter__match-type"
  >
    <fa-icon icon="equals"></fa-icon>
    <span>{{ value.matchType }}</span>
  </span>

  <span
    *ngIf="editFields?.length > 0 || mayBeRemoved || infoText"
    class="search-filter__icons"
  >
    <fa-icon
      *ngIf="editFields?.length"
      (click)="edit()"
      icon="pencil-alt"
    ></fa-icon>

    <fa-icon
      *ngIf="mayBeRemoved"
      (click)="remove.emit()"
      icon="remove"
    ></fa-icon>

    <fa-icon
      *ngIf="infoText"
      icon="info-circle"
      [ngbTooltip]="infoText"
      triggers="click"
      container="body"
      class="cursor-pointer"
    ></fa-icon>
  </span>
</div>

<div class="search-filter-operator">
  {{ "and" | translate }}
</div>
