.search-filter {
  background-color: var(--lightestGrey);
  border: 1px solid var(--darkestGrey);
  color: var(--darkestGrey);
  padding: .25rem .5rem;
  white-space: nowrap;
  height: 2rem;
  border-radius: var(--bs-border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-weight: bold;
    margin-right: .5rem;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: .5rem;
    padding-left: .5rem;
    border-left: 1px solid var(--lighterGrey);

    [icon] {
      padding: .375rem;
      cursor: pointer;
      color: var(--grey);
      font-size: .8rem;

      &:hover {
        color: var(--darkestGrey);
      }
    }

    [icon="remove"]:hover {
      color: var(--dangerColor);
    }
  }
}
