@import "../../../../../styles/breakpoints";

.search-filter {
  font-size: .9rem;
  background-color: var(--white);
  border: 1px solid var(--black);
  color: var(--darkestGrey);
  padding: .125rem .5rem;
  border-radius: var(--bs-border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    margin-right: .5rem;
  }

  &__value {
    font-weight: bold;
  }

  &__match-type {
    font-size: .8rem;
    color: var(--grey);
    margin-left: .5rem;
    padding-left: .5rem;
    border-left: 1px solid var(--lighterGrey);
    cursor: pointer;

    [icon] {
      font-size: .75rem;
    }

    &:hover {
      color: var(--black);
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: .5rem;
    padding-left: .5rem;
    border-left: 1px solid var(--lighterGrey);

    [icon] {
      padding: .375rem;
      cursor: pointer;
      color: var(--grey);
      font-size: .8rem;

      &:hover {
        color: var(--black);
      }
    }

    [icon="remove"]:hover {
      color: var(--dangerColor);
    }
  }
}
