<form (ngSubmit)="save()" [formGroup]="form">
  <div class="modal-header">
    <h4 class="modal-title" id="create-location-modal">{{ "Create new location" | translate }}</h4>
    <button (click)="modal.dismiss()" aria-describedby="modal-title" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <formly-form [fields]="fields" [form]="form"></formly-form>
  </div>

  <div class="modal-footer">
    <button (click)="modal.dismiss()" class="btn btn-outline-secondary" type="button">
      {{ "Cancel" | translate }}
    </button>

    <button
      (click)="save()"
      [class.loading]="(loadingService.loading$ | async) || !mapReady"
      class="btn btn-primary"
      type="button"
    >
      {{ "Save" | translate }}
    </button>
  </div>
</form>
