<ng-template #headerTemplate>
  {{ "Recent forum posts" | translate }}
</ng-template>

<ng-template #footerTemplate>
  <ng-container *ngIf="!loading; else loadingTemplate">
    <a *ngIf="topics?.length > MAX_TOPICS" class="btn btn-secondary" [href]="forumUrl">
      {{ "View all" | translate }}
    </a>

    <a class="btn btn-primary" [href]="forumNewTopicUrl">
      {{ "New topic" | translate }}
    </a>
  </ng-container>
</ng-template>

<ng-template #tableTemplate>
  <ng-container *ngIf="!loading; else loadingTemplate">
    <table *ngIf="topics?.length > 0; else noTopicsTemplate" [class.table-striped]="striped" class="table mb-0">
      <tbody>
        <tr *ngFor="let topic of topics; trackBy: topicTrackByFn">
          <td class="read-status">
            <fa-icon *ngIf="topic.read" icon="circle" class="text-muted" [title]="'Read' | translate"></fa-icon>

            <fa-icon *ngIf="!topic.read" icon="circle" class="text-primary" [title]="'Unread' | translate"></fa-icon>
          </td>

          <td class="title">
            <a [href]="topicUrl(topic.id)" class="mb-2 mb-xl-0">
              {{ topic.name }}
            </a>

            <div class="meta d-flex gap-xl-3 flex-column flex-xl-row align-items-xl-center">
              <span *ngIf="!forumId && topic.forumName" class="forum-name">
                <a [href]="classicRoutesService.FORUM(topic.forum)">
                  {{ topic.forumName }}
                </a>
              </span>
              <div class="started">
                <a [routerLink]="['/u', topic.username]">{{ topic.displayName }}</a
                >&middot;
                <abbr [attr.title]="topic.created | localDate">
                  {{ topic.created | localDate | timeago : true }}
                </abbr>
              </div>
              <div class="last-post">
                {{ "Last post by" | translate }}
                <a [routerLink]="['/u', topic.lastPostUsername]">{{ topic.lastPostUserDisplayName }}</a
                >&middot;
                <abbr [attr.title]="topic.lastPostTimestamp | localDate">
                  {{ topic.lastPostTimestamp | localDate | timeago : true }}
                </abbr>
              </div>
            </div>
          </td>

          <td class="stats d-none d-md-table-cell">
            <div class="d-flex gap-3">
              <div>
                <fa-icon icon="comment" class="me-1"></fa-icon>
                {{ topic.postCount - 1 }}
              </div>

              <div>
                <fa-icon icon="eye" class="me-1"></fa-icon>
                {{ topic.views }}
              </div>
            </div>
          </td>

          <td class="go-to-last-post">
            <a class="p-3" [href]="classicRoutesService.FORUM_POST(topic.lastPostId.toString())"> &rsaquo; </a>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</ng-template>

<ng-template #loadingTemplate>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>

<ng-template #noTopicsTemplate>
  <ng-container *ngIf="!!forumId">
    <p>
      <span>
        {{ "There are no topics in this forum." | translate }}
      </span>
      <span>
        <a [href]="forumNewTopicUrl">
          {{ "Want to be the first to post?" | translate }}
        </a>
      </span>
    </p>

    <p *ngIf="category?.slug === 'equipment-forums'" class="text-muted">
      {{
        "When you start a new discussions here, everybody who has used this equipment item on AstroBin will be notified " +
          "unless they opted-out." | translate
      }}
    </p>
  </ng-container>

  <ng-container *ngIf="!forumId">
    <p>
      {{ "There are no recent topics." | translate }}
    </p>
  </ng-container>
</ng-template>

<ng-container *ngIf="useCard">
  <div class="card">
    <div *ngIf="showHeader" class="card-header">
      <ng-container [ngTemplateOutlet]="headerTemplate"></ng-container>
    </div>

    <div class="card-body">
      <ng-container [ngTemplateOutlet]="tableTemplate"></ng-container>
    </div>

    <div *ngIf="showFooter" class="card-footer">
      <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!useCard">
  <h4 *ngIf="showHeader">
    <ng-container [ngTemplateOutlet]="headerTemplate"></ng-container>
  </h4>

  <ng-container [ngTemplateOutlet]="tableTemplate"></ng-container>

  <div *ngIf="showFooter">
    <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
  </div>
</ng-container>

<div
  *ngIf="category?.slug === 'equipment-forums' && topics?.length > 0"
  [innerHTML]="equipmentCategoryDescription"
  class="category-description"
></div>
