@import "../../../../styles/breakpoints";

@mixin underline {
  text-decoration: underline dotted var(--lighterGrey);
  text-underline-offset: 2px;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      text-decoration: underline dotted var(--accentColor);
    }
  }
}

astrobin-loading-indicator {
  height: 838px;
  justify-content: start;
  padding-top: 2rem;

  @media screen and (max-width: $md-max) {
    height: 1102px;
  }
}

.category-description {
  padding: .5rem 1rem;
  background: var(--darkestGrey);
  margin: 0 1rem;
  border-radius: 0 0 .5rem .5rem;
  font-style: italic;
  color: var(--lightGrey);
}

.table {
  td {
    vertical-align: middle;

    @media screen and (min-width: $lg-min) {
      padding: 1rem;
    }
  }

  .read-status {
    font-size: .8rem;
    white-space: nowrap;
    width: 1px;
  }

  .title {
    width: 99%;

    > a {
      color: white;
      font-size: 1.15rem;
      font-weight: bold;
      display: -webkit-box;
      display: -moz-box;
      -webkit-line-clamp: 1;
      -moz-line-clamp: 1;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: var(--accentColor);
        text-decoration: none;
      }
    }

    .meta {
      font-size: .8rem;
      margin-top: .25rem;
      color: var(--lighterGrey);

      .forum-name {
        color: var(--lightestGrey);

        a {
          font-weight: normal;
          color: var(--lighterGrey);
          @include underline;

          &:hover {
            color: var(--accentColor);
          }
        }
      }

      abbr {
        @include underline;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            text-decoration: underline dotted var(--lighterGrey) !important;
          }
        }
      }

      a {
        color: var(--lighterGrey);
        @include underline;
        font-size: .8rem;
        font-weight: normal;
        margin-right: .25rem;

        &:hover {
          color: var(--accentColor);
        }
      }
    }
  }

  .stats {
    font-size: .8rem;
    color: var(--lighterGrey);
    white-space: nowrap;
    width: 1px;
  }

  .go-to-last-post {
    white-space: nowrap;
    width: 1px;
    font-size: 2rem;
  }
}
