<div class="page has-breadcrumb">
  <div class="alert alert-warning">
    The AstroBin Marketplace is currently in a testing phase. ALL MARKETPLACE DATA WILL BE DELETED BEFORE THE FINAL
    RELEASE. Please use it to test the functionality and provide feedback. This means that you can sell
    "pretend objects" and make offers and you don't need to pay or deliver anything. Thank you!
  </div>

  <h1>{{ title }}</h1>
  <small>
    {{ "Feedback received by this user in the marketplace. Please be kind and respectful in your comments." | translate }}
  </small>

  <div *ngIf="feedback !== undefined; else loadingTemplate"
       class="feedback-list">
    <p *ngIf="feedback.count === 0">
      {{ "This user has no marketplace feedback yet." | translate }}
    </p>

    <ng-container *ngIf="feedback.count > 0">
      <div
        *ngFor="let feedbackItem of feedback.results"
        class="feedback-container"
      >
        <div class="card feedback-card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">
              {{ "Listing" | translate }}:
              <a
                [routerLink]="['/equipment/marketplace/listing', feedbackItem.listingHash]">{{ feedbackItem.listingDisplayName }}
              </a>

              <br />

              {{ "From" | translate }}: {{ feedbackItem.userDisplayName }}
            </h5>

            <div class="updated">
              {{ feedbackItem.updated | localDate | timeago }}
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div *ngIf="feedbackItem.communicationValue" class="col feedback-value">
                <fa-icon
                  [icon]="equipmentMarketplaceService.iconizeFeedbackValue(feedbackItem.communicationValue)"
                ></fa-icon>
                <span>{{ "Communication" }}</span>
              </div>

              <div *ngIf="feedbackItem.speedValue" class="col feedback-value">
                <fa-icon
                  [icon]="equipmentMarketplaceService.iconizeFeedbackValue(feedbackItem.speedValue)"
                ></fa-icon>
                <span>
                <ng-container *ngIf="feedbackItem.targetType === TargetType.SELLER">
                  {{ "Speed of delivery" }}
                </ng-container>
                <ng-container *ngIf="feedbackItem.targetType === TargetType.BUYER">
                  {{ "Speed of payment" }}
                </ng-container>
              </span>
              </div>

              <div *ngIf="feedbackItem.accuracyValue" class="col feedback-value">
                <fa-icon
                  [icon]="equipmentMarketplaceService.iconizeFeedbackValue(feedbackItem.accuracyValue)"
                ></fa-icon>
                <span>{{ "Accuracy of item descriptions" }}</span>
              </div>

              <div *ngIf="feedbackItem.packagingValue" class="col feedback-value">
                <fa-icon
                  [icon]="equipmentMarketplaceService.iconizeFeedbackValue(feedbackItem.packagingValue)"
                ></fa-icon>
                <span>{{ "Packaging quality" }}</span>
              </div>
            </div>

            <p *ngIf="feedbackItem.message" [innerHTML]="feedbackItem.message | nl2br" class="message">
            </p>
          </div>

          <div class="card-footer">
            <button (click)="openCommentsModal(feedbackItem)" class="btn btn-secondary">
              {{ "Comments" | translate }}
              <span class="badge rounded-pill bg-dark">
                <astrobin-nested-comments-count
                  [contentType]="contentType"
                  [objectId]="feedbackItem.id"
                ></astrobin-nested-comments-count>
              </span>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ngb-pagination
    (pageChange)="loadFeedback($event)"
    *ngIf="feedback && feedback.count > feedback.results.length"
    [boundaryLinks]="true"
    [collectionSize]="feedback.count"
    [directionLinks]="true"
    [ellipses]="true"
    [maxSize]="5"
    [page]="page"
    [rotate]="true"
  ></ngb-pagination>
</div>

<ng-template #loadingTemplate>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>
