<ng-container *ngIf="{ toggleProperty: toggleProperty$ | async } as context">
  <button
    (click)="onClick(context.toggleProperty)"
    [class.loading-bars]="loading"
    [class.loading]="(loadingService.loading$ | async) === true"
    [class.success]="buttonState === 'success'"
    [class]="btnClass"
  >
    <ng-container *ngIf="!!context.toggleProperty">
      <fa-icon [icon]="unsetTogglePropertyIcon"></fa-icon>
      {{ unsetTogglePropertyLabel }}
    </ng-container>

    <ng-container *ngIf="context.toggleProperty === null">
      <fa-icon [icon]="setTogglePropertyIcon"></fa-icon>
      {{ setTogglePropertyLabel }}
    </ng-container>
  </button>
</ng-container>
