:host {
  display: flex;

  button {
    &[disabled] {
      cursor: not-allowed;
      pointer-events: auto;
      color: var(--lightGrey) !important;
    }
  }

  .btn.toggled .ng-fa-icon {
    opacity: .5;
  }
}
