<button
  (click)="onClick($event, toggleProperty)"
  [class.loading]="loading"
  [class.toggled]="toggled"
  [class]="btnClass"
  [disabled]="disabled || loading"
  [ngbTooltip]="
        !isTouchDevice && !showLabel ? (toggleProperty === null ? setTogglePropertyLabel : unsetTogglePropertyLabel) : ''
      "
  [attr.aria-label]="
        !showLabel ? (toggleProperty === null ? setTogglePropertyLabel : unsetTogglePropertyLabel) : null
      "
  container="body"
>
  <ng-container *ngIf="toggled">
    <fa-icon
      *ngIf="showIcon"
      [animation]="loading ? 'spin' : null"
      [icon]="loading ? 'spinner' : togglePropertyIcon"
    ></fa-icon>
    <span *ngIf="showLabel" class="btn-text">{{ unsetTogglePropertyLabel }}</span>
    <span *ngIf="count !== undefined" class="count">{{ count  | numberSuffix }}</span>
  </ng-container>

  <ng-container *ngIf="!toggled">
    <fa-icon
      *ngIf="showIcon"
      [animation]="loading ? 'spin' : null"
      [icon]="loading ? 'spinner' : togglePropertyIcon"
    ></fa-icon>
    <span *ngIf="showLabel" class="btn-text">{{ setTogglePropertyLabel }}</span>
    <span *ngIf="count !== undefined" class="count">{{ count | numberSuffix }}</span>
  </ng-container>
</button>
