<ng-wizard #wizard (stepChanged)="onStepChanged($event)">
  <ng-wizard-step
    #wizardSteps
    *ngFor="let step of field?.fieldGroup; let index = index; let last = last"
    [class.visited]="highestVisitedStep > index"
    [class.error]="isStepErrored(index)"
    [description]="step.templateOptions.label"
    [state]="getState(step)"
    [title]="getStepTitle(index)"
    class="wizard-step"
  >
    <formly-field [field]="step"></formly-field>

    <div class="form-actions">
      <button (click)="goToPreviousStep($event)" *ngIf="!isFirstStep(index)" class="btn btn-secondary">
        {{ "Previous" | translate }}
      </button>

      <button (click)="goToNextStep($event)" *ngIf="!isLastStep(index)" class="btn btn-secondary">
        {{ "Next" | translate }}
      </button>

      <button (click)="onSave($event)" *ngIf="isLastStep(index)" class="btn btn-primary">
        {{ "Save" | translate }}
      </button>
    </div>
  </ng-wizard-step>
</ng-wizard>
