<ng-wizard #wizard (stepChanged)="onStepChanged($event)" [attr.id]="field.id" [config]="{ selected: currentStepIndex }">
  <ng-wizard-step
    #wizardSteps
    *ngFor="let step of field?.fieldGroup; let index = index; let last = last"
    [attr.id]="step.id"
    [class.error]="isStepErrored(index)"
    [class.visited]="highestVisitedStep > index"
    [description]="step.templateOptions.label"
    [state]="getState(step)"
    [title]="getStepTitle(index)"
    [canExit]="!isStepErrored(index)"
    class="wizard-step"
  >
    <formly-field [field]="step"></formly-field>

    <div *ngIf="!!step.templateOptions.stepActionsTemplate" class="step-actions text-right">
      <ng-container [ngTemplateOutlet]="step.templateOptions.stepActionsTemplate"></ng-container>
    </div>

    <div class="form-actions" [class.fixed]="field.templateOptions?.fixed">
      <div class="form-actions-container">
        <button (click)="goToPreviousStep($event, index)" *ngIf="!isFirstStep(index)" class="btn btn-secondary">
          {{ "Previous" | translate }}
        </button>

        <button (click)="goToNextStep($event, index)" *ngIf="!isLastStep(index)" class="btn btn-primary">
          {{ "Next" | translate }}
        </button>

        <ng-container *ngIf="to.buttonsTemplate" [ngTemplateOutletContext]="{
        isLastStep: isLastStep(index)
      }" [ngTemplateOutlet]="to.buttonsTemplate"></ng-container>
      </div>
    </div>

  </ng-wizard-step>
</ng-wizard>
