.map-container {
  min-height: 348px;
}

.map {
  height: 300px;
}

.map-container {
  position: relative;

  astrobin-loading-indicator {
    position: absolute;
    top: 50%;
    height: auto;
  }

  .form-text {
    margin-top: -.5rem;
  }
}

.shipping-options {
  th {
    font-weight: normal;
  }

  td {
    font-weight: bold;
  }

  .true {
    color: var(--successColor);
  }

  .false {
    color: var(--dangerColor);
  }
}

.expiration {
  .expiration-value {
    color: var(--lighterGrey);
    font-style: italic;
  }

  astrobin-private-information {
    color: var(--lightGrey);
    font-size: .8rem;
    vertical-align: super;
  }
}
