@import "../../../../styles/mixins.scss";

:host {
  width: 100%;
  display: block;
  container-type: inline-size;
}

.static-overlay {
  position: absolute;
  bottom: .25rem;
  left: .75rem;
  color: var(--white);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  font-weight: bold;
  font-size: .85rem;
  transition: opacity .25s ease-in-out;
  white-space: nowrap;

  .ng-fa-icon {
    width: 1em;
    display: inline-block;
    margin-right: .25em;
  }
}

.hover {
  opacity: 0;
  position: absolute;
  bottom: 0;
  padding: .75rem;
  width: 100%;
  min-height: fit-content;
  max-height: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(0, 0, 0, .75);
  transition: opacity .25s ease-in-out;
  border-bottom-left-radius: .75rem;
  border-bottom-right-radius: .75rem;
  z-index: 2;
  font-size: .75rem;  // Base font size
  pointer-events: none;

  .title {
    color: var(--lightestGrey);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;  // Same as parent
    /* Firefox */
    display: -moz-box;
    -moz-box-orient: vertical;
    word-break: break-word;
    hyphens: auto;
  }

  .author {
    color: var(--lighterGrey);
    font-size: .9em;  // Slightly smaller than parent
  }

  .title,
  .author {
    > ::ng-deep .highlight {
      @include highlight;
      display: inline-block;
    }
  }

  .published,
  .uploaded {
    color: var(--lighterGrey);
    font-size: .85em;  // Slightly smaller than parent
  }

  .counters {
    gap: .25rem;

    .counter {
      color: var(--lighterGrey);
      white-space: nowrap;
      font-size: .8em;
      line-height: 1rem;

      .ng-fa-icon {
        width: 1em;  // Changed to em
        display: inline-block;
        text-align: center;
        margin-right: .35em;  // Changed to em
      }

      > .value {
        color: var(--white);
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      pointer-events: auto;
      opacity: 1;
    }
  }

  @container (max-width: 200px) {
    font-size: .7rem;

    .counters {
      gap: .1rem;
    }
  }

  @container (max-width: 150px) {
    font-size: .6rem;

    .counters {
      gap: .05rem;
    }
  }

  @container (max-width: 100px) {
    font-size: .5rem;

    .counters {
      gap: 0;
    }
  }
}
