<div [class.loading]="loadingService.loading$ | async" class="global-loading-indicator"
     xmlns="http://www.w3.org/1999/html">
  <div class="background"></div>
</div>

<nav
  [class.active]="!menubarIsCollapsed"
  class="navbar navbar-expand-lg navbar-dark fixed-top"
>
  <div class="container justify-content-lg-start">
    <div [class.active]="!menubarIsCollapsed" class="main-navigation order-0 order-lg-1">
      <ng-container [ngTemplateOutlet]="menubarTemplate"></ng-container>
    </div>

    <div class="order-1 order-lg-0">
      <ng-container [ngTemplateOutlet]="astrobinLogoTemplate"></ng-container>
    </div>

    <ul [class.active]="!userMenubarIsCollapsed"
        class="nav user-navigation order-2 d-flex d-lg-none align-items-center">
      <ng-container [ngTemplateOutlet]="userMenubarTemplate"></ng-container>
    </ul>
  </div>
</nav>

<ng-template #astrobinLogoTemplate>
  <a [href]="classicRoutesService.HOME" class="navbar-brand p-0 d-inline-block mr-lg-3">
    <img alt="AstroBin" class="d-none d-lg-block" src="assets/images/nav-logo.png?v=3" />
    <span class="d-inline-block d-lg-none">AstroBin</span>
  </a>
</ng-template>

<ng-template #quickSearchTemplate>
  <!-- Quick search form -->
  <form [action]="classicRoutesService.SEARCH" class="flex-grow-1 px-0 px-lg-4 order-0 order-lg-1" method="get"
        ngNoForm>
    <label class="w-100 mb-0">
      <input
        autocomplete="off"
        class="form-control"
        name="q"
        placeholder="{{ 'Quick search' | translate }}"
        type="text"
      />
    </label>
    <input name="d" type="hidden" value="i" />
  </form>
  <!-- ./Quick search form -->
</ng-template>

<ng-template #menubarTemplate>
  <button
    (click)="openSidebarMenu()"
    [attr.aria-expanded]="!menubarIsCollapsed"
    aria-controls="navbarSupportedContent"
    aria-label="Toggle navigation"
    class="navbar-toggler"
    data-target="#navbarSupportedContent"
    data-toggle="collapse"
    type="button"
  >
    <fa-icon icon="bars"></fa-icon>
  </button>

  <div (click)="closeSidebarMenu()" class="overlay d-flex d-lg-none"></div>
  <ng-container [ngTemplateOutlet]="sidebarTemplate"></ng-container>
</ng-template>

<ng-template #userMenubarTemplate>
  <ng-container *ngIf="!!user; else loginAndRegisterTemplate">
    <li class="nav-item notifications-list-item d-block d-lg-none">
      <ng-container [ngTemplateOutlet]="notificationsButtonTemplate"></ng-container>
    </li>


    <li class="nav-item">
      <a
        (click)="openUserSidebarMenu()"
        [attr.aria-expanded]="!userMenubarIsCollapsed"
        aria-controls="userNavbarSupportedContent"
        aria-label="Toggle navigation"
        class="d-lg-block ms-lg-2"
        data-target="#userNavbarSupportedContent"
        data-toggle="collapse"
      >
        <astrobin-avatar
          [link]="false"
          [user]="user"
        ></astrobin-avatar>
      </a>
    </li>

    <div (click)="closeUserSidebarMenu()" class="overlay d-flex d-xl-none"></div>
    <ng-container [ngTemplateOutlet]="userSidebarTemplate"></ng-container>
  </ng-container>
</ng-template>

<ng-template #languageSelectorTemplate>
  <!-- Language selector -->
  <li class="nav-item">
    <div ngbDropdown>
      <button class="btn btn-link no-triangle d-none d-lg-block" id="languageDropdown" ngbDropdownToggle>
        {{ currentLanguageCodeDisplay }}
      </button>
      <button class="btn btn-link d-lg-none" id="languageDropdownMobile" ngbDropdownToggle>
        {{ "Language" | translate }}
      </button>
      <div aria-labelledby="languageDropdown" ngbDropdownMenu>
        <ng-container *ngFor="let language of languages">
          <a *ngIf="language.code !== '-'" [href]="getSetLanguageUrl(language.code)" class="dropdown-item">
            {{ language.label }}
          </a>
          <div *ngIf="language.code === '-'" class="dropdown-divider"></div>
        </ng-container>

        <div class="dropdown-divider"></div>

        <a [attr.href]="helpWithTranslationsUrl" class="dropdown-item" target="_blank">
          <fa-icon icon="tasks"></fa-icon>
          {{ "Help with translations!" | translate }}
        </a>
      </div>
    </div>
  </li>
  <!-- ./Language selector -->
</ng-template>

<ng-template #notificationsButtonTemplate>
  <!-- Notifications -->
  <a class="btn btn-link nav-link position-relative" routerLink="/notifications">
    <fa-icon icon="bell"></fa-icon>
    <ng-container *ngIf="notificationsService.unreadCount$ | async as unreadCount">
      <span class="badge bg-danger badge-pill rounded-pill">
        {{ unreadCount }}
      </span>
    </ng-container>
  </a>
  <!-- ./Notifications -->
</ng-template>

<ng-template #userMenuTemplate>
  <!-- User menu -->
  <li *ngIf="user && userProfile" class="nav-item d-none d-lg-inline">
    <div class="btn-group user-dropdown-toggle" ngbDropdown>
      <button class="btn btn-primary d-none d-xl-inline-block">
        <astrobin-username [user]="user"></astrobin-username>
        <ng-container [ngTemplateOutlet]="astrobinIndexTemplate"></ng-container>
      </button>

      <button class="btn btn-primary mt-2 d-none d-xl-inline-block" id="user-dropdown" ngbDropdownToggle>
      </button>

      <ul [class.active]="!userMenubarIsCollapsed" class="nav user-navigation d-block d-xl-none">
        <ng-container [ngTemplateOutlet]="userMenubarTemplate"></ng-container>
      </ul>

      <span aria-labelledby="user-dropdown" ngbDropdownMenu>
        <a class="dropdown-item" routerLink="/subscriptions/options">
          <fa-icon icon="asterisk"></fa-icon>
          {{ "Subscription plans" | translate }}
        </a>

        <a class="dropdown-item" routerLink="/uploader">
          <fa-icon icon="upload"></fa-icon>
          {{ "Upload" | translate }}
        </a>

        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">{{ "My places" | translate }}</h6>

        <a
          *ngIf="user | isProducer"
          [href]="classicRoutesService.COMMERCIAL_PRODUCTS(user)"
          class="dropdown-item"
        >
          <fa-icon icon="barcode"></fa-icon>
          {{ "Commercial products" | translate }}
        </a>

        <a [href]="classicRoutesService.GALLERY(user)" class="dropdown-item">
          <fa-icon icon="image"></fa-icon>
          {{ "Public Gallery" | translate }}
        </a>

        <a [href]="classicRoutesService.STAGING_GALLERY(user)" class="dropdown-item">
          <fa-icon icon="lock"></fa-icon>
          {{ "Staging Area" | translate }}
        </a>

        <a [href]="classicRoutesService.BOOKMARKS(user)" class="dropdown-item">
          <fa-icon icon="bookmark"></fa-icon>
          {{ "Bookmarks" | translate }}
        </a>

        <div class="dropdown-divider"></div>

        <a [href]="classicRoutesService.INBOX" class="dropdown-item">
          <fa-icon icon="inbox"></fa-icon>
          {{ "My messages" | translate }}
        </a>

        <a [href]="classicRoutesService.API_KEYS(user)" class="dropdown-item">
          <fa-icon icon="key"></fa-icon>
          {{ "API Keys" | translate }}
        </a>

        <a [href]="classicRoutesService.SETTINGS" class="dropdown-item">
          <fa-icon icon="edit"></fa-icon>
          {{ "My settings" | translate }}
        </a>

        <a (click)="toggleHighContrastTheme($event)" class="dropdown-item">
          <fa-icon icon="adjust"></fa-icon>

          <ng-container *ngIf="!useHighContrastTheme(); else highContrastThemeEnabled">
            {{ "Enable high contrast theme" | translate }}
          </ng-container>
        </a>

        <div class="dropdown-divider"></div>

        <a (click)="logout($event)" class="dropdown-item" href="">
          <fa-icon icon="sign-out-alt"></fa-icon>
          {{ "Logout" | translate }}
        </a>
      </span>
    </div>
  </li>
  <!-- ./User menu -->
</ng-template>

<ng-template #uploadButtonTemplate>
  <!-- Upload button -->
  <li class="nav-item d-none d-lg-inline">
    <a class="btn btn-link nav-link d-inline-block ms-2 pe-0" routerLink="/uploader">
      <fa-icon icon="upload"></fa-icon>
    </a>
  </li>
  <!-- ./Upload button -->
</ng-template>

<ng-template #loginAndRegisterTemplate>
  <li class="nav-item">
    <a [href]="authService.getLoginUrl()" class="nav-link">{{ "Log in" | translate }}</a>
  </li>
  <li class="nav-item">
    <a [href]="classicRoutesService.REGISTER" class="nav-link">{{ "Register" | translate }}</a>
  </li>
</ng-template>


<ng-template #indexesPopoverContentTemplate>
  <ng-container *ngIf="userProfile">
    <h4>{{ "Image Index" | translate }}: {{ userProfile.astroBinIndex | number: "1.2-2" }}</h4>
    <div [innerHTML]="imageIndexPopoverInfo"></div>

    <hr />

    <h4>{{ "Contribution Index" | translate }} (beta): {{ userProfile.contributionIndex | number: "1.2-2" }}</h4>
    <div [innerHTML]="contributionIndexPopoverInfo"></div>
  </ng-container>
</ng-template>

<ng-template #sidebarTemplate>
  <div
    #sidebar
    class="
            order-lg-2
            w-100
            d-flex
            flex-row
            flex-wrap
            flex-lg-nowrap
            align-items-center
            align-content-between
            sidebar
            p-3
            p-lg-0
          "
  >

    <ul
      class="navbar-nav mr-lg-auto mb-0 order-1 order-lg-0 justify-content-center"
    >
      <!-- Moderate menu -->
      <li *ngIf="user | isContentModerator" class="nav-item">
        <div ngbDropdown>
          <button class="btn btn-link" id="moderateDropdown" ngbDropdownToggle translate>
            Moderate
          </button>
          <div aria-labelledby="moderateDropdown" ngbDropdownMenu>
            <h6 class="dropdown-header" translate>Images</h6>

            <a *ngIf="user | isImageModerator" [href]="classicRoutesService.MODERATE_IMAGE_QUEUE" class="dropdown-item">
              <fa-icon icon="images"></fa-icon>
              {{ "Image queue" | translate }}
            </a>

            <a
              *ngIf="(user | isImageModerator) && (user | isSuperUser)"
              [href]="classicRoutesService.MODERATE_SPAM_QUEUE"
              class="dropdown-item"
            >
              <fa-icon icon="flag"></fa-icon>
              {{ "Spam list" | translate }}
            </a>

            <ng-container *ngIf="user | isIotdStaff">
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header" translate>Image of the day</h6>

              <a

                *ngIf="user | isIotdSubmitter"
                class="dropdown-item"
                routerLink="/iotd/submission-queue"
              >
                <fa-icon icon="upload"></fa-icon>
                {{ "Submission queue" | translate }}
              </a>

              <a

                *ngIf="user | isIotdReviewer"
                class="dropdown-item"
                routerLink="/iotd/review-queue"
              >
                <fa-icon icon="star"></fa-icon>
                {{ "Review queue" | translate }}
              </a>

              <a

                *ngIf="user | isIotdJudge"
                class="dropdown-item"
                routerLink="/iotd/judgement-queue"
              >
                <fa-icon icon="hammer"></fa-icon>
                {{ "Judgement queue" | translate }}
              </a>
            </ng-container>

            <ng-container *ngIf="user | isEquipmentModerator">
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">
                Equipment
              </h6>

              <a class="dropdown-item" routerLink="/equipment/migration-tool">
                <fa-icon icon="arrow-right"></fa-icon>
                Migration tool
              </a>
            </ng-container>
          </div>
        </div>
      </li>
      <!-- ./Moderate menu -->

      <!-- Forum menu -->
      <li class="nav-item">
        <div ngbDropdown>
          <button class="btn btn-link" id="forumDropdown" ngbDropdownToggle translate>
            Forum
          </button>
          <div aria-labelledby="forumDropdown" ngbDropdownMenu>
            <a [href]="classicRoutesService.FORUM_HOME" class="dropdown-item">
              <fa-icon icon="comments"></fa-icon>
              {{ "Home" | translate }}
            </a>

            <a [href]="classicRoutesService.FORUM_LATEST" class="dropdown-item">
              <fa-icon icon="sort-amount-down"></fa-icon>
              {{ "Latest topics" | translate }}
            </a>

            <a [href]="classicRoutesService.FORUM_SUBSCRIBED" class="dropdown-item">
              <fa-icon icon="eye"></fa-icon>
              {{ "Subscribed topics" | translate }}
            </a>
          </div>
        </div>
      </li>
      <!-- ./Forum menu -->

      <!-- Marketplace menu -->
      <li class="nav-item">
        <div ngbDropdown>
          <button class="btn btn-link" id="marketplaceDropdown" ngbDropdownToggle translate>
            Marketplace
          </button>
          <div aria-labelledby="marketplaceDropdown" ngbDropdownMenu>
            <a
              [routerLink]="['equipment', 'marketplace']"
              class="dropdown-item"
            >
              <fa-icon icon="shopping-cart"></fa-icon>
              {{ "Browse Marketplace" | translate }}
            </a>

            <div class="dropdown-divider"></div>

            <h6 class="dropdown-header">
              <fa-icon icon="plus"></fa-icon> &nbsp;
              {{ "Post listing" | translate }}
            </h6>

            <a
              [routerLink]="['equipment', 'marketplace', 'create']"
              class="dropdown-item"
            >
              <fa-icon icon="money-bill"></fa-icon>
              {{ "Sell" | translate }}
            </a>

            <a
              [queryParams]="{ wanted: true }"
              [routerLink]="['equipment', 'marketplace', 'create']"
              class="dropdown-item"
            >
              <fa-icon icon="search"></fa-icon>
              {{ "Seek" | translate }}
            </a>
          </div>
        </div>
      </li>
      <!-- ./Marketplace menu -->

      <!-- Explore menu -->
      <li class="nav-item">
        <div ngbDropdown>
          <button class="btn btn-link" id="exploreDropdown" ngbDropdownToggle translate>
            Explore
          </button>
          <div aria-labelledby="exploreDropdown" ngbDropdownMenu>
            <a [href]="classicRoutesService.SEARCH + '?d=i'" class="dropdown-item">
              <fa-icon icon="search"></fa-icon>
              {{ "Advanced search" | translate }}
            </a>

            <a
              [routerLink]="['equipment', 'explorer']"
              class="dropdown-item"
            >
              <fa-icon icon="camera-retro"></fa-icon>
              {{ "Equipment" | translate }}
            </a>

            <a [routerLink]="['explore', 'constellations']" class="dropdown-item">
              <fa-icon icon="star"></fa-icon>
              {{ "Constellations" | translate }}
            </a>

            <div class="dropdown-divider"></div>

            <a [href]="classicRoutesService.TOP_PICK_NOMINATIONS" class="dropdown-item">
              <fa-icon icon="arrow-up"></fa-icon>
              {{ "Top pick nominations" | translate }}
            </a>

            <a [href]="classicRoutesService.TOP_PICKS" class="dropdown-item">
              <fa-icon icon="star"></fa-icon>
              {{ "Top picks" | translate }}
            </a>

            <a [href]="classicRoutesService.IOTD" class="dropdown-item">
              <fa-icon icon="trophy"></fa-icon>
              {{ "Image of the day" | translate }}
            </a>

            <div class="dropdown-divider"></div>

            <a [href]="classicRoutesService.GROUPS" class="dropdown-item">
              <fa-icon icon="users"></fa-icon>
              {{ "Groups" | translate }}
            </a>

            <a [href]="classicRoutesService.REMOTE_ASTROPHOTOGRAPHY" class="dropdown-item">
              <fa-icon icon="laptop"></fa-icon>
              {{ "Remote astrophotography" | translate }}
            </a>

            <div class="dropdown-divider"></div>

            <a [href]="classicRoutesService.ASTROPHOTOGRAPHERS_LIST" class="dropdown-item">
              <fa-icon icon="star"></fa-icon>
              {{ "Astrophotographers list" | translate }}
            </a>

            <a [href]="classicRoutesService.CONTRIBUTORS_LIST" class="dropdown-item">
              <fa-icon icon="file-alt"></fa-icon>
              {{ "Contributors list" | translate }} <em>(beta)</em>
            </a>
          </div>
        </div>
      </li>
      <!-- ./Explore menu -->

      <!-- Help menu -->
      <li class="nav-item">
        <div ngbDropdown>
          <button class="btn btn-link" id="helpDropdown" ngbDropdownToggle translate>
            Help
          </button>
          <div aria-labelledby="helpDropdown" ngbDropdownMenu>
            <a [href]="classicRoutesService.ABOUT" class="dropdown-item">
              <fa-icon icon="info"></fa-icon>
              {{ "What is this site?" | translate }}
            </a>

            <div class="dropdown-divider"></div>

            <a [href]="classicRoutesService.FAQ" class="dropdown-item">
              <fa-icon icon="question"></fa-icon>
              {{ "FAQ" | translate }}
            </a>

            <div class="dropdown-divider"></div>

            <a [href]="classicRoutesService.HELP_API" class="dropdown-item">
              <fa-icon icon="key"></fa-icon>
              API
            </a>

            <a [href]="classicRoutesService.SPONSORS" class="dropdown-item">
              <fa-icon icon="users"></fa-icon>
              {{ "Sponsors & Partners" | translate }}
            </a>

            <a [href]="classicRoutesService.CONTACT" class="dropdown-item">
              <fa-icon icon="envelope"></fa-icon>
              {{ "Contact" | translate }}
            </a>
          </div>
        </div>
      </li>
      <!-- ./Help menu -->
    </ul>

    <ng-container [ngTemplateOutlet]="quickSearchTemplate"></ng-container>

    <ul class="navbar-nav mr-lg-auto mb-0 order-2">
      <ng-container [ngTemplateOutlet]="languageSelectorTemplate"></ng-container>

      <ng-container *ngIf="user; else loginAndRegisterTemplate">
        <li class="nav-item notifications-list-item d-none d-lg-block">
          <ng-container [ngTemplateOutlet]="notificationsButtonTemplate"></ng-container>
        </li>
        <ng-container [ngTemplateOutlet]="userMenuTemplate"></ng-container>
        <ng-container [ngTemplateOutlet]="uploadButtonTemplate"></ng-container>
      </ng-container>
    </ul>
  </div>
</ng-template>

<ng-template #userSidebarTemplate>
  <div
    #userSidebar
    class="
            order-lg-2
            w-100
            user-sidebar
            p-3
            p-lg-0
          "
  >

    <ul
      class="navbar-nav mr-lg-auto mb-0 order-1 order-lg-0 d-flex flex-column justify-content-center p-4 text-center"
    >
      <li class="nav-item mb-3">
        <h5 class="pb-0">{{ user.displayName }}</h5>
        <ng-container [ngTemplateOutlet]="astrobinIndexTemplate"></ng-container>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/subscriptions/options">
          {{ "Subscription plans" | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/uploader">
          {{ "Upload" | translate }}
        </a>
      </li>

      <li class="nav-item divider"></li>

      <li class="nav-item">
        <a
          *ngIf="user | isProducer"
          [href]="classicRoutesService.COMMERCIAL_PRODUCTS(user)"
          class="nav-link"
        >
          {{ "Commercial products" | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a [href]="classicRoutesService.GALLERY(user)" class="nav-link">
          {{ "Public Gallery" | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a [href]="classicRoutesService.STAGING_GALLERY(user)" class="nav-link">
          {{ "Staging Area" | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a [href]="classicRoutesService.BOOKMARKS(user)" class="nav-link">
          {{ "Bookmarks" | translate }}
        </a>
      </li>

      <li class="nav-item divider"></li>

      <li class="nav-item">
        <a [href]="classicRoutesService.INBOX" class="nav-link">
          {{ "My messages" | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a [href]="classicRoutesService.API_KEYS(user)" class="nav-link">
          {{ "API Keys" | translate }}
        </a>
      </li>

      <li class="nav-item divider"></li>

      <li class="nav-item">
        <a [href]="classicRoutesService.SETTINGS" class="nav-link">
          {{ "My settings" | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a (click)="toggleHighContrastTheme($event)" class="nav-link">
          <ng-container *ngIf="!useHighContrastTheme(); else highContrastThemeEnabled">
            {{ "Enable high contrast theme" | translate }}
          </ng-container>
        </a>
      </li>

      <li class="nav-item">
        <a (click)="logout($event)" class="nav-link" href="">
          {{ "Logout" | translate }}
        </a>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #astrobinIndexTemplate>
  <span
    *ngIf="!userProfile?.excludeFromCompetition"
    [ngbPopover]="indexesPopoverContentTemplate"
    class="indexes"
    triggers="mouseenter:click"
  >
    <span class="image-index index">
      {{ userProfile?.astroBinIndex | number: "1.2-2" }}
      &middot;
    </span>
    <span class="contribution-index index">
      {{ userProfile?.contributionIndex | number: "1.2-2" }}
    </span>
  </span>
</ng-template>

<ng-template #highContrastThemeEnabled>
  {{ "Disable high contrast theme" | translate }}
</ng-template>
