@import "../../../styles/mixins";
@import "../../../styles/breakpoints";

.global-loading-indicator {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 9999;

  .background {
    background-color: var(--secondaryAccentColor);
    height: .3rem;
    width: 100%;
  }

  &.loading {
    padding: .15rem 0;

    .background {
      position: absolute;
      left: -46px;
      right: 0;
      top: 0;
      bottom: 0;
      height: .5rem;
      width: calc(100% + 46px);
      z-index: -1;

      background: repeating-linear-gradient(
          -55deg,
          var(--lighterSecondaryAccentColor) 1px,
          var(--secondaryAccentColor) 2px,
          var(--secondaryAccentColor) 11px,
          var(--lighterSecondaryAccentColor) 12px,
          var(--lighterSecondaryAccentColor) 20px
      );

      animation-name: move-striped-loading-indicator;
      animation-duration: .5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
}

.navbar {
  @include darkest-background-texture;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.75);
  font-size: 0.9rem;
  top: .3rem;

  @media (max-width: $md-min) {
    text-align: center;
  }

  .mobile-search {
    @media screen and (max-width: 340px) {
      display: none;
    }
  }

  .search-link {
    @media screen and (min-width: 340.1px) {
      display: none;
    }

    @media screen and (max-width: 340px) {
      display: inline-block;
    }
  }
}

.navbar-toggler {
  color: var(--white);
}

.nav-item {
  .dropdown-toggle:not(.user-dropdown-toggle) {
    margin: 0;
    padding: 1rem 0.5rem;

    &:hover {
      text-decoration: none;
    }

    &[aria-expanded="true"] {
      background: var(--darkerGrey);
    }
  }

  .user-dropdown-toggle {
    margin: 0.75rem 0.5rem;

    astrobin-username {
      margin-right: .25rem;

      ::ng-deep {
        a {
          color: var(--textOnAccentColor);

          &:hover {
            color: var(--lighterAccentColor);
            text-decoration: none;
          }
        }
      }
    }

    .indexes {
      font-size: 66%;
      color: var(--textOnAccentColor);
      font-weight: 700;
      padding-left: 4px;
      vertical-align: middle;

      .index {
        border-bottom: 1px dotted var(--textOnAccentColor);
      }
    }

    @media screen and (max-width: 991px) {
      margin-top: 2rem;
      margin-bottom: 1rem;
      margin-left: 0;
      background: none;
      border: 0;
      color: var(--accentColor);

      .indexes {
        color: var(--darkerAccentColor);

        .index {
          border-bottom-color: var(--darkerAccentColor);
        }
      }
    }
  }

  &.btn {
    margin-top: -4px;
  }

  &.quick-search {
    padding: 0.5rem;
    width: 100%;

    label {
      margin: 0;
      width: 100%;
    }
  }

  .nav-link {
    color: var(--accentColor);
    display: inline-block;
    margin: 0;
    padding: 1rem 0.5rem;
  }

  .no-triangle::after {
    border: none;
  }

  .btn-link {
    border: 0;
  }
}

.show > .dropdown-menu {
  opacity: 1;
  z-index: 1021;
}

.dropdown-menu {
  opacity: 0;
  z-index: -1000;
  transition: opacity 0.1s ease-in-out;
}

.dropdown-toggle {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 3px;

  &::after {
    margin-left: 0.5rem;
    vertical-align: 0.085rem;
  }
}

.notifications-list-item {
  position: relative;

  .badge {
    padding: 2px 4px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.66);

    @media screen and (min-width: $lg-min) {
      z-index: 1;
      position: absolute;
      top: 10px;
      left: 15px;
    }
  }
}

