@import "../../../../styles/breakpoints";

.retailers,
.marketplace-listings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: .5rem;

  .list {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;

    .link {
      border-bottom: none;

      &::after {
        content: "";
      }

      .image {
        height: 2.5rem;
        width: 2.5rem;
        object-fit: cover;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
        border-radius: .5rem;
        transition: filter .25s ease-in-out;
      }

      &:hover {
        .image {
          filter: brightness(1.25);
        }
      }
    }
  }
}

.results-count {
  font-size: .9rem;
  color: var(--lighterGrey);
  margin-bottom: .5rem;
  padding-left: .25rem;
}

.image-container {
  astrobin-loading-indicator {
    background: rgba(0, 0, 0, .5);
    border-radius: .75rem;
  }
}
