@import "../../../../styles/breakpoints";


.search-results {
  $gap: .5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $gap;

  > a {
    display: block;
    width: calc(100% / 10 - #{$gap});

    @media (max-width: $lg-max) {
      width: calc(100% / 9 - #{$gap});
    }

    @media (max-width: $md-max) {
      width: calc(100% / 8 - #{$gap});
    }

    @media (max-width: $sm-max) {
      width: calc(100% / 6 - #{$gap});
    }

    @media (max-width: $xs-max) {
      width: calc(100% / 5 - #{$gap});
    }

    @media (max-width: $xxs-max) {
      width: calc(100% / 4 - #{$gap});
    }

    &:hover {
      > img {
        transform: scale(1.1);
      }
    }

    > img {
      width: 100%;
      transition: all .1s ease-in-out;
    }
  }

  .loading {
    width: 100%;
    margin: 2rem 0;
  }
}
