<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    {{ header }}

    <div class="buttons d-flex align-items-center">
      <div
        *ngIf="
          showUsageButton && (
            itemType === EquipmentItemType.TELESCOPE ||
            itemType === EquipmentItemType.CAMERA ||
            itemType === EquipmentItemType.SENSOR
          )
        "
        class="usage-menu me-2 mb-0"
        ngbDropdown
      >
        <button class="btn btn-outline-secondary mb-0" id="usage-menu" ngbDropdownToggle type="button">
          {{ "Usage" | translate }}
        </button>

        <div aria-labelledby="sort-search-results" ngbDropdownMenu>
          <button (click)="setUsageType(null)" ngbDropdownItem>
            <fa-icon *ngIf="!usageType; else notSelected" icon="check"></fa-icon>
            {{ "Any" | translate }}
          </button>

          <button (click)="setUsageType(EquipmentItemUsageType.IMAGING)" ngbDropdownItem>
            <fa-icon *ngIf="usageType === EquipmentItemUsageType.IMAGING; else notSelected" icon="check"></fa-icon>
            {{ "Imaging" | translate }}
          </button>

          <button (click)="setUsageType(EquipmentItemUsageType.GUIDING)" ngbDropdownItem>
            <fa-icon *ngIf="usageType === EquipmentItemUsageType.GUIDING; else notSelected" icon="check"></fa-icon>
            {{ "Guiding" | translate }}
          </button>
        </div>
      </div>

      <div
        *ngIf="showSortButton"
        class="sort-menu me-2 mb-0" ngbDropdown
      >
        <button class="btn btn-outline-secondary mb-0" id="sort-search-results" ngbDropdownToggle type="button">
          {{ "Sort" | translate }}
        </button>

        <div aria-labelledby="sort-search-results" ngbDropdownMenu>
          <button (click)="sortBy('-likes')" ngbDropdownItem>
            <fa-icon *ngIf="ordering === '-likes'; else notSelected" icon="check"></fa-icon>
            {{ "Most liked" | translate }}
          </button>

          <button (click)="sortBy('-published')" ngbDropdownItem>
            <fa-icon *ngIf="ordering === '-published'; else notSelected" icon="check"></fa-icon>
            {{ "Most recent" | translate }}
          </button>
        </div>
      </div>

      <a [href]="searchUrl" class="btn btn-outline-primary float-end">
        {{ "More" | translate }}
      </a>
    </div>
  </div>

  <div class="card-body">
    <div class="search-results">
      <ng-container *ngIf="!initialLoading; else loadingTemplate">
        <ng-container *ngIf="images.length > 0; else noImages">
          <a *ngFor="let image of images" [href]="classicRoutesService.IMAGE(image.hash || image.objectId.toString())">
            <img [alt]="image.title" [src]="image.galleryThumbnail" />
          </a>
        </ng-container>
      </ng-container>

      <div *ngIf="loading && !initialLoading" class="loading">
        <astrobin-loading-indicator></astrobin-loading-indicator>
      </div>
    </div>
  </div>
</div>

<astrobin-scroll-to-top></astrobin-scroll-to-top>

<ng-template #notSelected>
  <span class="not-selected"></span>
</ng-template>

<ng-template #noImages>
  <astrobin-nothing-here [withAlert]="false" [withInfoSign]="false"></astrobin-nothing-here>
</ng-template>

<ng-template #loadingTemplate>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>
