<h3 translate>Your payments</h3>

<table *ngIf="payments$ | async as payments" class="table table-striped">
  <thead>
  <tr>
    <th scope="col" translate>Date</th>
    <th scope="col" translate>Subscription</th>
    <th scope="col" translate>Amount</th>
    <th scope="col" translate>Event</th>
    <th scope="col" translate></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="payments.length > 0; else noPayments">
    <tr *ngFor="let payment of payments">
      <th scope="row">{{ payment.timestamp | localDate | timeago:true }}</th>
      <td>{{ payment.subscription_name }}</td>
      <td>{{ payment.amount }}</td>
      <td>"{{ payment.event }}"</td>
      <td>
        <ng-container *ngIf="!!payment.comment && payment.comment.indexOf('http') === 0">
          <a [href]="payment.comment" target="_blank">
            <fa-icon icon="file-invoice"></fa-icon>
          </a>
        </ng-container>
      </td>
    </tr>
  </ng-container>
  <ng-template #noPayments>
    <tr>
      <td class="empty-table" colspan="5">
        <astrobin-empty-list></astrobin-empty-list>
      </td>
    </tr>
  </ng-template>
  </tbody>
</table>
