<h3 translate>Your payments</h3>

<table *ngIf="payments$ | async as payments" class="table table-striped">
  <thead>
  <tr>
    <th scope="col" translate>Date</th>
    <th scope="col" translate>Subscription</th>
    <th scope="col" translate>Event</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="payments.length > 0; else noPayments">
    <tr *ngFor="let payment of payments">
      <th scope="row">{{ payment.timestamp | localDate | timeago:true }}</th>
      <td>{{ payment.subscription_name }}</td>
      <td>"{{ payment.event }}"</td>
    </tr>
  </ng-container>
  <ng-template #noPayments>
    <tr>
      <td class="empty-table" colspan="3">
        <astrobin-empty-list></astrobin-empty-list>
      </td>
    </tr>
  </ng-template>
  </tbody>
</table>
