@import "../../../../styles/variables";

:host {
  .promotion-slots {
    display: flex;
    justify-content: space-between;

    .promotion-slot {
      height: 200px;
      width: 100%;
      line-height: 200px;
      text-align: center;
      background-color: $grey;
      border: 2px dashed $light-grey;
      font-size: 3rem;
      color: $light-grey;

      &:not(:last-child) {
        margin-right: .5rem;
      }

      astrobin-image {
        cursor: pointer;
      }
    }
  }

  .submission-queue-entry {
    &.promoted {
      box-shadow: 0 0 3rem rgba(255,255,255, .5);
    }
  }

  .col-image {
    position: relative;

    astrobin-image {
      height: 320px;

      &.submission-image:not(.loading) {
        cursor: zoom-in;
      }

      &.loading + .hundred_percent {
        display: none;
      }

      &:not(.loading) + .hundred_percent {
        display: block;
        position: absolute;
        font-size: 2rem;
        top: .5rem;
        right: 1.5rem;
        color: $white;
        text-shadow: 1px 1px 3px $black;
        opacity: .3;
      }
    }
  }

  .col-gear {
    p {
      margin: 0;
    }
  }
}
