<h1 class="page d-flex justify-content-between">
  <span class="flex-grow-1">
    {{ "Submission queue" | translate }}
  </span>

  <astrobin-refresh-button (click)="refresh()"></astrobin-refresh-button>
</h1>

<ng-container *ngIf="submissionQueue$ | async as submissionQueue">
  <ng-container *ngIf="submissionQueue?.count > 0; else noEntries">

    <ngb-pagination (pageChange)="pageChange($event)" [(page)]="page" [collectionSize]="submissionQueue.count">
    </ngb-pagination>

    <div *ngFor="let entry of submissionQueue.results" class="row no-gutters page submission-queue-entry">
        <astrobin-fullscreen-image-viewer [id]="entry.pk"></astrobin-fullscreen-image-viewer>

        <div class="col-sm-12 col-md-6 col-image">
          <astrobin-image
            class="submission-image mb-2 mb-md-0 pr-0 pr-md-1"
            [alias]="ImageAlias.STORY"
            [id]="entry.pk"
            (click)="viewFullscreen(entry.pk)">
          </astrobin-image>
        </div>

        <div class="col-sm-12 col-md-6 col-image">
          <astrobin-image
            class="pl-0 pl-md-1"
            [alias]="ImageAlias.REGULAR_CROP_ANONYMIZED"
            [id]="entry.pk">
          </astrobin-image>
          <div class="hundred_percent">100%</div>
        </div>

        <div class="col-12">
          <div class="row align-items-end mt-3">
            <div class="col-12 col-md-6 col-gear">
              <p>
                <strong>{{ "Imaging telescopes" | translate }}:</strong>
                <ng-container *ngIf="entry.imagingTelescopes?.length > 0; else noneSpecified">
                  <astrobin-telescope
                    *ngFor="let telescope of entry.imagingTelescopes"
                    [id]="telescope">
                  </astrobin-telescope>
                </ng-container>
              </p>

              <p>
                <strong>{{ "Imaging cameras" | translate }}:</strong>
                <ng-container *ngIf="entry.imagingCameras?.length > 0; else noneSpecified">
                  <astrobin-camera
                    *ngFor="let camera of entry.imagingCameras"
                    [id]="camera">
                  </astrobin-camera>
                </ng-container>
              </p>

              <p>
                <strong>{{ "Published" | translate }}:</strong>
                {{ entry.published | timeago:true }}
              </p>
            </div>

            <div class="col-12 col-md-6">
              <div class="text-right form-actions mt-0">
                <button class="btn btn-secondary" (click)="viewFullscreen(entry.pk)">
                  <fa-icon icon="search-plus"></fa-icon>
                  {{ "View large" | translate }}
                </button>

                <button class="btn btn-primary">
                  <fa-icon icon="star"></fa-icon>
                  {{ "Promote" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>

    <ngb-pagination (pageChange)="pageChange($event)" [(page)]="page" [collectionSize]="submissionQueue.count">
    </ngb-pagination>

  </ng-container>
</ng-container>

<ng-template #noEntries>
  <p class="page">
    {{ "The submission queue is currently empty." | translate }}&nbsp;{{ "Please come back later!" | translate }}
  </p>
</ng-template>

<ng-template #noneSpecified>
  {{ "None specified" | translate }}
</ng-template>
