.alert {
  position: relative;

  .close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: var(--textOnWarningColor);
  }
}

.required-marker,
.optional-marker {
  display: inline-block;
  margin-left: .25rem;
  font-size: .85rem;
  font-style: italic;
}

.optional-marker {
  color: var(--lightGrey);
}
