<div [class.has-error]="showError" class="form-group {{to.fieldGroupClassName}}">
  <label *ngIf="to.label && to.hideLabel !== true" [attr.for]="id">
    <span [innerHTML]="to.label"></span>
    <span class="required-marker" *ngIf="to.required && !to.hideRequiredMarker">*</span>
    <span class="optional-marker" *ngIf="!to.required && !to.hideOptionalMarker">
      {{ "(optional)" | translate }}
    </span>
  </label>

  <ng-template #fieldComponent></ng-template>

  <div *ngIf="showError" [style.display]="'block'" class="invalid-feedback">
    <formly-validation-message [field]="field"></formly-validation-message>
  </div>

  <ng-container *ngIf="!!field['messages']">
    <ng-container *ngFor="let message of field['messages']">
      <div class="alert alert-{{ message.level.toLowerCase() }} {{ message.level.toLowerCase() }}-feedback">
        <ng-container *ngIf="message.text">
          <span [innerHTML]="message.text"></span>
        </ng-container>

        <ng-container
          *ngIf="message.template"
          [ngTemplateOutlet]="message.template"
          [ngTemplateOutletContext]="{ data: message.data }"
        >
        </ng-container>

        <button *ngIf="message.dismissible" class="close" (click)="closeMessage(message)">&times;</button>
      </div>
    </ng-container>
  </ng-container>

  <small *ngIf="to.description" class="form-text text-muted" [innerHTML]="to.description"></small>
</div>
