.alert {
  position: relative;
  padding-right: 1.75rem;

  .close {
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
  }

  &.alert-warning .close {
    color: var(--textOnWarningColor);
  }

  &.alert-info .close {
    color: var(--textOnInfoColor);
  }
}

.required-marker,
.optional-marker {
  display: inline-block;
  margin-left: 0.25rem;
  font-size: 0.85rem;
  font-style: italic;
}

.required-marker {
  color: var(--lighterGrey);
}

.optional-marker {
  color: var(--lightGrey);
}
