<div [class.has-error]="showError" class="form-group">
  <label *ngIf="to.label && to.hideLabel !== true" [attr.for]="id">
    {{ to.label }}
    <span class="required-marker" *ngIf="to.required && !to.hideRequiredMarker">*</span>
    <span class="optional-marker" *ngIf="!to.required && !to.hideOptionalMarker">
      {{ "(optional)" | translate }}
    </span>
  </label>

  <ng-template #fieldComponent></ng-template>

  <div *ngIf="showError" [style.display]="'block'" class="invalid-feedback">
    <formly-validation-message [field]="field"></formly-validation-message>
  </div>

  <div
    class="alert alert-warning warning-feedback"
    *ngIf="to.warningMessage || (to.warningTemplate && to.warningTemplateData)"
  >
    <ng-container *ngIf="to.warningMessage">
      <span [innerHTML]="to.warningMessage"></span>
    </ng-container>

    <ng-container
      *ngIf="to.warningTemplate"
      [ngTemplateOutlet]="to.warningTemplate"
      [ngTemplateOutletContext]="{ data: to.warningTemplateData }"
    >
    </ng-container>

    <button class="close" (click)="closeWarning()">&times;</button>
  </div>

  <div
    class="alert alert-info info-feedback"
    *ngIf="to.infoMessage || (to.infoTemplate && to.infoTemplateData)"
  >
    <ng-container *ngIf="to.infoMessage">
      <span [innerHTML]="to.infoMessage"></span>
    </ng-container>

    <ng-container
      *ngIf="to.infoTemplate"
      [ngTemplateOutlet]="to.infoTemplate"
      [ngTemplateOutletContext]="{ data: to.infoTemplateData }"
    >
    </ng-container>

    <button class="close" (click)="closeInfo()">&times;</button>
  </div>

  <small *ngIf="to.description" class="form-text text-muted" [innerHTML]="to.description"></small>
</div>
