<div class="row comparison-container">
  <div class="col">
    <div class="d-flex flex-row-reverse align-items-center justify-content-center">
      <div *ngFor="let item of compareService.getAll(); trackBy: equipmentItemService.trackBy" class="comparison-item">
        <div class="d-flex justify-content-center align-items-center flex-column">
          <img class="image" [src]="image(item)" />
          <astrobin-equipment-item-display-name [item]="item"></astrobin-equipment-item-display-name>
          <span class="remove" (click)="compareService.remove(item)">&times;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="buttons d-flex justify-content-center align-items-center flex-column mr-5">
      <button
        class="btn btn-primary btn-block btn-lg mb-2"
        [disabled]="compareService.amount() === 1"
        (click)="compare()"
      >
        {{ "Compare" | translate }}
      </button>

      <button class="btn btn-secondary btn-block btn-lg" (click)="compareService.clear()">
        {{ "Close" | translate }}
      </button>
    </div>
  </div>
</div>
