astrobin-loading-indicator {
  height: auto;
}

.top-level-form,
.add-comment {
  margin-bottom: 2rem;
}

.no-comments {
  font-style: italic;
  color: var(--lighterGrey);
}

.form-actions {
  margin-top: 1rem;
  padding-top: 0;
  text-align: left;

  .btn:not(:last-child) {
    margin-right: .25rem;
  }
}

.btn-close {
  color: var(--lightGrey);
}
