<ng-container *ngIf="currentUserWrapper$ | async as currentUserWrapper">
  <div
    [class.highlighted]="highlighted"
    [ngStyle]="{ 'margin-left': margin }"
    class="nested-comment"
    id="c{{ comment.id }}"
  >
    <div class="avatar">
      <img [src]="avatarUrl" alt="">
    </div>

    <div class="nested-comment-content">
      <div class="meta">
        <a
          *ngIf="!comment.deleted"
          (click)="userService.openGallery(comment.authorUsername, currentUserWrapper.userProfile?.enableNewGalleryExperience)"
          [href]="userGalleryUrl"
          astrobinEventPreventDefault
          class="username"
        >
          {{ comment.authorDisplayName }}
        </a>

        <span *ngIf="comment.deleted" class="username">
          {{ "(deleted)" | translate }}
        </span>

        <span [attr.data-test-value]="comment.created" class="timestamp">
          {{ comment.created | localDate | timeago: true }}
        </span>

        <span
          *ngIf="comment.likes.length === 1"
          [translate]="'1 like'"
          class="likes"
        ></span>

        <span
          *ngIf="comment.likes.length > 1"
          [translateParams]="{ '0': comment.likes.length }"
          [translate]="'{{0}} likes'"
          class="likes"
        ></span>
      </div>

      <div
        *ngIf="!comment.pendingModeration"
        [innerHTML]="html"
        class="text"
      ></div>

      <div *ngIf="comment.pendingModeration" class="text">
        <p class="alert alert-dark alert-mini w-100">
          <fa-icon icon="info-circle"></fa-icon>
          {{ "This comment is pending moderation." | translate }}
        </p>
        <div *ngIf="allowModeration">
          <p [innerHTML]="html" class="text"></p>
          <button
            (click)="onApproveClicked($event)"
            [class.loading]="approving"
            class="btn btn-outline-light btn-xs btn-no-block me-2"
          >
            {{ "Approve" | translate }}
          </button>
          <button
            (click)="onDeleteClicked($event)"
            [class.loading]="loadingService.loading$ | async"
            class="btn btn-outline-danger btn-xs btn-no-block"
          >
            {{ "Delete" | translate }}
          </button>
        </div>
      </div>

      <div class="actions">
        <button
          *ngIf="!comment.pendingModeration && !comment.deleted"
          (click)="onShareClicked($event)"
          class="btn btn-link btn-sm btn-no-block text-muted"
        >
          <fa-icon icon="share"></fa-icon>
          {{ "Share" | translate }}
        </button>

        <button
          (click)="onEditClicked($event)"
          *ngIf="
            !comment.deleted &&
            currentUserWrapper.user?.id === comment.author
          "
          [hidden]="showReplyForm"
          class="btn btn-link btn-sm btn-no-block text-muted"
        >
          <fa-icon icon="edit"></fa-icon>
          {{ "Edit" | translate }}
        </button>

        <button
          (click)="onReplyClicked($event)"
          *ngIf="
            !comment.pendingModeration &&
            !comment.deleted &&
            showReplyButton && (
              (
                currentUserWrapper.user?.id !== comment.author &&
                (
                  !restrictReplyToUserId ||
                  (restrictReplyToUserId && restrictReplyToUserId === comment.author)
                )
              ) ||
              (
                currentUserWrapper.user?.id === comment.author && allowSelfReply
              )
            )
          "
          [hidden]="showReplyForm"
          class="btn btn-primary btn-sm btn-no-block reply"
        >
          <fa-icon icon="reply"></fa-icon>
          {{ "Reply" | translate }}
        </button>

        <astrobin-toggle-property
          *ngIf="
            !comment.pendingModeration &&
            !comment.deleted &&
            commentContentType &&
            currentUserWrapper.user?.id &&
            currentUserWrapper.user.id !== comment.author
          "
          [contentType]="commentContentType.id"
          [objectId]="comment.id"
          [userId]="currentUserWrapper.user?.id"
          [showLabel]="true"
          [toggled]="comment.likes.includes(currentUserWrapper.user?.id)"
          btnClass="btn btn-sm btn-primary"
          class="btn-no-block"
          propertyType="like"
        ></astrobin-toggle-property>
      </div>

      <div *ngIf="showEditForm" class="edit-form">
        <astrobin-read-only-mode
          *ngIf="(readOnlyMode$ | async) === true; else editFormTemplate"
        ></astrobin-read-only-mode>

        <ng-template #editFormTemplate>
          <form [formGroup]="editForm" class="d-block mt-3">
            <formly-form [fields]="editFields" [form]="editForm" [model]="editModel"></formly-form>
          </form>

          <button
            (click)="cancelEdit()"
            [class.loading]="loadingService.loading$ | async"
            class="btn btn-sm btn-outline-secondary mt-3"
          >
            {{ "Cancel" | translate }}
          </button>

          <button
            (click)="submitEdit()"
            [class.loading]="loadingService.loading$ | async"
            [disabled]="!editForm.valid"
            class="btn btn-primary btn-sm ms-sm-2 mt-3"
          >
            {{ "Submit" | translate }}
          </button>
        </ng-template>
      </div>

      <div *ngIf="showReplyForm" class="reply-form">
        <astrobin-read-only-mode
          *ngIf="(readOnlyMode$ | async) === true; else replyFormTemplate"
        ></astrobin-read-only-mode>

        <ng-template #replyFormTemplate>
          <form [formGroup]="replyForm" class="d-block mt-3">
            <formly-form [fields]="replyFields" [form]="replyForm" [model]="replyModel"></formly-form>
          </form>

          <button
            (click)="cancelReply()"
            [class.loading]="loadingService.loading$ | async"
            class="btn btn-sm btn-outline-secondary mt-3"
          >
            {{ "Cancel" | translate }}
          </button>

          <button
            (click)="submitReply()"
            [class.loading]="loadingService.loading$ | async"
            [disabled]="!replyForm.valid"
            class="btn btn-primary btn-sm ms-sm-2 mt-3"
          >
            {{ "Submit" | translate }}
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>
