<div *ngIf="comments$ | async as comments" class="nested-comments card">

  <div class="card-header">
    {{ title }}

    <div class="actions">
      <astrobin-refresh-button (click)="refresh()"></astrobin-refresh-button>
      <button (click)="close.emit()" *ngIf="showCloseButton" class="btn btn-link btn-no-block btn-close ms-2"></button>
    </div>
  </div>

  <div class="card-body">

    <p *ngIf="!!info">
      <fa-icon class="me-2" icon="info-circle"></fa-icon>
      <span [innerHTML]="info"></span>
    </p>

    <ng-container
      *ngIf="showTopLevelForm && topLevelFormPlacement === 'TOP'"
      [ngTemplateOutlet]="topLevelFormTpl"
    ></ng-container>

    <ng-container
      *ngIf="showTopLevelButton && topLevelFormPlacement === 'TOP' && !showTopLevelForm"
      [ngTemplateOutlet]="addCommentButtonTpl"
    ></ng-container>

    <ng-container *ngIf="!loadingComments; else loadingTpl">
      <ng-container
        *ngFor="let comment of comments"
        [ngTemplateOutletContext]="{comment}"
        [ngTemplateOutlet]="commentsTpl"
      ></ng-container>
      <ng-container *ngIf="comments.length === 0" [ngTemplateOutlet]="noCommentsTpl"></ng-container>
    </ng-container>

    <ng-container
      *ngIf="showTopLevelForm && topLevelFormPlacement === 'BOTTOM'"
      [ngTemplateOutlet]="topLevelFormTpl"
    ></ng-container>

    <ng-container
      *ngIf="showTopLevelButton && topLevelFormPlacement === 'BOTTOM' && !showTopLevelForm"
      [ngTemplateOutlet]="addCommentButtonTpl"
    ></ng-container>

  </div> <!-- card-body -->

</div> <!-- card -->

<ng-template #loadingTpl>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>

<ng-template #topLevelFormTpl>
  <div class="top-level-form">
    <astrobin-read-only-mode
      *ngIf="(readOnlyMode$ | async) === true; else formTemplate"
    ></astrobin-read-only-mode>

    <ng-template #formTemplate>
      <form [formGroup]="form">
        <formly-form [fields]="fields" [form]="form" [model]="model"></formly-form>
      </form>

      <div class="form-actions">
        <button
          (click)="cancelTopLevelComment()"
          *ngIf="autoStartTopLevelStrategy === null"
          [class.loading]="loadingService.loading$ | async"
          class="btn btn-sm btn-outline-secondary me-sm-2"
        >
          {{ "Cancel" | translate }}
        </button>

        <button
          (click)="submitTopLevelComment()"
          [class.loading]="loadingService.loading$ | async"
          [disabled]="!form.valid"
          class="btn btn-primary btn-sm"
        >
          {{ "Submit" | translate }}
        </button>

        <button
          (click)="close.emit()"
          *ngIf="showCloseButton"
          class="btn btn-secondary btn-sm ms-md-1"
        >
          {{ "Close" | translate }}
        </button>
      </div>
    </ng-template>
  </div>
</ng-template>

<ng-template #addCommentButtonTpl>
  <button (click)="onAddCommentClicked($event)" class="btn btn-primary add-comment">
    <fa-icon icon="comment"></fa-icon>
    {{ addCommentLabel }}
  </button>
</ng-template>

<ng-template #commentsTpl let-comment="comment">
  <astrobin-nested-comment
    [allowSelfReply]="allowSelfReply"
    [comment]="comment"
    [highlighted]="comment.id === highlightId"
    [restrictReplyToUserId]="restrictReplyToUserId"
    [showReplyButton]="showReplyButton"
  ></astrobin-nested-comment>
</ng-template>

<ng-template #noCommentsTpl>
  <p data-test="no-comments">
    {{ noCommentsLabel }}
  </p>
</ng-template>
