.nested-comment {
  padding: .75rem;
  border-bottom: 1px dashed var(--grey);
  display: flex;
  gap: 1rem;

  &.created {
    animation: bounce .8s ease-out;
  }

  &.highlighted {
    background-color: rgba(255, 255, 255, .15);
  }

  .avatar {
    display: block;
    width: 2.5rem;
    min-width: 2.5rem;
    max-width: 2.5rem;
    height: 2.5rem;
    min-height: 2.5rem;
    max-height: 2.5rem;
    margin-top: .25rem;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .nested-comment-content {
    flex-grow: 1;
  }

  .meta {
    font-size: .9rem;
    margin-bottom: .5rem;

    .dropdown {
      .dropdown-toggle {
        padding: .5rem;
        margin-right: -1rem;
      }

      .dropdown-item {
        font-size: .9rem;
      }
    }
  }

  .text {
    color: var(--lightestGrey);
    ::ng-deep {
      img {
        max-width: 100%;
      }
    }
  }

  .timestamp,
  .likes {
    color: var(--lightGrey);
    margin-left: .5rem;
    font-size: .75rem;
  }


  astrobin-toggle-property {
    display: inline-flex;
    margin-left: .75rem;

    ::ng-deep {
      .btn:not(.toggled) .ng-fa-icon {
        color: var(--lighterGrey);
      }

      .btn.toggled .ng-fa-icon {
        color: var(--accentColor);
        opacity: 1 !important;
      }

      .ng-fa-icon {
        margin-right: 0;
      }

      .count {
        font-size: .7rem;
        margin-left: .25rem !important;
      }
    }
  }

  .actions {
    margin-top: 1rem;
    margin-left: -.25rem; // To counteract the padding of the first button.

    a,
    .btn {
      font-size: .7rem;

      &:not(:first-child) {
        margin-left: .75rem;
      }

      &.btn-link {
        transition: color .3s ease;

        @media (hover: hover) {
          &:hover {
            color: var(--lighterGrey) !important;
          }
        }
      }

      &.translate {
        margin-right: .75rem;
      }

      &.reply {
        margin-left: -.25rem;
      }
    }

    a {
      color: var(--lightGrey);
    }

    .btn {
      padding: .125rem .4rem;

      fa-icon {
        margin-right: .25rem;
      }
    }
  }
}

