<div class="nested-comments card" *ngIf="comments$ | async as comments">

  <div class="card-header">
    {{ "Comments" | translate }}

    <div class="actions">
      <astrobin-refresh-button (click)="refresh()"></astrobin-refresh-button>
    </div>
  </div>

  <div class="card-body">

    <p class="alert alert-info" *ngIf="!!info">
      <fa-icon icon="info-circle"></fa-icon>
      <span [innerHTML]="info"></span>
    </p>

    <ng-container *ngIf="showTopLevelForm" [ngTemplateOutlet]="topLevelFormTpl"></ng-container>

    <ng-container *ngIf="!showTopLevelForm" [ngTemplateOutlet]="addCommentButtonTpl"></ng-container>

    <ng-container *ngIf="!loadingComments; else loadingTpl">
      <ng-container
        *ngFor="let comment of comments"
        [ngTemplateOutlet]="commentsTpl"
        [ngTemplateOutletContext]="{comment}"
      ></ng-container>
      <ng-container *ngIf="comments.length === 0" [ngTemplateOutlet]="noCommentsTpl"></ng-container>
    </ng-container>

  </div>

</div>

<ng-template #loadingTpl>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>

<ng-template #topLevelFormTpl>
  <div class="top-level-form">
    <form [formGroup]="form">
      <formly-form [fields]="fields" [form]="form" [model]="model"></formly-form>
    </form>

    <button class="btn btn-secondary" [class.loading]="loadingService.loading$ | async" (click)="cancelTopLevelComment()">
      {{ "Cancel" | translate }}
    </button>

    <button
      class="btn btn-primary ms-sm-2"
      (click)="submitTopLevelComment()"
      [disabled]="!form.valid"
      [class.loading]="loadingService.loading$ | async"
    >
      {{ "Submit" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #addCommentButtonTpl>
  <button class="btn btn-primary add-comment" (click)="showTopLevelForm = true">
    <fa-icon icon="comment"></fa-icon>
    {{ "Add a comment" | translate }}
  </button>
</ng-template>

<ng-template #commentsTpl let-comment="comment">
  <astrobin-nested-comment [comment]="comment" [highlighted]="comment.id === highlightId"></astrobin-nested-comment>
</ng-template>

<ng-template #noCommentsTpl>
  <p data-test="no-comments">
    {{ "There are no comments yet." | translate }}
  </p>
</ng-template>
