img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.comment-body {
  font-size: .9rem;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--grey);
}

.feed-item-header-text-1 {
  a {
    color: var(--white);
  }
}
