@import '../../../../styles/breakpoints';

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.comment-body {
  font-size: .9rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: .75rem 1.25rem;
  border-left: .25rem solid var(--grey);
  color: var(--lighterGrey);
  background: rgba(0, 0, 0, .2);
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);

  ::ng-deep img {
    max-width: 100%;
  }

  @media (min-width: $md-min) {
    display: none;
  }
}

.feed-item-header-text-1 {
  .item-display-name {
    color: var(--lightestGrey);
  }
}


astrobin-toggle-property ::ng-deep .count {
  color: var(--lightestGrey) !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .35);
}

.ng-fa-icon[icon='comment'],
.ng-fa-icon[icon='comment'] + .count {
  color: var(--lightestGrey) !important;
}
