<div class="page">
  <astrobin-search-bar
    (modelChanged)="updateModel($event)"
    [model]="model"
  ></astrobin-search-bar>

  <astrobin-ad-manager #ad *ngIf="showAd" configName="wide"></astrobin-ad-manager>

  <astrobin-image-search
    *ngIf="model.searchType === SearchType.IMAGE || model.searchType === undefined"
    (imageClicked)="imageClicked()"
    [model]="model"
    [showResultsCount]="true"
    class="d-block mt-3"
  ></astrobin-image-search>

  <astrobin-forum-post-search
    *ngIf="model.searchType === SearchType.FORUM"
    [model]="model"
    class="d-block mt-3"
  ></astrobin-forum-post-search>

  <astrobin-nested-comment-search
    *ngIf="model.searchType === SearchType.COMMENTS"
    [model]="model"
    class="d-block mt-3"
  ></astrobin-nested-comment-search>

  <astrobin-user-search
    *ngIf="model.searchType === SearchType.USERS"
    [model]="model"
    class="d-block mt-3"
  ></astrobin-user-search>

  <astrobin-scroll-to-top></astrobin-scroll-to-top>
</div>
