@import "../../../../styles/breakpoints";

astrobin-search-bar ::ng-deep {
  display: block;
  z-index: 3;
  opacity: 0.99;
  position: relative;

  .search-bar-wrapper {
    position: relative;
    display: block;
    margin-top: -2rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    z-index: 1;

    ::ng-deep {
      .search-bar-input-container {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    @media (min-width: $lg-min) {
      margin-left: -2rem;
      margin-right: -2rem;
    }

    @media (max-width: $sm-max) {
      position: sticky;
      top: 60px;
      margin-top: -0.5rem;

      ::ng-deep {
        .search-bar-input-container {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }

  @media (min-width: $lg-min) {
    position: sticky;
    top: 63px;
  }
}
