<ng-container *ngIf="!!user; else loadingTemplate">
  <ng-container *ngIf="link; else noLinkTemplate">
    <a [href]="url" (click)="openGallery()" astrobinEventPreventDefault>
      <ng-container [ngTemplateOutlet]="imageTemplate"></ng-container>
    </a>
  </ng-container>

  <ng-template #noLinkTemplate>
    <ng-container [ngTemplateOutlet]="imageTemplate"></ng-container>
  </ng-template>

  <ng-template #imageTemplate>
    <img [alt]="user.username" [src]="avatarUrl" />
    <div
      *ngIf="showPremiumBadge && user?.validSubscription"
      [ngbTooltip]="'Supporting member' | translate"
      class="badge"
      container="body"
    >
      <fa-icon icon="asterisk"></fa-icon>
    </div>
  </ng-template>

</ng-container>

<ng-template #loadingTemplate>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>
