<div class="card-container">
  <div class="card">
    <div class="card-header">
      <div class="name">
        <ng-container *ngIf="!!displayName; else textLoadingTemplate">
          {{ displayName }}
        </ng-container>
      </div>
      <div class="created">
        <fa-icon icon="calendar-alt"></fa-icon>
        {{ lineItem.created | localDate | timeago : true }}
        &middot;
        <fa-icon icon="bell"></fa-icon>
        {{ listing.followerCount }}
        &middot;
        <fa-icon icon="eye"></fa-icon>
        {{ listing.viewCount }}
        &middot;
        <fa-icon icon="camera-alt"></fa-icon>
        {{ lineItem.images.length }}
      </div>
    </div>

    <div class="card-body">
      <img
        *ngIf="lineItem.images.length > 0"
        [alt]=""
        [src]="lineItem.images[0].thumbnailFile || lineItem.images[0].imageFile"
      />
    </div>

    <div class="card-footer">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <div class="location">
          <ng-container *ngIf="!!listing.city"> {{ listing.city }},</ng-container>
          {{ countryService.getCountryName(listing.country) }}
        </div>
        <div class="price">
          {{ lineItem.price | currency : lineItem.currency : "symbol" : "1.2-2" : translateService.currentLang }}
        </div>
      </div>
    </div>
  </div>

  <div class="card-badges">
    <ng-container *ngIf="!!lineItem.sold; else unsoldBadges">
      <span class="badge rounded-pill bg-danger border border-light">
        {{ translateService.instant("Sold") }}
      </span>
    </ng-container>

    <ng-template #unsoldBadges>
      <div
        *ngIf="lineItem.offers?.length"
        [ngbTooltip]="translateService.instant('This listing has offers')"
        class="badge rounded-pill bg-danger border border-light"
        container="body"
      >
        <fa-icon icon="comment-dollar"></fa-icon>
        {{ lineItem.offers.length }}
      </div>

      <div
        *ngIf="!listing.approved"
        [ngbTooltip]="translateService.instant('This listing is pending moderation')"
        class="badge rounded-pill bg-warning border border-light"
        container="body"
      >
        <fa-icon icon="exclamation-triangle"></fa-icon>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #textLoadingTemplate>
  <astrobin-text-loading-indicator></astrobin-text-loading-indicator>
</ng-template>
