<div class="modal-header">
  <h4 class="modal-title" id="modal-title">
    {{ "Load equipment preset" | translate }}
  </h4>

  <button (click)="modal.dismiss()" aria-describedby="modal-title" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="form">
    <formly-form [fields]="fields" [form]="form" [model]="model"></formly-form>
  </form>
</div>

<div class="modal-footer">
  <button (click)="modal.dismiss()" class="btn btn-outline-secondary" type="button">
    {{ "Cancel" | translate }}
  </button>

  <button
    (click)="onDeleteClicked()"
    class="btn btn-outline-danger"
    type="button"
    [disabled]="form.invalid"
    [class.loading]="(loadingService.loading$ | async) || form.pending"
  >
    {{ "Delete" | translate }}
  </button>

  <button
    (click)="onLoadClicked()"
    class="btn btn-primary"
    type="button"
    [disabled]="form.invalid"
    [class.loading]="(loadingService.loading$ | async) || form.pending"
  >
    {{ "Load" | translate }}
  </button>
</div>
