@import "../../../../styles/breakpoints";

:host {
  position: relative;
  display: block;

  &:not(:last-child) {
    border-bottom: 1px dashed var(--grey);
  }
}

.edit-proposal {
  padding: .25rem 1rem;
  cursor: pointer;

  @media (min-width: $lg-min) {
    &::after {
      content: "";
      position: absolute;
      right: .5rem;
      top: calc(1rem - 2px);
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 6px solid var(--lighterGrey);
      clear: both;
    }
  }

  &.opened {
    &::after {
      border-top: 0;
      border-bottom: 6px solid var(--lighterGrey);
    }
  }

  &:not(.opened):hover {
    background-color: rgba(255, 255, 255, .025);
  }

  .status {
    &.rejected {
      color: var(--dangerColor);
    }

    &.approved {
      color: var(--successColor);
    }

    &.pending {
      color: var(--warningColor);
    }

    &.superseded {
      color: var(--grey);
    }
  }

  .timeago {
    color: var(--lightGrey);
  }
}

.edit-proposal-details {
  padding: 1rem;
  color: var(--lighterGrey);

  .changes {
    margin-top: 1rem;
    padding-left: 1rem;
    list-style: none;

    .change {
      .property-name {
        margin-right: 1rem;
        font-weight: bold;
        color: var(--white);
      }

      .before {
        color: var(--lightGrey);
      }
    }
  }

  .form-actions {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
  }
}

//.edit-proposal.opened + .edit-proposal-details {
//  padding-top: 1rem;
//  padding-bottom: 1rem;
//}

.alert-warning {
  font-size: 0.85rem;
  padding: .5rem;
  margin-top: .5rem;

  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 1rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent var(--warningColor) transparent;
    clear: both;
  }
}
