<ng-container *ngIf="item; else loading">
  <div class="edit-proposal row" [class.opened]="opened" (click)="opened = !opened">
    <span class="col user">
      <astrobin-username [user]="editProposalBy$ | async" linkTarget="_blank"></astrobin-username>
    </span>
    <span class="col-2 d-none d-lg-inline changes">{{ changes.length }}</span>
    <span class="col-3 status" [class]="editProposal.editProposalReviewStatus?.toLowerCase() || 'pending'">
      {{ reviewStatusText }}
    </span>
    <span class="col-3 d-none d-lg-inline timeago">{{ editProposal.created | timeago: true }}</span>
  </div>

  <div class="edit-proposal-details" *ngIf="opened">
    <ng-container *ngIf="hasChanges; else noChanges">
      <span>{{ "The following changes are proposed:" | translate }}</span>

      <ul class="changes">
        <li *ngFor="let change of changes" class="change">
          <span class="property-name">{{ change.propertyName }}:</span>

          <span class="before" [innerHTML]="change.before || 'n/a' | translate"></span>&nbsp;&xrarr;

          <span class="after" [innerHTML]="change.after || 'n/a' | translate"></span>

          <div *ngIf="change.propertyName === 'name'" class="alert alert-warning">
            <span [innerHTML]="equipmentItemService.nameChangeWarningMessage()"></span>
          </div>
        </li>

        <li *ngIf="editProposal.editProposalComment" class="change">
          <span class="property-name">{{ "Proposer's comment" | translate }}:</span>
          <span class="after">{{ editProposal.editProposalComment }}</span>
        </li>

        <li *ngIf="editProposal.editProposalReviewComment" class="change">
          <span class="property-name">{{ "Reviewer's comment" | translate }}:</span>
          <span class="after">{{ editProposal.editProposalReviewComment }}</span>
        </li>
      </ul>

      <ng-container *ngIf="showButtons$ | async as showButtons">
        <ng-container *ngIf="buttonsStatus$ | async as buttonsStatus">
          <div class="form-actions" *ngIf="showButtons">
            <button
              class="btn btn-danger"
              [disabled]="buttonsStatus.disabled"
              [class.loading]="loadingService.isLoading()"
            >
              {{ "Reject..." | translate }}
            </button>
            <button
              class="btn btn-success"
              [disabled]="buttonsStatus.disabled"
              [class.loading]="loadingService.isLoading()"
            >
              {{ "Approve..." | translate }}
            </button>
          </div>

          <div
            class="alert alert-mini alert-info"
            *ngIf="showButtons && buttonsStatus.disabled && buttonsStatus.reason"
          >
            <fa-icon icon="info-circle"></fa-icon>
            <span [innerHTML]="buttonsStatus.reason"></span>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-container>

<ng-template #loading>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>

<ng-template #noChanges>
  <span>{{ "No changes are proposed." | translate }}</span>
</ng-template>
