<ng-container *ngIf="userProposedEditMessage">
  <div class="edit-proposal d-flex" [class.opened]="opened" (click)="opened = !opened">
    <span class="flex-grow-1" [innerHTML]="userProposedEditMessage"></span>
    <span class="pull-right d-none d-lg-inline timeago">{{ editProposal.created | timeago: true }}</span>
  </div>

  <div class="edit-proposal-details" *ngIf="opened">
    {{ "The following changes are proposed:" | translate }}

    <ul class="changes" *ngIf="changes; else loading">
      <li *ngFor="let change of changes" class="change">
        <span class="property-name">{{ change.propertyName }}:</span>

        <span class="before" [innerHTML]="change.before || 'n/a' | translate"></span>&nbsp;&xrarr;

        <span class="after" [innerHTML]="change.after || 'n/a' | translate"></span>

        <div *ngIf="change.propertyName === 'name'" class="alert alert-warning">
          <span [innerHTML]="equipmentItemService.nameChangeWarningMessage()"></span>
        </div>
      </li>
    </ul>
  </div>
</ng-container>


<ng-template #loading>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>
