<div *ngIf="listings.itemListings.length > 0" class="card mb-4">
  <div class="card-header">
    <ng-container *ngTemplateOutlet="itemCardHeaderTemplate"></ng-container>
  </div>

  <div class="card-body">
    <div class="listings">
      <ng-container *ngTemplateOutlet="itemCardBodyTemplate"></ng-container>
    </div>
  </div>

  <div class="card-footer flex-row">
    <fa-icon (click)="infoButtonClicked()" icon="info-circle"></fa-icon>
    <fa-icon (click)="removeButtonClicked()" icon="times"></fa-icon>
  </div>
</div>

<div *ngIf="listings.brandListings?.length > 0" class="card">
  <div class="card-header">
    <ng-container *ngTemplateOutlet="brandCardHeaderTemplate"></ng-container>
  </div>

  <div class="card-body">
    <div class="listings">
      <ng-container *ngTemplateOutlet="brandCardBodyTemplate"></ng-container>
    </div>
  </div>

  <div class="card-footer flex-row">
    <fa-icon (click)="infoButtonClicked()" icon="info-circle"></fa-icon>
    <fa-icon (click)="removeButtonClicked()" icon="times"></fa-icon>
  </div>
</div>

<ng-template #loadingTemplate>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>

<ng-template #cardHeaderItemListingsFullTemplate>
  <span [innerHTML]="shopItemLabel"></span>
</ng-template>

<ng-template #cardHeaderItemListingsLiteTemplate>
  <span [innerHTML]="'Known stock availability for' | translate"></span>
</ng-template>

<ng-template #cardHeaderBrandListingsFullTemplate>
  <span [innerHTML]="shopBrandLabel"></span>
</ng-template>

<ng-template #cardHeaderBrandListingsLiteTemplate>
  <span [innerHTML]="'Known stock availability' | translate"></span>
</ng-template>

<ng-template #cardBodyItemListingsFullTemplate>
  <div *ngFor="let listing of listings.itemListings" class="listing">
    <ng-container [ngTemplateOutletContext]="{listing}" [ngTemplateOutlet]="listingFull"></ng-container>
  </div>
</ng-template>

<ng-template #cardBodyItemListingsLiteTemplate>
  <!-- TODO -->
</ng-template>

<ng-template #cardBodyBrandListingsFullTemplate>
  <div *ngFor="let listing of listings.brandListings" class="listing">
    <ng-container [ngTemplateOutletContext]="{listing}" [ngTemplateOutlet]="listingFull"></ng-container>
  </div>
</ng-template>

<ng-template #cardBodyBrandListingsLiteTemplate>
  <!-- TODO -->
</ng-template>

<ng-template #listingFull let-listing="listing">
  <ng-container *ngIf="!!listing.retailer.logo; else noLogoTemplate">
    <a
      [href]="urlWithTags(listing)"
      [ngbTooltip]="listing.retailer.name"
      astrobinGtagOutboundClickEvent
      class="with-logo"
      target="_blank"
    >
      <img [alt]="listing.retailer.name" [src]="listing.retailer.logo" />
    </a>

    <div *ngIf="!!listing.stockStatus" class="stock-status">
      <astrobin-stock-status [listing]="listing"></astrobin-stock-status>
    </div>
  </ng-container>

  <ng-template #noLogoTemplate>
    <a
      [href]="urlWithTags(listing)"
      astrobinGtagOutboundClickEvent
      target="_blank"
    >
      {{ listing.retailer.name }}
    </a>
  </ng-template>
</ng-template>
