@import "../../../../styles/breakpoints";

.listings {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $lg-min) {
    flex-direction: column;
  }
}

.listing {
  @media screen and (min-width: $lg-min) {
    margin: -1rem -1rem calc(1rem + 2px) -1rem;

    &:last-child {
      margin-bottom: -1rem;
    }
  }

  @media screen and (max-width: $md-max) {
    margin-right: 1px;
    margin-bottom: 1px;
    max-width: calc(33.334% - 1px)
  }

  > a {
    display: block;
    cursor: pointer;

    &.with-logo {
      &:after {
        content: "";
        display: none;
      }

      > img {
        width: 100%;
        transition: all .1s ease-in-out;
        pointer-events: none;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

.card-footer {
  fa-icon {
    cursor: pointer;
    color: var(--lightGrey);

    &:not(:last-child) {
      margin-right: .5rem;
    }

    &:hover {
      color: var(--lighterGrey);
    }
  }
}
