<div class="page">
  <h1>{{ title }}</h1>
  <small>
    {{
      "AstroBin's equipment database is entirely maintained by the community. Feel free to make a contribution!"
        | translate
    }}
    <a class="learn-more" href="https://welcome.astrobin.com/features/equipment-database" target="_blank"
      >{{ "Learn more" }}.</a
    >
  </small>

  <div class="row">
    <div [class]="navCollapsed ? 'col-md-1' : 'col-md-4'">
      <astrobin-equipment-item-type-nav (collapsedChanged)="navCollapsed = $event"></astrobin-equipment-item-type-nav>
    </div>

    <div class="col">
      <div class="row">
        <div class="col order-last order-lg-first">
          <ng-container *ngIf="(loadingService.loading$ | async) === false; else loading">
            <ng-container *ngIf="!!activeBrand">
              <div *ngIf="!!activeBrand" class="card">
                <div class="card-header">{{ "Brand" | translate }} / {{ "Company" | translate }}</div>

                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-lg-3">
                      <div class="image" [style.background-image]="'url(' + logo + ')'"></div>
                    </div>
                    <div class="col">
                      <div class="label">
                        <h5>
                          {{ activeBrand.name }}
                        </h5>
                        <h6 *ngIf="!!activeBrand.website" class="website">
                          <a target="_blank" [href]="activeBrand.website">{{
                            UtilsService.shortenUrl(activeBrand.website)
                          }}</a>
                        </h6>
                      </div>

                      <table class="table table-sm table-striped properties">
                        <tbody>
                          <tr>
                            <th class="property-name">
                              {{ "Users" | translate }}
                              <astrobin-data-does-not-update-in-real-time></astrobin-data-does-not-update-in-real-time>
                            </th>
                            <td class="property-value">{{ activeBrand.userCount || 0 }}</td>
                          </tr>

                          <tr class="property">
                            <th class="property-name">
                              {{ "Images" | translate }}
                              <astrobin-data-does-not-update-in-real-time></astrobin-data-does-not-update-in-real-time>
                            </th>
                            <td class="property-value">{{ activeBrand.imageCount || 0 }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="card-footer">
                  <button type="button" class="btn btn-secondary" (click)="closeBrand()">
                    {{ "Close" | translate }}
                  </button>
                </div>
              </div>

              <table
                *ngIf="!!itemsInBrand && itemsInBrand.length > 0"
                class="table table-sm table-striped items-in-brand"
              >
                <thead>
                <tr>
                  <th>
                    <button class="btn btn-link btn-no-block" (click)="toggleAZSorting()">
                      {{ equipmentItemService.getPrintablePropertyName(null, EquipmentItemDisplayProperty.NAME, true) }}
                      <fa-icon icon="sort-alpha-down" *ngIf="sortOrder === ExplorerPageSortOrder.AZ_DESC"></fa-icon>
                      <fa-icon icon="sort-alpha-up" *ngIf="sortOrder === ExplorerPageSortOrder.AZ"></fa-icon>
                    </button>
                  </th>
                  <th>
                    {{ "Class" | translate }}
                  </th>
                  <th>
                    <button class="btn btn-link btn-no-block" (click)="toggleUsersSorting()">
                      {{ "Users" | translate }}
                      <fa-icon
                        icon="sort-numeric-down"
                        *ngIf="sortOrder === ExplorerPageSortOrder.USERS_DESC"
                      ></fa-icon>
                      <fa-icon icon="sort-numeric-up" *ngIf="sortOrder === ExplorerPageSortOrder.USERS"></fa-icon>
                    </button>
                  </th>
                  <th>
                    <button class="btn btn-link btn-no-block" (click)="toggleImagesSorting()">
                      {{ "Images" | translate }}
                      <fa-icon
                        icon="sort-numeric-down"
                        *ngIf="sortOrder === ExplorerPageSortOrder.IMAGES_DESC"
                      ></fa-icon>
                      <fa-icon icon="sort-numeric-up" *ngIf="sortOrder === ExplorerPageSortOrder.IMAGES"></fa-icon>
                    </button>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of itemsInBrand; trackBy: equipmentItemService.trackBy">
                  <td class="item-name">
                    <a
                      appEventPreventDefault
                      [href]="'/equipment/explorer/' + item.klass.toLowerCase() + '/' + item.id + '/'"
                      (click)="viewItem(item)"
                    >
                      <astrobin-equipment-item-display-name
                        [item]="item"
                        [showFrozenAsAmbiguous]="item.variants.length === 0"
                      ></astrobin-equipment-item-display-name>
                      <span
                        *ngIf="item.variants?.length > 0"
                        [innerHTML]="'+ {{numVariants}} variants' | translate:{numVariants: item.variants.length}"
                        class="variant-count"
                      >
                      </span>
                    </a>
                  </td>
                  <td>{{ equipmentItemService.humanizeType(item.klass) }}</td>
                  <td>{{ item.userCount }}</td>
                  <td>{{ item.imageCount }}</td>
                </tr>
                </tbody>
              </table>

              <astrobin-image-search
                [header]="'Acquired with this brand' | translate"
                [text]="activeBrand.name"
                ordering="-likes"
                class="mt-5 d-block"
              ></astrobin-image-search>
            </ng-container>

            <ng-container *ngIf="!activeBrand">
              <ng-container *ngIf="items$ | async as brands; else loading">
                <table class="table table-striped table-sm brands" *ngIf="!activeBrand">
                  <thead>
                    <tr>
                      <th>
                        <button class="btn btn-link btn-no-block" (click)="toggleAZSorting()">
                          {{ "Name" | translate }}
                          <fa-icon icon="sort-alpha-down" *ngIf="sortOrder === ExplorerPageSortOrder.AZ_DESC"></fa-icon>
                          <fa-icon icon="sort-alpha-up" *ngIf="sortOrder === ExplorerPageSortOrder.AZ"></fa-icon>
                        </button>
                      </th>
                      <th>
                        <button class="btn btn-link btn-no-block" (click)="toggleUsersSorting()">
                          {{ "Users" | translate }}
                          <fa-icon
                            icon="sort-numeric-down"
                            *ngIf="sortOrder === ExplorerPageSortOrder.USERS_DESC"
                          ></fa-icon>
                          <fa-icon icon="sort-numeric-up" *ngIf="sortOrder === ExplorerPageSortOrder.USERS"></fa-icon>
                        </button>
                      </th>
                      <th>
                        <button class="btn btn-link btn-no-block" (click)="toggleImagesSorting()">
                          {{ "Images" | translate }}
                          <fa-icon
                            icon="sort-numeric-down"
                            *ngIf="sortOrder === ExplorerPageSortOrder.IMAGES_DESC"
                          ></fa-icon>
                          <fa-icon icon="sort-numeric-up" *ngIf="sortOrder === ExplorerPageSortOrder.IMAGES"></fa-icon>
                        </button>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let brand of brands" data-id="{{ brand.id }}">
                      <td>
                        <a
                          [href]="'/equipment/explorer/brand/' + brand.id + '/' + UtilsService.slugify(brand.name)"
                          appEventPreventDefault
                          (click)="viewBrand(brand)"
                        >
                          {{ brand.name }}
                        </a>
                      </td>
                      <td>{{ brand.userCount }}</td>
                      <td>{{ brand.imageCount }}</td>
                    </tr>
                  </tbody>
                </table>

                <astrobin-nothing-here *ngIf="brands.count === 0"></astrobin-nothing-here>
              </ng-container>
              <!-- items$ -->
            </ng-container>
            <!-- !activeBrand -->

          </ng-container>
        </div>
        <!-- brand main col -->

        <div
          *ngIf="!!listings && (listings.brandListings?.length > 0 || listings.itemListings?.length > 0)"
          class="col-sm-12 col-lg-3 sidebar"
        >
          <astrobin-equipment-listings
            [brand]="activeBrand"
            [listings]="listings"
            class="d-block mb-5"
          ></astrobin-equipment-listings>
        </div>
        <!-- brand side col -->
      </div>
      <!-- brand main row -->
    </div>
  </div>
</div>

<ng-template #loading>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>
