@import "../../../../../styles/breakpoints";

:host {
  ::ng-deep {
    .objects-using > astrobin-avatar {
      max-width: calc(20% - 1rem);
    }

    .search-results > a {
      max-width: 10%;
    }
  }
}

.image {
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: $md-max) {
    margin: 0 auto 2rem;
    max-width: 150px;
  }
}

.label {
  display: inline-block;
  margin-bottom: 1rem;

  h5 {
    color: var(--white);
    font-weight: bold;
  }
}

.brands,
.items-in-brand {
  a {
    color: var(--white);
    font-weight: bold;

    &:hover {
      color: var(--accentColor);
      text-decoration: none;
    }
  }
}

.items-in-brand {
  @media screen and (min-width: $lg-min) {
    margin: 0 auto;
    width: calc(100% - 2rem);
  }
}

.item-name {
  .variant-count {
    margin-left: .5rem;
    font-style: italic;
    font-size: .9rem;
    color: var(--lighterGrey);
  }
}
