@import "../../../../../styles/breakpoints";

.image {
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: $md-max) {
    margin: 0 auto 2rem;
    max-width: 150px;
  }
}

.label {
  display: inline-block;
  margin-bottom: 1rem;

  h5 {
    color: var(--white);
    font-weight: bold;
  }
}

.items-in-brand {
  @media screen and (min-width: $lg-min) {
    margin: 0 auto;
    width: calc(100% - 2rem);
  }

  a {
    color: var(--white);
    font-weight: bold;

    &:hover {
      color: var(--accentColor);
      text-decoration: none;
    }
  }
}
