<div *ngFor="let slot of slots; let i = index" class="promotion-slot-container">
  <div (click)="slotClicked(slot.promotion.image)" class="promotion-slot">
    <ng-container *ngIf="slot.promotion; else emptySlot">
      <astrobin-image
        #image
        [alias]="ImageAlias.STORY"
        [autoHeight]="false"
        [class.clickable]="clickableSlot(slot.promotion.image)"
        [id]="slot.promotion.image"
      >
      </astrobin-image>
    </ng-container>

    <ng-template #emptySlot>
      {{ i + 1 }}
    </ng-template>
  </div>

  <ng-container *ngIf="slotType === SlotType.JUDGEMENT">
    <div class="futureDate">
      {{ futureDate(i) | date }}
    </div>
    <div class="buttons">
      <button (click)="openComments(slot.promotion)" [disabled]="!slot.promotion" class="btn btn-outline-secondary">
        {{ "Comments" | translate }}
        <span *ngIf="!!iotdContentType$ && !!slot.promotion">
          <astrobin-nested-comments-count
            [contentType]="iotdContentType$ | async"
            [hideZero]="true"
            [objectId]="slot.promotion.id"
            class="comments-count badge badge-danger"
          ></astrobin-nested-comments-count>
        </span>
      </button>
    </div>
  </ng-container>
</div>
