:host {
  display: flex;
  justify-content: space-between;

  .promotion-slot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

    .promotion-slot {
      width: 100%;
      background-color: var(--grey);
      border: 2px dashed var(--lightGrey);
      font-size: 3rem;
      color: var(--lightGrey);
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;

      astrobin-image {
        &.clickable {
          cursor: pointer;
        }

        &:not(.clickable) {
          cursor: not-allowed;
        }
      }
    }

    &:not(:last-child) {
      margin-right: .5rem;
    }

    .futureDate {
      color: var(--lighterGrey);
      margin-top: 1rem;
    }

    .buttons {
      margin-top: 1rem;

      .btn {
        font-size: .85rem;
        position: relative;

        .comments-count {
          position: absolute;
          right: -0.5rem;
          top: -0.5rem;
        }
      }
    }
  }
}
