
:host {
  display: flex;
  justify-content: space-between;

  .promotion-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: var(--grey);
    border: 2px dashed var(--lightGrey);
    font-size: 3rem;
    color: var(--lightGrey);

    &:not(:last-child) {
      margin-right: .5rem;
    }

    astrobin-image {
      &.clickable {
        cursor: pointer;
      }

      &:not(.clickable) {
        cursor: not-allowed;
      }
    }
  }
}
