@import "../../../../styles/breakpoints";

.btn {
  position: fixed;
  width: auto;
  bottom: 1rem;
  z-index: 1029;
  font-size: 1.5rem;
  transition: transform .25s ease-in-out;

  &.position-left {
    right: auto;
    left: 1rem;
  }

  &.position-right {
    left: auto;
    right: 1rem;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.1);
    }
  }

  .ng-fa-icon {
    filter: drop-shadow(0 0 .5rem rgba(0, 0, 0, .5));
  }
}
