<div class="page has-breadcrumb">
  <h1 class="d-flex justify-content-between align-items-center flex-column flex-lg-row">
    <span class="flex-grow-1 me-lg-3 mb-1 mb-lg-0">
      {{ title }}
    </span>

    <span class="d-inline-block mb-2 me-lg-3 pt-0 pb-0" ngbDropdown>
      <button
        [class.loading]="loadingService.loading$ | async"
        class="btn btn-outline-primary mb-0"
        id="region-selector"
        ngbDropdownToggle
      >
        <ng-container *ngIf="!!selectedRegion && selectedRegion !== WORLDWIDE">
          <fa-icon icon="flag"></fa-icon>
          {{ selectedRegionLabel }}
        </ng-container>
        <ng-container *ngIf="!selectedRegion || selectedRegion === WORLDWIDE">
          <fa-icon icon="globe"></fa-icon>
          {{ "Worldwide" | translate }}
        </ng-container>
      </button>

      <span aria-labelledby="region-selector" ngbDropdownMenu>
        <button (click)="setRegion($event, WORLDWIDE)" ngbDropdownItem>
          <fa-icon icon="globe"></fa-icon>
          {{ "Worldwide" | translate }}
        </button>

        <button (click)="setRegion($event, requestContinent)" *ngIf="!!requestContinent" ngbDropdownItem>
          <ng-container *ngTemplateOutlet="continentFlagTemplate"></ng-container>
          {{ requestContinent }}
        </button>

        <button
          (click)="setRegion($event, 'EU')"
          *ngIf="!!requestCountryCode && UtilsService.isEUCountry(requestCountryCode)"
          ngbDropdownItem
        >
          <fa-icon icon="euro-sign"></fa-icon>
          {{ "European Union" | translate }}
        </button>

        <button (click)="setRegion($event, requestCountryCode)" *ngIf="!!requestCountryLabel" ngbDropdownItem>
          <ng-container *ngTemplateOutlet="countryFlagTemplate"></ng-container>
          {{ requestCountryLabel }}
        </button>

        <button (click)="startOtherCountrySelection($event)" ngbDropdownItem>
          <fa-icon icon="arrow-pointer"></fa-icon>
          {{ "Select" | translate }}
        </button>
      </span>
    </span>

    <astrobin-refresh-button (click)="refresh()" class="d-none d-lg-block"></astrobin-refresh-button>
  </h1>

  <small>
    {{
    "AstroBin is the best place to buy and sell astrophotography equipment. You can find telescopes, cameras, mounts, filters, and much more."
      | translate
    }}
    <a
      class="learn-more"
      href="https://welcome.astrobin.com/features/marketplace"
      target="_blank"
    >
      {{ "Learn more" }}.
    </a>
  </small>

  <div class="row">
    <div class="col-12 col-md-5 col-lg-3">
      <astrobin-marketplace-sidebar
        (filterChange)="refresh($event)"
        class="d-block mb-3 mb-lg-0"
      ></astrobin-marketplace-sidebar>
    </div>

    <div class="col-12 col-md-7 col-lg-9">
      <astrobin-marketplace-search-bar
        (search)="refresh($event)"
        class="d-block mb-3"
      ></astrobin-marketplace-search-bar>

      <astrobin-marketplace-listing-cards
        #listingCards
        [listings]="listings$ | async"
      ></astrobin-marketplace-listing-cards>
    </div>
  </div>
</div>

<ng-template #countryFlagTemplate>
  <fa-icon *ngIf="requestCountryCode === 'US'" icon="flag-usa"></fa-icon>
  <fa-icon *ngIf="requestCountryCode !== 'US'" icon="flag"></fa-icon>
</ng-template>

<ng-template #continentFlagTemplate>
  <fa-icon *ngIf="requestContinent === 'Americas'" icon="earth-americas"></fa-icon>
  <fa-icon *ngIf="requestContinent === 'Europe'" icon="earth-europe"></fa-icon>
  <fa-icon *ngIf="requestContinent === 'Asia'" icon="earth-asia"></fa-icon>
  <fa-icon *ngIf="requestContinent === 'Africa'" icon="earth-africa"></fa-icon>
  <fa-icon *ngIf="requestContinent === 'Oceania'" icon="earth-oceania"></fa-icon>
  <fa-icon *ngIf="requestContinent === 'Antarctica'" icon="globe"></fa-icon>
</ng-template>
