<div class="modal-body">
  <div class="form-group">
    <input
      (keydown.escape)="modal.dismiss()"
      (ngModelChange)="onSelect($event)"
      [(ngModel)]="model"
      [editable]="false"
      [ngbTypeahead]="search"
      [resultTemplate]="resultTemplate"
      class="form-control"
      disableAutoFocusOnTouchDevices
      placeholder="{{ translateService.instant('Search') }}"
      type="text"
    />

    <div class="search-filter-selection">
      <ngb-accordion class="d-block mt-4">
        <ngb-panel *ngFor="let category of categories">
          <ng-template ngbPanelTitle>
            <div class="d-flex justify-content-between align-items-center">
              <div>{{ searchService.humanizeSearchFilterCategory(SearchFilterCategory[category]) }}</div>
            </div>
          </ng-template>

          <ng-template ngbPanelContent>
            <div class="search-filter-selection-list">
              <div *ngFor="let filter of categoryFilters(SearchFilterCategory[category])">
                <div class="search-filter-selection-item">
                  <div (click)="onSelect(filter)" class="search-filter-selection-item-label">
                    <span [ngClass]="filter.key" class="search-filter-selection-item-label-text">
                      {{ filter.label }}
                    </span>
                    <span class="search-filter-selection-item-label-icon">
                      <ng-container
                        [ngTemplateOutletContext]="{ filter }"
                        [ngTemplateOutlet]="allowTemplate"
                      ></ng-container>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>

    <ng-container #filterContainer></ng-container>
  </div>
</div>

<ng-template #resultTemplate let-result="result" let-term="term">
  <div class="search-filter-result d-flex justify-content-between align-items-center">
    <div class="search-filter-result-label flex-grow-1">
      <ngb-highlight [result]="result.label" [term]="term"></ngb-highlight>
    </div>
    <ng-container [ngTemplateOutletContext]="{ filter: result }" [ngTemplateOutlet]="allowTemplate"></ng-container>
  </div>
</ng-template>

<ng-template #allowTemplate let-filter="filter">
  <span class="allow">
    <ng-container *ngIf="(filter.allow$ | async) === false">
      <fa-icon icon="lock"></fa-icon>
    </ng-container>
  </span>
</ng-template>
