@import "../../../../../styles/mixins";

:host {
  max-height: calc(100vh - 3rem);
  overflow-y: auto;

  .search-filter-selection-item-label {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
    cursor: pointer;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: .5rem;
    }

    &:hover {
      color: var(--white);
    }

    .search-filter-selection-item-label-text {
      display: flex;
      @include flex-gap(row, .5rem);
      align-items: center;
      flex-grow: 1;
    }

    .search-filter-selection-item-label-icon {
      font-size: 1.25rem;
      line-height: 1rem;
    }
  }

  ::ng-deep {
    .dropdown-menu {
      width: calc(100% - 2rem);

      .dropdown-item {
        padding: .75rem .5rem;

        &.active,
        &:active,
        &:focus {
          background: unset;
        }

        &:hover {
          background: var(--lightestGrey);
          color: var(--darkestGrey);
        }
      }
    }
  }
}
