<div class="modal-body">
  <div class="form-group">
    <input
      (click)="click$.next($any($event).target.value)"
      (focus)="focus$.next($any($event).target.value)"
      (keydown.escape)="modal.dismiss()"
      (ngModelChange)="onSelect($event)"
      [(ngModel)]="model"
      [editable]="false"
      [ngbTypeahead]="search"
      [resultTemplate]="resultTemplate"
      class="form-control"
      placeholder="{{ translateService.instant('Search') }}"
      type="text"
    />

    <ng-container #filterContainer></ng-container>
  </div>
</div>

<ng-template #resultTemplate let-result="result" let-term="term">
  <div class="search-filter-result d-flex justify-content-between align-items-center">
    <div class="search-filter-result-label flex-grow-1">
      <ngb-highlight [result]="result.label" [term]="term"></ngb-highlight>
    </div>
    <div class="allow">
      <ng-container *ngIf="(result.allow$ | async) === false">
        <fa-icon icon="lock"></fa-icon>
      </ng-container>
    </div>
  </div>
</ng-template>
