@import "../../../../styles/breakpoints";

.listings {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .line-item {
    width: calc(25% - 1rem);
  }

  @media screen and (max-width: $md-max) {
    gap: .5rem;
    .line-item {
      width: calc(33.3333333333% - .5rem);
    }
  }

  @media screen and (max-width: $sm-max) {
    gap: .5rem;
    .line-item {
      width: calc(50% - .5rem);
    }
  }
}
