<ng-container *ngIf="listings === null" [ngTemplateOutlet]="loadingTemplate"></ng-container>
<ng-container *ngIf="listings !== null">
  <ng-container *ngIf="listings.length > 0; else noListingsTemplate">
    <div class="listings">
      <ng-container *ngFor="let listing of listings">
        <a
          *ngFor="let lineItem of listing.lineItems"
          [routerLink]="['/equipment/marketplace/listing', listing.hash, listing.slug]"
          class="line-item"
        >
          <astrobin-marketplace-line-item-card
            [lineItem]="lineItem"
            [listing]="listing"
          ></astrobin-marketplace-line-item-card>
        </a>
      </ng-container>
    </div>
  </ng-container>
</ng-container>

<ng-template #noListingsTemplate>
  <astrobin-nothing-here [withAlert]="false" [withInfoSign]="false" class="d-inline-block"></astrobin-nothing-here>
  {{ "Do you want to sell something?" | translate }}
  <a routerLink="/equipment/marketplace/create">{{ "Create a listing" | translate }}.</a>
</ng-template>

<ng-template #loadingTemplate>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>
