@import "../../../../styles/breakpoints";

.page.compare-component-visible {
  padding-bottom: 200px;
}

.items {
  th {
    fa-icon {
      margin-left: 1rem;
    }
  }

  a {
    color: var(--white);

    &:hover {
      color: var(--accentColor);
      text-decoration: none;
    }
  }

  .item-name {
    .variant-count {
      margin-left: .5rem;
      font-style: italic;
      font-size: .9rem;
      color: var(--lighterGrey);
    }

    @media screen and (max-width: $md-max) {
      .add-to-compare {
        display: none;
      }
    }

      @media screen and (min-width: $lg-min) {
      .add-to-compare {
        padding: 0 .5rem;
        float: right;
        opacity: 0;
        transition: opacity .1s ease-in-out;
      }

      &:hover {
        .add-to-compare {
          opacity: 1;
        }
      }
    }
  }
}
