.items {
  th {
    fa-icon {
      margin-left: 1rem;
    }
  }

  a {
    color: var(--white);

    &:hover {
      color: var(--accentColor);
      text-decoration: none;
    }
  }
}

.coming-soon {
  margin-top: 3rem;
  text-align: center;
  padding: 2rem;
  background: rgba(255,255,255, .025);
  border: 1px dashed rgba(255, 255, 255, .15);
  color: var(--lighterGrey);
  opacity: .66;
}
