.items {
  th {
    fa-icon {
      margin-left: 1rem;
    }
  }

  a {
    color: var(--white);

    &:hover {
      color: var(--accentColor);
      text-decoration: none;
    }
  }

  .item-name {
    .variant-count {
      margin-left: .5rem;
      font-style: italic;
      font-size: .9rem;
      color: var(--lighterGrey);
    }
  }
}
