.marketplace-navigation {
  width: 100%;
  padding: 1rem;
  background-color: var(--darkestGrey);
  color: var(--accentColor);
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: var(--bs-button-border-radius);
}
