<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{ "Compare" | translate }}</h4>
  <button (click)="modal.dismiss()" aria-describedby="modal-title" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <table class="table table-striped comparison-table">
    <tbody>
      <tr *ngFor="let prop of rows[0]; let i = index" [class]="prop.propertyName.toLowerCase()">
        <th>
          <ng-container *ngIf="prop.propertyName !== EquipmentItemDisplayProperty.IMAGE">
            {{ prop.name }}
          </ng-container>
        </th>
        <ng-container *ngFor="let row of rows">
          <td
            [class.na]="row[i].value === null || row[i].value === ''"
            [innerHTML]="row[i].value || 'n/a' | translate"
          ></td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button (click)="modal.dismiss()" class="btn btn-outline-secondary" type="button">
    {{ "Close" | translate }}
  </button>
</div>
