<ng-container *ngIf="item && brand">
  <div class="image" *ngIf="showImage">
    <img [src]="image" alt="" />
  </div>

  <div class="label">
    <strong>{{ brand.name }}</strong> {{ item.name }}
  </div>

  <div class="properties" *ngIf="properties$ | async as properties">
    <ng-container *ngFor="let property of properties">
      <span *ngIf="!!property.value" class="property">
        <span class="property-name">{{ property.name }}</span>:
        <span class="property-value">{{ property.value }}</span>
      </span>
    </ng-container>
  </div>
</ng-container>
