:host {
  color: var(--lightestGrey);
}

strong {
  color: var(--white);
}

.condition {
  &.unopened,
  &.new {
    color: var(--successColor);
  }

  &.used {
    color: var(--warningColor);
  }

  &.damaged-or-defective {
    color: var(--dangerColor);
  }
}
