astrobin-price {
  height: 28px;
}

h1 {
  astrobin-loading-indicator {
    width: auto;
  }

  sup {
    font-size: 1.25rem;
    vertical-align: middle;
    color: var(--white);
    margin-bottom: 1.5rem;
    display: inline-block;
  }
}

.btn.buy {
  font-weight: bold;

  .icons {
    display: inline-block;
    margin-left: 0.75rem;

    .icon {
      height: 1.5rem;
    }
  }

  .stripe-info {
    font-size: 0.75rem;
    opacity: 0.5;
    display: block;
    margin-top: 0.5rem;
  }
}

#bank-location-selector {
  margin-bottom: 1rem;
}
