<div class="modal-header">
  <h4 id="information-dialog-modal" class="modal-title">
    <fa-icon icon="info-circle"></fa-icon>
    {{ "Please note" | translate }}
  </h4>
  <button (click)="modal.dismiss()" class="close" aria-describedby="modal-title" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <p [innerHTML]="message"></p>
</div>

<div class="modal-footer">
  <button
    [class.loading]="loadingService.loading$ | async"
    (click)="modal.close()"
    class="btn btn-secondary"
    type="button"
  >
    {{ "Close" | translate }}
  </button>
</div>
