@import '../../../../styles/breakpoints';
@import '../../../../styles/mixins';

.feed-container {
  @include darkest-background-texture;
  padding: 1rem;
}

.nav-tabs {
  justify-content: center;
  border-bottom: 0;

  .nav-link {
    border-radius: .75rem;

    &:not(.active) {
      color: var(--lighterGrey);
    }
  }
}

.global-personal-switcher {
  text-align: right;

  .ng-fa-icon {
    font-size: .9rem;
    cursor: pointer;
    color: var(--lighterGrey);

    &:first-child {
      margin-right: .5rem;
    }

    &.active {
      color: var(--accentColor);
      pointer-events: none;
    }

    @media (hover: hover) {
      &:hover {
        color: var(--white);
      }
    }
  }
}

astrobin-masonry-layout.activity-feed-masonry-layout {
  ::ng-deep {
    .masonry-container {
      @media (max-width: $sm-max) {
        display: block;

        .masonry-item {
          margin-bottom: 1rem;

          .feed-item-header {
            @include darkest-background-texture;
            position: unset;
            top: unset;
            left: unset;
            right: unset;
            text-shadow: none;
            padding: 1rem;
          }

          .feed-item-footer {
            @include dark-background-texture;
            position: unset;
            bottom: unset;
            left: unset;
            right: unset;
            background: var(--darkestGrey);
            padding-top: 1rem;
            padding-bottom: 0;
          }
        }
      }

      .masonry-item astrobin-loading-indicator {
        background: rgba(0, 0, 0, .75);
        z-index: 1;
      }
    }
  }
}

.mobile-feed-loading {
  astrobin-image-loading-indicator {
    height: 350px;
  }
}

.image-container {
  astrobin-loading-indicator {
    background: rgba(0, 0, 0, .65);
    border-radius: .75rem;
  }
}
