@import '../../../../styles/breakpoints';
@import '../../../../styles/mixins';

.feed-container {
  @include darkest-background-texture;
  padding: 1rem;
}

.nav-tabs {
  justify-content: center;
  border-bottom: 0;

  .nav-link {
    border-radius: .75rem;

    &:not(.active) {
      color: var(--lighterGrey);
    }
  }
}

.global-personal-switcher {
  text-align: right;

  .ng-fa-icon {
    font-size: .9rem;
    cursor: pointer;
    color: var(--lighterGrey);

    &:first-child {
      margin-right: .5rem;
    }

    &.active {
      color: var(--accentColor);
      pointer-events: none;
    }

    @media (hover: hover) {
      &:hover {
        color: var(--white);
      }
    }
  }
}

astrobin-masonry-layout.activity-feed-masonry-layout {
  ::ng-deep {
    .masonry-container {
      @media (max-width: $sm-max) {
        display: block;

        .masonry-item {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
