<div class="main-area">
  <fa-icon *ngIf="template" icon="ellipsis-v" (click)="openOffcanvas($event)" data-toggle="offcanvas"></fa-icon>

  <div class="title">
    <ng-container [ngTemplateOutlet]="titleTemplate"></ng-container>
  </div>
</div>

<div class="icon-area">
  <ng-container *ngIf="iconsTemplate">
    <ng-container [ngTemplateOutlet]="iconsTemplate"></ng-container>
  </ng-container>

  <ng-container *ngIf="descriptionTemplate">
    <fa-icon icon="info-circle" (click)="openOffcanvasDescription($event)"></fa-icon>
  </ng-container>
</div>

<ng-template #offcanvasDescriptionTemplate>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">
      <ng-container [ngTemplateOutlet]="titleTemplate"></ng-container>
    </h5>
    <button type="button" class="btn-close text-reset" (click)="closeOffcanvas($event)"></button>
  </div>
  <div class="offcanvas-body">
    <ng-container *ngTemplateOutlet="descriptionTemplate"></ng-container>
  </div>
</ng-template>

<ng-template #offcanvasTemplate>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">
      <ng-container [ngTemplateOutlet]="titleTemplate"></ng-container>
    </h5>
    <button type="button" class="btn-close text-reset" (click)="closeOffcanvas($event)"></button>
  </div>
  <div class="offcanvas-body">
    <ng-container *ngTemplateOutlet="template; context: templateContext"></ng-container>
  </div>
</ng-template>
