<div class="main-area">
  <fa-icon (click)="openOffcanvas($event)" *ngIf="template" data-toggle="offcanvas" icon="ellipsis-v"></fa-icon>

  <div class="title">
    <ng-container [ngTemplateOutlet]="titleTemplate"></ng-container>
  </div>
</div>

<div class="icon-area">
  <ng-container *ngIf="iconsTemplate">
    <ng-container [ngTemplateOutlet]="iconsTemplate"></ng-container>
  </ng-container>

  <ng-container *ngIf="descriptionTemplate">
    <fa-icon (click)="openOffcanvasDescription($event)" icon="info-circle"></fa-icon>
  </ng-container>
</div>

<ng-template #offcanvasDescriptionTemplate>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">
      <ng-container [ngTemplateOutlet]="titleTemplate"></ng-container>
    </h5>
    <button (click)="closeOffcanvas($event)" class="btn-close text-reset" type="button"></button>
  </div>
  <div class="offcanvas-body">
    <ng-container *ngTemplateOutlet="descriptionTemplate"></ng-container>
  </div>
</ng-template>

<ng-template #offcanvasTemplate>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">
      <ng-container [ngTemplateOutlet]="titleTemplate"></ng-container>
    </h5>
    <button (click)="closeOffcanvas($event)" class="btn-close text-reset" type="button"></button>
  </div>
  <div class="offcanvas-body">
    <ng-container *ngTemplateOutlet="template; context: templateContext"></ng-container>
  </div>
</ng-template>
