@import "../../../styles/breakpoints";

.masonry-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  contain: paint layout;
  content-visibility: auto;
}

.masonry-item {
  flex-grow: 0;
  flex-shrink: 0;
  width: calc((100% - (var(--columns-xs) - 1) * 20px) / var(--columns-xs));
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity .2s;
  will-change: opacity, transform;

  @media (min-width: $sm-min) {
    width: calc((100% - (var(--columns-sm) - 1) * 20px) / var(--columns-sm));
  }

  @media (min-width: $md-min) {
    width: calc((100% - (var(--columns-md) - 1) * 20px) / var(--columns-md));
  }

  @media (min-width: $lg-min) {
    width: calc((100% - (var(--columns-lg) - 1) * 20px) / var(--columns-lg));
  }

  @media (min-width: $xl-min) {
    width: calc((100% - (var(--columns-xl) - 1) * 20px) / var(--columns-xl));
  }
}
