@import "../../../styles/variables";
@import "../../../styles/mixins";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  @include darkest-background-texture;
  color: $darkest_background_text_color;
}
