@import "../../../../styles/breakpoints";
@import "../../../../styles/mixins";

.search-results {
  display: flex;
  flex-wrap: wrap;
  @include flex-gap(row, 1rem);

  ::ng-deep .highlight {
    @include highlight;
  }

  .card {
    cursor: pointer;
    width: calc(100% / 5 - 1rem);
    overflow: hidden;

    .card-header {
      box-shadow: 0 0 0 1px var(--gray-300);

      h4 {
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
      }

      small {
        display: block;
        font-size: 0.85rem;
        color: var(--lighterGrey);
        font-weight: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0.25rem;
      }
    }

    .card-body {
      padding: 0;
      border-bottom-left-radius: var(--bs-border-radius);
      border-bottom-right-radius: var(--bs-border-radius);
      overflow: hidden;

      .avatar {
        width: 100%;
      }

      .info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: rgba(0, 0, 0, 0.75);
        padding: 0.5rem 0;

        .images,
        .likes,
        .followers {
          display: flex;
          flex-direction: column;
          @include flex-gap(column, 0.25rem);
          text-align: center;
        }
      }
    }

    @media (max-width: $md-max) {
      width: calc(100% / 4 - 1rem);
    }

    @media (max-width: $sm-max) {
      width: calc(100% / 3 - 1rem);
    }
  }

  .loading {
    width: 100%;
    margin: 2rem 0;
  }
}
