<div class="page has-breadcrumb">
  <h1>{{ pageTitle }}</h1>

  <ng-container *ngIf="store$ | async as state">
    <astrobin-read-only-mode *ngIf="state.app.backendConfig?.readOnly; else uploaderTemplate"></astrobin-read-only-mode>
  </ng-container>
</div>

<ng-template #uploaderTemplate>
  <div class="row">
    <div *ngIf="imageThumbnail" class="col-3 text-center">
      <div class="thumbnail">
        <img [alt]="image.title" [attr.src]="imageThumbnail" />
      </div>
    </div>

    <div class="col-9">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="form-group">
          <label>{{ "Target image" | translate }}</label>
          <p class="d-block mb-4">{{ image.title }}</p>
        </div>

        <formly-form [fields]="fields" [form]="form" [model]="model"></formly-form>

        <div class="form-actions">
          <button
            (click)="deleteUncompressedSourceFile()"
            *ngIf="image.uncompressedSourceFile"
            [class.loading]="deleting"
            [disabled]="deleting"
            class="btn btn btn-outline-danger"
          >
            <fa-icon icon="remove"></fa-icon>
            {{ "Delete current file" | translate }}
          </button>

          <button
            [class.loading]="uploadButtonLoading()"
            [disabled]="uploadButtonLoading()"
            class="btn btn btn-primary"
            type="submit"
          >
            <fa-icon icon="upload"></fa-icon>
            <ng-container *ngIf="image.uncompressedSourceFile">
              {{ "Replace current file" | translate }}
            </ng-container>
            <ng-container *ngIf="!image.uncompressedSourceFile">
              {{ "Upload" | translate }}
            </ng-container>
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
