<div class="row no-gutters promotion-queue-entry" [class.promoted]="(isPromoted$(entry.pk) | async) === true">
  <astrobin-fullscreen-image-viewer [id]="entry.pk"></astrobin-fullscreen-image-viewer>

  <div class="col-sm-12 col-md-6 col-image">
    <astrobin-image
      class="promotion-image mb-2 mb-md-0 pr-0 pr-md-1"
      [alias]="ImageAlias.STORY"
      [id]="entry.pk"
      (click)="viewFullscreen(entry.pk)">
    </astrobin-image>
  </div>

  <div class="col-sm-12 col-md-6 col-image">
    <astrobin-image
      class="pl-0 pl-md-1"
      [alias]="ImageAlias.STORY_CROP"
      [id]="entry.pk">
    </astrobin-image>
    <div class="hundred_percent">100%</div>
  </div>

  <div class="col-12">
    <div class="row align-items-end mt-3">
      <div class="col-12 col-md-6 col-gear">
        <p>
          <strong>{{ "Imaging telescopes" | translate }}:</strong>
          <ng-container *ngIf="entry.imagingTelescopes?.length > 0; else noneSpecified">
            <astrobin-telescope
              *ngFor="let telescope of entry.imagingTelescopes"
              [id]="telescope">
            </astrobin-telescope>
          </ng-container>
        </p>

        <p>
          <strong>{{ "Imaging cameras" | translate }}:</strong>
          <ng-container *ngIf="entry.imagingCameras?.length > 0; else noneSpecified">
            <astrobin-camera
              *ngFor="let camera of entry.imagingCameras"
              [id]="camera">
            </astrobin-camera>
          </ng-container>
        </p>

        <p>
          <strong>{{ "Published" | translate }}:</strong>
          {{ entry.published | timeago:true }}
        </p>
      </div>

      <div class="col-12 col-md-6">
        <div class="text-right form-actions mt-0">
          <button class="btn btn-secondary" (click)="viewFullscreen(entry.pk)">
            <fa-icon icon="search-plus"></fa-icon>
            {{ "View large" | translate }}
          </button>

          <button class="btn btn-danger" [disabled]="hideDisabled$(entry.pk) | async" (click)="hide(entry.pk)">
            <fa-icon icon="minus-circle"></fa-icon>
            {{ "Hide" | translate }}
          </button>

          <button class="btn btn-primary"
                  *ngIf="(isPromoted$(entry.pk) | async) === false; else retract"
                  (click)="promote(entry.pk)"
                  [class.loading]="loadingService.isLoading()">
            <fa-icon icon="star"></fa-icon>
            {{ "Promote" | translate }}
          </button>

          <ng-template #retract>
            <button class="btn btn-danger"
                    (click)="retractPromotion(entry.pk)"
                    [class.loading]="loadingService.isLoading()">
              <fa-icon icon="undo"></fa-icon>
              {{ "Retract promotion" | translate }}
            </button>
          </ng-template>

        </div> <!-- form-actions -->
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- col -->
</div> <!-- row -->

<ng-template #noneSpecified>
  {{ "None specified" | translate }}
</ng-template>
