<div class="card-header d-flex justify-content-between align-items-center flex-column flex-sm-row">
  {{ entry.title }}

  <button
    [hidden]="(isHidden$(entry.pk) | async) === false"
    (click)="show(entry.pk)"
    [class.loading]="loadingService.isLoading()"
    class="btn btn-outline-primary mt-2 mt-sm-0 ml-0 ml-sm-2"
  >
    <fa-icon icon="eye"></fa-icon>
    {{ "Show" | translate }}
  </button>
</div>

<div class="card-body" [hidden]="(isHidden$(entry.pk) | async) === true">
  <div [class.promoted]="(isPromoted$(entry.pk) | async) === true" class="promotion-queue-entry">
    <astrobin-fullscreen-image-viewer [id]="entry.pk"></astrobin-fullscreen-image-viewer>

    <div class="col-image">
      <astrobin-image
        #image
        (click)="viewFullscreen(entry.pk)"
        [alias]="imageAlias"
        [id]="entry.pk"
        class="promotion-image"
      >
      </astrobin-image>
    </div>

    <div class="col-tools">
      <div class="col-gear">
        <p>
          <strong>{{ "Imaging telescopes" | translate }}:</strong>
          <ng-container *ngIf="entry.imagingTelescopes?.length > 0; else noneSpecified">
            <astrobin-telescope *ngFor="let telescope of entry.imagingTelescopes" [id]="telescope">
            </astrobin-telescope>
          </ng-container>
        </p>

        <p>
          <strong>{{ "Imaging cameras" | translate }}:</strong>
          <ng-container *ngIf="entry.imagingCameras?.length > 0; else noneSpecified">
            <astrobin-camera *ngFor="let camera of entry.imagingCameras" [id]="camera"> </astrobin-camera>
          </ng-container>
        </p>

        <p *ngIf="solution$ | async as solution">
          <strong>{{ "Objects in field" | translate }}:</strong>&nbsp;
          <ng-container *ngIf="!!solution; else notAvailable">
            <astrobin-objects-in-field [solution]="solution"></astrobin-objects-in-field>
          </ng-container>
        </p>

        <p>
          <strong>{{ "Published" | translate }}:</strong>
          {{ entry.published | timeago: true }}
        </p>
      </div>
    </div>
    <!-- col-tools -->
  </div>
  <!-- promotion-queue-entry -->
</div>

<div class="card-footer" [hidden]="(isHidden$(entry.pk) | async) === true">
  <button (click)="viewPage(entry.pk)" [class.loading]="loadingService.isLoading()" class="btn btn-outline-secondary">
    <fa-icon icon="link"></fa-icon>
    {{ "View page" | translate }}
  </button>

  <button
    (click)="hide(entry.pk)"
    [class.loading]="loadingService.isLoading()"
    [disabled]="isPromoted$(entry.pk) | async"
    class="btn btn-outline-secondary"
  >
    <fa-icon icon="eye-slash"></fa-icon>
    {{ "Hide" | translate }}
  </button>

  <button
    (click)="dismiss(entry.pk)"
    [class.loading]="loadingService.isLoading()"
    [disabled]="isPromoted$(entry.pk) | async"
    class="btn btn-danger"
  >
    <fa-icon icon="ban"></fa-icon>
    {{ "Dismiss" | translate }}
  </button>

  <button
    (click)="promote(entry.pk)"
    *ngIf="(isPromoted$(entry.pk) | async) === false; else retract"
    [class.loading]="loadingService.isLoading()"
    [disabled]="(mayPromote$(entry.pk) | async) === false"
    class="btn btn-success"
  >
    <fa-icon [icon]="promoteButtonIcon"></fa-icon>
    {{ promoteButtonLabel }}
  </button>

  <ng-template #retract>
    <button (click)="retractPromotion(entry.pk)" [class.loading]="loadingService.isLoading()" class="btn btn-danger">
      <fa-icon icon="undo"></fa-icon>
      {{ retractPromotionButtonLabel }}
    </button>
  </ng-template>
</div>

<ng-template #noneSpecified>
  {{ "None specified" | translate }}
</ng-template>

<ng-template #notAvailable>
  {{ "n/a" | translate }}
</ng-template>
