@import "../../../../styles/breakpoints";

:host {
  display: block;

  &.hidden {
    opacity: 0.5;
    box-shadow: none;

    .card-header {
      padding: 0.25rem 1rem;
      font-size: 0.85rem;

      .btn {
        font-size: 0.85rem;
        padding: 0.25rem 0.5rem;
      }
    }
  }

  &.dismissed {
    display: none;
  }
}

.card-body {
  padding: 0;
}

.col-image {
  position: relative;

  astrobin-image {
    &:not(.loading) {
      cursor: zoom-in;
    }

    &.loading {
      margin-bottom: 4rem !important;
    }
  }

  .promotion-image-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.25s ease-in-out;
  }

  .promotion-image-hover-label {
    opacity: 0;
    position: fixed;
    bottom: 1rem;
    right: 50%;
    padding: 1rem;
    transform: translateX(50%);
    transition: opacity 0.25s ease-in-out;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4rem;
    color: var(--white);
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid var(--white);
    z-index: 1;
  }

  &:hover {
    .promotion-image-hover {
      opacity: 1;
    }

    .promotion-image-hover-label {
      opacity: .5;
    }
  }
}

.col-metadata {
  padding: 1rem;

  p {
    margin: 0.25rem;
  }
}

astrobin-telescope,
astrobin-camera,
astrobin-equipment-item-display-name {
  &:not(:last-child) {
    margin-right: .25rem;

    &::after {
      content: '\b7'; /* middot */
      margin-left: .25rem
    }
  }
}
