@import "../../../../styles/breakpoints";


:host {
  display: block;
}

.card-body {
  padding: 0;
}

.col-image {
  position: relative;

  astrobin-image {
    &.promotion-image:not(.loading) {
      cursor: zoom-in;
    }

    &.loading {
      margin-bottom: 4rem !important;
    }
  }
}

.col-gear {
  padding: 1rem;
  p {
    margin: .25rem;
  }
}
