<div class="card-header d-flex justify-content-between align-items-center flex-column flex-sm-row">
  {{ entry.title }}

  <div class="expiration" *ngIf="!hidden">
    <astrobin-count-down [targetDate]="expirationDate" [showSeconds]="false"></astrobin-count-down>
  </div>

  <button
    [hidden]="!hidden"
    (click)="show(entry.pk)"
    [class.loading]="loadingService.isLoading()"
    class="btn btn-outline-primary mt-2 mt-sm-0 ml-0 ml-sm-2"
  >
    <fa-icon icon="eye"></fa-icon>
    {{ "Show" | translate }}
  </button>
</div>

<div class="card-body" [hidden]="hidden">
  <div [class.promoted]="isPromoted" class="promotion-queue-entry">
    <astrobin-fullscreen-image-viewer [id]="entry.pk"></astrobin-fullscreen-image-viewer>

    <div class="col-image">
      <astrobin-image
        #image
        (click)="viewFullscreen(entry.pk)"
        [alias]="imageAlias"
        [autoHeight]="imageAutoHeight"
        [id]="entry.pk"
        class="promotion-image"
      >
      </astrobin-image>
    </div>

    <div *ngIf="showMetadata" class="col-metadata">
      <p>
        <strong>{{ "Imaging telescopes" | translate }}:</strong>
        <ng-container *ngIf="entry.imagingTelescopes?.length > 0; else noneSpecified">
          <astrobin-telescope *ngFor="let telescope of entry.imagingTelescopes" [id]="telescope.pk" [loadDelay]="500">
          </astrobin-telescope>
        </ng-container>
      </p>

      <p>
        <strong>{{ "Imaging cameras" | translate }}:</strong>
        <ng-container *ngIf="entry.imagingCameras?.length > 0; else noneSpecified">
          <astrobin-camera *ngFor="let camera of entry.imagingCameras" [id]="camera.pk" [loadDelay]="500">
          </astrobin-camera>
        </ng-container>
      </p>

      <p>
        <strong>{{ "Published" | translate }}:</strong>&nbsp;
        <abbr [title]="entry.published | localDate">
          {{ entry.published | localDate | timeago: true }}
        </abbr>
      </p>
    </div>
    <!-- col-metadata -->
  </div>
  <!-- promotion-queue-entry -->
</div>

<div class="card-footer" [hidden]="hidden">
  <button
    *ngIf="showViewButton"
    (click)="viewPage(entry.pk)"
    [class.loading]="loadingService.isLoading()"
    class="btn btn-outline-secondary"
  >
    <fa-icon icon="link"></fa-icon>
    {{ "View" | translate }}
  </button>

  <button
    (click)="hide(entry.pk)"
    [class.loading]="loadingService.isLoading()"
    [disabled]="isPromoted"
    class="btn btn-outline-secondary"
  >
    <fa-icon icon="eye-slash"></fa-icon>
    {{ "Hide" | translate }}
  </button>

  <button
    (click)="dismiss(entry.pk)"
    [class.loading]="loadingService.isLoading()"
    [disabled]="isPromoted"
    class="btn btn-danger"
  >
    <fa-icon icon="ban"></fa-icon>
    {{ "Dismiss" | translate }}
  </button>

  <button
    (click)="promote(entry.pk)"
    *ngIf="!isPromoted; else retract"
    [class.loading]="loadingService.isLoading()"
    [disabled]="!mayPromote"
    class="btn btn-success"
  >
    <fa-icon [icon]="promoteButtonIcon"></fa-icon>
    {{ promoteButtonLabel }}
  </button>

  <ng-template #retract>
    <button (click)="retractPromotion(entry.pk)" [class.loading]="loadingService.isLoading()" class="btn btn-danger">
      <fa-icon icon="undo"></fa-icon>
      {{ retractPromotionButtonLabel }}
    </button>
  </ng-template>
</div>

<ng-template #noneSpecified>
  {{ "None specified" | translate }}
</ng-template>

<ng-template #notAvailable>
  {{ "n/a" | translate }}
</ng-template>
