:host {
  display: block;

  .toast-title {
    margin-bottom: .75rem;
  }

  .buttons {
    margin-top: 1.5rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    border-top: 1px solid var(--white);
  }

  &.toast-info .buttons {
    border-top-color: var(--infoLight);
  }

  // Position
  .toast-center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
  }
  .toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
  }
  .toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .toast-top-left {
    top: 12px;
    left: 12px;
  }
  .toast-top-right {
    top: 12px;
    right: 12px;
  }
  .toast-bottom-right {
    right: 12px;
    bottom: 12px;
  }
  .toast-bottom-left {
    bottom: 12px;
    left: 12px;
  }

  // Toast
  .toast-container {
    pointer-events: none;
    position: fixed;
    z-index: 999999;
  }
}
