<a
  *ngIf="user && link"
  [href]="classicRoutesService.GALLERY(user.username)"
  [target]="linkTarget"
  astrobinEventStopPropagation
>
  <ng-container [ngTemplateOutlet]="usernameTemplate"></ng-container>
</a>

<ng-container [ngTemplateOutlet]="usernameTemplate" *ngIf="!link"></ng-container>

<ng-template #usernameTemplate>
  <span class="username d-inline-block" *ngIf="!!username; else loadingTemplate">{{ username }}</span>
</ng-template>

<ng-template #loadingTemplate>
  <astrobin-text-loading-indicator></astrobin-text-loading-indicator>
</ng-template>
