<div class="page">
  <h1>{{ title }} <em>(beta)</em></h1>
  <small>{{ "AstroBin's new equipment database is still work in progress." | translate }}</small>

  <div class="row">
    <div class="col-md-3">
      <astrobin-equipment-item-type-nav></astrobin-equipment-item-type-nav>
    </div>

    <div class="col">
      <ng-container *ngIf="items$ | async as items; else loading">
        <ul class="items">
          <li *ngFor="let item of items.results" data-id="{{ item.id }}">
            <a href="#" appEventPreventDefault (click)="viewItem(item)">
              <astrobin-equipment-item-display-name [item]="item"></astrobin-equipment-item-display-name>
            </a>
          </li>
        </ul>

        <astrobin-nothing-here *ngIf="items.count === 0"></astrobin-nothing-here>

        <ngb-pagination (pageChange)="pageChange($event)" [(page)]="page" [collectionSize]="items.count">
        </ngb-pagination>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>
