<ng-container *ngIf="image$ | async as image; else loading">
  <ng-container *ngIf="height !== undefined; else loading">
    <ng-container *ngIf="thumbnailUrl$ | async as thumbnailUrl; else loading">

      <div
        class="astrobin-image"
        id="image-{{id}}{{image.hash ? '-' + image.hash : ''}}-{{revision}}-{{alias}}"
        [style.height.px]="height"
        [style.backgroundImage]="'url(' + thumbnailUrl + ')'"
        [style.backgroundSize]="'auto'">
      </div>

    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading>
  <astrobin-loading-indicator #loadingIndicator [progress]="loadingProgress$ | async"></astrobin-loading-indicator>
</ng-template>
