<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{ "Select variant" | translate }}</h4>
  <button (click)="modal.dismiss()" aria-describedby="modal-title" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <button
    *ngFor="let variant of variants"
    (click)="variantClicked($event, variant)"
    [class.disabled]="variant.frozenAsAmbiguous && !enableSelectFrozen"
    class="btn btn-outline-secondary variant"
  >
    <astrobin-equipment-item-display-name [item]="variant"></astrobin-equipment-item-display-name>
  </button>
</div>

<div class="modal-footer">
  <button (click)="modal.dismiss()" class="btn btn-outline-secondary" type="button">
    {{ "Cancel" | translate }}
  </button>
</div>
