::ng-deep {
  .modal-dialog {
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
    margin: 0;

    .modal-content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, .75);
    }
  }
}
