ul {
  padding: 0;
}

li {
  margin-bottom: 1rem;
  list-style: none;
}

.amount {
  font-weight: bold;
}

.shipping {
  color: var(--lighterGrey);
}

.card-header {
  text-align: center;

  .badge {
    font-size: 1rem;
  }
}

.card-body {
  text-align: center;
}

.card-footer {
  justify-content: center;
}
