ul {
  padding: 0;
}

li {
  margin-bottom: 1rem;
  list-style: none;
}

.amount {
  font-weight: bold;
}

.shipping {
  color: var(--lighterGrey);
}

.card-header .badge {
  font-size: 1rem;
}

.card-footer {
  justify-content: center;
}
