::ng-deep {
  astrobin-formly-field-toggle {
    display: block;
    margin-top: 5px;
  }

  .item-name formly-template > div {
    margin-top: .375rem;
    font-weight: bold;
    color: var(--white);
  }

  input[readonly] {
    background-color: transparent !important;
    color: var(--white);
    padding: 0.375rem 0;

    &:focus {
      color: var(--white);
    }
  }

  formly-field {
    margin-bottom: 0 !important;

    > formly-group {
      &.sold,
      &.reserved {
        position: relative;
        opacity: .25;

        &,
        * {
          cursor: not-allowed !important;
        }
      }
    }

    &:not(:first-of-type) {
      formly-group.row {
        margin-top: .5rem;
        padding-top: .5rem;
      }
    }

    &.total input {
      background-color: var(--successColor) !important;
      font-weight: bold;
      color: var(--white);
      padding: .375rem;
    }
  }
}
