<div class="page has-breadcrumb">
  <div class="alert alert-warning">
    The AstroBin Marketplace is currently in a testing phase. ALL MARKETPLACE DATA WILL BE DELETED BEFORE THE FINAL
    RELEASE. Please use it to test the functionality and provide feedback. This means that you can sell
    "pretend objects" and make offers and you don't need to pay or deliver anything. Thank you!
  </div>

  <h1 class="d-flex justify-content-between align-items-center">
    <span class="flex-grow-1 me-3">{{ title }}</span>
    <astrobin-refresh-button (click)="refresh()"></astrobin-refresh-button>
  </h1>

  <div class="row">
    <div class="col-12 col-md-3">
      <astrobin-marketplace-sidebar></astrobin-marketplace-sidebar>
    </div>

    <div class="col">
      <astrobin-marketplace-listing-cards
        [listings]="listings$ | async"
      ></astrobin-marketplace-listing-cards>
    </div>
  </div>
</div>
