.quick-add {
  font-size: 0.85rem;
  margin-top: 0.5rem;
  opacity: 0.75;

  .quick-add-label,
  .quick-add-item {
    margin-right: 0.5rem;
  }

  .quick-add-separator {
    margin-right: 0.5rem;
  }

  .no-recent {
    color: var(--lighterGrey);
  }
}

.no-recent {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  font-style: italic;
}
