.quick-add {
  font-size: .85rem;
  margin-top: 0.5rem;
  opacity: .75;

  .quick-add-label,
  .quick-add-item {
    margin-right: .5rem;
  }

  .quick-add-separator {
    margin-right: .5rem;
  }
}

.no-recent {
  margin-top: .5rem;
  font-size: .85rem;
  font-style: italic;
}
