<astrobin-equipment-item-browser
  #itemBrowser
  (creationModeEnded)="onCreationModeEnded()"
  (creationModeStarted)="onCreationModeStarted()"
  (valueChanged)="onValueChanged($event)"
  [description]="props.description"
  [enableCreation]="props.enableCreation"
  [enableFullscreen]="props.enableFullscreen"
  [enableSelectFrozen]="props.enableSelectFrozen !== undefined ? props.enableSelectFrozen : true"
  [enableSummaryModal]="false"
  [enableVariantSelection]="props.enableVariantSelection !== undefined ? props.enableVariantSelection : true"
  [excludeId]="props.excludeId"
  [id]="field.id"
  [label]="props.label"
  [multiple]="props.multiple"
  [required]="props.required"
  [type]="props.itemType"
  [usageType]="props.usageType"
  [value]="value"
></astrobin-equipment-item-browser>

<ng-container *ngIf="props.showQuickAddRecent">
  <div class="quick-add">
    <span class="quick-add-label">{{ "Quick-add recent" | translate }}:</span>

    <ng-container
      *ngIf="!recentLoaded; else recentLoadedTemplate"
      [ngTemplateOutlet]="loadingRecentTemplate"
    ></ng-container>

    <ng-template #recentLoadedTemplate>
      <ng-container *ngIf="recent.length > 0; else noRecentTemplate">
        <ng-container *ngFor="let item of recent; let last = last">
          <a (click)="quickAddItem(item)" astrobinEventPreventDefault class="quick-add-item" href="#">
            <astrobin-equipment-item-display-name
              [enableSummaryModal]="false"
              [item]="item"
            ></astrobin-equipment-item-display-name>
          </a>
          <span *ngIf="!last" class="quick-add-separator">&middot;</span>
        </ng-container>
      </ng-container>
    </ng-template>
  </div>

  <div
    *ngIf="
      props.itemType === EquipmentItemType.TELESCOPE &&
      props.usageType === EquipmentItemUsageType.IMAGING &&
      recentLoaded &&
      recent.length === 0 &&
      formControl.value?.length === 0
    "
    class="no-recent alert alert-warning with-triangle"
  >
    {{ "Seems like it's your first time editing this kind of information!" | translate }}
    {{ "Start typing in the text box to show the dropdown suggestions." | translate }}
  </div>
</ng-container>

<ng-template #noRecentTemplate>
  <span *ngIf="!recentUsed" [innerHTML]="noRecentMessage" class="no-recent"></span>
  <span *ngIf="recentUsed" [innerHTML]="allRecentUsedMessage" class="no-recent"></span>
</ng-template>

<ng-template #loadingRecentTemplate>
  <astrobin-text-loading-indicator></astrobin-text-loading-indicator>
</ng-template>
