@import '../../../../styles/mixins';

@mixin overlay-background {
  padding: .75rem 1rem;
  background: rgba(0, 0, 0, .18);
  backdrop-filter: blur(1.5px);
}

:host {
  display: block;
  height: 100%;
}

.feed-item-content {
  position: relative;
  height: 100%;
  border-radius: .75rem;
  overflow: hidden;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .35);
  transition: filter .2s ease-in-out;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      filter: brightness(1.15);
    }
  }

  ::ng-deep {
    .feed-item-component {
      box-shadow: 0 0 .5rem rgba(0, 0, 0, .375);
      height: 100%;
    }

    .feed-item-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: .75rem;
      color: var(--lightestGrey);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      @include overlay-background();

      .feed-item-avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, .75);
        border: 1px solid rgba(255, 255, 255, .25)
      }

      .feed-item-header-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: .9rem;
      }

      @media (min-width: $md-min) {
        .feed-item-header-text-1,
        .feed-item-header-text-2 {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      .feed-item-header-text-2 {
        font-size: .8rem;
      }
    }

    .feed-item-body {
      height: 100%;
    }

    .feed-item-footer {
      @include overlay-background();
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      .feed-item-footer-text {
        font-size: .9rem;
        color: var(--lightestGrey);
      }

      .timestamp {
        color: var(--lighterGrey);
        font-size: .75rem;
      }
    }

    .feed-item-extra {
      @media (min-width: $md-min) {
        margin-top: .25rem;
      }

      astrobin-toggle-property {
        .btn .ng-fa-icon {
          margin: 0 !important;
        }

        .btn.toggled .ng-fa-icon {
          color: var(--accentColor);
          opacity: 1 !important;
        }
      }

      astrobin-toggle-property .count,
      .ng-fa-icon[icon="comment"] + .count {
        font-size: .8rem;
        color: var(--lighterGrey);
        margin-left: .375rem;
      }

      .ng-fa-icon[icon="comment"] {
        cursor: pointer;
      }
    }
  }
}
