<form [formGroup]="form" id="camera-editor-form">
  <formly-form [fields]="fields" [form]="form" [model]="model"></formly-form>
</form>

<ng-container *ngIf="brandCreation.inProgress">
  <div class="mt-4 mb-4 text-center">
    <fa-icon icon="arrow-down"></fa-icon>
  </div>

  <astrobin-brand-editor-card
    [form]="brandCreation.form"
    [model]="brandCreation.model"
    [name]="brandCreation.name"
    [disabled]="subCreation.inProgress"
    (brand)="brandCreated($event)"
  ></astrobin-brand-editor-card>
</ng-container>

<ng-container *ngIf="subCreation.inProgress">
  <div class="mt-4 mb-4 text-center">
    <fa-icon icon="arrow-down"></fa-icon>
  </div>

  <div class="card" id="create-new-sensor" [class.disabled-with-backdrop]="nestedSubCreation.inProgress">
    <div class="backdrop"></div>

    <div class="card-header">
      {{ "Create new sensor" | translate }}
    </div>

    <div class="card-body">
      <astrobin-sensor-editor
        [form]="subCreation.form"
        [model]="subCreation.model"
        [name]="subCreation.name"
        (subCreationInProgress)="nestedSubCreation.inProgress = $event"
        (suggestionSelected)="sensorCreated($event)"
      ></astrobin-sensor-editor>
    </div>

    <div class="card-footer">
      <button
        class="btn btn-sm-block btn-secondary"
        [class.loading]="loadingService.isLoading()"
        (click)="endSensorCreation()"
      >
        Cancel
      </button>

      <button
        class="btn btn-sm-block btn-primary"
        [disabled]="!subCreation.form.valid"
        [class.loading]="loadingService.isLoading()"
        (click)="createSensor()"
      >
        Create
      </button>
    </div>
  </div>
</ng-container>

<ng-template #brandOptionTemplate let-item="item">
  <astrobin-brand-summary [brand]="item.brand"></astrobin-brand-summary>
</ng-template>

<ng-template #sensorOptionTemplate let-item="item">
  <astrobin-equipment-item-summary
    [item]="item.sensor"
    [showSubItem]="false"
    [showMeta]="false"
    [showImage]="false"
    [showEmptyProperties]="false"
  ></astrobin-equipment-item-summary>
</ng-template>

<ng-template #similarItemsTemplate let-items="data">
  <astrobin-similar-items-suggestion
    [items]="items"
    (itemSelected)="suggestionSelected.emit($event)"
  ></astrobin-similar-items-suggestion>
</ng-template>

<ng-template #othersInBrandTemplate let-items="data">
  <astrobin-equipment-others-in-brand [items]="items"></astrobin-equipment-others-in-brand>
</ng-template>
