.card-header {
  padding-left: .75rem;
}

.card-body {
  padding: 0;
  text-align: center;
}

.table {
  margin: 0;

  td {
    text-align: left;
    padding: .5rem .75rem;

    a {
      color: var(--lightstGrey);

      &:hover {
        color: var(--accentColor);
      }
    }
  }
}

.view-more {
  margin: .75rem;
}

astrobin-loading-indicator {
  padding: 1.5rem;
}
