<div class="page has-breadcrumb">
  <h1 class="d-flex justify-content-between align-items-center">
    <span class="flex-grow-1 me-3">{{ title }}</span>
    <a
      [routerLink]="['create']"
      class="btn btn-primary btn-create-listing me-3"
    >
      <fa-icon icon="plus"></fa-icon>
      {{ "Create listing" | translate }}
    </a>
    <astrobin-refresh-button (click)="refresh()"></astrobin-refresh-button>
  </h1>

  <div *ngIf="listings$ | async as listings; else loadingTemplate" class="listings">
    <ng-container *ngIf="listings === null" [ngTemplateOutlet]="loadingTemplate"></ng-container>
    <ng-container *ngIf="listings !== null">
      <ng-container *ngIf="listings.length > 0; else noListingsTemplate">
        <ng-container *ngFor="let listing of listings">
          <a
            *ngFor="let lineItem of listing.lineItems"
            [routerLink]="['/equipment/marketplace/listing', listing.hash]"
            class="line-item"
          >
            <astrobin-marketplace-line-item-card
              [lineItem]="lineItem"
              [listing]="listing"
            ></astrobin-marketplace-line-item-card>
          </a>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #noListingsTemplate>
  <astrobin-nothing-here [withAlert]="false" [withInfoSign]="false"></astrobin-nothing-here>
</ng-template>

<ng-template #loadingTemplate>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>
