@import "../../../../styles/mixins";

:host {
  display: block;
}

.chunked-file {
  position: relative;
}

label {
  @include darkest-background-texture;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  padding: 2rem;
  border: 1px dashed var(--lightGrey);
  opacity: .9;
  border-radius: .375rem;
  cursor: not-allowed;
  pointer-events: none;
  position: relative;
  overflow: hidden;

  &.active {
    cursor: pointer;
    pointer-events: initial;
  }

  .progress-area {
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    overflow: hidden;

    .background {
      display: block;
      background: repeating-linear-gradient(
          -55deg,
          var(--successSecondaryColor) 1px,
          var(--successColor) 2px,
          var(--successColor) 11px,
          var(--successSecondaryColor) 12px,
          var(--successSecondaryColor) 20px
      );
      height: 100%;
      width: 200%;
      margin-left: -45px;
      opacity: .1;
      animation-name: move-striped-loading-indicator;
      animation-duration: 1.5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }

  .file {
    font-weight: normal;
    text-transform: uppercase;
    color: var(--lighterGrey);
    text-align: center;
    z-index: 1;

    [icon=upload] {
      display: block;
      font-size: 1.5rem;
    }

    .status {
      display: block;
      color: var(--lighterGrey);
      font-size: .75rem;
      text-transform: uppercase;
      animation: pulsate 3s ease-out;
      animation-iteration-count: infinite;
      opacity: .1;
    }
  }

  input {
    display: none;
  }
}

.accepted-formats {
  color: var(--lightGrey);
  font-size: .9rem;
  text-transform: none;
}

.additional-info {
  margin-top: 2rem;
  color: var(--lighterGrey);
  font-size: .85rem;
  text-transform: none;
}
