astrobin-avatar {
  display: block;
  width: 50%;
  padding: 1rem;
}

.feedback {
  display: block;
  padding: 1rem;
  margin-top: 1rem;
}

.card-footer {
  font-size: .85rem;
  color: var(--lightGrey);
}
