<ng-container *ngIf="user$ | async as user; else loadingTemplate">
  <div class="card">
    <div class="card-body">
      <astrobin-avatar [user]="user"></astrobin-avatar>
      <astrobin-username [user]="user"></astrobin-username>
      <astrobin-marketplace-feedback-widget
        [listing]="listing"
        [user]="user"
        class="d-block mt-3"
      ></astrobin-marketplace-feedback-widget>
    </div>

    <div class="card-footer flex-column align-items-start">
      <div class="joined-astrobin">
        <strong>{{ "Joined AstroBin" | translate }}:</strong>&nbsp;
        {{ user.dateJoined | localDate | timeago }}
      </div>

      <div class="listing-count">
        <strong>{{ "Total marketplace listings" | translate }}:</strong>
        {{ user.marketplaceListingCount }}
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>
