.constellation-jump-to {
  margin-bottom: 4rem;
}

.constellation {
  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  .constellation-image {
    background: var(--white);
    padding: 0.5rem;
    width: 100%;
  }

  .constellation-id {
    color: var(--lightGrey);
  }
}
