<div class="page has-breadcrumb">
  <h1>{{ pageTitle }}</h1>

  <div class="constellation-jump-to">
    <label for="constellation-selector">{{ "Jump to" | translate }}:</label>
    <ng-select
      (change)="jumpTo($event)"
      [clearable]="false"
      [items]="constellations"
      bindLabel="name"
      bindValue="id"
      id="constellation-selector"
    >
      <ng-template let-item="item" ng-label-tmp> {{ item.id }}: {{ item.name }} </ng-template>

      <ng-template let-item="item" ng-option-tmp> {{ item.id }}: {{ item.name }} </ng-template>
    </ng-select>
  </div>

  <ng-container *ssrExclude>
    <div
      *ngFor="let constellation of constellations"
      class="constellation"
      id="constellation-{{ constellation.id }}"
    >
      <ng-container *ngIf="constellation.data$ | async as constellationData">
        <div class="row align-items-center">
          <div class="col-12 col-lg-4">
            <img [alt]="constellation.name" [src]="constellationData.originalimage?.source"
                 class="constellation-image" />
          </div>
          <div class="col-12 col-lg-8">
            <h3 class="mt-4 mt-lg-0">
              <span class="constellation-id">{{ constellation.id }}</span> {{ constellation.name }}
            </h3>
            <p>{{ constellationData.extract }}</p>
            <a
              (click)="findImages(constellation)"
              [class.loading]="loadingService.loading$ | async"
              class="btn btn-outline-primary"
            >
              {{ "Find images" | translate }}
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
