<h5 class="mb-4">
  {{ "Astrophotographers who have used this equipment item" | translate }}
  <astrobin-data-does-not-update-in-realtime></astrobin-data-does-not-update-in-realtime>
</h5>

<div *ngIf="!loadingService.isLoading(); else loading" class="objects-using">
  <ng-container *ngIf="users?.length > 0; else noUsers">
    <astrobin-avatar *ngFor="let user of users" [user]="user"></astrobin-avatar>
  </ng-container>
  <ng-template #noUsers>
    <span class="text-muted">
      {{ "Nobody is using this equipment item on AstroBin, at the moment." | translate }}
    </span>
  </ng-template>
</div>

<ng-template #loading>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>
