<div class="page has-breadcrumb">
  <h1 class="d-flex justify-content-between">
    <span class="flex-grow-1">{{ "Review queue" | translate }}</span>

    <span class="actions">
      <astrobin-queue-sort-button (queueSortOrderChanged)="refresh($event)" class="me-2"></astrobin-queue-sort-button>

      <button (click)="refresh()" class="btn me-2">
        <fa-icon icon="sync"></fa-icon>
        {{ "Refresh" | translate }}
      </button>

      <astrobin-toggle-button
        (toggle)="toggleDisplayHiddenImages()"
        [label]="'Display hidden images' | translate"
        [value]="displayHiddenImages"
        class="me-1"
        id="display-hidden-images"
      ></astrobin-toggle-button>
    </span>
  </h1>

  <ng-container *ngIf="queue$ | async as queue; else loading">
    <ng-container *ngIf="hiddenImages$ | async as hiddenImages">
      <ng-container *ngIf="promotions$ | async as promotions">
        <ng-container *ngIf="queue?.count > 0; else noEntries">
          <astrobin-review-slots
            (slotClick)="scrollToEntry($event)"
            [availableEntries]="queue.results"
            ngStickyNav
            stickyClass="sticky-promotion-slots"
          >
          </astrobin-review-slots>

          <ng-container [ngTemplateOutletContext]="{ queue: queue }" [ngTemplateOutlet]="pagination"></ng-container>

          <ng-container *ngFor="let entry of queue.results">
            <astrobin-review-entry
              #promotionQueueEntries
              *ngIf="displayHiddenImages || !isHidden(entry.pk, hiddenImages)"
              [entry]="entry"
              id="promotion-queue-entry-{{ entry.pk }}"
            >
            </astrobin-review-entry>
          </ng-container>

          <ng-container [ngTemplateOutletContext]="{ queue: queue }" [ngTemplateOutlet]="pagination"></ng-container>

          <astrobin-scroll-to-top></astrobin-scroll-to-top>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #noEntries>
  <p>
    {{ "The review queue is currently empty or being refreshed." | translate }}&nbsp;{{ comeBackInMinutesMessage(15) }}
  </p>
</ng-template>

<ng-template #pagination let-queue="queue">
  <ngb-pagination
    (pageChange)="pageChange($event)"
    *ngIf="queue.count > queue.results.length"
    [(page)]="page"
    [collectionSize]="queue.count"
    [pageSize]="pageSize$ | async"
  >
  </ngb-pagination>
</ng-template>

<ng-template #loading>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>
