@import "../../../../styles/breakpoints";

.add-tag .btn {
  margin-top: .5rem;
}

.toggle-enable-fullscreen {
  color: var(--lightGrey);
  font-size: 1.25rem;
  position: absolute;
  top: calc(50% - 1rem);
  right: 1.5rem;
}

.too-many-options-label {
  color: var(--warningColor);
  padding: .5rem;

  @media screen and (max-width: $sm-max) {
    padding: .25rem;
  }
}

.cant-find,
.footer-template-extra {
  @media screen and (max-width: $md-max) {
    display: none;
  }
}
