<div class="page has-breadcrumb">
  <h1 class="d-sm-flex justify-content-between align-items-center">
    <span class="flex-fill">
      {{ pageTitle }}
      <span *ngIf="notificationsService.unreadCount$ | async as unreadCount" class="badge badge-danger badge-pill"
        id="unread-notifications-count">
        {{ unreadCount }}
      </span>
    </span>
    <ng-container [ngTemplateOutlet]="markAllAsReadButton"></ng-container>
  </h1>

  <ng-container *ngIf="notificationsService.notifications$ | async as notifications; else loading">
    <ng-container *ngIf="notifications.count > 0; else noNotifications">
      <ngb-pagination (pageChange)="pageChange($event)" [(page)]="page" [collectionSize]="notifications.count">
      </ngb-pagination>

      <div class="notifications">
        <div class="notification row"
             *ngFor="let notification of notifications.results"
             id="notification-{{notification.id}}">

          <div class="col-2 col-md-1 read-indicator" [class.read]="notification.read"
               [class.unread]="!notification.read">
            <fa-icon (click)="toggleRead(notification)" class="read-icon" icon="eye">
            </fa-icon>
          </div>

          <div class="col-10 col-md-11 col-lg-7 message" (click)="notificationClicked(notification)">
              <span [innerHTML]="notification.message | normalizeNotificationLink"></span>
          </div>

          <div class="col-12 col-lg-4 offset-2 offset-md-1 offset-lg-0 created text-lg-right">
              <abbr [attr.title]="notification.created | localDate">
                {{ notification.created | localDate | timeago:true}}
              </abbr>
            </div>
        </div>
      </div>

      <ngb-pagination (pageChange)="pageChange($event)" [(page)]="page" [collectionSize]="notifications.count">
      </ngb-pagination>
    </ng-container>
  </ng-container>

  <ng-template #noNotifications>
    <astrobin-empty-list></astrobin-empty-list>
  </ng-template>

  <ng-template #loading>
    <div *ngIf="notificationsService.loading$ | async" class="app-loading active"></div>
  </ng-template>

  <div class="buttons-area">
    <ng-container [ngTemplateOutlet]="markAllAsReadButton"></ng-container>
    <a [attr.href]="classicRoutesService.NOTIFICATION_SETTINGS" class="btn btn-secondary">
      {{"Settings"|translate}}
    </a>
  </div>
</div>

<ng-template #markAllAsReadButton>
  <button
    (click)="markAllAsRead()"
    [class.loading]="notificationsService.loading$ | async"
    [disabled]="(notificationsService.unreadCount$ | async) === 0"
    class="btn btn-primary"
    id="mark-all-as-read">
  {{"Mark all as read" | translate}}
  </button>
</ng-template>
