<button
  (click)="expand()"
  *ngIf="isSmallDevice && collapsed"
  class="btn btn-outline-secondary btn-block mb-4"
>
  {{ "Select equipment class" | translate }}
</button>

<ul
  #nav="ngbNav"
  [(activeId)]="activeType"
  [class.collapsed]="collapsed"
  class="nav-pills"
  ngbNav
  orientation="vertical"
>
  <ng-container *ngIf="showBrands">
    <li [ngbNavItem]="'brand'">
      <a
        [queryParams]="{'page': 1}"
        ngbNavLink
        routerLink="{{ routingBasePath }}/brand"
      >
        <img
          (mouseover)="expand()"
          [alt]="'Brands' | translate"
          src="/assets/images/brand-placeholder.png?v=2"
        />
        <span>
          {{ "Brands" | translate }} / {{ "Companies" | translate }}
        </span>

        <span *ngIf="brandCount$" class="count">
        {{ brandCount$ | async }}
        </span>
      </a>
    </li>

    <li class="nav-item-separator"></li>
  </ng-container>

  <li *ngFor="let type of types" [disabled]="type.disabled" [ngbNavItem]="type.value.toLowerCase()">
    <a
      (mouseover)="expand()"
      [queryParams]="{'page': 1}"
      ngbNavLink
      routerLink="{{ routingBasePath }}/{{ type.value.toLowerCase() }}"
    >
      <img
        alt="{{ type.label }}"
        src="/assets/images/{{ type.value.toLowerCase() }}-placeholder.png?v=2"
      />
      <span>
        {{ type.label }}
      </span>

      <span *ngIf="type.count" class="count">
      {{ type.count | async }}
      </span>
    </a>

    <ul
      #subnav="ngbNav"
      *ngIf="activeType === type.value.toLowerCase() && showSubNavigation"
      [(activeId)]="activeSubNav"
      class="nav-pills"
      ngbNav
      orientation="vertical"
    >
      <ng-container *ngIf="currentUser$ | async as currentUser">
        <li *ngIf="currentUser | isEquipmentModerator" ngbNavItem="pending-review-explorer">
          <a ngbNavLink routerLink="/equipment/pending-review-explorer/{{ type.value.toLowerCase() }}">
            {{ "Pending review" | translate }}
          </a>
          <span *ngIf="type.pendingReviewCount" class="count">{{ type.pendingReviewCount | async }}</span>
        </li>

        <li ngbNavItem="followed-explorer">
          <a ngbNavLink routerLink="/equipment/followed-explorer/{{ type.value.toLowerCase() }}">
            {{ "Followed" | translate }}
          </a>
          <span *ngIf="type.followedCount" class="count">{{ type.followedCount | async }}</span>
        </li>
      </ng-container>

      <li ngbNavItem="pending-edit-explorer">
        <a ngbNavLink routerLink="/equipment/pending-edit-explorer/{{ type.value.toLowerCase() }}">
          {{ "Pending edit" | translate }}
        </a>
        <span *ngIf="type.pendingEditCount" class="count">{{ type.pendingEditCount | async }}</span>
      </li>
    </ul>
  </li>

  <ng-container *ngIf="showContributors">
    <li class="nav-item-separator"></li>

    <li [ngbNavItem]="'contributors'">
      <a
        ngbNavLink
        routerLink="{{ routingBasePath }}/contributors"
      >
        <img
          (mouseover)="expand()"
          [alt]="'Contributors' | translate"
          class="contributors-icon"
          src="/assets/images/default-avatar.jpeg?v=2"
        />
        <span>
          {{ "Contributors" | translate }}
        </span>

        <span *ngIf="contributorCount$" class="count">
        {{ contributorCount$ | async }}
        </span>
      </a>
    </li>
  </ng-container>

  <ng-container *ngIf="!collapsed && enableCollapse">
    <li class="nav-item-separator"></li>

    <li [ngbNavItem]="'collapse'">
      <button (click)="collapse()" class="btn btn-outline-secondary btn-block">
        <fa-icon *ngIf="isSmallDevice" icon="angle-double-up"></fa-icon>
        <fa-icon *ngIf="!isSmallDevice" icon="angle-double-left"></fa-icon>
      </button>
    </li>
  </ng-container>
</ul>
