@import "../../../../styles/breakpoints";

.nav-item {
  position: relative;
  min-height: 3rem;

  &:not(:last-child) {
    margin-bottom: .25rem;
  }

  .nav-link {
    display: flex;
    align-items: center;
    gap: .5rem;

    img {
      width: 2rem;
      margin: 0;
    }

    .type-label {
      flex-grow: 1;
    }

    .count {
      font-size: .8rem;
      line-height: 1rem;
      opacity: 0.5;
    }
  }
}

.nav-pills .nav-pills .nav-item {
  @media (max-width: $sm-max) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 2.5rem !important;
    padding-right: 1.5rem;
  }

  @media (min-width: $md-min) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 2rem !important;
    padding-right: 1rem;
  }
}

.contributors-icon {
  border-radius: 50%;
  width: 36px !important;
  top: 0 !important;
  left: 0 !important;
}

::ng-deep {
  .offcanvas.mobile-menu {
    .nav {
      background: none !important;
      box-shadow: none !important;
      padding: 0;
    }
  }
}
