@import "../../../../styles/breakpoints";

.nav-pills {
  @media screen and (max-width: $md-max) {
    margin-bottom: 3rem;
  }

  &.collapsed {
    overflow: hidden;
    background: transparent;
    box-shadow: none;

    @media screen and (max-width: $sm-max) {
      display: none;
    }

    @media screen and (min-width: $md-min) {
      width: 40px;
    }

    .nav-item-separator {
      margin-left: -.5rem;
    }

    .nav-link {
      &.active,
      &:hover {
        background-color: transparent;
      }

      img {
        left: -9px;
      }
    }

    .contributors-icon {
      left: -5px !important;
    }

    // Nested list for pending review/edit.
    .nav-item .nav-pills {
      display: none;
    }
  }
}

.nav-item {
  position: relative;
  min-height: 3rem;

  &:not(:last-child) {
    margin-bottom: .25rem;
  }

  img {
    width: 43px;
    margin: 0;
    position: absolute;
    left: -3px;
    top: -2px;
  }

  .nav-link {
    padding-left: 3rem;
    border-radius: 2rem;
    background-image: none;
  }

  .count {
    position: absolute;
    top: .667rem;
    right: 1rem;
    font-size: .8rem;
    line-height: 1rem;
    opacity: 0.5;
  }

  .nav-pills {
    font-size: .85rem;
    margin-left: 3rem;
    font-style: italic;
    padding: 1rem 0 .5rem 0;
    min-height: initial;

    .nav-link {
      padding: .5rem 1rem;
      color: var(--lighterGrey);
      border-radius: .5rem;

      &.active {
        background-color: transparent;
        border-radius: 0;
        border-bottom: 2px solid #2a9fd6;
      }
    }
  }
}

.contributors-icon {
  border-radius: 50%;
  width: 36px !important;
  top: 0 !important;
  left: 0 !important;
}
