@import "../../../../styles/breakpoints";

.nav-pills {
  @media screen and (max-width: $md-max) {
    margin-bottom: 3rem;
  }

  &.collapsed {
    .nav-link {
      &.active,
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.nav-item {
  position: relative;
  min-height: 3rem;

  &:not(:last-child) {
    margin-bottom: .25rem;
  }

  img {
    width: 2rem;
    margin: .25rem;
    position: absolute;
    left: 0;
    top: 0;
  }

  .nav-link {
    padding-left: 2.5rem;
  }

  .count {
    position: absolute;
    top: .75rem;
    right: .5rem;
    font-size: 1rem;
    line-height: 1rem;
    opacity: .5;
  }

  .nav-pills {
    font-size: .9rem;
    margin: .5rem 0 1rem 1rem;

    .nav-link {
      padding: .5rem 1rem;

      &.active {
        background-color: transparent;
        border-radius: 0;
        border-bottom: 2px solid #2a9fd6;
      }
    }
  }
}

.contributors-icon {
  border-radius: 50%;
  width: 1.75rem !important;
}
