<div class="page has-breadcrumb">
  <h1>{{ pageTitle | translate }}</h1>

  <astrobin-read-only-mode *ngIf="(readOnlyMode$ | async) === true; else formTemplate"></astrobin-read-only-mode>

  <ng-template #formTemplate>
    <div *ngIf="settingCategories$ | async as categories; else loading" class="notification-settings">
      <ngb-accordion #accordion="ngbAccordion">
        <ngb-panel *ngFor="let category of categories">
          <ng-template ngbPanelTitle>
            {{ category.label }}
          </ng-template>

          <ng-template ngbPanelContent>
            <form
              *ngFor="let item of category.items | keyvalue"
              class="notification-form d-flex flex-row align-items-center flex-wrap"
            >
              <div class="form-group">
                <label>{{ getNotificationTypeById(item.key).display }}</label>
              </div>

              <div class="form-group">
                <div class="form-check form-check-inline">
                  <astrobin-toggle-button
                    [attr.id]="'notification-' + item.key + '-email'"
                    [label]="'E-mail' | translate"
                    [labelClassName]="'form-check-label'"
                    [value]="item.value['EMAIL'].send"
                    (toggle)="notificationSettingChanged(item.value['EMAIL'], $event)"
                    class="me-2"
                  ></astrobin-toggle-button>
                </div>

                <div class="form-check form-check-inline">
                  <astrobin-toggle-button
                    [attr.id]="'notification-' + item.key + '-onsite'"
                    [label]="'On-site' | translate"
                    [labelClassName]="'form-check-label'"
                    [value]="item.value['ON_SITE'].send"
                    (toggle)="notificationSettingChanged(item.value['ON_SITE'], $event)"
                    class="me-2"
                  ></astrobin-toggle-button>
                </div>
              </div>
            </form>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </ng-template>
</div>

<ng-template #loading>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>
