<div
  [class.loading]="loadingService.loading$ | async"
  class="global-loading-indicator"
  xmlns="http://www.w3.org/1999/html"
>
  <div class="background"></div>
</div>

<astrobin-header></astrobin-header>

<div class="container">
  <ion-content
    (ionScroll)="scrollService.emitScroll($event)"
    [scrollEvents]="true"
  >
    <astrobin-beta-banner></astrobin-beta-banner>
    <astrobin-breadcrumb></astrobin-breadcrumb>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</div>

<astrobin-footer></astrobin-footer>
