@import "styles/breakpoints";

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .global-loading-indicator {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    z-index: 9999;

    .background {
      background-color: var(--secondaryAccentColor);
      height: .3rem;
      width: 100%;
    }

    &.loading {
      padding: .15rem 0;

      .background {
        position: absolute;
        left: -46px;
        right: 0;
        top: 0;
        bottom: 0;
        height: .5rem;
        width: calc(100% + 46px);
        z-index: -1;

        background: repeating-linear-gradient(
            -55deg,
            var(--lighterSecondaryAccentColor) 1px,
            var(--secondaryAccentColor) 2px,
            var(--secondaryAccentColor) 11px,
            var(--lighterSecondaryAccentColor) 12px,
            var(--lighterSecondaryAccentColor) 20px
        );

        animation-name: move-striped-loading-indicator;
        animation-duration: .5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
  }

  > .container {
    flex: 1;
    margin-top: 3.75rem; // For the fixed navigation header

    @media screen and (max-width: $md-max) {
      padding: 0;
      max-width: unset;
      // For the fixed mobile navigation footer
      // margin-bottom: 3rem;
    }
  }
}
