@import "styles/breakpoints";

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > .container {
    flex: 1;
    margin-top: 3.75rem; // For the fixed navigation header

    @media screen and (max-width: $md-max) {
      padding: 0;
      max-width: unset;
      margin-bottom: 3rem; // For the fixed mobile navigation footer
    }
  }
}
