<div
  [class.loading]="loadingService.loading$ | async"
   class="global-loading-indicator"
   xmlns="http://www.w3.org/1999/html"
>
  <div class="background"></div>
</div>

<astrobin-header class="d-none d-lg-block"></astrobin-header>
<astrobin-mobile-header class="d-block d-lg-none"></astrobin-mobile-header>

<div class="container">
  <astrobin-beta-banner></astrobin-beta-banner>
  <astrobin-breadcrumb></astrobin-breadcrumb>
  <router-outlet></router-outlet>
</div>

<astrobin-mobile-footer class="d-block d-lg-none"></astrobin-mobile-footer>
<astrobin-footer></astrobin-footer>
