:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > .container {
    flex: 1;

    &.has-fullscreen-content {
      flex: initial;
      position: absolute;
      height: 100%;
      overflow: hidden;
    }
  }
}
