@import "variables";

label {
  font-size: 1rem;
  font-weight: bold;
}

.form-control {
  &,
  &:focus {
    background-color: $darker-grey;
    border-color: $dark-grey;
    color: $light-grey;

    &::placeholder {
      color: $dark-grey !important;
    }
  }

  &.is-invalid {
    border-left: .5rem solid $error-red;
    padding-left: calc(.75rem - .5rem + 1px);
  }
}

.form-group {
  margin-bottom: 2rem;

  &.has-error {
    label {
      color: $error-red;
    }
  }
}

.form-actions {
  margin-top: 2rem;
  padding-top: .75rem;
  border-top: 1px solid $dark-grey;
  text-align: right;

  .btn:not(:last-child) {
    margin-right: 1rem;
  }
}
