$accent-color: #CC4B2E;

$white: #FCFCFC;
$lightest-grey: #EFEFEF;
$lighter-grey: #D9D9D9;
$light-grey: #999999;
$grey: #666666;
$dark-grey: #343434;
$darker-grey: #242424;
$darkest_background_text_color: #B0B0B0;

$error-red: #E84545;

// Bootstrap overrides:
$theme-colors: (
  "primary": $accent-color
);

