@import "../../../../../styles/breakpoints";

.back-to-marketplace {
  font-size: .9rem;
  text-shadow: none;
  font-weight: normal;
}

.private-conversations {
  .avatar-wrapper {
    position: relative;
    display: block;
    margin-bottom: 1.5rem;

    @media screen and (max-width: $xl-max) {
      width: calc(50% - .5rem);
    }

    @media screen and (max-width: $lg-max) {
      width: calc(100% - .5rem);
    }

    @media screen and (max-width: $md-max) {
      width: calc(50% - .5rem);
    }

    astrobin-avatar {
      width: 80px
    }

    .badge {
      position: absolute;
      top: -.25rem;
      left: calc(50% + 1rem);
    }

    .buyer {
      font-size: .9rem;
      color: var(--lighterGrey);
    }
  }

  @media (max-width: $sm-max) {
    height: 0;
    border: 0;

    .card-header {
      display: none;
    }

    .card-body {
      margin: 0;

      > div {
        position: fixed;
        bottom: 5rem;
        right: 0.75rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        z-index: 1;
        max-height: calc(100vh - 5.5rem);
        overflow-y: auto;
        flex-wrap: nowrap !important;
        padding: .5rem 0;

        .avatar-wrapper {
          margin: 0;
        }

        astrobin-avatar {
          width: 80px;

          img {
            box-shadow: 0 0 2rem var(--black);
          }
        }

        astrobin-username {
          display: none !important;
        }
      }
    }
  }
}

astrobin-marketplace-more-from-user {
  display: block;
  margin-top: 2rem;
}

.listing-info {
  font-size: 1rem;
  text-shadow: none;
  color: var(--lighterGrey);
  font-weight: normal;

  fa-icon {
    margin-right: .25rem;
  }
}

.share-buttons {
  white-space: nowrap;

  .btn {
    vertical-align: middle;

    &:hover fa-icon {
      color: var(--lightestGrey);
    }
  }

  fa-icon {
    font-size: 1.25rem;
    color: var(--lighterGrey);
  }
}

.btn-report {
  fa-icon,
  .btn-text {
    font-size: .9rem;
    color: var(--lighterGrey);
  }
}
