<ul ngbNav #nav="ngbNav" [activeId]="activeId" class="nav-pills mb-5" orientation="vertical">
  <li ngbNavItem="migration">
    <a ngbNavLink routerLink="/equipment/migration-tool"><strong>Migrate</strong> legacy items</a>
  </li>

  <li ngbNavItem="explorer">
    <a ngbNavLink routerLink="/equipment/migration-explorer"><strong>Explore</strong> new database</a>
  </li>

  <li ngbNavItem="review">
    <a ngbNavLink routerLink="/equipment/migration-review"><strong>Review</strong> migrations</a>
  </li>
</ul>
