.nav-item {
  position: relative;
  height: calc(2.5rem + 2px);

  &:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  img {
    width: 2rem;
    margin: 0.25rem;
    float: left;
  }

  .counter {
    position: absolute;
    top: calc(50% - 0.5rem);
    right: 0.5rem;
    font-size: 1rem;
    line-height: 1rem;
    opacity: 0.5;
  }
}
