<div class="row">
  <div class="col-12">
    <astrobin-equipment-item-browser
      *ngIf="enableBrowser"
      #itemBrowser
      [label]="equipmentItemBrowserLabel"
      [type]="activeType"
      [value]="this.activeId"
      [enableFullscreen]="true"
      (creationModeStarted)="onCreationModeStarted()"
      (creationModeEnded)="onCreationModeEnded()"
      (valueChanged)="onSelectedItemChanged($event)"
    ></astrobin-equipment-item-browser>
  </div>
</div>
<!-- browser row -->

<div class="row">
  <div class="col order-last order-lg-first">
    <div class="card" [class.disabled-with-backdrop]="subCreationMode" *ngIf="!!selectedItem">
      <div class="backdrop"></div>

      <div class="card-header">
        {{ equipmentItemService.humanizeType(activeType) }}
      </div>

      <div class="card-body">
        <div *ngIf="selectedItem.reviewerDecision === null && !!selectedItem.brand" class="alert alert-warning">
          {{
            "This item has not been approved yet, so it's not available to be associated with images, except for the user who created it."
              | translate
          }}
        </div>

        <div *ngIf="!!selectedItem.frozenAsAmbiguous" class="alert alert-warning">
          {{ "This item is frozen as ambiguous and cannot be associated to images again." | translate }}
        </div>

        <astrobin-equipment-item-summary
          [item]="selectedItem"
          [showClass]="false"
          [showEmptyProperties]="true"
          [showLargeImage]="true"
          [showMeta]="true"
          [enableBrandLink]="true"
          [showCommunityNotes]="true"
          [showMostOftenUsedWith]="true"
          (editButtonClick)="startEditMode()"
        ></astrobin-equipment-item-summary>

        <div *ngIf="!!selectedItem.variantOf || selectedItem.variants.length > 0" class="item-variants-container">
          <ng-container *ngIf="selectedItem.variants.length > 0; else variantTemplate">
            {{ "Also available in the following variants:" | translate }}

            <span class="item-variants">
              <a
                [routerLink]="['/equipment/explorer/', variant.klass.toLowerCase(), variant.id]"
                *ngFor="let variant of selectedItem.variants"
                class="item-variant"
              >
                <ng-container
                  *ngIf="
                    selectedItem.klass === EquipmentItemType.CAMERA &&
                      asCamera(selectedItem).type === CameraType.DSLR_MIRRORLESS;
                    else notDslrOrMirrorlessCamera
                  "
                >
                  <span *ngIf="!asCamera(variant).modified && !asCamera(variant).cooled">
                    <fa-icon icon="camera"></fa-icon>
                    {{ "Regular" | translate }}
                  </span>

                  <span
                    *ngIf="asCamera(variant).modified && !asCamera(variant).cooled"
                    [ngbPopover]="modificationPopoverMessage()"
                    [popoverTitle]="modificationTitle()"
                    triggers="mouseenter:mouseleave"
                  >
                    <fa-icon icon="microchip"></fa-icon>
                    {{ modificationTitle() }}
                  </span>

                  <span
                    *ngIf="!asCamera(variant).modified && asCamera(variant).cooled"
                    [ngbPopover]="coolingPopoverMessage()"
                    [popoverTitle]="coolingTitle()"
                    triggers="mouseenter:mouseleave"
                  >
                    <fa-icon icon="icicles"></fa-icon>
                    {{ coolingTitle() }}
                  </span>

                  <span
                    *ngIf="asCamera(variant).modified && asCamera(variant).cooled"
                    [ngbPopover]="modificationPopoverMessage() + ' ' + coolingPopoverMessage()"
                    [popoverTitle]="modificationTitle() + ' + ' + coolingTitle()"
                    triggers="mouseenter:mouseleave"
                  >
                    <fa-icon icon="microchip"></fa-icon>
                    {{ modificationTitle() }}
                    <fa-icon icon="plus"></fa-icon>
                    <fa-icon icon="icicles"></fa-icon>
                    {{ coolingTitle() }}
                  </span>
                </ng-container>

                <ng-template #notDslrOrMirrorlessCamera>
                  <astrobin-equipment-item-display-name
                    [item]="variant"
                    [showBrand]="false"
                    [cut]="selectedItem.name"
                  ></astrobin-equipment-item-display-name>
                </ng-template>
              </a>
            </span>
          </ng-container>

          <ng-template #variantTemplate>
            <ng-container *ngIf="!!selectedItem.variantOf">
              <ng-container
                *ngIf="
                  selectedItem.klass === EquipmentItemType.CAMERA &&
                    asCamera(selectedItem).type === CameraType.DSLR_MIRRORLESS;
                  else variantNotDslrOrMirrorlessCamera
                "
              >
                {{ "This is a modified and/or custom-cooled variant of this camera." | translate }}
                <a [routerLink]="['/equipment/explorer/', selectedItem.klass.toLowerCase(), selectedItem.variantOf]">
                  {{ "Go to regular variant." | translate }}
                </a>
              </ng-container>
              <ng-template #variantNotDslrOrMirrorlessCamera>
                {{ "This is a variant of another equipment item." | translate }}
                <a [routerLink]="['/equipment/explorer/', selectedItem.klass.toLowerCase(), selectedItem.variantOf]">
                  {{ "Go to base variant." | translate }}
                </a>
              </ng-template>
            </ng-container>
          </ng-template>
        </div>
      </div>

      <div class="card-footer">
        <button
          class="btn btn-sm-block btn-outline-secondary"
          [class.loading]="loadingService.loading$ | async"
          [disabled]="editMode"
          (click)="resetBrowser()"
        >
          {{ "Close" | translate }}
        </button>

        <ng-container *ngIf="currentUser$ | async as currentUser">
          <ng-container *ngIf="!!currentUser">
            <button
              *ngIf="!selectedItem.frozenAsAmbiguous"
              class="btn btn-secondary"
              data-test="propose-edit"
              [class.loading]="loadingService.loading$ | async"
              [disabled]="editMode"
              (click)="startEditMode()"
            >
              {{ "Propose edit" | translate }}&hellip;
            </button>

            <div *ngIf="currentUser | isEquipmentModerator" ngbDropdown>
              <button
                ngbDropdownToggle
                type="button"
                id="moderate-menu"
                class="btn btn-danger"
                [class.loading]="loadingService.loading$ | async"
              >
                {{ "Moderate" | translate }}
              </button>

              <div ngbDropdownMenu aria-labelledby="moderate-menu">
                <button
                  *ngIf="typeSupportsMigrateInto()"
                  ngbDropdownItem
                  data-test="migrate-into"
                  [disabled]="editMode"
                  (click)="startMigrationMode()"
                >
                  {{ "Migrate into" | translate }}&hellip;
                </button>

                <ng-container
                  *ngIf="
                    !!selectedItem.brand &&
                    selectedItem.reviewerDecision === EquipmentItemReviewerDecision.APPROVED &&
                    !selectedItem.frozenAsAmbiguous
                  "
                >
                  <button
                    ngbDropdownItem
                    class="text-warning"
                    data-test="freeze-as-ambiguous"
                    [class.loading]="loadingService.loading$ | async"
                    [disabled]="editMode"
                    (click)="startFreezeAsAmbiguous()"
                  >
                    {{ "Freeze" | translate }}&hellip;
                  </button>
                </ng-container>

                <ng-container
                  *ngIf="
                    !!selectedItem.brand &&
                    selectedItem.reviewerDecision === EquipmentItemReviewerDecision.APPROVED &&
                    selectedItem.frozenAsAmbiguous
                  "
                >
                  <button
                    ngbDropdownItem
                    class="text-warning"
                    data-test="freeze-as-ambiguous"
                    [class.loading]="loadingService.loading$ | async"
                    [disabled]="editMode"
                    (click)="startUnfreezeAsAmbiguous()"
                  >
                    {{ "Unfreeze" | translate }}&hellip;
                  </button>
                </ng-container>

                <ng-container
                  *ngIf="(!selectedItem.assignee || selectedItem.assignee === currentUser.id)"
                >
                  <ng-container
                    *ngIf="selectedItem.reviewerDecision === null && selectedItem.createdBy !== currentUser.id"
                  >
                    <button
                      ngbDropdownItem
                      class="text-danger"
                      data-test="reject"
                      [class.loading]="loadingService.loading$ | async"
                      [disabled]="editMode"
                      (click)="startRejection()"
                    >
                      {{ "Reject" | translate }}&hellip;
                    </button>

                    <button
                      ngbDropdownItem
                      class="text-success"
                      data-test="reject"
                      [class.loading]="loadingService.loading$ | async"
                      [disabled]="editMode"
                      (click)="startApproval()"
                    >
                      {{ "Approve" | translate }}&hellip;
                    </button>
                  </ng-container>

                  <ng-container
                    *ngIf="
                      selectedItem.reviewerDecision === EquipmentItemReviewerDecision.APPROVED &&
                      selectedItem.createdBy !== currentUser.id
                    "
                  >
                    <button
                      ngbDropdownItem
                      class="text-danger"
                      data-test="unapprove"
                      [class.loading]="loadingService.loading$ | async"
                      [disabled]="editMode"
                      (click)="startUnapproval()"
                    >
                      {{ "Unapprove" | translate }}&hellip;
                    </button>
                  </ng-container>
                </ng-container>
              </div>
            </div>

            <a
              href="#"
              appEventPreventDefault
              class="add-to-compare"
              [class.loading]="loadingService.loading$ | async"
              (click)="compareService.addWithErrorHandling(selectedItem)"
            >
              <fa-icon icon="list-alt" [ngbTooltip]="'Add to comparison list' | translate"></fa-icon>
            </a>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <ng-container *ngIf="selectedItem">
      <ng-container *ngIf="editProposals !== null; else loadingEditProposals">
        <div class="edit-proposals" *ngIf="editProposals.length > 0">
          <ng-container *ngIf="showEditProposals(); else editProposalsCollapsedTemplate">
            <div class="edit-proposals-header" (click)="collapseEditProposals()">
              <div class="row">
                <span class="col">{{ "Edit proposal by" | translate }}</span>
                <span class="col-2 d-none d-lg-inline">{{ "Changes" | translate }}</span>
                <span class="col-4 col-lg-3">{{ "Status" | translate }}</span>
                <span class="col-3 d-none d-lg-inline">{{ "Time" | translate }}</span>
              </div>
            </div>

            <astrobin-item-edit-proposal
              *ngFor="let editProposal of editProposals"
              [editProposal]="editProposal"
              [opened]="activeEditProposalId === editProposal.id"
            ></astrobin-item-edit-proposal>
          </ng-container>

          <ng-template #editProposalsCollapsedTemplate>
            <div
              class="edit-proposals-collapsed"
              [innerHTML]="collapsedEditProposalsMessage(editProposals)"
              (click)="expandEditProposals()"
            ></div>
          </ng-template>
        </div>
      </ng-container>

      <ng-template #loadingEditProposals>
        <div class="loading-edit-proposals">
          {{ "Loading edit proposals" | translate }}
          <astrobin-text-loading-indicator></astrobin-text-loading-indicator>
        </div>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="editMode">
      <div class="mt-4 mb-4 text-center">
        <fa-icon icon="arrow-down"></fa-icon>
      </div>

      <div class="card mt-4 mb-4" [class.disabled-with-backdrop]="subCreationMode" id="edit-item">
        <div class="backdrop"></div>

        <div class="card-info alert alert-info">
          <fa-icon icon="info-circle"></fa-icon>
          {{ "The AstroBin equipment database is a collective community effort similar to Wikipedia." | translate }}
          {{ "Any changes you make will be reviewed by other members." | translate }}
          {{ "Feel free to contribute!" | translate }}
        </div>

        <div class="card-header">
          {{ "Propose edit" | translate }}
        </div>

        <div class="card-body">
          <astrobin-camera-editor
            #editor
            *ngIf="activeType === EquipmentItemType.CAMERA"
            [form]="editForm"
            [model]="editModel"
            (subCreationInProgress)="subCreationMode = $event"
            [editorMode]="EquipmentItemEditorMode.EDIT_PROPOSAL"
          ></astrobin-camera-editor>

          <astrobin-sensor-editor
            #editor
            *ngIf="activeType === EquipmentItemType.SENSOR"
            [form]="editForm"
            [model]="editModel"
            (subCreationInProgress)="subCreationMode = $event"
            [editorMode]="EquipmentItemEditorMode.EDIT_PROPOSAL"
          ></astrobin-sensor-editor>

          <astrobin-telescope-editor
            #editor
            *ngIf="activeType === EquipmentItemType.TELESCOPE"
            [form]="editForm"
            [model]="editModel"
            (subCreationInProgress)="subCreationMode = $event"
            [editorMode]="EquipmentItemEditorMode.EDIT_PROPOSAL"
          ></astrobin-telescope-editor>

          <astrobin-mount-editor
            #editor
            *ngIf="activeType === EquipmentItemType.MOUNT"
            [form]="editForm"
            [model]="editModel"
            (subCreationInProgress)="subCreationMode = $event"
            [editorMode]="EquipmentItemEditorMode.EDIT_PROPOSAL"
          ></astrobin-mount-editor>

          <astrobin-filter-editor
            #editor
            *ngIf="activeType === EquipmentItemType.FILTER"
            [form]="editForm"
            [model]="editModel"
            (subCreationInProgress)="subCreationMode = $event"
            [editorMode]="EquipmentItemEditorMode.EDIT_PROPOSAL"
          ></astrobin-filter-editor>

          <astrobin-accessory-editor
            #editor
            *ngIf="activeType === EquipmentItemType.ACCESSORY"
            [form]="editForm"
            [model]="editModel"
            (subCreationInProgress)="subCreationMode = $event"
            [editorMode]="EquipmentItemEditorMode.EDIT_PROPOSAL"
          ></astrobin-accessory-editor>

          <astrobin-software-editor
            #editor
            *ngIf="activeType === EquipmentItemType.SOFTWARE"
            [form]="editForm"
            [model]="editModel"
            (subCreationInProgress)="subCreationMode = $event"
            [editorMode]="EquipmentItemEditorMode.EDIT_PROPOSAL"
          ></astrobin-software-editor>
        </div>

        <div class="card-footer">
          <button
            class="btn btn-sm-block btn-secondary"
            [class.loading]="loadingService.loading$ | async"
            (click)="cancelEditMode()"
          >
            {{ "Cancel" | translate }}
          </button>

          <button
            class="btn btn-sm-block btn-primary"
            data-test="propose-edit-confirm"
            [class.loading]="(loadingService.loading$ | async) || editForm.pending"
            (click)="proposeEdit()"
          >
            {{ "Propose edit" | translate }}
          </button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="currentUser$ | async as currentUser">
      <ng-container
        *ngIf="selectedItem && (currentUser.id === selectedItem.createdBy || (currentUser | isEquipmentModerator))"
      >
        <div *ngIf="contentType$ | async as contentType" class="comments mt-3">
          <astrobin-nested-comments
            [contentType]="contentType"
            [objectId]="selectedItem.id"
            [info]="commentsSectionInfoMessage$ | async"
          ></astrobin-nested-comments>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="!!selectedItem && isBrowser">
      <astrobin-forum-preview
        *ngIf="showForum && !!selectedItem.forum"
        [forumId]="selectedItem.forum"
        class="mt-5 d-block"
      >
      </astrobin-forum-preview>

      <astrobin-image-search
        [header]="'Acquired with this item' | translate"
        [text]="equipmentItemService.getFullDisplayName$(selectedItem) | async"
        [itemType]="activeType"
        [itemId]="selectedItem.id"
        ordering="-likes"
        class="mt-5 d-block"
      ></astrobin-image-search>
    </ng-container>
  </div>
  <!-- main pane -->

  <div
    *ngIf="!!listings && (listings.brandListings.length > 0 || listings.itemListings.length > 0)"
    class="col-sm-12 col-lg-3 sidebar"
  >
    <astrobin-equipment-listings
      [item]="selectedItem"
      [listings]="listings"
      class="d-block mb-5"
    ></astrobin-equipment-listings>
  </div>
  <!-- side pane -->
</div>
<!-- card row -->
