astrobin-equipment-item-browser {
  display: block;
  margin-bottom: 2rem;
}

.card {
  .card-body > .alert {
    margin: -1.25rem;
    margin-bottom: 1rem;
    border-radius: 0;
    padding: .25rem 1rem;
    font-size: .9rem;
  }
}

.loading-edit-proposals {
  font-style: italic;
  font-size: .9rem;
  padding: .25rem 1rem;
  background: var(--darkerGrey);
  color: var(--lighterGrey);
  border-radius: 0 0 .25rem .25rem;
}

.edit-proposals {
  background: var(--darkestGrey);
  box-shadow: 0 0 1rem var(--black);
  margin-left: 1rem;
  margin-right: 1rem;

  .edit-proposals-header {
    padding: 1rem 1rem .5rem 1rem;
    border-bottom: 1px dashed var(--grey);
    font-weight: bold;
    cursor: pointer;
  }

  .edit-proposals-collapsed {
    padding: 1rem 1rem .5rem 1rem;
    color: var(--gray);
    cursor: pointer;
  }
}

.camera-variants-container {
  padding: .75rem 1.5rem;
  margin: -1.25rem;
  margin-top: 1rem;
  font-size: .85rem;
  font-style: italic;

  .camera-variant {
    display: block;
    padding: .33rem;
    width: 100%;
    border-bottom: 0;
    margin-left: 1rem;

    [icon=plus] {
      margin: 0 .5rem;
    }

    &:first-child {
      margin-top: .5rem;
    }
  }
}

::ng-deep #create-new-item {
  z-index: 999;
}

.coming-soon {
  margin-top: 3rem;
  text-align: center;
  padding: 2rem;
  background: rgba(255,255,255, .025);
  border: 1px dashed rgba(255, 255, 255, .15);
  color: var(--lighterGrey);
  opacity: .66;
}
