@import "../../../../styles/breakpoints";

:host {
  display: block;
  text-align: center;
}

.objects-using {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

astrobin-avatar {
  width: calc(33% - 1rem);
  margin: .5rem;
  transition: transform .1s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  @media screen and (max-width: $md-max) {
    width: calc(20% - .25rem);
  }
}

astrobin-loading-indicator {
  margin-top: 1rem;
}
