:host {
  display: block;
  text-align: center;
}

h5 {
  margin-bottom: 1rem !important;
}

astrobin-avatar {
  display: inline-block;
  width: calc(20% - .25rem);
  margin-right: .25rem
}

astrobin-image {
  display: inline-block;
  width: calc(14.2857% - .25rem);
  margin-right: .25rem;
  transition: transform .1s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

astrobin-loading-indicator {
  margin-top: 1rem;
}
