::ng-deep .offcanvas-deep-sky-integration-details {
  &:not(.offcanvas-bottom) {
    width: 40vw !important;
  }

  .filter-details-title {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2rem);

    strong {
      font-weight: bold;
      color: var(--white);
    }

    span {
      color: var(--lighterGrey);
    }
  }

  .filter-details {
    .date {
      color: var(--lighterGrey);
      margin-right: .5rem;
    }

    .number {
      margin-left: .5rem;
    }

    .number,
    .duration {
      color: var(--lightestGrey);
    }
  }
}
