<div class="image-viewer-overlay">
  <button class="close-button" (click)="close()">
    <fa-icon icon="times-circle"></fa-icon>
  </button>

  <ng-container *ngIf="!!image; else loadingTemplate">
    <div class="image-area">
      <button
        *ngIf="currentIndex > 0"
        (click)="onPreviousClicked()"
        class="previous-button"
      >
        <fa-icon icon="chevron-circle-left"></fa-icon>
      </button>

      <astrobin-image
        [alias]="alias"
        [image]="image"
      ></astrobin-image>

      <button
        *ngIf="currentIndex < navigationContext?.length - 1"
        (click)="onNextClicked()"
        class="next-button"
      >
        <fa-icon icon="chevron-circle-right"></fa-icon>
      </button>
    </div>

    <div class="data-area">
      <h2 class="title">
        {{ image.title }}
      </h2>
    </div>
  </ng-container>
</div>

<ng-template #loadingTemplate>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>
