@import "../../../../styles/breakpoints";
@import "../../../../styles/mixins";

:host {
  display: flex;
  @include flex-gap(row, 0.5rem);
  flex-wrap: wrap;
}

astrobin-equipment-item-display-name {
  @include equipment-item-pill;

  &.highlighted {
    background-color: var(--gold);
    color: var(--black);

    ::ng-deep {
      .ng-fa-icon[icon="shopping-cart"] {
        color: var(--black) !important;
      }

      .ng-fa-icon[icon="info-circle"] {
        color: var(--white) !important;
      }
    }
  }
}

.legacy-equipment {
  color: var(--lightestGrey);
  background: var(--grey);
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  @include flex-gap(row, 0.5rem);

  .klass-icon {
    opacity: 0.75;
    width: 0.8rem;
    height: 0.8rem;

    & + span {
      padding-left: 0.5rem;
      border-left: 1px solid var(--lightGrey);
    }
  }

  @media (hover: hover) {
    &:hover {
      background: var(--lightGrey);

      .klass-icon + span {
        border-left-color: var(--lighterGrey);
      }
    }
  }
}
