@import "../../../../styles/breakpoints";
@import "../../../../styles/mixins";

:host {
  @include darkest-background-texture;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  width: 100%;
  z-index: 1031;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .5);

  @media (max-width: $lg-max) {
    padding: .5rem 1rem;
  }

  @media (max-width: $md-max) and (max-aspect-ratio: 1/1) {
    position: fixed;
  }

  .image-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white);
    font-size: 1.25rem;

    @media (max-width: $md-max) {
      font-size: 1rem;
    }
  }
}
