@import "../../../../styles/breakpoints";

:host {
  .coordinates {
    ::ng-deep {
      .ra,
      .dec {
        white-space: nowrap;

        .hours,
        .minutes,
        .seconds {
          .symbol {
            vertical-align: .375rem;
            font-size: .65rem;
            line-height: 0;
          }
        }
      }

      .separator {
        display: inline-block;
        margin: 0 .25rem;
      }
    }
  }

  @media (min-width: $xs-min) and (max-width: $sm-max), (min-width: $lg-min) and (max-width: $xl-max) {
    .coordinates {
      ::ng-deep {
        .ra,
        .dec {
          .seconds {
            display: none;
          }
        }
      }
    }
  }

  .metadata-item.objects-in-field {
    flex-direction: row;
    align-items: flex-start;

    .metadata-icon {
      padding-top: calc(.5rem + 1px);
    }

    .metadata-label {
      display: flex;
      flex-wrap: wrap;
      gap: .375rem;

      .value {
        color: var(--lightestGrey);
        background: var(--grey);
        padding: .125rem .375rem;
        border-radius: .5rem;
        border: 1px solid var(--lightGrey);
        cursor: pointer;

        &:hover {
          background: var(--lightGrey);
        }
      }
    }
  }
}

::ng-deep .offcanvas-more-info {
  &:not(.offcanvas-bottom) {
    width: 40vw !important;
  }
}
