@import "../../../../styles/breakpoints";

:host {
  .image-viewer-title {
    padding-bottom: .75rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);

    h2 {
      font-size: 1.5rem;

      small {
        font-size: .75rem;
        color: var(--lightGrey);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: .75rem;
        margin-top: .5rem;

        > span:not(:last-child) {
          &::after {
            content: '\b7'; /* middot */
            display: inline-block;
            margin-left: .5rem;
            color: var(--lightGrey);
          }
        }

        .original-filename {
          word-break: break-all;
        }

        .view-count {
          color: var(--lightestGrey);
        }

        @media (max-width: $md-max) {
          gap: .5rem;
        }

        @media (max-width: $sm-max) {
          gap: .25rem;
        }
      }

      .license-icon {
        color: var(--accentColor);
        cursor: help;
        font-size: .7rem;
        line-height: 1rem;
        margin-right: .5rem;

        @media (max-width: $sm-max) {
          margin-right: .25rem;
        }
      }

      @media (max-width: $md-max) {
        font-size: 1.25rem;
      }

      @media (max-width: $sm-max) {
        font-size: 1.15rem;
      }
    }

    .iotd-tp {
      margin-top: 1rem;
      font-size: .75rem;

      .top-pick,
      .top-pick-nomination,
      .in-iotd-queue {
        padding: .25rem .5rem;
        border-radius: .75rem;

        .label {
          text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);

          .ng-fa-icon {
            margin-right: .25rem;
          }
        }

        .ng-fa-icon {
          opacity: .75;
          filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, .25));
        }
      }

      .top-pick {
        background: var(--silver);

        .label,
        .ng-fa-icon {
          color: var(--brightWhite);
        }
      }

      .top-pick-nomination {
        background: var(--bronze);

        .label,
        .ng-fa-icon {
          color: var(--white);
        }
      }

      .in-iotd-queue {
        background: var(--lighterGrey);

        .label {
          color: var(--black);
          text-shadow: 1px 1px 0 rgba(255, 255, 255, .25);
        }

        .ng-fa-icon {
          color: var(--black);
        }
      }
    }

    .dropdown .ng-fa-icon {
      padding: .5rem;
      cursor: pointer;

      &:hover {
        color: var(--white);
      }
    }
  }
}

::ng-deep .image-iotd-tp-stats-offcanvas {
  &:not(.offcanvas-bottom) {
    width: 40vw !important;
  }
}
