:host {
  .image-viewer-title {
    padding-bottom: .75rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);

    h2 {
      font-size: 1.5rem;

      small {
        font-size: .75rem;
        color: var(--lightGrey);
        margin-left: .5rem;
        display: inline-block;
        margin-bottom: 3px;
        vertical-align: middle;

        &.original-filename {
          word-break: break-all;
        }
      }
    }

    .iotd-tp {
      margin-top: .5rem;
      font-size:.85rem;

      .iotd {
        .label {
          color: var(--gold);
        }

        .date {
          color: var(--white);
        }
      }

      .top-pick {
        .label {
          color: var(--silver);
        }
      }

      .top-pick-nomination {
        .label {
          color: var(--bronze);
        }
      }
    }

    .dropdown .ng-fa-icon {
      margin-right:  -.5rem;
      padding: .5rem;
      cursor: pointer;

      &:hover {
        color: var(--white);
      }
    }
  }
}
