:host {
  .iotd-banner {
    padding: calc(.25rem - 1px) 1rem;
    background: var(--gold);

    .iotd-banner-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .5rem 1rem;
      margin: 0 -1rem 0 -1rem;
      border-top: 1px dashed var(--white);
      border-bottom: 1px dashed var(--white);

      h3 {
        font-size: 1.25rem;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        margin: 0;

        [icon='trophy'] {
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.33));
          margin-right: .75rem;
        }

        .iotd-banner-date {
          font-size: 1rem;
          margin-left: .5rem;
        }
      }

      [icon='info-circle'] {
        color: var(--white);
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.33));
        font-size: 1rem;
      }
    }
  }
}
