<div [class.loading]="!imageObjectLoaded" class="image-loading-container">
  <ng-container [ngTemplateOutlet]="loadingTemplate"></ng-container>
</div>

<div
  *ngIf="!!image" [hidden]="!imageObjectLoaded"
  class="main-area-container overflow-hidden d-flex flex-column w-100 h-100"
>
  <astrobin-mobile-menu
    (menuClose)="onMobileMenuClose()"
    (menuOpen)="onMobileMenuOpen()"
    [titleTemplate]="mobileMenuTitleTemplate"
    [iconsTemplate]="mobileMenuIconsTemplate"
    [template]="navTemplate"
    [templateContext]="{ $implicit: image }"
  ></astrobin-mobile-menu>

  <div
    #mainArea
    class="main-area"
  >
    <ng-container [ngTemplateOutlet]="imageAreaTemplate"></ng-container>

    <div class="data-area-container">
      <ng-container [ngTemplateOutlet]="dataAreaTemplate"></ng-container>
    </div> <!-- data-area-container -->
  </div>

  <astrobin-scroll-to-top
    #scrollToTopMdMax
    *ngIf="deviceService.mdMax()"
    [element]="mainArea"
  ></astrobin-scroll-to-top>

  <astrobin-scroll-to-top
    #scrollToTopLgMin
    *ngIf="deviceService.lgMin()"
    [element]="dataArea?.nativeElement"
  ></astrobin-scroll-to-top>
</div>

<ng-template #loadingTemplate>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>

<ng-template #mobileMenuTitleTemplate>
  {{ "Image" | translate }}
</ng-template>

<ng-template #mobileMenuIconsTemplate>
  <astrobin-image-viewer-share-button
    [image]="image"
    [revisionLabel]="revisionLabel"
    class="me-2"
  ></astrobin-image-viewer-share-button>
  <button *ngIf="showCloseButton" (click)="closeClick.emit()" class="btn btn-link btn-no-block text-white">
    <fa-icon icon="times"></fa-icon>
  </button>
</ng-template>

<ng-template #navTemplate let-image>
  <astrobin-image-viewer-menu
    [image]="image"
    [revisionLabel]="revisionLabel"
    itemClass="menu-item"
    dividerClass="menu-divider"
  ></astrobin-image-viewer-menu>
</ng-template>

<ng-template #imageAreaTemplate>
  <div
    #imageArea
    class="image-area"
    [class.force-view-mousehover]="forceViewMouseHover"
    [class.adjustment-editor-visible]="adjustmentEditorVisible"
    [class.has-top-banner]="image && image.isIotd"
  >
    <div class="image-area-header">
      <astrobin-image-viewer-iotd-banner
        *ngIf="image && image.isIotd"
        [image]="image"
      ></astrobin-image-viewer-iotd-banner>
    </div>

    <div class="image-area-body">
      <ng-container *ngIf="adjustmentEditorVisible && isPlatformBrowser(platformId)">
        <astrobin-image-viewer-adjustment-editor
          [image]="image"
          [revisionLabel]="revisionLabel"
          [imageComponent]="imageComponent"
          (closeClick)="adjustmentEditorVisible = false"
          class="adjustment-editor"
        ></astrobin-image-viewer-adjustment-editor>
      </ng-container>

      <ng-container *ngIf="!adjustmentEditorVisible">
        <astrobin-image-viewer-close-button
          *ngIf="showCloseButton"
          (closeClick)="closeClick.emit()"
          class="close-button d-none d-md-block"
        ></astrobin-image-viewer-close-button>

        <astrobin-image-viewer-additional-buttons
          *ngIf="image && imageFileLoaded"
          [image]="image"
          [revisionLabel]="revisionLabel"
          [hasMouseHover]="!!mouseHoverImage || !!inlineSvg"
          [forceViewMouseHover]="forceViewMouseHover"
          (toggleViewMouseHover)="toggleViewMouseHover()"
          (showAdjustmentsEditor)="adjustmentEditorVisible = true"
          class="additional-buttons"
        >
        </astrobin-image-viewer-additional-buttons>
      </ng-container>

      <button
        *ngIf="showPreviousButton"
        (click)="previousClick.emit()"
        class="previous-button"
      >
        <fa-icon icon="chevron-left"></fa-icon>
      </button>

      <astrobin-fullscreen-image-viewer
        *ngIf="standalone && supportsFullscreen"
        [id]="image.pk"
        [revision]="revisionLabel"
        (exitFullscreen)="exitFullscreen()"
      ></astrobin-fullscreen-image-viewer>

      <astrobin-image
        #imageComponent
        (imageClick)="enterFullscreen($event)"
        (loaded)="onImageLoaded()"
        (imageMouseEnter)="onImageMouseEnter($event)"
        (imageMouseLeave)="onImageMouseLeave($event)"
        [alias]="alias"
        [autoHeight]="!image.videoFile"
        [class.supports-fullscreen]="supportsFullscreen"
        [forceLoad]="true"
        [image]="image"
        [revisionLabel]="revisionLabel"
      ></astrobin-image>

      <div
        *ngIf="mouseHoverImage && imageFileLoaded"
        (click)="enterFullscreen($event)"
        class="mouse-hover-container"
      >
        <img
          (mouseenter)="onImageMouseEnter($event)"
          (mouseleave)="onImageMouseLeave($event)"
          alt=""
          class="mouse-hover ready"
          src="{{ mouseHoverImage }}"
        />
      </div>

      <div
        *ngIf="inlineSvg && imageFileLoaded"
        (click)="enterFullscreen($event)"
        class="mouse-hover-svg-container"
      >
        <div
          (mouseenter)="onImageMouseEnter($event)"
          (mouseleave)="onImageMouseLeave($event)"
          [innerHTML]="inlineSvg"
          [id]="'mouse-hover-svg-' + image.pk"
          class="mouse-hover w-100 position-relative"
        ></div>

        <div class="mouse-hover-svg-overlay">
          Powered by <a href="https://pixinsight.com/" target="_blank" astrobinEventStopPropagation>PixInsight</a>
        </div>
      </div>

      <button
        *ngIf="showNextButton"
        (click)="nextClick.emit()"
        class="next-button"
      >
        <fa-icon icon="chevron-right"></fa-icon>
      </button>

      <astrobin-image-viewer-revisions
        [image]="image"
        [activeLabel]="revisionLabel"
        (revisionSelected)="onRevisionSelected($event, true)"
        [class.show]="showRevisions"
      ></astrobin-image-viewer-revisions>

      <button
        *ngIf="image?.revisions?.length"
        (click)="showRevisions = !showRevisions"
        class="revisions-mobile-button"
      >
        <fa-icon *ngIf="!showRevisions" icon="ellipsis"></fa-icon>
        <fa-icon *ngIf="showRevisions" icon="angle-down"></fa-icon>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #descriptionTemplate>
  <ng-container *ngIf="image?.descriptionBbcode || image.description">
    <div class="metadata-header">{{ "Description" | translate }}</div>
    <div *ngIf="image?.descriptionBbcode" class="metadata-section">
      <div
        (click)="onDescriptionClicked($event)"
        [innerHTML]="image.descriptionBbcode | BBCodeToHtml"
        class="metadata-item description"
      ></div>
    </div>

    <div *ngIf="image?.description && !image.descriptionBbcode" class="metadata-section">
      <div class="metadata-item description" [innerHTML]="image.description"></div>
    </div>
  </ng-container>
</ng-template>

<ng-template #moreFromThisUserTemplate>
  <div class="metadata-header mb-2">{{ "More from this user" | translate }}</div>
  <astrobin-image-search
    [alias]="ImageAlias.GALLERY"
    [model]="{ userId: image.user, ordering: '-likes', pageSize: 25 }"
    [loadMoreOnScroll]="false"
    [showRetailers]="false"
    [showMarketplaceItems]="false"
    class="more-from-this-photographer"
  ></astrobin-image-search>
</ng-template>

<ng-template #similarToThisTemplate>
  <div class="metadata-header mb-2">
    <ng-container
      *ngIf="revision?.solution?.ra !== null && revision?.solution?.dec !== null; else relatedImagesLabelTemplate"
    >
      {{ "Images in the same area" | translate }}
    </ng-container>
    <ng-template #relatedImagesLabelTemplate>
      {{ "Related images" | translate }}
    </ng-template>
  </div>
  <astrobin-image-search
    [model]="{ similarToImageId: this.image.hash || this.image.pk, ordering: '-likes', pageSize: 50 }"
    [loadMoreOnScroll]="true"
    [showRetailers]="false"
    [showMarketplaceItems]="false"
    class="similar-to-this"
  ></astrobin-image-search>
</ng-template>

<ng-template #upgradeToPlateSolveBannerMessageTemplate>
  <div class="flex-grow-1">
    <fa-icon icon="exclamation-triangle" class="me-2"></fa-icon>
    <span>{{ "Upgrade your account to enable plate-solving." | translate }}</span>
  </div>
  <a href="https://welcome.astrobin.com/pricing" target="_blank" rel="noopener">
    {{ "Learn more" | translate }}
  </a>
</ng-template>

<ng-template #dataAreaTemplate>
  <div
    #dataArea
    *ngIf="currentUserWrapper$ | async as currentUserWrapper"
    class="data-area"
  >
    <astrobin-ad-manager
      #ad
      *ngIf="showAd"
      (adDisplayed)="adDisplayed = true"
      [configName]="adConfig"
    ></astrobin-ad-manager>

    <astrobin-image-viewer-wip-banner
      *ngIf="image && image.isWip && currentUserWrapper.user?.id === image.user"
      [image]="image"
      class="image-viewer-banner-component"
    ></astrobin-image-viewer-wip-banner>

    <astrobin-image-viewer-plate-solving-banner
      *ngIf="image && revision?.solution && currentUserWrapper.user?.id === image.user"
      [image]="image"
      [revisionLabel]="revisionLabel"
      class="image-viewer-banner-component"
    ></astrobin-image-viewer-plate-solving-banner>

    <astrobin-image-viewer-custom-message-banner
      *ngIf="(showUpgradeToPlateSolveBanner$ | async) === true"
      [messageTemplate]="upgradeToPlateSolveBannerMessageTemplate"
      alertClass="info"
      class="image-viewer-banner-component"
    ></astrobin-image-viewer-custom-message-banner>

    <astrobin-image-viewer-title
      [image]="image"
      [revisionLabel]="revisionLabel"
    ></astrobin-image-viewer-title>

    <astrobin-image-viewer-floating-title
      #floatingTitle
      [image]="image"
    ></astrobin-image-viewer-floating-title>

    <astrobin-image-viewer-photographers
      *ngIf="userContentType"
      [image]="image"
      [revision]="revision"
      [userContentType]="userContentType"
    ></astrobin-image-viewer-photographers>

    <div class="metadata-striped">
      <astrobin-image-viewer-groups-and-collections
        *ngIf="image?.partOfGroupSet?.length || image?.collections?.length"
        [image]="image"
      ></astrobin-image-viewer-groups-and-collections>

      <astrobin-image-viewer-data-source
        [image]="image"
      ></astrobin-image-viewer-data-source>

      <astrobin-image-viewer-astrometry
        *ngIf="revision?.solution?.ra !== null && revision?.solution?.dec !== null"
        [image]="image"
        [revisionLabel]="revisionLabel"
      ></astrobin-image-viewer-astrometry>
    </div>

    <astrobin-image-viewer-acquisition
      *ngIf="image?.deepSkyAcquisitions?.length || image?.solarSystemAcquisitions?.length"
      [image]="image"
    ></astrobin-image-viewer-acquisition>

    <astrobin-image-viewer-equipment
      *ngIf="image && imageService.hasEquipment(image)"
      [image]="image"
    ></astrobin-image-viewer-equipment>

    <astrobin-image-viewer-objects
      *ngIf="revision?.solution?.objectsInField || revision?.solution?.advancedAnnotations"
      [image]="image"
      [revisionLabel]="revisionLabel"
    ></astrobin-image-viewer-objects>

    <ng-container [ngTemplateOutlet]="descriptionTemplate"></ng-container>

    <astrobin-image-viewer-revision-summary
      *ngIf="revision !== image"
      [revision]="revision"
    ></astrobin-image-viewer-revision-summary>

    <ng-container [ngTemplateOutlet]="nestedCommentsTemplate"></ng-container>

    <ng-container [ngTemplateOutlet]="moreFromThisUserTemplate"></ng-container>

    <ng-container [ngTemplateOutlet]="similarToThisTemplate"></ng-container>
  </div> <!-- data-area -->
</ng-template>

<ng-template #nestedCommentsTemplate>
  <div class="image-viewer-comments-header metadata-header mt-5 mb-3">{{ "Comments" | translate }}</div>

  <ng-container *ngIf="image && !image.allowComments">
    <p class="px-2">
      {{ "The photographer has not enabled comments for this image." | translate }}
    </p>
  </ng-container>

  <ng-container *ngIf="image?.allowComments">
    <astrobin-nested-comments
      *ngIf="imageContentType; else loadingTemplate"
      [contentType]="imageContentType"
      [objectId]="image.pk"
      [showCloseButton]="false"
    ></astrobin-nested-comments>
  </ng-container>
</ng-template>
