:host {
  .metadata-label {
    .equipment-section {
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;

      > strong {
        width: 100%;
        display: block;
        margin-bottom: .25rem;
      }

      .value {
        color: var(--lightestGrey);

        ::ng-deep astrobin-equipment-item-display-name {
          .brand {
            font-weight: normal !important;
            color: var(--white);
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }
}
