@import "../../../../styles/breakpoints";
@import "../../../../styles/mixins";

:host {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

astrobin-equipment-item-display-name {
  @include equipment-item-pill;

  &.highlighted {
    background-color: var(--gold);
    color: var(--black);

    ::ng-deep {
      .ng-fa-icon[icon="shopping-cart"] {
        color: var(--black) !important;
      }
      .ng-fa-icon[icon="info-circle"] {
        color: var(--white) !important;
      }
    }
  }
}

.legacy-equipment {
  color: var(--lightestGrey);
  background: var(--grey);
  padding: .25rem .75rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  gap: .5rem;

  .klass-icon {
    opacity: .75;
    width: .8rem;
    height: .8rem;

    & + span {
      padding-left: .5rem;
      border-left: 1px solid var(--lightGrey);
    }
  }

  @media (hover: hover) {
    &:hover {
      background: var(--lightGrey);

      .klass-icon + span {
        border-left-color: var(--lighterGrey);
      }
    }
  }
}
