@import "../../../../styles/breakpoints";

.metadata-section.photographers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  flex-wrap: nowrap;

  .avatars {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    flex-direction: row !important;
  }

  .avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  .view-count {
    font-size: .85rem;
    color: var(--lightGrey);
  }
}

::ng-deep {
  astrobin-toggle-property {
    .btn-lg {
      @media (max-width: $sm-max) {
        padding: .375rem .75rem !important;
      }
    }
  }

  .follow-toggle-property {
    .ng-fa-icon {
      margin-right: 0;
    }

    .toggled .ng-fa-icon {
      color: var(--accentColor);
      opacity: 1 !important;
    }
  }

  .offcanvas-collaborators {
    .users {
      display: flex;
      gap: 1rem;
      flex-direction: column;
    }

    .user {
      display: flex;
      gap: .5rem;
      justify-content: space-between;
      align-items: center;

      img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
      }
    }
  }
}
