.social-buttons {
  ::ng-deep {
    .ng-fa-icon,
    .btn {
      margin: 0 !important;
    }

    .btn:not(.btn-link) {
      display: flex;
      align-items: center;
      gap: .5rem;
      background: var(--accentColor);
      color: var(--textOnAccentColor);
      border-radius: .25rem;

      &[disabled] {
        color: var(--lighterAccentColor) !important;
        border-color: transparent !important;
        opacity: .5;
      }

      .count {
        font-size: .75rem;
        opacity: .65;
      }
    }
  }

  .like-count,
  .bookmark-count {
    color: var(--accentColor);
    border-bottom: 1px dashed var(--darkerAccentColor);
    font-size: .9rem;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        filter: brightness(1.1);
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    ::ng-deep .btn {
      &:hover {
        color: var(--white);
        filter: brightness(1.1);
      }
    }
  }
}

::ng-deep {
  .image-like-this-offcanvas,
  .image-bookmarked-this-offcanvas {
    .table td {
      vertical-align: middle;

      astrobin-toggle-property {
        .btn {
          .ng-fa-icon {
            margin: 0;
          }

          &.toggled .ng-fa-icon {
            opacity: 1 !important;
            color: var(--accentColor) !important;
          }
        }
      }
    }

    &:not(.offcanvas-bottom) {
      width: 40vw;
    }
  }
}
