@import "../../../../styles/mixins";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  @include flex-gap(column, 1px);
}

::ng-deep .image-iotd-tp-stats-offcanvas {
  &:not(.offcanvas-bottom) {
    width: 40vw !important;
  }
}
