:host {
  position: absolute;

  .btn {
    margin: 0 !important;

    .ng-fa-icon {
      margin: 0 !important;
      transition: color .25s;
    }

    &.active .ng-fa-icon {
      color: var(--accentColor);
    }
    
    &.active-moon .ng-fa-icon {
      color: #FFD700; /* Gold/yellow color for the moon */
    }

    &.disabled {
      cursor: not-allowed !important;

      .ng-fa-icon {
        opacity: .5;
      }
    }
  }

  .force-view-mousehover-button {
    display: none;
  }

  @media (pointer: coarse) {
    .force-view-mousehover-button {
      display: block;
    }

    .force-toggle-annotations-on-mousehover-button {
      display: none;
    }
  }
}
