@import "../../../../styles/breakpoints";
@import "../../../../styles/mixins";

:host {
  .image-viewer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1030;

    @media (max-width: $md-max) {
      flex-direction: column;
    }
  }

  .image-area {
    position: relative;
    width: 60%;
    height: 100%;

    @media (max-width: $md-max) {
      width: 100%;
      height: 40%;
    }

    .close-button,
    .fullscreen-button,
    .next-button,
    .previous-button {
      position: absolute;
      background: transparent;
      border: none;
      color: var(--white);
      font-size: 2rem;
      cursor: pointer;
      z-index: 1031;
      opacity: 0;
      padding: .5rem;
      transition: opacity 0.3s, transform 0.3s ease-in-out;

      :focus-visible {
        outline: none !important;
      }
    }

    .close-button {
      top: .75rem;
      left: .75rem;
    }

    .fullscreen-button {
      top: .75rem;
      right: .75rem;
    }

    .next-button,
    .previous-button {
      top: 50%;
      transform: translateY(-50%);
    }

    .next-button {
      right: 0;

      &:hover {
        transform: translateX(0.125rem) translateY(-50%);
      }
    }

    .previous-button {
      left: 0;

      &:hover {
        transform: translateX(-0.125rem) translateY(-50%);
      }
    }

    ::ng-deep astrobin-image {
      img,
      .video-js {
        width: 100%;
        height: 100%;
        max-height: 100vh;
        object-fit: contain;
      }
    }

    &:hover {
      .close-button,
      .fullscreen-button,
      .next-button,
      .previous-button {
        opacity: 1;
      }
    }
  }

  .data-area-container {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .data-area {
      @include darkest-background-texture;
      height: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: .75rem;
      overflow-y: auto;

      .data-area-section {
        padding-bottom: .5rem;
        border-bottom: 1px solid var(--grey);
      }

      .title {
        display: block;
        margin-bottom: 0;
        font-size: 1.5rem;
      }

      .photographers {
        padding-bottom: .75rem;

        .avatars {
          img {
            border-radius: 50%;
          }
        }
      }

      .basic-data {
        padding-bottom: .75rem;

        .basic-data-item {
          display: flex;
          align-items: center;
          gap: .5rem;

          .value:not(a) {
            color: var(--white);
          }

          &.subject-type,
          &.constellation {
            img {
              height: 1rem;
              margin: .25rem 0;
            }
          }

          &.coordinates {
            ::ng-deep {
              .ra,
              .dec {
                white-space: nowrap;
              }

              .separator {
                display: inline-block;
                margin: 0 .25rem;
              }
            }
          }

          @media (min-width: $xs-min) and (max-width: $sm-max), (min-width: $lg-min) and (max-width: $xl-max) {
            flex-direction: column;
            align-items: center;

            &.coordinates {
              ::ng-deep {
                .ra,
                .dec {
                  .seconds {
                    display: none;
                  }
                }
              }
            }
          }
        }

        @media (max-width: $xxs-max) {
          flex-direction: column;
        }
      }

      .objects-in-field {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;

        .separator {
          display: inline-block;
          margin-left: .5rem;
          color: var(--lighterGrey);
        }
      }

      .equipment {
        padding: .5rem 0 1rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;

        a.value {
          background: var(--darkGrey);
          padding: .25rem .5rem;
          border-radius: .5rem;
          color: var(--lightestGrey);
          border: 1px solid var(--lightGrey);

          astrobin-equipment-item-display-name {
            white-space: nowrap;
          }
        }
      }

      .description {
        ::ng-deep {
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }

    .buttons-area {
      background: var(--black);
      border-top: 1px solid var(--grey);
      width: 100%;
      padding: 1rem;
      display: flex;
      justify-content: space-around;
      gap: 1rem;
      font-size: 1.25rem;

      .like,
      .bookmark,
      .follow,
      .comment {
        display: flex;
        align-items: center;
        gap: .75rem;

        ::ng-deep {
          .ng-fa-icon {
            margin-right: 0;
          }
        }

        > astrobin-toggle-property,
        > .btn {
          height: 2.25rem;
        }

        > .count {
          font-size: .85rem;
          color: var(--lightGrey);
          line-height: 1.25rem;
        }
      }
    }

    @media (max-width: $md-max) {
      width: 100%;
      height: 60%;
    }
  }
}
