@import "../../../../styles/breakpoints";

:host {
  .metadata-item.objects-in-field {
    flex-direction: row;
    align-items: flex-start;

    .metadata-icon {
      padding-top: calc(.5rem + 1px);
    }

    .metadata-label {
      display: flex;
      flex-wrap: wrap;
      gap: .375rem;

      .value {
        color: var(--lightestGrey);
        background: var(--grey);
        padding: .5rem .75rem;
        border-radius: .5rem;
        cursor: url("/assets/images/search-white.png") 16 16, pointer;

        &.more {
          font-style: italic;
        }

        &:hover {
          background: var(--lightGrey);
        }
      }
    }
  }
}

::ng-deep .offcanvas-more-objects-in-field {
  &:not(.offcanvas-bottom) {
    width: 40vw !important;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 0;
    margin: 0;
    list-style: none;

    .value {
      color: var(--lightestGrey);
      background: var(--grey);
      padding: .25rem .75rem;
      border-radius: .5rem;
      cursor: pointer;

      &:hover {
        background: var(--lightGrey);
      }
    }
  }
}
