:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  gap: 1px;
}

::ng-deep .image-iotd-tp-stats-offcanvas {
  &:not(.offcanvas-bottom) {
    width: 40vw !important;
  }
}
