:host {
  position: absolute;

  .btn {
    margin: 0 !important;

    .ng-fa-icon {
      margin: 0 !important;
    }
  }

  .force-view-mousehover-button {
    display: none;

    &.active .ng-fa-icon {
      color: var(--accentColor);
    }
  }

  @media (pointer: coarse) {
    .force-view-mousehover-button {
      display: block;
    }
  }
}
