:host {
  .image-viewer-title {
    padding-bottom: .75rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);

    h2 {
      font-size: 1.5rem;

      small {
        font-size: .75rem;
        color: var(--lightGrey);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: .75rem;
        margin-top: .5rem;

        > span:not(:last-child) {
          &::after {
            content: '\b7'; /* middot */
            display: inline-block;
            margin-left: .5rem;
          }
        }

        &.original-filename {
          word-break: break-all;
        }
      }

      .license-icon {
        color: var(--accentColor);
        cursor: help;
        font-size: .7rem;
        line-height: 1rem;
        margin-right: .5rem;
      }
    }

    .iotd-tp {
      margin-top: 1rem;
      font-size:.85rem;

      .iotd {
        .label {
          color: var(--gold);
        }

        .date {
          color: var(--white);
        }
      }

      .top-pick {
        .label {
          color: var(--silver);
        }
      }

      .top-pick-nomination {
        .label {
          color: var(--bronze);
        }
      }
    }

    .dropdown .ng-fa-icon {
      margin-right:  -.5rem;
      padding: .5rem;
      cursor: pointer;

      &:hover {
        color: var(--white);
      }
    }
  }
}
