@import '../../../../styles/mixins';
@import '../../../../styles/breakpoints';

@media (min-width: $lg-min) {
  .table {
    color: var(--lightestGrey);
    margin-bottom: 0;
    margin-top: 1.75rem;

    thead > tr {
      border-top-left-radius: var(--bs-border-radius);
      border-top-right-radius: var(--bs-border-radius);

      > th {
        font-weight: normal;

        &:first-child {
          border-top-left-radius: var(--bs-border-radius);
          border-bottom-left-radius: var(--bs-border-radius);
        }

        &:last-child {
          text-align: right;
          border-top-right-radius: var(--bs-border-radius);
          border-bottom-right-radius: var(--bs-border-radius);
        }
      }
    }

    td,
    th {
      padding: .5rem;

      &:first-child {
        padding-left: 1rem;
      }

      &:last-child {
        padding-right: 1rem;
      }

      .ng-fa-icon {
        margin-right: .25rem;
        color: var(--lightGrey);
      }

      .metadata-label {
        flex-grow: 1;
      }
    }

    tbody {
      tr:first-child {
        td:first-child {
          border-top-left-radius: var(--bs-border-radius);
        }

        td:last-child {
          border-top-right-radius: var(--bs-border-radius);
        }
      }

      tr:last-child {
        td:first-child {
          border-bottom-left-radius: var(--bs-border-radius);
        }

        td:last-child {
          border-bottom-right-radius: var(--bs-border-radius);
        }
      }
    }
  }
}

.table tr.totals td {
  background: url($darkest-background-texture) repeat;
  padding-top: 1rem;
  box-shadow: none;

  &:first-child {
    font-weight: bold;
  }
}

::ng-deep .offcanvas-deep-sky-integration-details {
  .highlight {
    @include highlight;
  }

  &:not(.offcanvas-bottom) {
    width: 40vw !important;

    .brand {
      color: var(--lightestGrey);
      margin-right: .5rem;
    }
  }

  td, th {
    vertical-align: middle;

    &:last-child {
      white-space: nowrap;
    }
  }

  .additional-properties {
    @media (min-width: $lg-min) {
      margin-top: .25rem;
    }

    > span {
      font-size: .8rem;
      white-space: nowrap;
      display: inline-block;
      color: var(--lighterGrey);

      .value {
        color: var(--lightestGrey);
      }
    }

    > span:not(:last-child) {
      &:after {
        content: '•';
        margin: 0 .5rem;
      }
    }
  }
}
