@import "../../../../styles/breakpoints";

:host {
  > .metadata-section {
    font-size: .85rem;
  }

  .metadata-label > .coordinates {
    cursor: pointer;
    color: var(--lightestGrey);

    ::ng-deep {
      .ra,
      .dec {
        white-space: nowrap;

        .hours,
        .minutes,
        .seconds {
          .symbol {
            vertical-align: .375rem;
            font-size: .65rem;
            line-height: 0;
          }
        }
      }

      .separator {
        display: inline-block;
        margin: 0 .25rem;
      }
    }
  }

  @media (min-width: $xs-min) and (max-width: $sm-max), (min-width: $lg-min) and (max-width: $xl-max) {
    .coordinates {
      ::ng-deep {
        .ra,
        .dec {
          .seconds {
            display: none;
          }
        }
      }
    }
  }
}

::ng-deep .offcanvas-more-info {
  &:not(.offcanvas-bottom) {
    width: 40vw !important;
  }

  .degree-choices > .btn {
    display: flex;
    gap: .15rem;
    justify-content: center;
    cursor: url("/assets/images/search-white.png") 16 16, pointer;

    .symbol {
      color: var(--lighterGrey);
    }

    .value {
      color: var(--lightestGrey);
      font-weight: bold;
    }

    &:hover {
      .symbol,
      .value {
        color: var(--darkestGrey);
      }
    }
  }
}
