.social-buttons {
  ::ng-deep {
    .ng-fa-icon,
    .btn {
      margin: 0 !important;
    }

    .btn:not(.btn-link) {
      display: flex;
      align-items: center;
      gap: .5rem;
      background: var(--accentColor);
      color: var(--textOnAccentColor);
      border-radius: .25rem;

      &.toggled {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, .5) inset;
      }

      &:not(.toggled) {
        box-shadow: 3px 3px 3px rgba(255, 255, 255, .15) inset;
      }

      &.loading {
        background: url("/assets/images/white-loader.svg") var(--accentColor) no-repeat center !important;
        background-size: 1rem !important;
      }

      &[disabled] {
        color: var(--lighterAccentColor) !important;
        border-color: transparent !important;
        opacity: .5;
      }

      .count {
        font-size: .75rem;
        opacity: .65;
      }
    }
  }

  .like-count {
    color: var(--accentColor);
    border-bottom: 1px dashed var(--darkerAccentColor);
    font-size: .9rem;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        filter: brightness(1.1);
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    ::ng-deep .btn {
      &:hover {
        color: var(--white);
        filter: brightness(1.1);
      }
    }
  }
}
