@import "src/app/styles/breakpoints";

$portraitLayoutBreakpoint: $md-max;
$maxAspectRatio: 1;

@mixin portrait-layout {
  @media (max-aspect-ratio: $maxAspectRatio),
  (max-width: $portraitLayoutBreakpoint) and (orientation: portrait) {
    @content;
  }
}
