@import "../../../../styles/breakpoints";
@import "../../../../styles/mixins";

.metadata-section.photographers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include flex-gap(row, .5rem);
  flex-wrap: nowrap;

  .metadata-item {
    min-width: 0;
    overflow: hidden;
  }

  .avatars {
    display: flex;
    @include flex-gap(row, .5rem);
    flex-direction: row !important;
  }

  .avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  .view-count {
    font-size: .85rem;
    color: var(--lightGrey);
  }

  .single-photographer-wrapper,
  .photographer-name-and-follow-button {
    min-width: 0;
    overflow: hidden;
  }

  .photographer-name-and-follow-button a {
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
  }
}

::ng-deep {
  astrobin-toggle-property {
    .btn-lg {
      @media (max-width: $sm-max) {
        padding: .375rem .75rem !important;
      }
    }
  }

  .follow-toggle-property {
    .ng-fa-icon {
      margin-right: 0;
    }

    .toggled .ng-fa-icon {
      color: var(--accentColor);
      opacity: 1 !important;
    }
  }

  .offcanvas-collaborators {
    .users {
      display: flex;
      @include flex-gap(column, 1rem);
      flex-direction: column;
    }

    .user {
      display: flex;
      @include flex-gap(row, .5rem);
      justify-content: space-between;
      align-items: center;

      img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
      }
    }
  }
}
