@import "../../../styles/variables";
@import "../../../styles/mixins";

.footer {
  @include darkest-background-texture;
  padding: 1rem 0;
  color: $darkest-background-text-color;
}

.build-date {
  color: var(--grey);

  @media (min-width: var(--mdMin)) {
    text-align: right;
  }
}
