@import "../../../styles/breakpoints";
@import "../../../styles/mixins";

.footer {
  @include darkest-background-texture;
  padding: 1rem 0;
  color: var(--lighterGrey);
}

.build-date {
  color: var(--grey);

  @media (min-width: $md-min) {
    text-align: right;
  }
}
