<div class="page has-breadcrumb">
  <ng-container *ngIf="store$ | async as state">
    <ng-container *ngIf="state && state.auth.initialized && state.app.backendConfig; else loading">
      <h1>{{ pageTitle }}</h1>

      <astrobin-read-only-mode *ngIf="state.app.backendConfig?.readOnly; else uploaderTemplate">
      </astrobin-read-only-mode>
    </ng-container>

    <ng-template #loading>
      <astrobin-loading-indicator></astrobin-loading-indicator>
    </ng-template>
  </ng-container>
</div>

<ng-template #uploaderTemplate>
  <form *ngIf="(uploadAllowed$ | async) !== false; else uploadNotAllowed" [formGroup]="form" (ngSubmit)="onSubmit()">
    <formly-form [fields]="fields" [form]="form" [model]="model"></formly-form>

    <small *ngIf="store$ | async as state" class="uploads-left">
      <span
        *ngIf="
          state.auth.userProfile
            | hasValidUserSubscription
              : [
                  SubscriptionName.ASTROBIN_ULTIMATE_2020,
                  SubscriptionName.ASTROBIN_ULTIMATE_2020_AUTORENEW_MONTHLY,
                  SubscriptionName.ASTROBIN_ULTIMATE_2020_AUTORENEW_YEARLY
                ]
            | async;
          else noUltimate
        "
        [innerHTML]="subscriptionWithUnlimitedSlotsMessage()"
      >
      </span>

      <ng-template #noUltimate>
        <span
          *ngIf="
            state.auth.userProfile
              | hasValidUserSubscription
                : [
                    SubscriptionName.ASTROBIN_PREMIUM,
                    SubscriptionName.ASTROBIN_PREMIUM_AUTORENEW,
                    SubscriptionName.ASTROBIN_PREMIUM_2020,
                    SubscriptionName.ASTROBIN_PREMIUM_2020_AUTORENEW_MONTHLY,
                    SubscriptionName.ASTROBIN_PREMIUM_2020_AUTORENEW_YEARLY
                  ]
              | async;
            else noPremium
          "
          [innerHTML]="subscriptionWithUnlimitedSlotsMessage()"
        >
        </span>
      </ng-template>

      <ng-template #noPremium>
        <span
          *ngIf="
            state.auth.userProfile
              | hasValidUserSubscription: [SubscriptionName.ASTROBIN_LITE, SubscriptionName.ASTROBIN_LITE_AUTORENEW]
              | async;
            else lite2020
          "
          [innerHTML]="
            subscriptionWithYearlySlotsMessage(
              state.auth.userProfile.premiumCounter,
              state.app.backendConfig.PREMIUM_MAX_IMAGES_LITE
            )
          "
        >
        </span>
      </ng-template>

      <ng-template #lite2020>
        <span
          *ngIf="
            state.auth.userProfile
              | hasValidUserSubscription
                : [
                    SubscriptionName.ASTROBIN_LITE_2020,
                    SubscriptionName.ASTROBIN_LITE_2020_AUTORENEW_MONTHLY,
                    SubscriptionName.ASTROBIN_LITE_2020_AUTORENEW_YEARLY
                  ]
              | async;
            else free
          "
          [innerHTML]="
            subscriptionWithTotalImagesMessage(
              state.auth.userProfile.premiumCounter,
              state.app.backendConfig.PREMIUM_MAX_IMAGES_LITE_2020
            )
          "
        >
        </span>
      </ng-template>

      <ng-template #free>
        <span
          [innerHTML]="
            subscriptionWithTotalSlotsMessage(
              state.auth.userProfile.premiumCounter,
              state.app.backendConfig.PREMIUM_MAX_IMAGES_FREE_2020
            )
          "
        >
        </span>
      </ng-template>
    </small>

    <div class="form-actions">
      <button
        [class.loading]="uploadButtonLoading()"
        [disabled]="uploadButtonLoading()"
        class="btn btn-lg btn-primary"
        type="submit"
      >
        <fa-icon icon="upload"></fa-icon>
        {{ "Upload" | translate }}
      </button>
    </div>
  </form>
</ng-template>

<ng-template #additionalInfoTemplate>
  <p [innerHTML]="imageRevisionEtiquetteMessage"></p>
</ng-template>

<ng-template #uploadNotAllowed>
  <div class="sad hero-image"></div>

  <div class="upload-not-allowed">
    <div class="alert alert-warning d-flex justify-content-between align-items-baseline">
      <span class="flex-fill me-4">
        {{ "It looks like you reached the upload limit for your subscription." | translate }}
      </span>
      <a [attr.href]="classicRoutesService.PRICING" class="btn btn-primary btn-lg text-light">
        {{ "Would you like to upgrade?" | translate }}
      </a>
    </div>
  </div>
</ng-template>
