@import "../../../../styles/breakpoints";

:host {
  h1 {
    astrobin-data-does-not-update-in-real-time {
      font-size: 1rem;
      vertical-align: top;
    }
  }

  .contributor {
    text-align: center;
    position: relative;
    margin-bottom: 3rem;

    ::ng-deep {
      astrobin-avatar img {
        max-width: 66.67%;
      }

      .username {
        word-break: break-word;
        margin-top: .5rem;
        display: block;
        padding: .25rem;
        background: rgba(0, 0, 0, .15);
        border-radius: 1rem;
        font-size: .9rem;
      }
    }

    .badge {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.05rem;

      @media screen and (max-width: $md-max) {
        font-size: .8rem;
      }
    }
  }
}
