<div class="page">
  <h1>{{ "Contributors" | translate  }}</h1>
  <small>
    {{
      "AstroBin's equipment database is entirely maintained by the community. Feel free to make a contribution!"
        | translate
    }}
  </small>

  <div class="row">
    <div [class]="navCollapsed ? 'col-md-1' : 'col-md-4'">
      <astrobin-equipment-item-type-nav
        [activeType]="'contributors'"
        [enableCollapsing]="enableNavCollapsing"
        (collapsedChanged)="navCollapsed = $event"
      ></astrobin-equipment-item-type-nav>
    </div>

    <div class="col">
      <div class="row" *ngIf="contributors$ | async as contributors; else loading">
        <div *ngFor="let contributor of contributors" class="col-6 col-sm-4 col-lg-3">
          <div class="contributor" *ngIf="selectUser(contributor[0]) | async as user">
            <astrobin-avatar [user]="user"></astrobin-avatar>
            <astrobin-username [user]="user" [link]="false"></astrobin-username>
            <div class="badge badge-success" [ngbTooltip]="'Total number of edit proposals created or reviewed' | translate">
              {{ contributor[1] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>
