.brand {
  font-weight: bold;
  margin-right: .25rem;

  a {
    color: var(--white);
    border-bottom: 1px solid var(--lighterGrey);

    &:hover {
      text-decoration: none;
      color: var(--accentColor);
      border-color: var(--accentColor);
    }
  }
}

.name {
  [icon=asterisk] {
    font-size: .5rem;
    vertical-align: super;
  }

  [icon=snowflake] {
    font-size: .85rem;
    color: teal;
    margin-left: .25rem;
    vertical-align: top;
  }
}

.btn-info-modal {
  color: var(--lightestGrey);
  margin-left: .25rem;
  padding: 0 .25rem;

  fa-icon {
    margin-right: 0;
  }
}

