<ng-container *ngIf="showBrand">
  <span class="brand" *ngIf="!!brandName; else loading">
    <a *ngIf="enableBrandLink && !!brandLink" [routerLink]="brandLink">{{ brandName }}</a>

    <ng-container *ngIf="!enableBrandLink || !brandLink">
      {{ brandName }}
    </ng-container>
  </span>
</ng-container>

<span class="name" *ngIf="!!itemName; else loading">
  <ng-template #nameTemplate>
    {{ itemName }}
    <a
      *ngIf="showItemUnapprovedInfo"
      href="#"
      astrobinEventPreventDefault
      astrobinEventStopPropagation
      (click)="openItemUnapprovedInfoModal(item)"
    >
      <fa-icon icon="asterisk"></fa-icon>
    </a>

    <fa-icon
      *ngIf="showFrozenAsAmbiguous && item.frozenAsAmbiguous"
      [ngbTooltip]="'Frozen as ambiguous' | translate"
      icon="snowflake"
    ></fa-icon>
  </ng-template>

  <ng-container *ngIf="enableNameLink; else noNameLinkTemplate">
    <a [routerLink]="nameLink">
      <ng-container [ngTemplateOutlet]="nameTemplate"></ng-container>
    </a>
  </ng-container>

  <ng-template #noNameLinkTemplate>
    <ng-container [ngTemplateOutlet]="nameTemplate"></ng-container>
  </ng-template>
</span>

<a
  *ngIf="enableSummaryModal"
  href=""
  class="btn-info-modal"
  astrobinEventPreventDefault
  (click)="openItemSummaryModal(item)"
>
  <fa-icon icon="info-circle"></fa-icon>
</a>

<ng-template #loading>
  <astrobin-text-loading-indicator></astrobin-text-loading-indicator>
</ng-template>
