@import "../../../../styles/mixins";

:host {
  display: inline-flex;
  align-items: center;
  @include flex-gap(row, .5rem);
  position: relative;


  .klass-icon {
    opacity: .75;
    width: .8rem;
    height: .8rem;
  }

  .brand-name-icons {
    @include flex-gap(row, .25rem);
  }

  .brand {
    font-weight: bold;

    a {
      color: var(--white);
      border-bottom: 1px solid var(--lighterGrey);
      transition: color .3s, border-color .3s;

      @media (hover: hover) {
        &:hover {
          text-decoration: none;
          color: var(--accentColor);
          border-color: var(--accentColor);
        }
      }
    }
  }

  .name {
    [icon=asterisk] {
      font-size: .5rem;
      vertical-align: super;
    }

    [icon=snowflake] {
      font-size: .85rem;
      color: teal;
      margin-left: .25rem;
      vertical-align: top;
    }

    [icon=bell] {
      font-size: .85rem;
      color: var(--gold);
      margin-left: .25rem;
      vertical-align: middle;
    }
  }

  .btn-retailers {
    .ng-fa-icon {
      padding: 0 .25rem;
      margin-left: .25rem;
      font-size: .85rem;
      color: var(--gold);
    }
  }

  .btn-info-modal {
    color: var(--lighterGrey);
    padding: 0 .25rem;
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    opacity: 0;
    transition: opacity .2s, color .2s;
    filter: drop-shadow(0 0 .25rem rgba(0, 0, 0, .5));

    fa-icon {
      margin-right: 0;
      font-size: .85rem;
    }

    @media (hover: hover) {
      &:hover {
        color: var(--white);
        text-decoration: none;
      }
    }
  }

  &.with-klass-icon {
    background: var(--grey);
    padding: .5rem .75rem;
    border-radius: .5rem;
    transition: background .3s;

    .brand-name-icons {
      padding-left: .5rem;
      border-left: 1px solid var(--lightGrey);
      transition: border-color .3s;
    }

    @media (hover: hover) {
      &:hover {
        background: var(--lightGrey);

        .brand-name-icons {
          border-left-color: var(--lighterGrey);
        }
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      .btn-info-modal {
        opacity: 1;
      }
    }
  }
}

.offcanvas-retailers {
  [icon="heart"] {
    color: red;
  }

  .retailer img {
    width: 100%;
  }
}

::ng-deep {
  .popover-equipment-item-summary .popover-body {
    padding: 0 !important;

    .popover-header {
      @include darkest-background-texture;
      color: var(--white);
      padding: .75rem;

      .ng-fa-icon {
        color: var(--lighterGrey);
        transition: color .3s;

        @media (hover: hover) {
          &:hover {
            color: var(--white);
          }
        }
      }
    }

    .popover-content {
      padding: .75rem;
    }

    .table.properties {
      margin-top: 0;

      td,
      th {
        box-shadow: none;
      }
    }
  }
}
