<ng-container *ngIf="enableKlassIcon">
  <img class="klass-icon" src="/assets/images/{{ item.klass.toLowerCase() }}-{{ klassIconColor }}.png?v=1" alt="" />
</ng-container>

<ng-container *ngIf="showBrand">
  <span *ngIf="!!brandName; else loading" class="brand">
    <a *ngIf="enableBrandLink && !!brandLink" [routerLink]="brandLink">{{ brandName }}</a>

    <ng-container *ngIf="!enableBrandLink || !brandLink">
      {{ brandName }}
    </ng-container>
  </span>
</ng-container>

<span *ngIf="!!itemName; else loading" class="name">
  <ng-template #nameTemplate>
    {{ itemName }}
    <a
      (click)="openItemUnapprovedInfoModal(item)"
      *ngIf="showItemUnapprovedInfo && item.reviewerDecision !== EquipmentItemReviewerDecision.APPROVED"
      astrobinEventPreventDefault
      astrobinEventStopPropagation
      href="#"
    >
      <fa-icon icon="asterisk"></fa-icon>
    </a>

    <fa-icon
      *ngIf="showFrozenAsAmbiguous && item.frozenAsAmbiguous"
      [ngbTooltip]="'Frozen as ambiguous' | translate"
      icon="snowflake"
    ></fa-icon>

    <fa-icon
      *ngIf="item.followed"
      [ngbTooltip]="'You follow this equipment item' | translate"
      container="body"
      icon="bell"
    ></fa-icon>
  </ng-template>

  <ng-container *ngIf="enableNameLink; else noNameLinkTemplate">
    <a [routerLink]="nameLink">
      <ng-container [ngTemplateOutlet]="nameTemplate"></ng-container>
    </a>
  </ng-container>

  <ng-template #noNameLinkTemplate>
    <ng-container [ngTemplateOutlet]="nameTemplate"></ng-container>
  </ng-template>
</span>

<a
  *ngIf="
    showRetailers &&
    item.listings.allowFullRetailerIntegration &&
    (item.listings.itemListings.length || item.listings.brandListings.length)
  "
  (click)="openRetailersOffcanvas()"
  astrobinEventPreventDefault
  astrobinEventStopPropagation
  class="btn-retailers"
  href=""
>
  <fa-icon icon="shopping-cart"></fa-icon>
</a>

<a
  *ngIf="enableSummaryModal"
  (click)="openItemSummaryModal(item)"
  astrobinEventPreventDefault
  astrobinEventStopPropagation
  class="btn-info-modal"
  href="#"
>
  <fa-icon icon="info-circle"></fa-icon>
</a>

<ng-template #loading>
  <astrobin-text-loading-indicator></astrobin-text-loading-indicator>
</ng-template>

<ng-template #retailersTemplate let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">{{ "Shop at AstroBin's partners" | translate }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
  </div>
  <div class="offcanvas-body offcanvas-retailers">
    <div class="alert alert-dark mb-4">
      <fa-icon icon="heart"></fa-icon>
      <span>{{ "Please support AstroBin by shopping at one of our partners!" | translate }}</span>
    </div>

    <div *ngIf="item.listings.itemListings.length; else brandsTemplate">
      <div *ngFor="let listing of item.listings.itemListings" class="retailer">
        <a [href]="listing.url" target="_blank">
          <img *ngIf="listing.retailer.logo" [src]="listing.retailer.logo" alt="" />
          <span *ngIf="!listing.retailer.logo">{{ listing.retailer.name }}</span>
        </a>
      </div>
    </div>
  </div>

  <ng-template #brandsTemplate>
    <div *ngIf="item.listings.brandListings">
      <div *ngFor="let listing of item.listings.brandListings" class="retailer">
        <a [href]="listing.url" target="_blank">
          <img *ngIf="listing.retailer.logo" [src]="listing.retailer.logo" alt="" />
          <span *ngIf="!listing.retailer.logo">{{ listing.retailer.name }}</span>
        </a>
      </div>
    </div>
  </ng-template>
</ng-template>
