@import '../../../../styles/breakpoints';

:host {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: .5rem;
  cursor: pointer;

  .preset-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(
        180deg,
        transparent 0,
        rgba(0, 0, 0, .03) 8%,
        rgba(0, 0, 0, .11) 21%,
        rgba(0, 0, 0, .61) 78%,
        rgba(0, 0, 0, .7) 95%,
        rgba(0, 0, 0, .7)
    );
    border-radius: .5rem;
  }

  .preset-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;

    &.default {
      padding: 1rem;
      background: var(--lightestGrey);
    }
  }

  .preset-name,
  .button-overlay {
    transition: opacity 0.3s ease;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    color: var(--white);
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    font-size: .8rem;
    padding: .5rem;
  }

  .button-overlay {
    opacity: 0;
    padding: .5rem;
    background: var(--white);
    color: var(--darkerGrey);
    text-shadow: none;
  }

  .btn-delete-preset,
  .btn-edit-preset {
    position: absolute;
    border: 1px solid var(--darkerGrey);
    top: .25rem;
    right: .25rem;
    padding: 1rem;
    line-height: 1rem;
    height: 1rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease, background 0.3s ease;

    .ng-fa-icon {
      margin-right: 0;
      font-size: .8rem;
      color: var(--darkerGrey);
      transition: color 0.3s ease;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: var(--dangerColor);

        .ng-fa-icon {
          color: var(--white);
        }
      }
    }

    @media (max-width: $xs-max) {
      padding: .75rem;
      height: .75rem;
      width: .75rem;
    }
  }

  .btn-edit-preset {
    right: 2.75rem;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: var(--white);

        .ng-fa-icon {
          color: var(--lightGrey);
        }
      }
    }

    @media (max-width: $xs-max) {
      right: 2rem;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .btn-delete-preset,
      .btn-edit-preset {
        pointer-events: auto;
        opacity: 1;
      }

      .has-button-overlay-label {
        .preset-name {
          opacity: 0;
        }

        .button-overlay {
          opacity: .9;
        }
      }
    }
  }

  @media (hover: none) and (pointer: coarse) {
    .btn-delete-preset,
    .btn-edit-preset {
      pointer-events: auto;
      opacity: 1;
    }
  }

  @media (max-width: $xs-max) {
    width: calc(33.33vw - 2rem);
    height: calc(33.33vw - 2rem);
  }
}

::ng-deep .preset-edit-offcanvas {
  &:not(.offcanvas-bottom) {
    width: 40vw !important;
  }
}
