<ng-container *ngIf="currentUserWrapper$ | async as currentUserWrapper">
  <div
    (click)="presetClicked.emit(preset)"
    *ngIf="!!preset"
    [class.has-button-overlay-label]="!!buttonOverlayLabel"
    class="preset-wrapper w-100 h-100"
  >
    <div class="preset-overlay"></div>
    <img
      *ngIf="preset.thumbnail || preset.imageFile"
      [src]="preset.thumbnail || preset.imageFile"
      class="preset-image"
    />
    <img
      *ngIf="!preset.thumbnail && !preset.imageFile"
      class="preset-image default"
      src="/assets/images/equipment-preset.png?v=1"
    />
    <div class="preset-name">
      {{ preset.name }}
    </div>
    <div *ngIf="buttonOverlayLabel" class="button-overlay">
      {{ buttonOverlayLabel }}
    </div>
  </div>

  <button
    (click)="onPresetEditClicked(preset)"
    *ngIf="!!preset && currentUserWrapper.user?.id === preset.user"
    [class.loading]="loadingService.loading$ | async"
    class="btn btn-secondary btn-edit-preset"
  >
    <fa-icon [ngbTooltip]="'Edit' | translate" container="body" icon="pencil"></fa-icon>
  </button>

  <button
    (click)="onPresetDeleteClicked(preset)"
    *ngIf="!!preset && currentUserWrapper.user?.id === preset.user"
    [class.loading]="loadingService.loading$ | async"
    class="btn btn-secondary btn-delete-preset"
  >
    <fa-icon [ngbTooltip]="'Delete' | translate" container="body" icon="trash"></fa-icon>
  </button>
</ng-container>

<ng-template #presetEditOffcanvas let-offcanvas>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">{{ "Edit setup" | translate }}</h5>
    <button (click)="offcanvas.close()" aria-label="Close" class="btn-close" type="button"></button>
  </div>

  <div class="offcanvas-body">
    <astrobin-equipment-preset-editor
      (presetSaved)="offcanvas.close()"
      [preset]="preset"
    ></astrobin-equipment-preset-editor>
  </div>
</ng-template>
