<ng-container *ngIf="marketplaceService.userHasFeedback(user); else noFeedbackTemplate">
  <div class="feedback">
    <div class="feedback-container">
      <div [style.left]="user.marketplaceFeedback + '%'" class="feedback-bar"></div>
    </div>
  </div>

  <div class="feedback-label">
    {{ "Feedback" | translate }}: {{ user.marketplaceFeedback|number:"1.0-2" }}%
  </div>
</ng-container>

<ng-container *ngIf="leaveFeedback">
  <div *ngIf="!hasFeedback" class="mt-3 text-center">
    <button (click)="showFeedbackModal()" class="btn btn-primary">
      {{ "Leave feedback" | translate }}
    </button>
  </div>
</ng-container>

<ng-template #noFeedbackTemplate>
  <div class="alert alert-info mb-0">
    {{ "This user has no feedback yet." | translate }}
  </div>
</ng-template>

