@import '../../../../styles/mixins';
@import "../../../../styles/breakpoints";

:host {
  display: block;
  margin: 0 -2rem;
  position: relative;

  .nav-tabs {
    @include darkest-background-texture;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 2;

    &::-webkit-scrollbar {
      display: none;
    }

    .nav-link {
      border: 0;
      border-radius: 0;
      color: var(--lightestGrey);
      white-space: nowrap;

      &.active {
        color: var(--textOnAccentColor);
      }

      &:not(.active):hover {
        background: none;
        color: var(--white);
      }

      .dropdown {
        padding: 0;

        .dropdown-toggle {
          margin: 0;
        }
      }
    }

    @media (min-width: $lg-min) {
      position: sticky;
      top: 60px;
    }
  }

  .nav-tabs-fade {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% / 3);
    height: 2.5rem;
    z-index: 3;
    pointer-events: none;
    background: linear-gradient(to left, rgba(0, 0, 0, .8), transparent);
    opacity: 0;
    transition: opacity .5s;
  }

  .tab-content {
    padding: 3rem 2rem 0 2rem;
  }
}

.user-gallery-quick-search {
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
}

::ng-deep astrobin-toggle-button.gallery-settings  {
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;

  ng-toggle {
    margin-left: 0;
  }

  label {
    font-weight: normal;
  }
}

@media (max-width: $md-max) {
  :host {
    margin: 0 -.25rem;

    .tab-content {
      padding: 2rem .5rem 0;
    }
  }
}
