@import "../../../../styles/breakpoints";

:host {
  .image-link {
    width: 143px;
    height: 143px;

    @media (max-width: $xl-max) {
      width: 140px;
      height: 140px;
    }

    @media (max-width: $lg-max) {
      width: 135px;
      height: 135px;
    }

    @media (max-width: $md-max) {
      width: calc(100vw / 7 - 1rem);
      height: calc(100vw / 7 - 1rem);
    }

    @media (max-width: $sm-max) {
      width: calc(100vw / 5 - 1rem);
      height: calc(100vw / 5 - 1rem);
    }

    @media (max-width: $xs-max) {
      width: calc(100vw / 3 - 1.25rem);
      height: calc(100vw / 3 - 1.25rem);
    }

    astrobin-user-gallery-image-menu {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: .25rem;
      right: .25rem;
      margin: 0;
      line-height: 1rem;
      z-index: 1;
      transition: opacity 0.3s ease, filter 0.3s ease;

      ::ng-deep {
        .dropdown {
          background: rgba(0, 0, 0, .5);
          border-radius: 50%;
          height: 2rem;
          width: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .btn {
          color: var(--white);
          margin: 0;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .key-value-tag {
      position: absolute;
      bottom: .25rem;
      left: .25rem;
      z-index: 1;
      background: rgba(0, 0, 0, .5);
      padding: .25rem .5rem;
      border-radius: .5rem;
      color: var(--lighterGrey);
      font-size: .75rem;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
      pointer-events: none;
      opacity: 1;
      transition: opacity 0.3s ease;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        astrobin-user-gallery-image-menu {
          opacity: 1;
          pointer-events: all;

          &:hover {
            filter: brightness(1.5);
          }
        }

        .key-value-tag {
          opacity: 0;
        }
      }
    }
  }

  .wip {
    img {
      opacity: 0.25;
    }
  }
}
