.image-container {
  position: relative;
  cursor: pointer;
  transition: filter .2s ease-in-out;

  .ng-fa-icon.check,
  .ng-fa-icon.loading-indicator {
    display: none;
    position: absolute;
    top: .5rem;
    right: .25rem;
    z-index: 1;
    font-size: 22px;
    line-height: 1rem;
    background: white;
    color: var(--successColor);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    border: 1px solid white;
  }

  .ng-fa-icon.wip {
    display: none;
    position: absolute;
    bottom: .25rem;
    right: .5rem;
    z-index: 1;
    color: var(--lightestGrey);
  }

  &.selected {
    .ng-fa-icon[icon="circle-check"] {
      display: block;
    }
  }

  &.toggling {
    .ng-fa-icon[icon="circle-notch"] {
      display: block;
    }
  }

  &.wip {
    .ng-fa-icon.wip {
      display: block;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      filter: brightness(1.25);
    }
  }
}
