@import "../../../../styles/breakpoints";

:host {
  display: block;
  margin-bottom:  1rem;

  @media (max-width: $sm-max) {
    margin-bottom: .75rem;
  }

  .ng-fa-icon {
    &.active {
      color: var(--accentColor);
      pointer-events: none;
    }
  }
}
