:host {
  display: block;
  margin: 0 -2rem;

  .nav-tabs {
    background: rgba(0, 0, 0, 0.25);

    .nav-link {
      border: 0;
      border-radius: 0;
      color: var(--lightestGrey);

      &.active {
        color: var(--white);
      }

      &:not(.active):hover {
        background: none;
        color: var(--accentColor);
      }
    }
  }

  .tab-content {
    padding: 2rem;
  }
}
