@import "../../../../styles/breakpoints";

astrobin-ad-manager {
  margin: -2rem -2rem 2rem;
  overflow: hidden;
  display: block;
}

astrobin-user-gallery-header {
  display: block;
  margin: -2rem -2rem 0;
  padding: 0;
  width: calc(100% + 4rem);
  height: 16rem;
}

.shadow-ban-alert {
  margin: 0 -2rem;
  border-radius: 0;
  font-size: .9rem;
}

@media (max-width: $md-max) {
  astrobin-ad-manager {
    margin: -2rem -.5rem 2rem;
  }

  astrobin-user-gallery-header {
    margin: -2rem -.5rem 0;
    width: calc(100% + 1rem)
  }
}

@media (max-width: $sm-max) {
  astrobin-ad-manager {
    margin-top: 0;
    margin-bottom: 0;
  }

  astrobin-user-gallery-header {
    margin-top: 0;
  }
}
