$size: 150px;

.collection-container {
  position: relative;
  cursor: pointer;
  transition: filter 0.3s ease;
  width: $size;

  .collection-background {
    background: url("/assets/images/polaroids.png?v=20241008") no-repeat center;
    background-size: $size;
    height: calc($size + 10px);
    width: $size;
    position: relative;
    overflow: hidden;

    .collection-thumbnail {
      width: $size;
      height: $size;
      overflow: hidden;

      img,
      [role="img"] {
        position: absolute;
        top: 13px !important;
        left: 16px !important;
        width: calc(100% - 32px) !important;
        height: calc(100% - 44px) !important;
        object-fit: cover;
        overflow: hidden;

        &.empty-collection-thumbnail {
          object-fit: none;
        }
      }
    }
  }

  astrobin-user-gallery-collection-menu {
    position: absolute;
    top: -0.5rem;
    right: 0;
    margin: 0;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    border: 1px solid var(--lightGrey);
    cursor: pointer;
    border-radius: 50%;
    opacity: 1;
    pointer-events: all;
    line-height: 1rem;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, filter 0.3s ease;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        filter: brightness(1.5);
      }
    }

    ::ng-deep .btn {
      color: var(--lightestGrey);
      margin: 0;

      .ng-fa-icon {
        margin: 0;
      }
    }
  }

  .collection-name {
    padding: 0.5rem 1rem 0.25rem 1rem;
    text-align: center;
    color: var(--white);
    font-weight: bold;
    word-break: break-word;
  }

  .image-count,
  .nested-collection-count {
    padding: 0 1rem;
    text-align: center;
    color: var(--lighterGrey);
    font-size: 0.8rem;
  }

  @media (hover: hover) and (pointer: fine) {
    astrobin-user-gallery-collection-menu {
      opacity: 0;
      pointer-events: none;
    }

    &:hover {
      filter: brightness(1.5);

      astrobin-user-gallery-collection-menu {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  @media (hover: none) and (pointer: coarse) {
    astrobin-user-gallery-collection-menu {
      opacity: 1;
      pointer-events: all;
    }
  }
}
