.collection-header {
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  text-align: center;

  small {
    color: var(--lighterGrey);
    display: flex;
    margin-top: -.25rem;
    gap: .5rem;
    justify-content: center;
  }
}
