$size: 150px;

:host {
  display: block;
}

.smart-folder-category {
  position: relative;
  text-align: center;

  .smart-folder-background {
    background: url("/assets/images/polaroids.png?v=20241008") no-repeat center;
    background-size: $size;
    height: calc($size + 10px);
    width: $size;
  }

  .smart-folder-stars {
    background: url("/assets/images/stars.jpg?v=20241008") no-repeat center;
    background-size: $size;
    height: 116px;
    width: 116px;
    position: absolute;
    top: 13px;
    left: 17px;
    opacity: 0.75;
    filter: blur(2px);
  }

  .smart-folder {
    color: var(--lightestGrey);

    .icon {
      font-size: 3rem;
      position: absolute;
      top: calc(50% - 2rem);
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        opacity: 0.75;
      }
    }

    .name {
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
}
