@import "../../../../styles/breakpoints";

.user-gallery-header {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .btn-change-header-image {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 1;
    transition: opacity .25s ease-in-out;
    opacity: 0;
    padding: .5rem 1rem;
    background: rgba(0, 0, 0, 0.75);
    color: var(--lighterGrey);
    font-size: .9rem;
  }

  .no-image {
    background: var(--black);
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
    filter: blur(4px);
  }

  .user-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    z-index: 1;

    astrobin-avatar {
      display: block;
      width: 5rem;
      height: 5rem;
      filter: drop-shadow(0 .5rem .5rem rgba(0, 0, 0, 0.5));
    }

    astrobin-username {
      display: block;
      font-size: 1.75rem;
      color: white;
      font-weight: 700;

      ::ng-deep .username {
        vertical-align: text-bottom;
      }
    }

    .username {
      color: var(--lighterGrey);
      font-size: .85rem;
    }

    .images-and-followers {
      font-size: .85rem;
      color: var(--lighterGrey);

      span {
        white-space: nowrap;
      }
    }
  }

  .my-bookmarks-and-likes {
    .btn:first-child {
      margin-right: .25rem;
    }

    @media (max-width: $xs-max) {
      flex-direction: column;
      align-items: start !important;

      .btn:first-child {
        margin-right: 0;
        margin-bottom: .25rem;
      }
    }
  }
}

@media (max-width: $sm-max) {
  .user-gallery-header {
    .user-info  {
      astrobin-username {
        font-size: 1.25rem;
      }
    }
  }
}


@media (hover: hover) and (pointer: fine) {
  .user-gallery-header:hover {
    .btn-change-header-image {
      opacity: 1;
    }
  }
}

@media (hover: none) and (pointer: coarse) {
  .user-gallery-header {
    .btn-change-header-image {
      opacity: 1;
    }
  }
}
