@import "../../../../styles/breakpoints";

:host {
  display: block;
  margin-bottom:  1rem;

  @media (max-width: $sm-max) {
    margin-bottom: .75rem;
  }

  .ng-fa-icon {
    &.active {
      color: var(--accentColor);
      pointer-events: none;
    }

    &.disabled {
      opacity: .5;
      cursor: default;
      pointer-events: none;
    }
  }
}

::ng-deep {
  .gallery-csv-export-offcanvas {
    &:not(.offcanvas-bottom) {
      width: 40vw;
    }

    textarea {
      font-family: monospace;
      font-size: .85rem;
      resize: none;
    }
  }
}
