@import '../../../../styles/mixins';

:host {
  display: block;
  margin: 0 -2rem;

  .nav-tabs {
    @include darkest-background-texture;
    position: sticky;
    top: 63px;
    z-index: 1;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);

    .nav-link {
      border: 0;
      border-radius: 0;
      color: var(--lightestGrey);

      &.active {
        color: var(--white);
      }

      &:not(.active):hover {
        background: none;
        color: var(--accentColor);
      }
    }
  }

  .tab-content {
    padding: 2rem;
  }
}
