@import "../../../../styles/mixins";

::ng-deep {
  .preset-summary-offcanvas:not(.offcanvas-bottom),
  .preset-create-offcanvas:not(.offcanvas-bottom) {
    width: 40vw;
  }

  .preset-summary-offcanvas.offcanvas-bottom,
  .preset-create-offcanvas.offcanvas-bottom {
    height: 85vh !important;
  }
}

astrobin-loading-indicator {
  width: 1rem;
}

.create-preset {
  @include create-preset-button();
}

h4 small {
  display: block;
  font-size: .9rem;
  color: var(--lighterGrey);
  margin-top: .5rem;
}
