@import "../../../../styles/breakpoints";

.table {
  table-layout: auto;
  width: 100%;
  max-width: 100%;

  td, th {
    vertical-align: middle;
    padding: .5rem .75rem;

    &.title {
      width: 100%;
    }

    &:not(.title) {
      width: 1%;
      white-space: nowrap;
    }

    img {
      height: 2rem;
    }
  }

  td {
    color: var(--lightestGrey);
  }

  @media (hover: hover) and (pointer: fine) {
    tr:hover > .restore > .btn {
      visibility: visible;
    }

    .restore > .btn {
      visibility: hidden;
    }
  }
}

@media (max-width: $sm-max) {
  .table,
  .table tbody {
    display: block;
  }

  thead {
    display: none;
  }

  /* Each row as a block element on small screens */
  .table tbody tr {
    display: block;
    margin-bottom: 2rem;
  }

  .table tbody tr td {
    display: flex;
    gap: .5rem;
    padding: .5rem 1rem;
    width: auto;
    border-bottom-width: 0;
  }

  .table tbody tr td:before {
    content: attr(data-label);
    color: var(--lighterGrey);
  }

  .restore .btn {
    margin-left: -.5rem; // Compensate for gap.
  }

  .thumbnail {
    display: none !important;
  }

  .table-striped > tbody > tr:nth-of-type(even) > * {
    background-color: var(--darkerGrey);
  }
}
