@import "../../../../styles/breakpoints";

:host {
  .image-link {
    astrobin-user-gallery-image-menu {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      margin: 0;
      line-height: 1rem;
      z-index: 1;
      transition:
        opacity 0.3s ease,
        filter 0.3s ease;

      ::ng-deep {
        .dropdown {
          background: rgba(0, 0, 0, 0.5);
          border-radius: 50%;
          height: 2rem;
          width: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .btn {
          color: var(--white);
          margin: 0;
        }
      }
    }

    [role="img"] {
      width: 100%;
      height: 100%;

      &,
      > div {
        border-radius: 0.75rem;
        overflow: hidden;
      }
    }

    astrobin-loading-indicator {
      background: rgba(0, 0, 0, 0.75);
      border-radius: 0.5rem;
    }

    .key-value-tag {
      position: absolute;
      bottom: 0.25rem;
      left: 0.25rem;
      z-index: 1;
      background: rgba(0, 0, 0, 0.5);
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      color: var(--lighterGrey);
      font-size: 0.75rem;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      pointer-events: none;
      opacity: 1;
      transition: opacity 0.3s ease;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        astrobin-user-gallery-image-menu {
          opacity: 1;
          pointer-events: all;

          &:hover {
            filter: brightness(1.5);
          }
        }

        .key-value-tag {
          opacity: 0;
        }
      }
    }
  }

  .wip {
    img {
      opacity: 0.5;
    }
  }

  .table th {
    white-space: nowrap;
  }
}
