.collection-header {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;

  small {
    margin-top: -.25rem;
    font-size: .85rem;
    color: var(--lighterGrey);
    display: block;
  }

  p {
    margin-top: .5rem;
    color: var(--lighestGrey);
    padding: 1rem;
    border-top: 1px solid var(--grey);
    margin-bottom: 1rem;
  }
}
