@import "../../../../styles/breakpoints";

@mixin textShadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .25)
}

#user-gallery-dropdown {
  background: rgba(0, 0, 0, .5);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.user-gallery-header {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .btn-change-header-image {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 1;
    transition: opacity .25s ease-in-out;
    opacity: 1;
    padding: .5rem 1rem;
    background: rgba(0, 0, 0, 0.75);
    color: var(--lighterGrey);
    text-shadow: 0 .15rem .15rem rgba(0, 0, 0, 0.5);
    font-size: .9rem;
  }

  .no-image {
    background: var(--black);
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .header-gradient {
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .03) 8%, rgba(0, 0, 0, .11) 21%, rgba(0, 0, 0, .61) 78%, rgba(0, 0, 0, .7) 95%, rgba(0, 0, 0, .7));
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
  }

  .user-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    z-index: 1;

    astrobin-avatar {
      display: block;
      width: 5rem;
      height: 5rem;
      filter: drop-shadow(0 .5rem .5rem rgba(0, 0, 0, 0.5));
    }

    astrobin-username {
      display: block;
      font-size: 1.5rem;
      color: white;
      font-weight: 700;

      ::ng-deep .username {
        vertical-align: text-bottom;
        @include textShadow;
      }
    }

    .username {
      color: var(--lightestGrey);
      font-size: .85rem;
      @include textShadow;
    }

    .images-and-followers {
      font-size: .85rem;
      color: var(--white);
      @include textShadow;

      span {
        white-space: nowrap;
      }
    }
  }

  .my-bookmarks-and-likes {
    .btn:first-child {
      margin-right: .25rem;
    }

    @media (max-width: $xs-max) {
      align-items: flex-start !important;
      gap: .25rem;

      .btn:first-child {
        margin-right: 0;
        margin-bottom: .25rem;
      }
    }
  }

  .edit-avatar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;

    .ng-fa-icon {
      font-size: 1rem;
      color: var(--white);
      background: rgba(0, 0, 0, 0.75);
      box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.5);
      padding: .5rem;
      margin: 0;
      border-radius: 50%;
      display: flex;
      width: 2.25rem;
      height: 2.25rem;
      justify-content: center;
      align-items: center;
    }

    @media (hover: hover) and (pointer: fine) {
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }
  }

  .btn.more {
    background: rgba(0, 0, 0, .5);
    color: var(--lighterGrey) !important;
    padding: .25rem .5rem !important;
  }
}

@media (max-width: $sm-max) {
  .user-gallery-header {
    .user-info {
      astrobin-username {
        font-size: 1rem;
      }
    }
  }
}


@media (hover: hover) and (pointer: fine) {
  .user-gallery-header .btn-change-header-image {
    opacity: 0;
  }

  .user-gallery-header:hover {
    .btn-change-header-image {
      opacity: 1;
    }
  }
}

::ng-deep {
  .change-header-image-offcanvas.offcanvas-bottom {
    height: 85vh !important;
  }
}
