:host {
  display: block;
  margin-bottom: 2rem;

  .smart-folder {
    background: var(--darkerGrey);
    color: var(--lightestGrey);
    padding: .5rem 1rem;
    border-radius: var(--bs-border-radius);
    font-size: 1rem;
    font-weight: normal;
    white-space: normal;
    text-align: left;
    transition: background .3s, color .3s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: var(--lightGrey);
        color: var(--white);
      }
    }

    &.active {
      background: var(--lightestGrey);
      color: var(--darkestGrey);
      box-shadow: 0 0 .5rem var(--lightestGrey);
    }
  }
}
