<div class="search-results">
  <ng-container *ngIf="!initialLoading; else loadingTemplate">
    <ng-container *ngIf="results !== null; else loadingTemplate">
      <ng-container *ngIf="results.length > 0; else noResultsTemplate">
        <div
          (click)="openComment(comment)"
          *ngFor="let comment of results" class="card"
        >
          <div class="card-header d-flex justify-content-between align-items-center">
            <img
              *ngIf="comment.imageThumbnail"
              [src]="comment.imageThumbnail"
              [alt]="comment.contentObjectTitle"
              class="image-thumbnail"
            />
            <div class="flex-grow-1">
              <h4>{{ comment.contentObjectTitle }}</h4>
              <small>
                <span class="username">{{ comment.userDisplayName }}</span>
                &middot;
                <span class="created">{{ comment.created | localDate | timeago: true }}</span>
              </small>
            </div>
            <img
              *ngIf="comment.userAvatar"
              [src]="comment.userAvatar"
              [alt]="comment.userDisplayName"
              class="user-avatar"
            />
          </div>

          <div
            [innerHTML]="comment.text | BBCodeToHtml | removeBr | highlight:model.text"
            class="card-body"
          >
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <div *ngIf="loading && !initialLoading" class="loading">
    <ng-container [ngTemplateOutlet]="loadingTemplate"></ng-container>
  </div>
</div>

<ng-template #noResultsTemplate>
  <astrobin-nothing-here [withAlert]="false" [withInfoSign]="false"></astrobin-nothing-here>
</ng-template>

<ng-template #loadingTemplate>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>
