<ng-container *ngIf="item">
  <div class="row">
    <div
      *ngIf="showImage"
      class="col-12 col-lg-3"
    >
      <div
        class="image"
        [class.image-large]="showLargeImage"
        [style.background-image]="'url(' + image + ')'"
      >
        <fa-icon *ngIf="showEditButtons" class="edit" icon="pen" (click)="editButtonClick.emit(item)"></fa-icon>
      </div>
    </div>

    <div class="col">
      <div class="label">
        <h5>
          <astrobin-equipment-item-display-name
            [item]="item"
            [enableBrandLink]="enableBrandLink"
            [enableNameLink]="showViewLink"
          ></astrobin-equipment-item-display-name>
          <fa-icon *ngIf="showEditButtons" class="edit" icon="pen" (click)="editButtonClick.emit(item)"></fa-icon>
        </h5>
        <h6 *ngIf="showProperties && !!item.website" class="website">
          <a target="_blank" [href]="item.website">{{ UtilsService.shortenUrl(item.website) }}</a>
        </h6>
      </div>

      <table class="table table-sm table-striped properties" *ngIf="showProperties && !!properties">
        <tbody>
        <ng-container *ngFor="let property of properties">
          <tr *ngIf="(showProperty$(property) | async) === true" class="property">
            <th class="property-name">
              {{ property.name }}
            </th>
            <td class="property-value">
              <ng-container *ngIf="!!property.link; else noLink">
                <a [routerLink]="property.link">
                  <ng-container *ngTemplateOutlet="propertyValueTemplate"></ng-container>
                </a>
              </ng-container>

              <ng-template #noLink>
                <ng-container *ngTemplateOutlet="propertyValueTemplate"></ng-container>
              </ng-template>

              <ng-template #propertyValueTemplate>
                <ng-container *ngIf="property.value | async as value; else noValue">
                  <span class="property-value" [innerHTML]="value"></span>
                </ng-container>
              </ng-template>

              <ng-template #noValue>
                <span class="property-value">{{ "n/a" | translate }}</span>
              </ng-template>

              <fa-icon
                *ngIf="showEditButtons && (property.value | async) === ''"
                class="edit"
                icon="pen"
                (click)="editButtonClick.emit(item)"
              ></fa-icon>
            </td>
          </tr>
        </ng-container>

        <ng-container *ngIf="showStats">
          <tr class="property">
            <th class="property-name">
              {{ "Users" | translate }}
              <astrobin-data-does-not-update-in-real-time></astrobin-data-does-not-update-in-real-time>
            </th>
            <td class="property-value">{{ item.userCount || 0 }}</td>
          </tr>
          <tr class="property">
            <th class="property-name">
              {{ "Images" | translate }}
              <astrobin-data-does-not-update-in-real-time></astrobin-data-does-not-update-in-real-time>
            </th>
            <td class="property-value">{{ item.imageCount || 0 }}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>

      <div class="community-notes" *ngIf="showCommunityNotes && !!item.communityNotes">
        <h5>
          {{ equipmentItemService.getPrintablePropertyName(null, EquipmentItemDisplayProperty.COMMUNITY_NOTES) }}
        </h5>
        <div class="community-notes-content" [innerHTML]="item.communityNotes | BBCodeToHtml"></div>
      </div>

      <div *ngIf="showSubItem && !!subItem" class="sub-item">
        <astrobin-equipment-item-summary
          [item]="subItem"
          [showSubItem]="showSubItem"
          [showClass]="showClass"
          [showLargeImage]="showLargeImage"
          [showImage]="showImage"
          [showProperties]="showProperties"
          [showEmptyProperties]="showEmptyProperties"
          [showMeta]="false"
          [showViewLink]="true"
          [enableBrandLink]="enableBrandLink"
          [showEditButtons]="false"
        ></astrobin-equipment-item-summary>
      </div>
    </div>
  </div>

  <div class="meta" *ngIf="showMeta">
    <p *ngIf="item.createdBy">
      <strong>{{ "Created by" | translate }}</strong>:
      <astrobin-username [user]="getCreatedBy() | async"></astrobin-username>
      <abbr [attr.title]="item.created | localDate">
        ({{ item.created | localDate | timeago:true }})
      </abbr>
    </p>

    <ng-container *ngIf="(currentUser$ | async) as currentUser">
      <p *ngIf="(currentUser | isEquipmentModerator) && !item.reviewerDecision">
        <strong>{{ "Assignee" | translate }}</strong>:
        <astrobin-username *ngIf="!!item.assignee" [user]="getAssignee() | async"></astrobin-username>
        <span *ngIf="!item.assignee">{{ "Any moderator" | translate }}</span>
        <a
          *ngIf="item.assignee === null || item.assignee === currentUser.id"
          href="#"
          class="assign"
          appEventStopPropagation
          appEventPreventDefault
          [ngbTooltip]="'Assign' | translate"
          (click)="assign()"
        >
          <fa-icon icon="pen"></fa-icon>
        </a>
      </p>
    </ng-container>

    <p *ngIf="item.reviewedBy">
      <strong>{{ "Reviewed by" | translate }}</strong>:
      <astrobin-username [user]="getReviewedBy() | async"></astrobin-username>
      <abbr *ngIf="item.reviewedTimestamp" [attr.title]="item.reviewedTimestamp | localDate">
        ({{ item.reviewedTimestamp | localDate | timeago:true }})
      </abbr>
    </p>

    <p *ngIf="showLastUpdate()">
      <strong>{{ "Last update" | translate }}:</strong>
      <abbr [attr.title]="item.updated | localDate">
        {{ item.updated | localDate | timeago:true }}
      </abbr>
    </p>
  </div>
</ng-container>
