@import "../../../../../styles/breakpoints";

:host {
  .image {
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &.image-large {
      height: 150px;
    }

    .edit {
      opacity: 0;
      position: absolute;
      top: calc(50% - 1.5rem);
      left: calc(50% - 1.5rem);
      background: rgba(0, 0, 0, .5);
      width: 3rem;
      height: 3rem;
      z-index: 2;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      line-height: 3rem;
      border-radius: 50%;
      box-shadow: 0 0 2rem var(--black);
      cursor: pointer;

      &:hover {
        background: var(--accentColor);
      }
    }

    &:hover {
      .edit {
        opacity: 1;
      }
    }

    @media screen and (max-width: $md-max) {
      margin: 0 auto 2rem;
      max-width: 150px;
    }
  }

  astrobin-equipment-item-display-name {
    display: inline-block;
    line-height: 1.5rem;

    +.edit {
      opacity: 0;
      font-size: .75rem;
      color: var(--lighterGrey);
      cursor: pointer;
      padding: .5rem 1rem;
      vertical-align: middle;

      &:hover {
        opacity: 1;
        color: var(--accentColor);
      }
    }

    &:hover {
      +.edit {
        opacity: 1;
      }
    }
  }

  .website {
    margin-bottom: 1rem;
    word-break: break-all;
  }

  .properties {
    margin-top: .5rem;
    margin-bottom: 0;

    .property {
      position: relative;

      .property-name {
        color: var(--lightestGrey);
        font-weight: normal;
      }

      .property-value {
        color: var(--lighterGrey);

        .edit {
          opacity: 0;
          position: absolute;
          top: 1px;
          right: -1.75rem;
          color: var(--white);
          width: 1.75rem;
          height: calc(2rem + 1px);
          font-size: .66rem;
          line-height: calc(2rem + 1px);
          vertical-align: middle;
          text-align: center;
          cursor: pointer;

          &:hover {
            color: var(--accentColor);
          }
        }

        &:hover {
          .edit {
            opacity: 1;
          }
        }
      }

      a > .property-value {
        color: inherit;
      }
    }
  }

  .label {
    display: inline-block;

    h5 {
      color: var(--white);
    }

    .brand {
      font-weight: bold;
    }

    .name {
      font-weight: lighter;
      margin-left: -.25rem;
    }
  }

  .community-notes {
    margin-top: 2rem;
    margin-bottom: 1em;
    background: rgba(255, 255, 255, 0.025);
    padding: 1rem;
    box-shadow: 0 0 1rem rgb(0 0 0 / 25%);
    border-radius: 0.25rem;

    h5 {
      margin-bottom: 1rem;
      padding-bottom: .5rem;
      border-bottom: 1px solid var(--lightGrey);
    }

    .community-notes-content {
      color: var(--lighterGrey);

      ::ng-deep img {
        max-width: 100%;
      }
    }
  }

  .sub-item {
    padding: 1rem;
    margin-top: 1rem;
    border-top: 1px dashed var(--lightGrey);

    @media screen and (max-width: $md-max) {
      padding: 1rem 0 0 0;
    }

    h5 {
      font-size: 1.1rem;
      color: var(--lighterGrey);
    }

    .image {
      width: 80%;
    }
  }

  .meta {
    padding: .75rem 1.5rem;
    margin: -1.5rem;
    margin-top: 1rem;
    color: var(--lighterGrey);
    background: var(--grey);
    font-style: italic;
    font-size: .85rem;

    @media screen and (max-width: $md-max) {
      margin: -.5rem;
    }

    strong {
      color: var(--white);
      font-weight: normal;
    }

    p {
      margin-bottom: .15rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}
