<ng-container *ngIf="item">
  <div class="row">
    <div
      *ngIf="showImage"
      class="col-12 col-lg-3"
    >
      <div
        class="image"
        [class.image-large]="showLargeImage"
        [style.background-image]="'url(' + image + ')'"
      >
      </div>
    </div>

    <div class="col">
      <div class="label">
        <h5>
          <astrobin-equipment-item-display-name [item]="item"></astrobin-equipment-item-display-name>
          <a
            *ngIf="showViewLink"
            [routerLink]="['/equipment/explorer', item.klass.toLowerCase(), item.id]"
             class="ml-2 btn btn-outline-primary btn-sm"
          >
            {{ "View" | translate }}
          </a>
        </h5>
        <h6 *ngIf="showProperties && !!item.website" class="website">
          <a target="_blank" [href]="item.website">{{ UtilsService.shortenUrl(item.website) }}</a>
        </h6>
      </div>

      <table class="table table-sm table-striped properties" *ngIf="showProperties && !!properties">
        <tbody>
        <ng-container *ngFor="let property of properties">
          <tr *ngIf="(showProperty$(property) | async) === true" class="property">
            <th class="property-name">
              {{ property.name }}
            </th>
            <td class="property-value">
              <ng-container *ngIf="property.value | async as value; else noValue">
                <span class="property-value" [innerHTML]="value"></span>
              </ng-container>

              <ng-template #noValue>
                <span class="property-value">{{ "n/a" | translate }}</span>
              </ng-template>
            </td>
          </tr>
        </ng-container>
        <tr class="property">
          <th class="property-name">{{ "Users" | translate }}</th>
          <td class="property-value">{{ item.userCount || 0 }}</td>
        </tr>
        <tr class="property">
          <th class="property-name">{{ "Images" | translate }}</th>
          <td class="property-value">{{ item.imageCount || 0 }}</td>
        </tr>
        </tbody>
      </table>

      <div *ngIf="showSubItem && !!subItem" class="sub-item">
        <astrobin-equipment-item-summary
          [item]="subItem"
          [showSubItem]="showSubItem"
          [showClass]="showClass"
          [showLargeImage]="showLargeImage"
          [showImage]="showImage"
          [showProperties]="showProperties"
          [showEmptyProperties]="showEmptyProperties"
          [showMeta]="false"
          [showViewLink]="true"
        ></astrobin-equipment-item-summary>
      </div>
    </div>
  </div>

  <div class="meta" *ngIf="showMeta">
    <p *ngIf="item.createdBy">
      <strong>{{ "Created by" | translate }}</strong>:
      <astrobin-username [user]="getCreatedBy() | async"></astrobin-username>
      <abbr [attr.title]="item.created | localDate">
        ({{ item.created | localDate | timeago:true }})
      </abbr>
    <p>

    <p *ngIf="item.reviewedBy">
      <strong>{{ "Reviewed by" | translate }}</strong>:
      <astrobin-username [user]="getReviewedBy() | async"></astrobin-username>
      <abbr *ngIf="item.reviewedTimestamp" [attr.title]="item.reviewedTimestamp | localDate">
        ({{ item.reviewedTimestamp | localDate | timeago:true }})
      </abbr>
    </p>

    <p *ngIf="showLastUpdate()">
      <strong>{{ "Last update" | translate }}:</strong>
      <abbr [attr.title]="item.updated | localDate">
        {{ item.updated | localDate | timeago:true }}
      </abbr>
    </p>
  </div>
</ng-container>
