@import "../../../../styles/breakpoints";

.card-header {
  .type-image {
    width: 4rem;
    margin-right: .75rem;
  }

  astrobin-equipment-item-display-name {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .image-counts {
    font-weight: normal;
    font-size: .9rem;
  }
}

.card-body {
  .images {
    margin-top: .5rem;
  }

  .description {
    color: var(--lightestGrey);
    margin-top: .5rem;
    font-style: italic;
  }
}

.card-footer {
  .condition,
  .year-of-purchase {
    color: var(--lighterGrey);
  }
}
