<ng-container *ngIf="equipmentItem; else noEquipmentItem">
  <div class="card">
    <div class="card-header">
      <div class="d-flex align-items-center">
        <div class="image">
          <img
            alt="{{ equipmentItemType(equipmentItem) }}"
            class="type-image"
            src="/assets/images/{{ equipmentItem.klass.toLowerCase() }}-placeholder.png?v=2"
          />
        </div>

        <div class="flex-grow-1">
          <astrobin-equipment-item-display-name
            [enableBrandLink]="true"
            [enableNameLink]="true"
            [item]="equipmentItem"
            [showFrozenAsAmbiguous]="false"
            [showItemUnapprovedInfo]="false"
          ></astrobin-equipment-item-display-name>
        </div>
        <astrobin-marketplace-listing-line-item-price
          [lineItem]="lineItem"
        ></astrobin-marketplace-listing-line-item-price>
      </div>
    </div>

    <div class="card-body">
      <div class="w-100 images">
        <astrobin-marketplace-listing-line-item-images
          [images]="lineItem.images"
        ></astrobin-marketplace-listing-line-item-images>
      </div>

      <div class="w-100">
        <div *ngIf="!!lineItem.description; else noDescriptionTemplate" class="description">
          {{ lineItem.description }}
        </div>
      </div>
    </div>

    <div class="card-footer">
      <a [href]="sellerImagesUrl" [innerHTML]="sellerImageCount"></a>
      <span class="middot-separator"></span>
      <a [href]="allImagesUrl" [innerHTML]="totalImageCount"></a>
      <span class="middot-separator"></span>
      <astrobin-marketplace-listing-line-item-condition
        [lineItem]="lineItem"
      ></astrobin-marketplace-listing-line-item-condition>
    </div>
  </div>
</ng-container>

<ng-template #noEquipmentItem>
  <ng-container *ngIf="previewMode; else loadingTemplate">
    <div class="alert alert-warning">
      <fa-icon icon="warning"></fa-icon>
      {{ "Please specify an equipment item." | translate }}
    </div>
  </ng-container>
</ng-template>

<ng-template #loadingTemplate>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>

<ng-template #noDescriptionTemplate>
  <p class="text-muted">{{ "No description provided." | translate }}</p>
</ng-template>
