@import "../../../../../styles/breakpoints";

.widget {
  .dropdown-menu {
    padding: .75rem;
    border: 1px solid var(--grey);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);

    .widget-content {
      transform: scale(.85);
    }
  }

  .dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    color: var(--lighterGrey);
    border-color: var(--lighterGrey);
    background: transparent;

    &:hover,
    &:active {
      color: var(--white);
      background-color: var(--lightGrey);
      border-color: var(--lighterGrey);
    }

    &:focus {
      box-shadow: none;
    }

    &::after {
      display: none;
    }
  }

  .btn-close {
    border: 1px solid var(--lighterGrey);
    border-left-color: var(--lightGrey);
    border-radius: 0 .25rem .25rem 0;
    background: none;
    box-sizing: initial;
    width: auto;
    height: auto;
    opacity: 1;
    color: var(--lighterGrey);
    font-size: 1rem;
    padding: 1px .375rem;

    &:hover {
      color: var(--accentColor);
    }
  }
}

.clear-filters {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: middle;
  color: var(--lighterGrey);

  &:hover {
    text-decoration: none;
    color: var(--accentColor);
  }
}
