@import "../../../../styles/breakpoints";

:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  > div {
    min-height: 14px;
  }

  .loading {
    display: inline-block;
    cursor: default;

    @media (max-width: $xs-max) {
      width: auto;
      padding: 0.375rem 1rem;
    }
  }

  .progress {
    height: 14px;
    width: 75px;
    margin: 0 auto;
  }

  .message {
    margin-top: .25rem;
  }
}
