.price {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  color: var(--successColor);
}

.shipping-cost {
  font-size: .9rem;
  font-weight: normal;
  font-style: italic;
  color: var(--lighterGrey);
}

.sold {
  .sold-badge {
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  .price,
  .shipping-cost {
    text-decoration: line-through;
  }
}
