.price {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  color: var(--successColor);
}

.shipping-cost {
  font-size: .9rem;
  font-weight: normal;
  font-style: italic;
  color: var(--lighterGrey);
}
