<div *ngIf="!!lineItem.price && !!lineItem.currency; else noPrice" [class.sold]="!!lineItem.sold" class="text-center">
  <span *ngIf="lineItem.sold" class="badge rounded-pill bg-danger border border-light sold-badge">
    {{ "Sold" | translate }}
  </span>

  <div class="price">
    {{ lineItem.price | currency : lineItem.currency : "symbol" : "1.2-2" : translateService.currentLang }}
  </div>

  <div *ngIf="!!lineItem.shippingCost; else freeShippingTemplate" class="shipping-cost">
    {{ "+ shipping" | translate }}:
    {{ lineItem.shippingCost | currency : lineItem.currency : "symbol" : "1.2-2" : translateService.currentLang }}
  </div>

  <ng-template #freeShippingTemplate>
    <div class="shipping-cost">
      {{ "free shipping" | translate }}
    </div>
  </ng-template>
</div>

<ng-template #noPrice>
  <div class="price">
    {{ "0.-" | translate }}
  </div>
</ng-template>
