<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{ "Are you sure?" | translate }}</h4>
  <button
    (click)="modal.dismiss(ConfirmDismissResult.CANCEL)"
    aria-describedby="modal-title"
    class="close"
    type="button"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <p>
    {{ "The image will permanently disappear from your queue." | translate }}
  </p>

  <p>
    <strong [innerHTML]="maxDismissalsMessage$ | async"></strong>
  </p>

  <p class="text-danger">{{ "This operation can not be undone." | translate }}</p>

  <form [formGroup]="form">
    <formly-form [fields]="fields" [form]="form" [model]="model"></formly-form>
  </form>
</div>

<div class="modal-footer">
  <button (click)="modal.dismiss(ConfirmDismissResult.CANCEL)" class="btn btn-outline-secondary" type="button">
    {{ "Cancel" | translate }}
  </button>

  <button (click)="modal.close(ConfirmDismissResult.CONFIRM)" class="btn btn-danger" type="button">
    {{ "Dismiss image" | translate }}
  </button>
</div>
