::ng-deep .ngx-slider {
  margin-top: 3rem !important;

  .ngx-slider-pointer {
    background-color: var(--accentColor) !important;

    &.ngx-slider-active::after {
      background-color: var(--darkerAccentColor) !important;
    }
  }

  .ngx-slider-selection {
    background: var(--accentColor) !important;
  }

  .ngx-slider-bubble {
    color: var(--mutedAccentColor) !important;
  }
}
