<ngx-slider
  (highValueChange)="onHighValueChange($event)"
  (valueChange)="onValueChange($event)"
  [(highValue)]="highValue"
  [(value)]="value"
  [id]="props.id"
  [options]="props.sliderOptions"
></ngx-slider>

<div class="inputs d-flex gap-4 justify-content-between align-content-center mt-4">
  <div class="form-group mb-0">
    <label [for]="props.id + '-min'">{{ "Min" | translate }}</label>
    <input
      [(ngModel)]="value"
      [id]="props.id + '-min'"
      class="form-control"
    >
  </div>
  <div class="form-group mb-0">
    <label [for]="props.id + '-max'">{{ "Max" | translate }}</label>
    <input
      [(ngModel)]="highValue"
      [id]="props.id + '-max'"
      class="form-control"
    >
  </div>
</div>
