<div
  *ngFor="let arrayField of field.fieldGroup; let i = index;"
  class="card mb-4"
>
  <div
    (click)="toggleCollapse($event, i)"
    [class.card-collapsible]="props.collapsible"
    class="card-header d-flex"
  >
    <span class="flex-grow-1">
      {{ arrayField.props.label }}
    </span>

    <button
      (click)="toggleCollapse($event, i)"
      *ngIf="props.collapsible"
      class="btn btn-link me-3 mb-0 btn-toggle-collapse w-auto"
    >
      <fa-icon [icon]="collapsedIndexes.includes(i) ? 'angle-down' : 'angle-up'"></fa-icon>
    </button>

    <button
      (click)="remove(i)"
      *ngIf="field.fieldGroup.length > 1 && mayRemove(i)"
      class="btn btn-link btn-remove w-auto">
      <fa-icon icon="trash"></fa-icon>
    </button>
  </div>

  <div
    [@collapse]="(props.collapsible && collapsedIndexes.includes(i)) ? 'collapsed' : 'expanded'"
    class="card-body overflow-auto"
  >
    <formly-group [field]="arrayField"></formly-group>
  </div>
</div>

<button (click)="add()" *ngIf="mayAdd()" class="btn btn-link w-100">
  <ng-container *ngIf="props.addLabel; else noAddLabelTemplate">
    {{ props.addLabel }}
  </ng-container>
  <ng-template #noAddLabelTemplate>
    {{ "Add another" | translate }}
  </ng-template>
</button>
