@import "../../../../styles/mixins";
@import "../../../../styles/breakpoints";

.context-form {
  flex-grow: 1;

  ::ng-deep .context-select {
    min-width: 200px;
  }
}

.table.notifications {
  vertical-align: middle;

  .notification {
    margin: 0;

    .read-indicator {
      cursor: pointer;
      padding: 0.5rem;
      width: 1%;

      &.read .read-icon {
        color: var(--lightGrey);
      }

      &.unread .read-icon {
        color: var(--accentColor);
      }
    }

    .notification-context {
      padding: 0.5rem;
      width: 1%;
    }

    .message {
      padding: 1rem 0.5rem;
      cursor: pointer;
      color: var(--lightestGrey);

      ::ng-deep {
        a {
          color: var(--lightestGrey);
          transition: color 0.1s ease;
        }

        strong {
          transition: color 0.1s ease;
          color: inherit;
          font-weight: normal !important;
          text-decoration: underline;
          text-decoration-color: var(--lightGrey);
          text-decoration-thickness: 1px;
          text-underline-offset: 3px;
        }
      }

      @media (hover: hover) {
        &:hover {
          ::ng-deep {
            a {
              color: var(--accentColor);
            }

            strong {
              color: var(--accentColor);
              text-decoration-color: var(--darkerAccentColor);
            }
          }
        }
      }
    }

    .created {
      padding: 0.5rem;
      width: 1%;
    }

    abbr {
      font-size: 0.85rem;
      color: var(--lighterGrey);
    }
  }
}
