@import "../../../../styles/mixins";
@import "../../../../styles/breakpoints";

.context-form {
  flex-grow: 1;

  ::ng-deep .context-select {
    min-width: 200px;
  }
}

.table.notifications {
  vertical-align: middle;

  .notification {
    margin: 0;
    padding: .75rem .5rem;

    .read-indicator {
      cursor: pointer;
      padding: .5rem;
      width: 1%;

      &.read .read-icon {
        color: var(--lightGrey);
      }

      &.unread .read-icon {
        color: var(--accentColor);
      }
    }

    .notification-context {
      padding: .5rem;
      width: 1%;
    }

    .message {
      padding: .5rem;
      cursor: pointer;

      ::ng-deep {
        a {
          color: var(--lightestGrey);
          transition: color .1s ease;
        }

        strong {
          color: var(--brightWhite);
          transition: color .1s ease;
        }
      }

      @media (hover: hover) {
        &:hover {
          ::ng-deep {
            a {
              color: var(--accentColor);
            }

            strong {
              color: var(--accentColor);
            }
          }
        }
      }
    }

    .created {
      padding: .5rem;
      width: 1%;
    }

    abbr {
      font-size: .85rem;
      color: var(--lighterGrey);
    }
  }
}
