<div class="search-bar-wrapper">
  <div
    [class.has-auto-complete-items]="hasAutoCompleteItems()"
    class="search-bar-input-container form-control"
  >
    <input
      #searchInput
      (keyup.escape)="resetAutoCompleteItems()"
      (ngModelChange)="onModelChangeDebounced($event)"
      [(ngModel)]="model.text"
      [placeholder]="placeholder"
      autofocus
      class="search-bar-input form-control"
      type="text"
    />
  </div>

  <div
    *ngIf="hasAutoCompleteItems()"
    class="search-bar-autocomplete-items"
  >
    <div
      *ngFor="let group of autoCompleteGroups|keys"
      class="search-bar-autocomplete-group"
    >
      <h4 class="search-bar-autocomplete-title">
        {{ searchService.humanizeSearchAutoCompleteType(group.key) }}
      </h4>

      <div
        #autoCompleteItem
        (click)="onAutoCompleteItemClicked(item)"
        (mouseenter)="selectedAutoCompleteItemIndex = i"
        *ngFor="let item of group.value; let i = index"
        [class.selected]="item.type === selectedAutoCompleteGroup && i === selectedAutoCompleteItemIndex"
        class="search-bar-autocomplete-item"
      >
        <span [innerHTML]="item.label | highlight: model.text"></span>
        <ng-container *ngIf="(searchService.allowFilter$(item.minimumSubscription) | async) === false">
          <fa-icon icon="lock" class="ms-2"></fa-icon>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="search-bar-icons">
    <ng-container *ngIf="loadingAutoCompleteItems; else resetAutoCompleteTemplate">
      <fa-icon
        animation="spin"
        class="search-bar-loading-icon"
        icon="spinner"
      ></fa-icon>
    </ng-container>

    <ng-template #resetAutoCompleteTemplate>
      <ng-container *ngIf="hasAutoCompleteItems(); else iconsTemplate">
        <fa-icon
          (click)="resetAutoCompleteItems()"
          icon="times"
        ></fa-icon>
      </ng-container>
    </ng-template>

    <ng-template #iconsTemplate>
      <fa-icon
        *ngIf="model.searchType === SearchType.IMAGE || model.searchType === undefined"
        (click)="onFilterSelectionClicked($event)"
        [ngbTooltip]="'Filters' | translate"
        icon="sliders"
        container="body"
      >
      </fa-icon>

      <div
        *ngIf="model.searchType === SearchType.IMAGE || model.searchType === undefined"
        ngbDropdown
        class="mb-0"
        placement="start-top"
      >
        <button
          class="btn btn-link no-toggle mb-0"
          ngbDropdownToggle
          type="button"
          id="ordering-button"
        >
          <fa-icon
            [ngbTooltip]="'Sort results' | translate"
            icon="sort"
            container="body"
          ></fa-icon>
        </button>

        <div aria-labelledby="ordering-button" ngbDropdownMenu class="ordering-menu">
          <div class="dropdown-header">
            {{ "Sort by" | translate }}
          </div>

          <button
            ngbDropdownItem
            (click)="onOrderingChanged('relevance')"
          >
            <fa-icon icon="dot-circle"></fa-icon>
            <span>{{ "Relevance" | translate }}</span>
            <fa-icon icon="check" *ngIf="model.ordering === 'relevance'"></fa-icon>
          </button>

          <button
            ngbDropdownItem
            (click)="onOrderingChanged('-published')"
          >
            <fa-icon icon="calendar"></fa-icon>
            <span>{{ "Publication date" | translate }}</span>
            <fa-icon icon="check" *ngIf="model.ordering === '-published'"></fa-icon>
          </button>

          <button
            ngbDropdownItem
            (click)="onOrderingChanged('-likes')"
          >
            <fa-icon icon="thumbs-up"></fa-icon>
            <span>{{ "Number of likes" | translate }}</span>
            <fa-icon icon="check" *ngIf="model.ordering === '-likes'"></fa-icon>
          </button>

          <button
            ngbDropdownItem
            (click)="onOrderingChanged('-bookmarks')"
          >
            <fa-icon icon="bookmark"></fa-icon>
            <span>{{ "Number of bookmarks" | translate }}</span>
            <fa-icon icon="check" *ngIf="model.ordering === '-bookmarks'"></fa-icon>
          </button>

          <button
            ngbDropdownItem
            (click)="onOrderingChanged('-views')"
          >
            <fa-icon icon="eye"></fa-icon>
            <span>{{ "Number of views" | translate }}</span>
            <fa-icon icon="check" *ngIf="model.ordering === '-views'"></fa-icon>
          </button>

          <hr />

          <button
            ngbDropdownItem
            (click)="onOrderingChanged('-integration')"
          >
            <fa-icon icon="clock"></fa-icon>
            <span>{{ "Integration time" | translate }}</span>
            <fa-icon icon="check" *ngIf="model.ordering === '-integration'"></fa-icon>
          </button>

          <hr />

          <button
            ngbDropdownItem
            (click)="onOrderingChanged('-field_radius')"
          >
            <fa-icon icon="circle"></fa-icon>
            <span>{{ "Field radius (large first)" | translate }}</span>
            <fa-icon icon="check" *ngIf="model.ordering === '-field_radius'"></fa-icon>
          </button>

          <button
            ngbDropdownItem
            (click)="onOrderingChanged('field_radius')"
          >
            <fa-icon icon="circle"></fa-icon>
            <span>{{ "Field radius (small first)" | translate }}</span>
            <fa-icon icon="check" *ngIf="model.ordering === 'field_radius'"></fa-icon>
          </button>

          <hr />

          <button
            ngbDropdownItem
            (click)="onOrderingChanged('-pixel_scale')"
          >
            <fa-icon icon="dot-circle"></fa-icon>
            <span>{{ "Pixel scale (large first)" | translate }}</span>
            <fa-icon icon="check" *ngIf="model.ordering === '-pixel_scale'"></fa-icon>
          </button>

          <button
            ngbDropdownItem
            (click)="onOrderingChanged('pixel_scale')"
          >
            <fa-icon icon="dot-circle"></fa-icon>
            <span>{{ "Pixel scale (small first)" | translate }}</span>
            <fa-icon icon="check" *ngIf="model.ordering === 'pixel_scale'"></fa-icon>
          </button>
        </div>
      </div>

      <div
        ngbDropdown
        class="mb-0"
        placement="start-top"
      >
        <button
          class="btn btn-link no-toggle mb-0"
          ngbDropdownToggle
          type="button"
          id="search-type-button"
        >
          <fa-icon
            [icon]="getSearchTypeIcon(model.searchType)"
            [ngbTooltip]="'Search area' | translate"
            container="body"
          ></fa-icon>
        </button>

        <div aria-labelledby="search-type-button" ngbDropdownMenu class="search-type-menu">
          <div class="dropdown-header">
            {{ "Search area" | translate }}
          </div>

          <button
            ngbDropdownItem
            (click)="onSearchTypeChanged(SearchType.IMAGE)"
          >
            <fa-icon [icon]="getSearchTypeIcon(SearchType.IMAGE)"></fa-icon>
            <span>{{ "Images" | translate }}</span>
            <fa-icon
              icon="check"
              *ngIf="model.searchType === SearchType.IMAGE || model.searchType === undefined"
            ></fa-icon>
          </button>

          <button
            ngbDropdownItem
            (click)="onSearchTypeChanged(SearchType.FORUM)"
          >
            <fa-icon [icon]="getSearchTypeIcon(SearchType.FORUM)"></fa-icon>
            <span>{{ "Forums" | translate }}</span>
            <fa-icon
              icon="check"
              *ngIf="model.searchType === SearchType.FORUM"
            ></fa-icon>
          </button>

          <button
            ngbDropdownItem
            (click)="onSearchTypeChanged(SearchType.COMMENTS)"
          >
            <fa-icon [icon]="getSearchTypeIcon(SearchType.COMMENTS)"></fa-icon>
            <span>{{ "Comments" | translate }}</span>
            <fa-icon
              icon="check"
              *ngIf="model.searchType === SearchType.COMMENTS"
            ></fa-icon>
          </button>
        </div>
      </div>

      <ng-container *ngIf="currentUserWrapper$ | async as currentUserWrapper">
        <fa-icon
          *ngIf="currentUserWrapper.user && (model.searchType === SearchType.IMAGE || model.searchType === undefined)"
          (click)="onLoadSaveClicked($event)"
          [ngbTooltip]="'Load or save search' | translate"
          icon="database"
          container="body"
        ></fa-icon>
      </ng-container>

      <fa-icon
        (click)="onSearch(model, true)"
        [ngbTooltip]="'Search' | translate"
        icon="search"
        container="body"
      ></fa-icon>
    </ng-template>
  </div>
</div>

<div class="filters">
  <astrobin-search-text-filter
    *ngIf="model.text"
    class="search-filter-component"
    [value]="model.text"
  ></astrobin-search-text-filter>

  <ng-container #filterContainer></ng-container>

  <button
    *ngIf="model.text || filterComponentRefs?.length > 0"
    (click)="reset()"
    class="btn btn-outline-secondary btn-xs"
  >
    {{ "Clear filters" | translate }}
  </button>
</div>

<div class="d-none">
  <!-- Used as a ViewRefContainer to add filters temporarily while their value is being edited. -->
  <ng-container #temporaryFilterContainer></ng-container>
</div>
