<div [class.has-filters]="filterComponentRefs?.length > 0" class="search-bar-wrapper">
  <div
    [class.has-auto-complete-items]="hasAutoCompleteItems()"
    class="search-bar-input-container form-control"
  >
    <ng-container #filterContainer></ng-container>

    <input
      #searchInput
      (keydown.backspace)="onBackspace()"
      (keyup.escape)="resetAutoCompleteItems()"
      (ngModelChange)="onModelChangeDebounced($event)"
      [(ngModel)]="model.text"
      autofocus
      class="search-bar-input form-control"
      placeholder="{{ 'Search' | translate }}"
      type="text"
    />
  </div>

  <div
    *ngIf="hasAutoCompleteItems()"
    class="search-bar-autocomplete-items"
  >
    <div
      *ngFor="let group of autoCompleteGroups|keys"
      class="search-bar-autocomplete-group"
    >
      <h4 class="search-bar-autocomplete-title">
        {{ searchService.humanizeSearchAutoCompleteType(group.key) }}
      </h4>

      <div
        #autoCompleteItem
        (click)="onAutoCompleteItemClicked(item)"
        (mouseenter)="selectedAutoCompleteItemIndex = i"
        *ngFor="let item of group.value; let i = index"
        [class.selected]="item.type === selectedAutoCompleteGroup && i === selectedAutoCompleteItemIndex"
        [innerHTML]="item.label | highlight: model.text"
        class="search-bar-autocomplete-item">
      </div>
    </div>
  </div>

  <div class="search-bar-icons">
    <ng-container *ngIf="loadingAutoCompleteItems; else resetAutoCompleteTemplate">
      <fa-icon
        animation="spin"
        class="search-bar-loading-icon"
        icon="spinner"
      ></fa-icon>
    </ng-container>

    <ng-template #resetAutoCompleteTemplate>
      <ng-container *ngIf="hasAutoCompleteItems(); else iconsTemplate">
        <fa-icon
          (click)="resetAutoCompleteItems()"
          icon="times"
        ></fa-icon>
      </ng-container>
    </ng-template>

    <ng-template #iconsTemplate>
      <fa-icon
        (click)="onFilterSelectionClicked($event)"
        icon="sliders"
      >
      </fa-icon>

      <fa-icon
        (click)="onSearch(model)"
        icon="search"
      ></fa-icon>
    </ng-template>
  </div>
</div>

<div class="d-none">
  <!-- Used as a ViewRefContainer to add filters temporarily while their value is being edited. -->
  <ng-container #temporaryFilterContainer></ng-container>
</div>
