@import "../../../../styles/breakpoints";
@import "../../../../styles/mixins";

:host {
  .search-bar-wrapper {
    .search-form {
      cursor: text;
    }

    .search-bar-input-container {
      background-color: #111;
      padding: .75rem 11rem .75rem 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      gap: .25rem;

      @media (max-width: $xs-max) {
        flex-direction: column;

        ::ng-deep > * {
          width: 100%;
        }
      }

      .search-bar-input-loading-indicator {
        width: auto;
        padding: 0;
        height: calc(2rem + 4px);

        ::ng-deep .btn {
          width: 1rem;
          padding: 0;
        }
      }

      .search-bar-input {
        background: none;
        border: 0;
        outline: none;
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
        width: auto;
        flex-grow: 0;

        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
          appearance: none;
        }

        &::placeholder {
          color: var(--lighterGrey) !important;
        }

        @media (max-width: $sm-max) {
          padding-left: .5rem;
          padding-right: .5rem;
        }
      }

      .tab-or-enter-hint {
        background: var(--darkestGrey);
        color: var(--lighterGrey);
        font-size: .75rem;
        margin-left: .5rem;
        padding: .25rem .5rem;
        border-radius: var(--bs-border-radius);
        display: flex;
        align-items: center;
        gap: .5rem;

        .btn {
          margin: 0;
          color: var(--white);

          .ng-fa-icon {
            margin-right: 0;
          }
        }

        .ng-fa-icon {
          display: inline-block;
          cursor: pointer;
        }

        @media (max-width: $sm-max) {
          gap: 0;
        }
      }

      &.has-auto-complete-items.show-auto-complete-items {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      @media (max-width: $sm-max) {
        padding-right: 8rem;
      }
    }

    .search-bar-autocomplete-items {
      @include darkest-background-texture();
      position: absolute;
      top: unset;
      bottom: unset;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      gap: .25rem;
      padding: .5rem;
      width: 100%;
      max-height: calc(100vh - 170px);
      overflow-y: auto;
      z-index: 1;
      background-color: var(--darkestGrey);
      border-bottom-left-radius: var(--bs-border-radius);
      border-bottom-right-radius: var(--bs-border-radius);
      border-bottom: 1px solid var(--darkGrey);
      box-shadow: 0 1rem 1rem var(--black);

      .search-bar-autocomplete-group {
        color: var(--lighterGrey);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;

        @media (max-width: $sm-max) {
          flex-direction: column;
          overflow: visible;
        }

        > .search-bar-autocomplete-title {
          padding: .25rem .75rem;
          border: 1px solid var(--grey);
          background-color: var(--lightGrey);
          border-radius: var(--bs-border-radius);
          display: flex;
          justify-content: space-between;
          align-items: center;
          pointer-events: none;
          margin: 0;
          color: var(--white);
          font-size: 1rem;
          white-space: nowrap;
        }

        > .search-bar-autocomplete-item {
          display: block;
          padding: .25rem .75rem;
          cursor: pointer;
          white-space: nowrap;

          &.selected,
          &:hover {
            background-color: var(--darkerGrey);
          }

          ::ng-deep > .highlight {
            color: var(--white);
          }

          @media (max-width: $sm-max) {
            padding: .5rem;
          }
        }
      }
    }

    .search-bar-icons {
      position: absolute;
      top: 0;
      right: 1rem;
      height: 100%;
      display: flex;
      align-items: center;

      .ng-fa-icon {
        padding: 6px 12px;
        cursor: pointer;
        color: var(--lightestGrey);
        margin-right: 0;

        &:hover {
          color: var(--white);
        }

        @media (max-width: $sm-max) {
          padding: 6px 6px;
        }
      }

      .ordering-menu,
      .search-type-menu {
        .dropdown-item {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .ng-fa-icon {
            padding: 0;
            margin-right: .25rem;
          }

          [icon="check"] {
            margin: 0;
          }

          > span {
            flex-grow: 1;
          }
        }
      }
    }
  }

  .search-bar-free-text-alert {
    border-radius: 0;
    padding: .5rem 1rem;
    margin: 0 -2rem;

    @media (max-width: $md-max) {
      margin: 0 -.5rem;
    }
  }

  .filters {
    @include darkest-background-texture();
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin: -1px -2rem 1rem;
    border-bottom: 1px solid var(--grey);

    .no-filters {
      color: var(--lightGrey);
      font-size: .9rem;
      font-style: italic;
      margin: 0;
      padding: .5rem 0;
      cursor: default;
    }

    ::ng-deep .search-filter-component:first-child {
      .search-filter-operator {
        display: none;
      }
    }

    @media (max-width: $md-max) {
      margin: -1px -.5rem 1rem;
    }
  }
}
