.search-bar-wrapper {
  position: relative;

  .search-bar-input-container {
    padding-right: 4rem;

    .search-bar-input {
      background: none;
      border: 0;
      outline: none;
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .search-bar-icons {
    position: absolute;
    top: 0;
    right: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;

    .search-bar-search-icon {
      padding: 6px 12px;
      cursor: pointer;
      color: var(--lightestGrey);

      &:hover {
        color: var(--white);
      }
    }
  }
}
