:host {
  .iotd-tp-archive-item {
    position: relative;

    img {
      width: 100%;
      height: 250px;
      transition: filter .25s ease-in-out;
      object-fit: cover;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          filter: brightness(1.25);
        }
      }
    }

    .gradient {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 5rem;
      background: linear-gradient(0, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.2) 80%, transparent);
      pointer-events: none;
      z-index: 1;
    }

    .info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: .5rem .75rem;
      z-index: 2;

      .title,
      .date {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
      }

      .title {
        font-size: .9rem;
        line-height: 1.15rem;
        color: var(--white);

        .user-display-name {
          font-size: .8rem;
        }

        .separator {
          margin: 0 .25rem;
          display: inline-block;
          color: var(--lighterGrey);
        }
      }

      .date {
        font-size: .75rem;
        color: var(--lighterGrey);
      }
    }
  }
}
