@import "../../../../styles/breakpoints";

:host {
  .iotd-tp-archive-item {
    display: flex;
    position: relative;

    img {
      min-height: 200px;
      transition: filter .25s ease-in-out;
      flex: 1;
      width: 100%;
      display: block;
      object-fit: cover;

      @media (min-width: $md-min) {
        height: 250px;
        width: auto;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          filter: brightness(1.25);
        }
      }
    }

    .info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: .75rem;
      z-index: 2;
      background: linear-gradient(
          180deg,
          transparent 0,
          rgba(0, 0, 0, .2) 20%,
          rgba(0, 0, 0, .4)
      );
      backdrop-filter: blur(1.5px);


      .title,
      .date {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
      }

      .title {
        font-size: .9rem;
        line-height: 1.15rem;
        color: var(--white);

        .user-display-name {
          font-size: .8rem;
        }

        .separator {
          margin: 0 .25rem;
          display: inline-block;
          color: var(--lighterGrey);
        }
      }

      .date {
        font-size: .75rem;
        color: var(--lighterGrey);
      }
    }
  }
}
