:host {
  .return-to-classic {
    font-size: 1rem;
    display: block;
  }

  astrobin-submission-slots,
  astrobin-review-slots,
  astrobin-future-iotd-slots {
    margin-bottom: 2rem;
  }

  astrobin-submission-entry,
  astrobin-review-entry,
  astrobin-judgement-entry {
    margin-bottom: 3rem;
  }
}
