:host {
  .return-to-classic {
    font-size: 1rem;
    display: block;
  }

  astrobin-submission-slots,
  astrobin-submission-entry,
  astrobin-submission-slots,
  astrobin-submission-entry,
  astrobin-review-slots,
  astrobin-review-entry,
  astrobin-review-slots,
  astrobin-review-entry {
    margin-bottom: 2rem;
  }

  .sticky-promotion-slots {
    z-index: 2;
    margin-top: 5px;
    transition: .3s ease-in-out;

    @media screen and (max-width: var(--xsMax)) {
      width: calc(100% - 94px);
      transform: scale(.5) translateY(-48px);
    }

    @media screen and (min-width: var(--smMin)) {
      width: 446px;
      transform: scale(.5) translateY(-62px);
    }

    @media screen and (min-width: var(--mdMin)) {
      width: 626px;
      transform: scale(.5) translateY(-74px);
    }

    @media screen and (min-width: var(--lgMin)) {
      width: 866px;
      transform: scale(.5) translateY(-88px);
    }

    @media screen and (min-width: var(--xlMin)) {
      width: 940px;
      transform: scale(.5) translateY(-100px);
    }

    &.is-empty {
      top: 2vw !important;

      ::ng-deep .promotion-slot {
        min-height: 100px;
      }
    }
  }
}
