@import "../../../../styles/breakpoints";
@import "../../../../styles/mixins";

astrobin-iotd {
  margin: 0 0 1rem;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  overflow: hidden;
  display: block;

  @media screen and (min-width: $md-min) {
    margin-top: -1rem;
  }

  @media screen and (min-width: $lg-min) {
    margin: -2rem -2rem 3rem;
  }
}

.latest-from-the-forums {
  margin-bottom: 3rem;

  > .header {
    @include darkest-background-texture;
    padding: 1.5rem 1rem;

    h4 {
      font-size: 1rem;
      margin: 0;
      color: var(--lightestGrey);
    }
  }
}
