<div class="modal-header">
  <h4 class="modal-title" id="modal-title">
    {{ "Are you sure?" | translate }}
  </h4>
  <button (click)="modal.dismiss()" aria-describedby="modal-title" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <p [innerHTML]="message || 'This operation requires an additional confirmation.' | translate"></p>
  <p>{{ "Are you sure that you want to continue?" | translate }}</p>
</div>

<div class="modal-footer">
  <button
    (click)="modal.dismiss()"
    class="btn btn-outline-secondary"
    [class.loading]="loadingService.loading$ | async"
    type="button"
  >
    {{ "Cancel" | translate }}
  </button>

  <button (click)="modal.close()" class="btn btn-primary" [class.loading]="loadingService.loading$ | async" type="button">
    {{ "Yes, continue" | translate }}
  </button>
</div>
