<div class="page has-breadcrumb">

  <div class="row">

    <div class="col-md-3 text-center text-lg-left mb-4 mb-lg-0">
      <ul #nav="ngbNav" [(activeId)]="active" class="nav-pills" ngbNav orientation="vertical">

        <li ngbNavItem="options">
          <a ngbNavLink routerLink="options" translate>Subscription plans</a>
        </li>

        <li ngbNavItem="separator">
          &nbsp;
        </li>

        <li
          *ngFor="let subscription of (availableSubscriptions$ | async).subscriptions"
          [ngbNavItem]="subscription.displayName|slugify"
        >
          <a [routerLink]="subscription.displayName|slugify" ngbNavLink>
            <fa-icon class="me-2" icon="shopping-cart"></fa-icon>
            {{ subscription.displayName }}
          </a>
        </li>

        <li ngbNavItem="separator">
          &nbsp;
        </li>

        <li *ngIf="authService.isAuthenticated$() | async" ngbNavItem="view">
          <a ngbNavLink routerLink="view" translate>Your subscriptions</a>
        </li>
        <li *ngIf="authService.isAuthenticated$() | async" ngbNavItem="payments">
          <a ngbNavLink routerLink="payments" translate>Your payments</a>
        </li>

        <li ngbNavItem="separator">
          &nbsp;
        </li>

      </ul>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
