<div class="page">
  <h1>{{ title }}</h1>

  <ng-container *ngIf="pendingReview$ | async as pendingReview; else loading">
    <div class="alert alert-info" *ngIf="pendingReview.length === 0; else pendingReviewTemplate">
      <h4>Yay!</h4>
      <p>
        The review queue is empty.
      </p>
      <br />
      <a routerLink="../migration-tool" class="btn btn-primary">Go to the migration tool</a>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>

<ng-template #pendingReviewTemplate>
  <ng-container *ngIf="currentUser$ | async as currentUser; else loading">
    <ng-container *ngIf="pendingReview$ | async as pendingReview; else loading">
      <table class="table table-striped">
        <caption>
          Migrations to review
        </caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Legacy item</th>
            <th scope="col">Migration strategy</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of pendingReview; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <strong>{{ item.make }}</strong> {{ item.name }}
            </td>
            <td>
              {{ item.migrationFlag }}
              <span class="help-tooltip" [ngbTooltip]="migrationFlagTooltip(item.migrationFlag)">
                <fa-icon icon="question-circle"></fa-icon>
              </span>
            </td>
            <td>
              <a
                [routerLink]="item.pk"
                class="btn btn-mini btn-primary"
                [class.disabled]="currentUser.id === item.migrationFlagModerator"
                >Review</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <!-- pendingReview$ -->
  </ng-container>
  <!-- currentUser$ -->
</ng-template>
