::ng-deep {
  #equipment-item-field {
    .ng-value {
      img {
        width: auto;
        height: 25px;
      }
    }
  }
}

.guidelines {
  font-size: .85rem;
  hyphens: auto;
}

.or {
  font-size: .85rem;
  margin: .25rem 1rem 0 .5rem;
}

.dropdown-item .help-tooltip {
  position: absolute;
  right: 0;
}
