@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootswatch/dist/cyborg/bootswatch";

@import "./node_modules/ngx-toastr/toastr-bs5-alert";
@import "./node_modules/@kronscht/ng-wizard/themes/ng_wizard.min";
@import "./node_modules/@ng-select/ng-select/scss/default.theme";

@import './node_modules/@swimlane/ngx-datatable/index';
@import './node_modules/@swimlane/ngx-datatable/themes/bootstrap';
@import './node_modules/@swimlane/ngx-datatable/assets/icons';

@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "assets/flags/flags";

@supports (padding-top: env(safe-area-inset-top)) {
  astrobin-root {
    display: block;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

@import "app/styles/accordion";
@import "app/styles/alerts";
@import "app/styles/buttons";
@import "app/styles/cards";
@import "app/styles/ckeditor";
@import "app/styles/common";
@import "app/styles/datatable";
@import "app/styles/dropdowns";
@import "app/styles/forms";
@import "app/styles/highlightjs";
@import "app/styles/icons";
@import "app/styles/images";
@import "app/styles/lightbox";
@import "app/styles/lists";
@import "app/styles/masonry-layout";
@import "app/styles/mixins";
@import "app/styles/modals";
@import "app/styles/nav";
@import "app/styles/notifications";
@import "app/styles/offcanvas";
@import "app/styles/pages";
@import "app/styles/pagination";
@import "app/styles/popovers";
@import "app/styles/select";
@import "app/styles/slider";
@import "app/styles/tables";
@import "app/styles/tooltip";
@import "app/styles/typography";
@import "app/styles/wizard";
