@import "../../../../styles/variables";

@media (max-width: $sm-max) {
  .page {
    padding: 2rem;
  }

  .telescope {
    height: 6rem;
  }

  h1 {
    font-size: 3rem;

    + p {
      font-size: initial;
    }
  }

}
