<div class="page">
  <h1>{{ title }}</h1>
  <small>
    {{ "AstroBin's equipment database is entirely maintained by the community. Feel free to make a contribution!" | translate }}
    <a class="learn-more" href="https://welcome.astrobin.com/features/equipment-database"
       target="_blank">{{"Learn more"}}.</a>
  </small>

  <div class="row">
    <div [class]="navCollapsed ? 'col-md-1' : 'col-md-4 col-xl-3'">
      <astrobin-equipment-item-type-nav
        (collapsedChanged)="onNavCollapsedChanged($event)"></astrobin-equipment-item-type-nav>
    </div>

    <div class="col">
      <ng-container *ngIf="items$ | async as items; else loading">
        <div *ngIf="pendingType === PendingType.PENDING_EDIT" class="alert alert-info">
          <fa-icon icon="info-circle"></fa-icon>
          {{ "The AstroBin equipment database is a collective community effort similar to Wikipedia." | translate }}
          {{ "Anybody can review edit proposals made by any other member." | translate }}
          {{ "Feel free to contribute!" | translate }}
        </div>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>
              {{ equipmentItemService.getPrintablePropertyName(null, EquipmentItemDisplayProperty.NAME, true) }}
            </th>
            <th *ngIf="pendingType === PendingType.PENDING_REVIEW">{{ "Assignee" | translate }}</th>
            <th>{{ "Created" | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of items.results">
            <td>
              <a
                [queryParams]="{'back-on-close': true}"
                [routerLink]="['/equipment/explorer', activeType.toLowerCase(), item.id]"
              >
                <astrobin-equipment-item-display-name [item]="item"></astrobin-equipment-item-display-name>
              </a>
            </td>
            <td *ngIf="pendingType === PendingType.PENDING_REVIEW">
              <astrobin-username *ngIf="!!item.assignee" [userId]="item.assignee"></astrobin-username>
              <span *ngIf="!item.assignee">{{ "Any moderator" | translate }}</span>
            </td>
            <td>
              {{ item.created | localDate | timeago: true }}
            </td>
          </tr>
          </tbody>
        </table>

        <astrobin-nothing-here *ngIf="items.count === 0"></astrobin-nothing-here>

        <ngb-pagination
          (pageChange)="pageChange($event)"
          *ngIf="items.count > items.results.length"
          [(page)]="page"
          [collectionSize]="items.count"
        >
        </ngb-pagination>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>

