:host {
  ::ng-deep {
    .ng-dropdown-panel {
      box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.9) !important;

      .ng-dropdown-panel-items {
        max-height: 400px !important;

        .ng-option {
          padding: 1rem !important;

          &:not(:last-child) {
            border-bottom: 1px dashed var(--gray);
          }

          .property {
            background: none !important;

            .property-name,
            .property-value {
              font-size: .85rem;
              opacity: .8;
              border: 0 !important;
            }

            .property-name {
              padding-left: 1rem;
              width: 1%;
              white-space: nowrap;
            }

            .property-value {
              text-align: left !important;
            }
          }
        }
      }
    }

    astrobin-loading-indicator {
      display: inline;
    }
  }
}
