<div class="d-inline-block" ngbDropdown>
  <button
    ngbDropdownToggle
    id="sort-dropdown-button"
    class="btn btn-sm-block btn-text"
    [class.loading]="loadingService.isLoading()"
  >
    <fa-icon icon="sort"></fa-icon>
    {{ "Sort" | translate }}
  </button>

  <div aria-labelledby="sort-dropdown-button" ngbDropdownMenu>
    <button class="dropdown-item" (click)="queueSortOrderChanged.emit('newest')">
      <fa-icon *ngIf="(newestFirst$ | async) === true" icon="dot-circle"></fa-icon>
      <fa-icon *ngIf="(newestFirst$ | async) === false" icon="circle"></fa-icon>
      {{ "Newest first" | translate }}
    </button>

    <button class="dropdown-item" (click)="queueSortOrderChanged.emit('oldest')">
      <fa-icon *ngIf="(oldestFirst$ | async) === true" icon="dot-circle"></fa-icon>
      <fa-icon *ngIf="(oldestFirst$ | async) === false" icon="circle"></fa-icon>
      {{ "Oldest first" | translate }}
    </button>
  </div>
</div>
