<div class="d-inline-block" ngbDropdown>
  <button
    ngbDropdownToggle
    id="sort-dropdown-button"
    class="btn btn-sm-block btn-text"
    [class.loading]="loadingService.isLoading()"
  >
    <fa-icon icon="tag"></fa-icon>
    {{ "Sort" | translate }}
  </button>

  <div aria-labelledby="sort-dropdown-button" ngbDropdownMenu>
    <a href="#" appEventPreventDefault class="dropdown-item" (click)="selected.emit('newest')">
      {{ "Newest first" | translate }}
    </a>

    <a href="#" appEventPreventDefault class="dropdown-item" (click)="selected.emit('oldest')">
      {{ "Oldest first" | translate }}
    </a>
  </div>
</div>
