.marketplace-search-container {
  position: relative;

  [icon="search"] {
    position: absolute;
    top: 0.334rem;
    left: 0.5rem;
    color: var(--lightGrey);
  }

  .marketplace-search-input {
    padding-left: 2rem;
  }
}
