.table {
  [icon="question-circle"] {
    font-size: 0.8rem;
    vertical-align: super;
    margin-left: 0.25rem;
  }
}

.btn-review fa-icon {
  margin-left: 0.5rem;
}

.with-help-tooltip {
  position: relative;

  .help-tooltip {
    position: absolute;
  }
}
