<ng-container *ngIf="item && brand">
  <div class="row align-items-center">
    <div [className]="showLargeImage ? 'col-3' : 'col-2'" *ngIf="showImage">
      <img class="image" [src]="image" alt="" />
    </div>

    <div class="col">
      <div class="label">
        <h5>
          <strong>{{ brand.name }}</strong>&nbsp;
          <span class="name" [innerHTML]="equipmentItemService.getName$(item) | async"></span>
        </h5>
        <h6 *ngIf="!!item.website" class="website">
          <a target="_blank" [href]="item.website">{{ UtilsService.shortenUrl(item.website) }}</a>
        </h6>
      </div>

      <div class="properties" *ngIf="properties$ | async as properties">
        <ng-container *ngFor="let property of properties">
          <span *ngIf="(showProperty$(property) | async) === true" class="property">
            <span class="property-name">{{ property.name }}</span
            >:

            <ng-container *ngIf="property.value | async as value; else noValue">
              <span class="property-value" [innerHTML]="value"></span>
            </ng-container>

            <ng-template #noValue>
              <span class="property-value">{{ "n/a" | translate }}</span>
            </ng-template>
          </span>
        </ng-container>
      </div>

      <div *ngIf="showSubItem && !!subItem" class="sub-item">
        <astrobin-equipment-item-summary
          [item]="subItem"
          [showSubItem]="showSubItem"
          [showClass]="showClass"
          [showLargeImage]="showLargeImage"
          [showImage]="showImage"
          [showEmptyProperties]="showEmptyProperties"
          [showMeta]="false"
        ></astrobin-equipment-item-summary>
      </div>
    </div>
  </div>

  <div class="meta" *ngIf="showMeta">
    <p *ngIf="item.createdBy">
      <strong>{{ "Created by" | translate }}</strong>:
      <astrobin-username [user]="getCreatedBy() | async"></astrobin-username>
      <abbr [attr.title]="item.created | localDate">
        ({{ item.created | localDate | timeago:true }})
      </abbr>
    <p>

    <p *ngIf="item.reviewedBy">
      <strong>{{ "Reviewed by" | translate }}</strong>:
      <astrobin-username [user]="getReviewedBy() | async"></astrobin-username>
      <abbr *ngIf="item.reviewedTimestamp" [attr.title]="item.reviewedTimestamp | localDate">
        ({{ item.reviewedTimestamp | localDate | timeago:true }})
      </abbr>
    </p>

    <p *ngIf="showLastUpdate()">
      <strong>{{ "Last update" | translate }}:</strong>
      <abbr [attr.title]="item.updated | localDate">
        {{ item.updated | localDate | timeago:true }}
      </abbr>
    </p>
  </div>
</ng-container>
