<ng-container *ngIf="item && brand">
  <div class="row align-items-center">
    <div [className]="showLargeImage ? 'col-3' : 'col-1'" *ngIf="showImage">
      <img class="image" [src]="image" alt="" />
    </div>

    <div class="col">
      <div class="label">
        <strong>{{ brand.name }}</strong> {{ item.name }}
      </div>

      <div class="properties" *ngIf="properties$ | async as properties">
        <ng-container *ngFor="let property of properties">
          <span *ngIf="(showProperty$(property) | async) === true" class="property">
            <span class="property-name">{{ property.name }}</span
            >:

            <ng-container *ngIf="property.value | async as value; else noValue">
              <span class="property-value" [innerHTML]="value"></span>
            </ng-container>

            <ng-template #noValue>
              <span class="property-value">{{ "n/a" | translate }}</span>
            </ng-template>
          </span>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
