.image {
  width: 100%;
}

.website {
  margin-top: -.25rem;
  margin-bottom: 1rem;
}

.properties {
  margin-top: .25rem;

  .property {
    .property-name {
      color: var(--lighgerGrey);
    }

    .property-value {
      color: var(--lighgestGrey);
    }

    &:not(:last-child) {
      margin-right: .5rem;

      &::after {
        content: '\b7'; /* middot */
        margin-left: .5rem;
      }
    }
  }
}

.sub-item {
  padding: 1rem;
  margin-top: 1rem;
  border-top: 1px dashed var(--lightGrey);

  h5 {
    font-size: 1.1rem;
    color: var(--lighterGrey);
  }

  .image {
    width: 80%;
  }
}

.meta {
  padding: .75rem 1.5rem;
  margin: -1.25rem;
  margin-top: 1rem;
  color: var(--lighterGrey);
  background: var(--grey);
  font-style: italic;
  font-size: .85rem;

  strong {
    color: var(--white);
    font-weight: normal;
  }

  p {
    margin-bottom: .15rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
