.image {
    width: 100%;
}

.website {
  margin-top: -.25rem;
  margin-bottom: 1rem;
}

.properties {
  margin-top: .25rem;

  .property {
    .property-name {
      color: var(--lighgerGrey);
    }

    .property-value {
      color: var(--lighgestGrey);
    }

    &:not(:last-child) {
      margin-right: .5rem;

      &::after {
        content: '\b7'; /* middot */
        margin-left: .5rem;
      }
    }
  }
}

.sub-item {
  padding: 1rem;
  margin-top: 1rem;
  border-top: 1px dashed var(--lightGrey);

  h5 {
    font-size: 1.1rem;
    color: var(--lighterGrey);
  }

  .image {
    width: 80%;
  }
}
