<ng-container *ngIf="item && brand">
  <div class="row align-items-center">
    <div [className]="showLargeImage ? 'col-3' : 'col-2'" *ngIf="showImage">
      <img class="image" [src]="image" alt="" />
    </div>

    <div class="col">
      <div class="label">
        <h5>
          <strong>{{ brand.name }}</strong> {{ item.name }}
        </h5>
      </div>

      <div class="properties" *ngIf="properties$ | async as properties">
        <ng-container *ngFor="let property of properties">
          <span *ngIf="(showProperty$(property) | async) === true" class="property">
            <span class="property-name">{{ property.name }}</span
            >:

            <ng-container *ngIf="property.value | async as value; else noValue">
              <span class="property-value" [innerHTML]="value"></span>
            </ng-container>

            <ng-template #noValue>
              <span class="property-value">{{ "n/a" | translate }}</span>
            </ng-template>
          </span>
        </ng-container>
      </div>

      <div *ngIf="showSubItem && !!subItem" class="sub-item">
        <astrobin-equipment-item-summary
          [item]="subItem"
          [showSubItem]="showSubItem"
          [showClass]="showClass"
          [showLargeImage]="showLargeImage"
          [showImage]="showImage"
          [showEmptyProperties]="showEmptyProperties"
        ></astrobin-equipment-item-summary>
      </div>
    </div>
  </div>
</ng-container>
