@import "../../../../styles/breakpoints";
@import "../../../../styles/mixins";

.listings {
  display: flex;
  flex-wrap: wrap;
  @include flex-gap(row, 1.5rem);

  .line-item {
    width: calc(50% - .75rem);

    @supports not (inset: 0) {
      width: calc(50% - 1.5rem);
    }
  }

  @media screen and (max-width: $md-max) {
    @include flex-gap(row, 1rem);
    .line-item {
      width: 100%;
    }
  }
}

astrobin-loading-indicator {
  height: auto;
}
