@import "../../../../styles/breakpoints";

.modal-body {
  .scrollable-container {
    height: calc(100vh - 275px);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  h4 {
    border-bottom: 1px solid var(--lightGrey);
    font-size: 1.2rem;
    color: var(--lighterGrey);
    padding-bottom: .25rem;
    margin-bottom: 1.5rem;
  }

  .table.items {
    td:not(:first-child) {
      color: var(--lightestGrey);
    }
  }
}
