<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{ "Browse by properties" | translate }}</h4>
  <button (click)="modal.dismiss()" aria-describedby="modal-title" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-12 col-lg-3">
      <h4>{{ "Properties" | translate }}</h4>

      <div class="scrollable-container">
        <form [formGroup]="form">
          <formly-form [fields]="fields" [form]="form" [model]="model"></formly-form>
        </form>
      </div>
    </div>
    <div class="col">
      <div class="results">
        <h4>{{ "Results" | translate }}</h4>

        <div *ngIf="!loadingPage && results.length === 0" class="alert alert-info">
          {{ "No equipment items found by the selected properties." | translate }}
        </div>

        <div #resultsScrollable *ngIf="results?.length > 0" class="scrollable-container">
          <table class="table table-striped items">
            <thead>
            <tr>
              <th>{{ "Name" | translate }}</th>

              <ng-container *ngIf="type === EquipmentItemType.TELESCOPE">
                <th>{{ telescopeService.getPrintablePropertyName(TelescopeDisplayProperty.TYPE)}}</th>
                <th>{{ telescopeService.getPrintablePropertyName(TelescopeDisplayProperty.APERTURE)}}</th>
                <th>{{ telescopeService.getPrintablePropertyName(TelescopeDisplayProperty.FOCAL_LENGTH)}}</th>
              </ng-container>

              <ng-container *ngIf="type === EquipmentItemType.CAMERA">
                <th>{{ cameraService.getPrintablePropertyName(CameraDisplayProperty.TYPE)}}</th>
                <th>{{ cameraService.getPrintablePropertyName(CameraDisplayProperty.SENSOR)}}</th>
                <th>{{ sensorService.getPrintablePropertyName(SensorDisplayProperty.PIXELS)}}</th>
              </ng-container>

              <ng-container *ngIf="type === EquipmentItemType.SENSOR">
                <th>{{ sensorService.getPrintablePropertyName(SensorDisplayProperty.PIXELS)}}</th>
              </ng-container>

              <ng-container *ngIf="type === EquipmentItemType.MOUNT">
                <th>{{ mountService.getPrintablePropertyName(MountDisplayProperty.TYPE)}}</th>
              </ng-container>

              <ng-container *ngIf="type === EquipmentItemType.FILTER">
                <th>{{ filterService.getPrintablePropertyName(FilterDisplayProperty.TYPE)}}</th>
              </ng-container>

              <ng-container *ngIf="type === EquipmentItemType.ACCESSORY">
                <th>{{ accessoryService.getPrintablePropertyName(AccessoryDisplayProperty.TYPE)}}</th>
              </ng-container>

              <th class="d-none d-lg-table-cell">{{ "Users" | translate }}</th>
              <th class="d-none d-lg-table-cell">{{ "Images" | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of results">
              <td>
                <a href="#" appEventPreventDefault appEventStopPropagation (click)="modal.close(item)">
                  <astrobin-equipment-item-display-name [item]="item"></astrobin-equipment-item-display-name>
                </a>
              </td>

              <ng-container *ngIf="type === EquipmentItemType.TELESCOPE">
                <td>{{ telescopeService.getPrintableProperty$(item, TelescopeDisplayProperty.TYPE) | async }}</td>
                <td>{{ telescopeService.getPrintableProperty$(item, TelescopeDisplayProperty.APERTURE) | async }}</td>
                <td>{{ telescopeService.getPrintableProperty$(item, TelescopeDisplayProperty.FOCAL_LENGTH) | async }}</td>
              </ng-container>

              <ng-container *ngIf="type === EquipmentItemType.CAMERA">
                <td>{{ cameraService.getPrintableProperty$(item, CameraDisplayProperty.TYPE) | async }}</td>

                <ng-container *ngIf="!!item.sensor">
                  <ng-container *ngIf="getSensor$(item.sensor) | async as sensor">
                    <td>
                      <astrobin-equipment-item-display-name [item]="sensor"></astrobin-equipment-item-display-name>
                    </td>
                    <td>
                      {{ sensorService.getPrintableProperty$(sensor, SensorDisplayProperty.PIXELS) | async }}
                    </td>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="!item.sensor">
                  <td><ng-container *ngTemplateOutlet="notAvailable"></ng-container></td>
                  <td><ng-container *ngTemplateOutlet="notAvailable"></ng-container></td>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="type === EquipmentItemType.SENSOR">
                <td>{{ sensorService.getPrintableProperty$(item, SensorDisplayProperty.PIXELS) | async }}</td>
              </ng-container>

              <ng-container *ngIf="type === EquipmentItemType.MOUNT">
                <td>{{ mountService.getPrintableProperty$(item, MountDisplayProperty.TYPE) | async }}</td>
              </ng-container>

              <ng-container *ngIf="type === EquipmentItemType.FILTER">
                <td>{{ filterService.getPrintableProperty$(item, FilterDisplayProperty.TYPE) | async }}</td>
              </ng-container>

              <ng-container *ngIf="type === EquipmentItemType.ACCESSORY">
                <td>{{ accessoryService.getPrintableProperty$(item, AccessoryDisplayProperty.TYPE) | async }}</td>
              </ng-container>

              <td class="d-none d-lg-table-cell">{{ item.userCount }}</td>
              <td class="d-none d-lg-table-cell">{{ item.imageCount }}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <astrobin-loading-indicator *ngIf="loadingPage"></astrobin-loading-indicator>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button (click)="modal.dismiss()" class="btn btn-outline-secondary" type="button">
    {{ "Close" | translate }}
  </button>
</div>

<ng-template #notAvailable>
  <span>{{ "n/a" | translate }}</span>
</ng-template>
