:host {
  display: block;
  cursor: pointer;
}

.card-header {
  .name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.1rem;

    .wanted {
      margin-right: .5rem;
      text-transform: uppercase;
      color: var(--lighterGrey);
    }
  }

  .created {
    font-size: .9rem;
    font-weight: normal;
    color: var(--lightGrey);
  }
}

.card-body {
  padding: 0;
  height: 150px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    &.type-image {
      object-fit: contain;
    }
  }
}

.card-footer {
  height: calc(4rem + 1px);

  .location {
    color: var(--lightGrey);
  }

  .price {
    font-weight: bold;
    color: var(--white);
  }
}
