<h5 class="mb-5">
  {{ "Images acquired using this equipment item" | translate }}
  <astrobin-data-does-not-update-in-real-time></astrobin-data-does-not-update-in-real-time>
</h5>

<div *ngIf="!!images && (!!item || !!brand) && !!searchUrl; else loading" class="objects-using">
  <ng-container *ngIf="images.length > 0; else noImages">
    <a *ngFor="let image of images.slice(0, MAX_IMAGES)"
       [href]="classicRoutesService.IMAGE(image.hash || image.pk + '')"
    >
      <astrobin-image
        [id]="image.pk"
        [alias]="ImageAlias.GALLERY"
        [autoHeight]="false"
        [autoLoadRevisions]="false"
      ></astrobin-image>
    </a>

    <div *ngIf="images.length >= MAX_IMAGES" class="mt-2">
      <a [attr.href]="searchUrl" class="btn btn-outline-secondary">
        {{ "View more" | translate }}
      </a>
    </div>
  </ng-container>

  <ng-template #noImages>
    <span class="text-muted">
      {{ "There are no images on AstroBin acquired using this equipment item, at the moment." | translate }}
    </span>
  </ng-template>
</div>

<ng-template #loading>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>
