<div class="modal-header">
  <h4 class="modal-title">{{ "Save measurement" | translate }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="form">
    <formly-form [fields]="fields" [form]="form" [model]="model"></formly-form>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">
    {{ "Cancel" | translate }}
  </button>
  <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="save()">
    {{ "Save" | translate }}
  </button>
</div>
