@import "../../../../styles/breakpoints";
@import "../../../../styles/mixins";

:host {
  ::ng-deep {
    #create-new-item.card {
      position: relative;
      z-index: 1003;
    }

    ng-wizard .nav-tabs {
      margin-top: -30px;
      margin-left: -30px;
      margin-right: -30px;

      @media screen and (max-width: $md-max) {
        margin-top: -.5rem;
        margin-left: -.5rem;
        margin-right: -.5rem;
      }
    }

    ng-select {
      .remote-affiliate-sponsor {
        margin-left: .5rem;
        color: var(--gold);
      }

      &[id*='filter2'] {
        .ng-select-container {
          height: auto;

          .ng-value-container .ng-value {
            white-space: initial;
          }
        }
      }
    }

    image-cropper {
      padding: 0;
    }
  }
}

.equipment-item-creation-mode-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .75);
  backdrop-filter: blur(4px);
  z-index: 1002;
}

.create-preset {
  @include create-preset-button();
}

::ng-deep .preset-create-offcanvas {
  &:not(.offcanvas-bottom) {
    width: 40vw !important;
  }
}
