<div class="page has-breadcrumb">
  <astrobin-read-only-mode *ngIf="(readOnlyMode$ | async) === true; else editTemplate">
  </astrobin-read-only-mode>
</div>

<ng-template #editTemplate>
  <ng-container *ngIf="isBrowser; else loadingTemplate">
    <form [formGroup]="imageEditService.form">
      <formly-form
        [fields]="imageEditService.fields"
        [form]="imageEditService.form"
        [model]="imageEditService.model"
      ></formly-form>
    </form>

    <div *ngIf="imageEditEquipmentFieldsService.creationMode" class="equipment-item-creation-mode-overlay"></div>
  </ng-container>
</ng-template>

<ng-template #remoteSourceLabelTemplate let-item="item">
  <span class="code">{{ item.label }}</span>
  <span *ngIf="imageEditService.isSponsor(item.value)" class="remote-affiliate-sponsor">(sponsor)</span>
</ng-template>

<ng-template #remoteSourceOptionTemplate let-item="item">
  <span class="code">{{ item.label }}</span>
  <span *ngIf="imageEditService.isSponsor(item.value)" class="remote-affiliate-sponsor">(sponsor)</span>
</ng-template>

<ng-template #equipmentStepPreambleTemplate>
  <ng-container *ngIf="presets$ | async as presets">
    <div *ngIf="presets.length > 0" class="alert alert-dark mb-5">
      <p class="mb-3 text-muted">{{ "Apply one of your saved setups, or fill in the form below manually." | translate }}</p>
      <div class="d-flex flex-row flex-wrap gap-3 align-items-center">
        <div *ngFor="let preset of presets">
          <astrobin-equipment-preset
            (presetClicked)="onPresetClicked($event)"
            [buttonOverlayLabel]="'Apply' | translate"
            [preset]="preset"
          ></astrobin-equipment-preset>
        </div>

        <div
          (click)="onPresetCreateClicked()"
          class="create-preset"
        >
          <fa-icon icon="plus"></fa-icon>
          <span translate="Add setup"></span>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #equipmentStepButtonsTemplate>
  <button
    (click)="onClearEquipmentClicked()"
    [class.loading]="loadingService.loading$ | async"
    [disabled]="!imageEditService.hasEquipmentItems()"
    class="btn btn-outline-danger me-2"
    id="clear-equipment-btn"
  >
    {{ "Clear" | translate }}
  </button>

  <button
    (click)="onSaveEquipmentPresetClicked()"
    [class.loading]="loadingService.loading$ | async"
    [disabled]="!imageEditService.hasEquipmentItems()"
    class="btn btn-outline-secondary"
    id="save-preset-btn"
  >
    {{ "Save setup" | translate }}
  </button>
</ng-template>

<ng-template #acquisitionAdditionalButtonsTemplate>
  <button
    (click)="onCopyAcquisitionSessionsFromAnotherImageClicked($event)"
    [class.loading]="loadingService.loading$ | async"
    class="btn btn-outline-secondary"
    id="copy-acquisition-sessions-from-another-image-btn"
  >
    {{ "Copy from another image" | translate }}&hellip;
  </button>


  <button
    (click)="onImportFromCsvClicked($event)"
    [class.loading]="loadingService.loading$ | async"
    class="btn btn-outline-secondary"
    id="import-from-csv-btn"
  >
    {{ "Import from CSV" | translate }}&hellip;
  </button>

  <button
    (click)="onOverrideAcquisitionFormClicked($event)"
    [class.loading]="loadingService.loading$ | async"
    class="btn btn-outline-secondary"
    id="override-acquisition-form-btn"
  >
    {{ "Override acquisition form" | translate }}&hellip;
  </button>
</ng-template>

<ng-template #stepperButtonsTemplate>
  <button
    (click)="onSave($event)"
    [class.loading]="loadingService.loading$ | async"
    class="btn btn-primary"
    id="save-button"
  >
    {{ "Save" | translate }}
  </button>
</ng-template>

<ng-template #acquisitionFilterSelectFooterTemplateExtra>
  <div class="text-muted">
    {{ "To add more, go back to the Equipment step." | translate }}
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <astrobin-loading-indicator></astrobin-loading-indicator>
</ng-template>

<ng-template #presetCreateOffcanvas let-offcanvas>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">{{ "Add setup" | translate }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.close()"
    ></button>
  </div>

  <div class="offcanvas-body">
    <div class="alert alert-mini alert-info mb-5">
      {{ "Please note: you can also just add equipment to your image and save it as a setup later." | translate }}
    </div>

    <astrobin-equipment-preset-editor
      [preset]="null"
      (presetSaved)="offcanvas.close()"
    ></astrobin-equipment-preset-editor>
  </div>
</ng-template>
