<div class="page has-breadcrumb">
  <ngb-alert [dismissible]="false" id="new-editor-alert" type="info">
    <div class="row">
      <div class="col-md-8">
        <fa-icon icon="info-circle"></fa-icon>
        <span [innerHTML]="newImageDataEditorAlert" class="col-md-8"></span>
      </div>
      <div class="col-md-4 text-md-right">
        <a (click)="openClassicEditorRedirectConfirmationModal()" href="">
          [ {{ "Return to the classic editor" | translate }} ]
        </a>
      </div>
    </div>
  </ngb-alert>

  <form [formGroup]="form">
    <formly-form [fields]="fields" [form]="form" [model]="model"></formly-form>
  </form>
</div>

<ng-template #remoteSourceLabelTemplate let-item="item">
  <span class="code">{{ item.label }}</span>
  <span *ngIf="isSponsor(item.value)" class="remote-affiliate-sponsor">(sponsor)</span>
</ng-template>

<ng-template #remoteSourceOptionTemplate let-item="item">
  <span class="code">{{ item.label }}</span>
  <span *ngIf="isSponsor(item.value)" class="remote-affiliate-sponsor">(sponsor)</span>
</ng-template>

<ng-template #returnToClassicConfirmationModalTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ "Are you sure?" | translate }}</h4>
    <button (click)="modal.dismiss()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      {{ "If you made any changes to this form, you will lose them!" | translate }}
    </p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.close()" class="btn btn-secondary" type="button">
      {{ "Cancel" | translate }}
    </button>
    <button
      (click)="onReturnToClassicEditor()"
      [class.loading]="loadingService.isLoading()"
      class="btn btn-primary"
      type="button"
    >
      {{ "Proceed" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #stepperButtonsTemplate let-isLastStep="isLastStep">
  <div class="d-block d-sm-inline-block" ngbDropdown>
    <button
      *ngIf="isLastStep"
      [class.loading]="loadingService.isLoading()"
      class="btn btn-primary"
      id="save-dropdown"
      ngbDropdownToggle
    >
      {{ "Save" | translate }}
    </button>
    <div aria-labelledby="save-dropdown" ngbDropdownMenu>
      <button
        (click)="
          onSave($event, classicRoutesService.EDIT_IMAGE_GEAR(this.image.hash || '' + this.image.pk) + '?upload')
        "
        class="dropdown-item"
      >
        {{ "Save and proceed to gear selection" | translate }}
      </button>

      <button
        (click)="onSave($event, classicRoutesService.IMAGE(this.image.hash || '' + this.image.pk))"
        class="dropdown-item"
      >
        {{ "Save and proceed to image" | translate }}
      </button>
    </div>
  </div>
</ng-template>
