<div class="page has-breadcrumb">
  <form [formGroup]="imageEditService.form">
    <formly-form
      [fields]="imageEditService.fields"
      [form]="imageEditService.form"
      [model]="imageEditService.model"
    ></formly-form>
  </form>

  <div *ngIf="imageEditEquipmentFieldsService.creationMode" class="equipment-item-creation-mode-overlay"></div>
</div>

<ng-template #remoteSourceLabelTemplate let-item="item">
  <span class="code">{{ item.label }}</span>
  <span *ngIf="imageEditService.isSponsor(item.value)" class="remote-affiliate-sponsor">(sponsor)</span>
</ng-template>

<ng-template #remoteSourceOptionTemplate let-item="item">
  <span class="code">{{ item.label }}</span>
  <span *ngIf="imageEditService.isSponsor(item.value)" class="remote-affiliate-sponsor">(sponsor)</span>
</ng-template>

<ng-template #equipmentStepButtonsTemplate>
  <button
    [class.loading]="loadingService.loading$ | async"
    [disabled]="!imageEditService.hasEquipmentItems()"
    id="clear-equipment-btn"
    class="btn btn-outline-danger mr-2"
    (click)="onClearEquipmentClicked()"
  >
    {{ "Clear" | translate }}
  </button>

  <div class="btn-group" role="group">
    <button
      [class.loading]="loadingService.loading$ | async"
      [disabled]="(presets$ | async)?.length === 0"
      id="load-preset-btn"
      class="btn btn-outline-secondary"
      (click)="onLoadEquipmentPresetClicked()"
    >
      {{ "Load preset" | translate }}&hellip;
    </button>

    <button
      [class.loading]="loadingService.loading$ | async"
      [disabled]="!imageEditService.hasEquipmentItems()"
      id="save-preset-btn"
      class="btn btn-outline-secondary"
      (click)="onSaveEquipmentPresetClicked()"
    >
      {{ "Save preset" | translate }}&hellip;
    </button>
  </div>
</ng-template>

<ng-template #stepperButtonsTemplate>
  <button
    id="save-button"
    class="btn btn-primary"
    *ngIf="editingExistingImage"
    [class.loading]="loadingService.loading$ | async"
    (click)="onSave($event, classicRoutesService.IMAGE(imageEditService.image.hash || '' + imageEditService.image.pk))"
  >
    {{ "Save" | translate }}
  </button>

  <ng-container *ngIf="currentUser$ | async as user">
    <div ngbDropdown placement="top-right" *ngIf="!editingExistingImage">
      <button
        [class.loading]="loadingService.loading$ | async"
        class="btn btn-primary"
        id="save-dropdown"
        ngbDropdownToggle
      >
        {{ "Save" | translate }}&hellip;
      </button>
      <div aria-labelledby="save-dropdown" ngbDropdownMenu>
        <h6 class="dropdown-header">{{ "Where do you want to go after saving?" | translate }}</h6>

        <button
          *ngIf="!(user | isInGroup: 'own_equipment_migrators')"
          (click)="
            onSave(
              $event,
              classicRoutesService.EDIT_IMAGE_GEAR(imageEditService.image.hash || '' + imageEditService.image.pk) +
                '?upload'
            )
          "
          class="dropdown-item"
        >
          {{ "Save and proceed to gear selection" | translate }}
        </button>

        <button
          (click)="
            onSave(
              $event,
              classicRoutesService.EDIT_IMAGE_ACQUISITION(
                imageEditService.image.hash || '' + imageEditService.image.pk
              ) + '?upload'
            )
          "
          class="dropdown-item"
        >
          {{ "Save and proceed to acquisition details" | translate }}
        </button>

        <button
          (click)="
            onSave($event, classicRoutesService.IMAGE(imageEditService.image.hash || '' + imageEditService.image.pk))
          "
          class="dropdown-item"
        >
          {{ "Save and proceed to image" | translate }}
        </button>

        <hr />

        <button (click)="onSave($event)" class="dropdown-item">
          {{ "Save and remain on this page" | translate }}
        </button>
      </div>
    </div>
  </ng-container>
</ng-template>
