@import "../../../../styles/variables";

:host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: $black;

  .image-zoom ::ng-deep {
    .ngxImageZoomThumbnail {
      max-height: 100vh;
    }

    .ngxImageZoomFullContainer.ngxImageZoomLensEnabled {
      border-color: $white;
    }
  }

  .close {
    position: fixed;
    top: 2rem;
    right: 2rem;
    color: $white;
    background: rgba(0, 0, 0, .5);
    border-radius: 2rem;
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .esc {
      display: block;
      margin-left: .5rem;
      font-weight: normal;
    }
  }
}
