<ng-template #hdImageLoadingTemplate>
  <div *ngIf="hdThumbnailLoading" class="loading-indicator-container has-message">
    <astrobin-loading-indicator></astrobin-loading-indicator>
  </div>
</ng-template>

<ng-template #realThumbnailLoadingTemplate>
  <div *ngIf="realThumbnailLoading" class="loading-indicator-container has-message">
    <astrobin-loading-indicator [progress]="realImageLoadingProgress$ | async"></astrobin-loading-indicator>
  </div>
</ng-template>

<ng-template #instructionTemplate let-icon="icon" let-message="message">
  <div class="instruction-container">
    <div class="instructions">
      <fa-icon [icon]="icon"></fa-icon>
      <span [innerHTML]="message"></span>
    </div>
  </div>
</ng-template>

<ng-template #fullSizeLimitationTemplate>
  <ng-container
    [ngTemplateOutlet]="instructionTemplate"
    [ngTemplateOutletContext]="{
      icon: 'info-circle',
      message: 'Zoom disabled by the image owner.' | translate
    }"
  ></ng-container>
</ng-template>

<ng-template #imageTooLargeToZoomTemplate>
  <ng-container
    [ngTemplateOutlet]="instructionTemplate"
    [ngTemplateOutletContext]="{
      icon: 'warning',
      message:
        ('Image too large for the interactive zoom.' | translate) +
        ' ' +
        ('Click to view full size in a new tab.' | translate)
    }"
  ></ng-container>
</ng-template>

<ng-template #gifNoZoomTemplate>
  <ng-container
    [ngTemplateOutlet]="instructionTemplate"
    [ngTemplateOutletContext]="{
      icon: 'info-circle',
      message: 'Zooming is not available for GIF animations on touch devices.' | translate
    }"
  ></ng-container>
</ng-template>

<ng-template #pinchAndZoomInstructionTemplate>
  <ng-container
    [ngTemplateOutlet]="instructionTemplate"
    [ngTemplateOutletContext]="{
      icon: 'hand-paper',
      message: 'Pinch and zoom!' | translate
    }"
  ></ng-container>
</ng-template>

<ng-template #clickAndScrollInstructionTemplate>
  <ng-container
    [ngTemplateOutlet]="instructionTemplate"
    [ngTemplateOutletContext]="{
      icon: 'mouse-pointer',
      message: 'Scroll to magnify.' | translate
    }"
  ></ng-container>
</ng-template>

<ng-template #clickAgainToCloseLensInstructionTemplate>
  <ng-container
    [ngTemplateOutlet]="instructionTemplate"
    [ngTemplateOutletContext]="{
      icon: 'mouse-pointer',
      message: 'Click again to close lens.' | translate
    }"
  ></ng-container>
</ng-template>

<ng-template #zoomFrozenInstructionTemplate>
  <ng-container
    [ngTemplateOutlet]="instructionTemplate"
    [ngTemplateOutletContext]="{
      icon: 'lock',
      message: 'Zoom is frozen. Press F to unfreeze.' | translate
    }"
  ></ng-container>
</ng-template>

<ng-template #touchDeviceTemplate let-hd="hd" let-real="real">
  <div class="touch-device">
    <div
      *ngIf="!isVeryLargeImage && (hdThumbnailLoading || realThumbnailLoading || canvasLoading)"
      class="loading-indicator-container has-message"
    >
      <astrobin-loading-indicator [progress]="loadingProgress$ | async"></astrobin-loading-indicator>
    </div>

    <ng-container *ngIf="!isVeryLargeImage">
      <!-- For GIFs, show a simple image without zooming capabilities -->
      <div *ngIf="isGif && real && allowReal" @fadeInOut class="gif-container">
        <img [src]="realThumbnailUnsafeUrl" class="gif-image" alt="" />
      </div>

      <!-- For regular images, use the canvas-based zoom -->
      <div
        #touchRealContainer
        *ngIf="!isGif && real && allowReal"
        @fadeInOut
        (doubletap)="onDoubleTap($event)"
        (panend)="onPanEnd($event)"
        (panmove)="onPanMove($event)"
        (panstart)="onPanStart($event)"
        (pinchend)="onPinchEnd()"
        (pinchmove)="onPinchMove($event)"
        (pinchstart)="onPinchStart($event)"
        class="touch-real-container"
      >
        <canvas #touchRealCanvas class="touch-real-canvas"></canvas>

        <div
          *ngIf="actualTouchZoom !== null && !canvasLoading"
          [class.beyond-one]="Math.round(actualTouchZoom * 100) >= 101"
          class="touch-zoom-indicator"
        >
          {{ actualTouchZoom | number: "1.2-2" }}x
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isVeryLargeImage">
      <img *ngIf="!real" [src]="hd" class="hd-image" alt="" />

      <a
        *ngIf="hd && real && realThumbnailUnsafeUrl"
        [href]="realThumbnailUnsafeUrl"
        class="no-external-link-icon d-flex align-items-center"
        target="_blank"
      >
        <img [src]="hd" class="hd-image" alt="" />
      </a>
      <ng-container
        *ngIf="hd && real && allowReal && realThumbnailUnsafeUrl"
        [ngTemplateOutlet]="imageTooLargeToZoomTemplate"
      ></ng-container>
    </ng-container>

    <!-- Show appropriate messages based on image type -->
    <ng-container *ngIf="isGif && allowReal && real" [ngTemplateOutlet]="gifNoZoomTemplate"></ng-container>
    <ng-container
      *ngIf="!isGif && !isVeryLargeImage && allowReal && real && !canvasLoading"
      [ngTemplateOutlet]="pinchAndZoomInstructionTemplate"
    ></ng-container>
    <ng-container *ngIf="hd && !allowReal" [ngTemplateOutlet]="fullSizeLimitationTemplate"></ng-container>
  </div>

  <ng-container [ngTemplateOutlet]="zoomModesTemplate" [ngTemplateOutletContext]="{ real }"></ng-container>
</ng-template>

<ng-template #nonTouchDeviceTemplate let-hd="hd" let-real="real">
  <div class="position-relative w-100 h-100 d-flex justify-content-center align-items-center">
    <ng-container *ngIf="!hd && !real" [ngTemplateOutlet]="hdImageLoadingTemplate"></ng-container>
    <ng-container *ngIf="hd && !real && allowReal" [ngTemplateOutlet]="realThumbnailLoadingTemplate"></ng-container>

    <ng-container *ngIf="!isVeryLargeImage">
      <img *ngIf="hd && (!real || !allowReal)" [src]="hd" [style.max-width.px]="naturalWidth" class="hd-image" alt="" />

      <!-- For GIFs on non-touch devices, we can use ngx-image-zoom as it works well there -->
      <lib-ngx-image-zoom
        #ngxImageZoom
        *ngIf="real && allowReal"
        [circularLens]="true"
        [class.lens-enabled]="enableLens"
        [class.zoom-frozen]="zoomFrozen"
        [class.zooming-enabled]="zoomingEnabled"
        [enableLens]="enableLens"
        [enableScrollZoom]="true"
        [fullImage]="real"
        [lensHeight]="zoomLensSize"
        [lensWidth]="zoomLensSize"
        [maxZoomRatio]="maxZoom"
        [scrollStepSize]="0.05"
        [thumbImage]="hd"
        [zoomMode]="enableLens ? 'toggle-click' : 'click'"
        (imagesLoaded)="onImagesLoaded($event)"
        (zoomPosition)="setZoomPosition($event)"
        (zoomScroll)="setZoomScroll($event)"
        class="image-zoom"
      >
      </lib-ngx-image-zoom>

      <div
        [class.beyond-one]="Math.round(zoomScroll * 100) >= 101"
        [class.frozen]="zoomFrozen"
        class="image-zoom-indicator"
      >
        <a (click)="snapTo1x()" astrobinEventPreventDefault href="#">
          {{ zoomScroll | number: "1.2-2" }}x
          <fa-icon
            *ngIf="zoomFrozen"
            class="ms-1"
            icon="lock"
            ngbTooltip="{{ 'Zoom is frozen (F)' | translate }}"
          ></fa-icon>
        </a>
      </div>
    </ng-container>

    <ng-container *ngIf="isVeryLargeImage">
      <img *ngIf="!real" [src]="hd" [style.max-width.px]="naturalWidth" class="hd-image" alt="" />

      <a
        *ngIf="hd && real && realThumbnailUnsafeUrl"
        [href]="realThumbnailUnsafeUrl"
        class="no-external-link-icon d-flex align-items-center"
        target="_blank"
      >
        <img [src]="hd" [style.max-width.px]="naturalWidth" class="hd-image" alt="" />
      </a>
      <ng-container
        *ngIf="hd && real && allowReal && realThumbnailUnsafeUrl"
        [ngTemplateOutlet]="imageTooLargeToZoomTemplate"
      ></ng-container>
    </ng-container>

    <ng-container *ngIf="hd && !allowReal" [ngTemplateOutlet]="fullSizeLimitationTemplate"></ng-container>

    <ng-container *ngIf="!isVeryLargeImage && real && allowReal">
      <ng-container *ngIf="zoomFrozen" [ngTemplateOutlet]="zoomFrozenInstructionTemplate"> </ng-container>

      <ng-container
        *ngIf="!zoomFrozen && !zoomingEnabled && !showZoomIndicator"
        [ngTemplateOutlet]="clickAndScrollInstructionTemplate"
      ></ng-container>

      <ng-container
        *ngIf="!zoomFrozen && zoomingEnabled && !showZoomIndicator && enableLens"
        [ngTemplateOutlet]="clickAgainToCloseLensInstructionTemplate"
      ></ng-container>
    </ng-container>
  </div>

  <ng-container [ngTemplateOutlet]="zoomModesTemplate" [ngTemplateOutletContext]="{ real }"></ng-container>
</ng-template>

<ng-template #zoomModesTemplate let-real="real">
  <div
    *ngIf="!isVeryLargeImage && allowReal && !!real && (isHybridPC || !isTouchDevice || (isHybridPC && !touchMode))"
    class="zoom-modes"
  >
    <div
      *ngIf="isHybridPC && !isGif"
      [ngbTooltip]="isTouchDevice ? null : ('Toggle touch/mouse mode.' | translate)"
      (click)="setTouchMouseMode(!touchMode)"
      container="body"
      triggers="hover"
    >
      <ng-container *ngIf="touchMode">
        <fa-icon class="me-2" icon="hand-pointer"></fa-icon>
        <span>{{ "Touch mode" | translate }}</span>
      </ng-container>
      <ng-container *ngIf="!touchMode">
        <fa-icon class="me-2" icon="mouse-pointer"></fa-icon>
        <span>{{ "Mouse mode" | translate }}</span>
      </ng-container>
    </div>

    <div
      *ngIf="!touchMode"
      [ngbTooltip]="'Toggle magnification mode, then click on the image.' | translate"
      (click)="toggleEnableLens()"
      container="body"
    >
      <ng-container *ngIf="!enableLens">
        <fa-icon class="me-2" icon="expand"></fa-icon>
        <span>{{ "Zoom mode" | translate }}</span>
      </ng-container>
      <ng-container *ngIf="enableLens">
        <fa-icon class="me-2" icon="magnifying-glass"></fa-icon>
        <span>{{ "Lens mode" | translate }}</span>
      </ng-container>
    </div>
  </div>
</ng-template>

<div
  *ngIf="show"
  @fadeInOut
  [class.touch]="touchMode"
  (mousemove)="onGlobalMouseMove($event)"
  (touchend)="onTouchEnd($event)"
  (touchmove)="onTouchMove($event)"
  (touchstart)="onTouchStart($event)"
  (wheel)="onGlobalWheel($event)"
  class="fullscreen-image-viewer h-100"
>
  <ng-container
    *ngIf="{
      hd: hdThumbnail,
      real: realThumbnail
    } as thumbnails"
  >
    <ng-container
      *ngIf="touchMode && !isGif"
      [ngTemplateOutlet]="touchDeviceTemplate"
      [ngTemplateOutletContext]="{ hd: thumbnails.hd, real: thumbnails.real }"
    >
    </ng-container>

    <ng-container *ngIf="!touchMode || isGif">
      <ng-container
        [ngTemplateOutlet]="nonTouchDeviceTemplate"
        [ngTemplateOutletContext]="{ hd: thumbnails.hd, real: thumbnails.real }"
      >
      </ng-container>
    </ng-container>
  </ng-container>

  <div (click)="hide($event)" class="close">
    <fa-icon icon="down-left-and-up-right-to-center"></fa-icon>
  </div>

  <div class="astrobin-logo">
    <a routerLink="/">
      <img alt="AstroBin" src="/assets/images/nav-logo.png?v=3" />
    </a>
  </div>
</div>
