@import "../../../../styles/mixins";

:host {
  transition: opacity 0.25s ease-in-out;
}

.wip-icon {
  position: absolute;
  bottom: 0.5rem;
  right: 0.75rem;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--white);
}

[icon="play"] {
  position: absolute;
  font-size: 2rem;
  line-height: 1rem;
  color: var(--lightestGrey);
  top: calc(50% - 1rem);
  left: calc(50% - 0.75rem);
  opacity: 0.75;
}

.badges {
  display: flex;
  justify-content: flex-start;
  @include flex-gap(row, 0.25rem);
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;

  [icon] {
    font-size: 0.75rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &.iotd {
      @include iotd-icon;
    }

    &.top-pick {
      @include top-pick-icon;
    }

    &.top-pick-nomination {
      @include top-pick-nomination-icon;
    }

    &.in-iotd-queue {
      @include award-icon(
        $color: var(--brightWhite),
        $background: var(--successColor),
        $glow: true,
        $glow-color: var(--successColor)
      );
    }

    &.collaborators {
      @include award-icon(
        $color: var(--brightWhite),
        $background: var(--secondaryAccentColor),
        $glow: true,
        $glow-color: var(--bronze)
      );
    }
  }
}
