<div class="page">
  <h1>
    {{"Revision uploader" | translate}}

    <span class="beta">beta</span>
  </h1>

  <ng-container *ngIf="{
    appContext: appContext$ | async,
    backendConfig: backendConfig$ | async
    } as data">

    <astrobin-read-only-mode *ngIf="data.backendConfig?.readOnly; else uploaderTemplate"></astrobin-read-only-mode>

  </ng-container>
</div>

<ng-template #uploaderTemplate>
  <div class="row">
    <div class="col-3">
      <div class="thumbnail">
        <img [attr.src]="imageThumbnail$ | async" alt="image.title" />
        <p>{{image.title}}</p>
      </div>
    </div>

    <div class="col">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <formly-form [fields]="fields" [form]="form" [model]="model"></formly-form>

        <div class="form-actions">
          <button [class.loading]="uploadButtonLoading()" [disabled]="uploadButtonDisabled()"
            class="btn btn-lg btn-primary" type="submit">{{ "Upload" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>