<div class="page has-breadcrumb">
  <h1>{{ pageTitle }}</h1>
  <small *ngIf="currentUserProfile$ | async" [innerHTML]="subHeader$ | async"></small>

  <ng-container *ngIf="store$ | async as state">
    <astrobin-read-only-mode *ngIf="state.app.backendConfig?.readOnly; else uploaderTemplate"></astrobin-read-only-mode>
  </ng-container>
</div>

<ng-template #uploaderTemplate>
  <div *ngIf="(mayUploadRevision$ | async) === true; else mayNotUpload" class="row">
    <div *ngIf="imageThumbnail" class="col-sm-12 col-md-3">
      <div class="thumbnail">
        <img [alt]="image.title" [attr.src]="imageThumbnail" />
      </div>
    </div>

    <div class="col-sm-12 col-md-9">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>{{ "Target image" | translate }}</label>
          <p class="d-block mb-4">{{ image.title }}</p>
        </div>

        <formly-form [fields]="fields" [form]="form" [model]="model"></formly-form>

        <div class="form-actions">
          <button
            [class.loading]="uploadButtonLoading()"
            [disabled]="uploadButtonLoading()"
            class="btn btn-lg btn-primary"
            type="submit"
          >
            <fa-icon icon="upload"></fa-icon>
            {{ "Upload" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #mayNotUpload>
  <div class="upload-not-allowed">
    <div class="alert alert-warning d-flex justify-content-between align-items-baseline">
      <span class="flex-fill me-4">
        {{ "It looks like you reached the revision upload limit for your subscription." | translate }}
      </span>
      <a [attr.href]="classicRoutesService.PRICING" class="btn btn-primary btn-lg text-light">
        {{ "Would you like to upgrade?" | translate }}
      </a>
    </div>
  </div>
</ng-template>
