<div class="card mt-4">
  <div class="card-header">
    <fa-icon icon="filter"></fa-icon> &nbsp;
    {{ "Filter" | translate }}
  </div>

  <div class="card-body">
    <form [formGroup]="filterForm">
      <formly-form [fields]="filterFields" [form]="filterForm"></formly-form>
    </form>
  </div>

  <div class="card-footer">
    <button (click)="applyFilters()" class="btn btn-primary btn-block w-100">
      <fa-icon icon="check"></fa-icon> &nbsp;
      {{ "Apply" | translate }}
    </button>
  </div>
</div>
