@import "../../../../styles/mixins";
@import "../../../../styles/breakpoints";

.breadcrumb {
  @include darker-background-texture;
  margin-top: 1rem;
  margin-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.65rem 1rem;
  position: relative;
  z-index: 1;
  font-size: 0.85rem;

  @media screen and (max-width: $md-max) {
    display: none;
  }

  > .breadcrumb-item:last-child > span {
    color: var(--textOnSecondaryAccentColor);
    background: var(--secondaryAccentColor);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }
}
