@import "../../../../styles/mixins";

.breadcrumb {
  @include darker-background-texture;
  margin-top: 1rem;
  margin-bottom: 0;
  border-radius: .25rem .25rem 0 0;
  padding: .65rem 1rem;
  position: relative;
  z-index: 1;
  font-size: .85rem;

  > .breadcrumb-item:last-child > span {
    color: var(--textOnSecondaryAccentColor);
    background: var(--secondaryAccentColor);
    padding: .25rem .5rem;
    border-radius: .25rem;
  }
}
